@import '../styles/variables.scss';

.static-page-title {
    font-family: $secondary-font;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.08px;
    line-height: 50px;
}

.static-page-paragraph-text {
    opacity: 0.8;
    font-size: 1.5rem;
    letter-spacing: -0.1px;
    line-height: 34px;
}

.btn-common {
    font-family: $primary-font-medium;
    text-decoration: none;
    border-radius: 4px;
}

.btn-outline {
    border-width: 1px;
    border-color: $text-color;
    background-color: transparent;
}

.btn-header {
    font-size: 1rem;
    padding: 0.65rem 1.5rem;
    line-height: 20px;
}

@media screen and (min-width: $desktop-breakpoint) {
    .btn-outline {
        border-width: 2px;
    }
}
