@import '../styles/variables.scss';

.static-page-title {
    font-family: $secondary-font;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.08px;
    line-height: 50px;
}

.static-page-paragraph-text {
    opacity: 0.8;
    font-size: 1.5rem;
    letter-spacing: -0.1px;
    line-height: 34px;
}

.participate-step-label {
    font-size: 1rem;
    font-family: $primary-font-medium;
    letter-spacing: -0.07px;
    line-height: 24px;
    margin-right: 0.5rem;
}

.participate-step-time {
    font-size: 1rem;
    letter-spacing: -0.07px;
    line-height: 24px;
}

.btn-common {
    font-family: $primary-font-medium;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
}

.btn-outline {
    border-width: 1px;
    border-color: $text-color;
    background-color: transparent;
}

.btn-auth {
    padding: 0.65rem 1.5rem;
    line-height: 20px;

    &.dashboard-button {
        padding: 0.65rem;
    }
}

// for buttons
.small-letter-spacing {
    letter-spacing: -0.016rem;
}

@media screen and (min-width: $desktop-breakpoint) {
    .btn-outline {
        border-width: 2px;
    }
}
