@import '../styles/variables';

.static-page-title {
    font-family: $secondary-font;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.08px;
    line-height: 50px;
}

.static-page-paragraph-text {
    opacity: 0.8;
    font-size: 1.5rem;
    letter-spacing: -0.1px;
    line-height: 34px;
}

.participate-step-label {
    font-size: 1rem;
    font-family: $primary-font-medium;
    letter-spacing: -0.07px;
    line-height: 24px;
    margin-right: 0.5rem;
}

.participate-step-time {
    font-size: 1.5rem;
    letter-spacing: -0.1px;
    line-height: 24px;
    color: #7054FF;
    margin: 1rem 0;
}

.btn-common {
    font-family: $primary-font-medium;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
}

.btn-outline {
    border-width: 1px;
    border-color: $text-color;
    background-color: transparent;
}

.btn-auth {
    padding: 0.65rem 1.5rem;
    line-height: 20px;

    &.dashboard-button {
        padding: 0.65rem;
    }
}

// for buttons
.small-letter-spacing {
    letter-spacing: -0.016rem;
}

.center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

// for Welcome page / Colorectal page mostly
section {
    width: 100%;
    box-sizing: border-box;

    &.introduction {
        max-width: 1440px;

        .logos {
            img:first-child {
                margin-right: 5rem;
            }
        }
    }

    &.stay-informed {
        padding-top: 5.375rem;
        padding-bottom: 4.5rem;
    }

    &.join-cmi {
        padding-top: 4.75rem;
        padding-bottom: 6.19rem;
    }

    .btn {
        font-size: 1.13rem;
        padding: 1rem 2rem;
        line-height: 22px;
    }

    .join-cmi-btn {
        font-size: 1.25rem;
        margin: 1.56rem 0 7.5rem;
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .btn-outline {
        border-width: 2px;
    }
}
