// for Welcome page / Colorectal page mostly
section {
    width: 100%;
    box-sizing: border-box;

    &.introduction {
        max-width: 1440px;

        .logos {
            img:first-child {
                margin-right: 5rem;
            }
        }
    }

    &.stay-informed {
        padding-top: 5.375rem;
        padding-bottom: 4.5rem;
    }

    &.join-cmi {
        padding-top: 4.75rem;
        padding-bottom: 6.19rem;
    }

    .btn {
        font-size: 1.13rem;
        padding: 1rem 2rem;
        line-height: 22px;
    }

    .join-cmi-btn {
        font-size: 1.25rem;
        margin: 1.56rem 0 7.5rem;
    }
}
