// Breakpoints
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 375px;

// Fonts
$primary-font: Untitled-Sans-Regular;
$primary-font-light: Untitled-Sans-Light;
$primary-font-medium: Untitled-Sans-Medium;
$secondary-font: Source Serif Pro;

// Other
$header-height: 6rem;
$footer-height: 14.94rem;

// Colors
$text-color: #000000;
$primary-color: #7154FF;
$grey-text-color: #59585F;
$grey-button-color: #a8a8a8;
$section-grey-background-color: #F6F7FA;
$warn-color: #f44336;
$activity-step-pristine: #bbbbbe;
$activity-step-completed: $grey-text-color;
$activity-step-active: #1d1b25;
$checkbox-color: #ACABB0;
