$desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 375px;

$header-height: 6rem;
$footer-height: 14.94rem;

$primary-font-light: Untitled-Sans-Light;
$primary-font-regular: Untitled-Sans-Regular;
$primary-font-medium: Untitled-Sans-Medium;

$text-color: #000000;
