<footer class="footer">
  <div class="footer__container">
    <div class="footer__links-container">
      <div class="links">
        <p class="links__title">
          {{ 'Footer.Circadia.Title' | translate }}
        </p>

        <ul class="links__list">
          <li class="links__list-item">
            <a class="links__link" [routerLink]="Route.Home">
              {{ 'Footer.Circadia.Home' | translate }}
            </a>
          </li>

          <li class="links__list-item">
            <a class="links__link" [routerLink]="Route.About">
              {{ 'Footer.Circadia.About' | translate }}
            </a>
          </li>

          <li class="links__list-item">
            <a class="links__link" [routerLink]="Route.FAQ">
              {{ 'Footer.Circadia.FAQ' | translate }}
            </a>
          </li>

          <li class="links__list-item">
            <a class="links__link" [routerLink]="Route.Team">
              {{ 'Footer.Circadia.Team' | translate }}
            </a>
          </li>

          <li class="links__list-item">
            <a class="links__link" [routerLink]="Route.StayInformed">
              {{ 'Footer.Circadia.StayInformed' | translate }}
            </a>
          </li>

          <li class="links__list-item">
            <a class="links__link" [routerLink]="Route.PrivacyPolicy">
              {{ 'Footer.Circadia.PrivacyPolicy' | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__links-container">
      <div class="links">
        <p class="links__title">
          {{ 'Footer.ContactUs.Title' | translate }}
        </p>

        <ul class="links__list">
          <li class="links__list-item">
            <a class="links__link" href="tel:16171234567"> 1-617-123-4567 </a>
          </li>

          <li class="links__list-item">
            <a class="links__link" href="mailto:info@circadiastudy.org">
              info@circadiastudy.org
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__links-container">
      <div class="links">
        <p class="links__title">
          {{ 'Footer.Participation.Title' | translate }}
        </p>

        <ul class="links__list">
          <li class="links__list-item">
            <a class="links__link" href="#">{{
              'Footer.Participation.SignUp' | translate
            }}</a>
          </li>

          <li class="links__list-item">
            <ddp-sign-in-out class="links__link"></ddp-sign-in-out>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
