@import '../../../styles/breakpoints';
@import '../../../styles/colors';

.activity {
  &__title {
    margin-bottom: 0.75em;

    font-size: 4rem;
    text-align: center;

    @include media-sm {
      font-size: 3.2rem;
    }
  }
}

.section--spinner {
  display: flex;
  justify-content: center;

  margin-top: 2.4rem;
}

.section--captcha {
  margin: 2em 0;
}

.section--buttons {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;

  margin: 1.5em 0;
  padding-top: 1.5em;

  border-top: 1px solid map-get($colors, 'light-grey');

  @include media-sm {
    flex-flow: column nowrap;
  }
}

.section--error {
  margin: 1em 0;
}

.btn {
  display: inline-flex;
  align-items: center;

  padding: 1.2rem 3.6rem;

  @include media-sm {
    width: 100%;

    justify-content: center;

    & + & {
      margin-top: 1.2rem;
    }
  }

  &--agree {
    margin-left: 1.2rem;

    @include media-sm {
      margin-left: 0;
    }
  }

  .mat-icon {
    width: 2rem;
    height: 2rem;

    margin-right: 0.8rem;

    font-size: 2rem;
  }
}

.pull-left {
  margin-right: auto;
}

.pull-right {
  margin-left: auto;
}
