@import '../../../../../ddp-pancan/src/styles/variables.scss';

.scientific {
  text-align: left;

  .title {
    text-align: center;
    padding: 3.2rem 0;
    background-color: $accent-lms-color;
    height: 58px;
    color: #000000;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 58px;
  }

  .scientific-title {
    text-align: center;
    padding: 3.2rem 0;
    background-color: $accent-lms-color;
    height: 58px;
    color: #000000;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 58px;
  }

  .column {
    margin: 0 auto 5.625rem;
    text-align: center;
    padding: 3.2rem 0;
  }

  &:nth-of-type(odd) {
    flex-direction: row;
  }

}

.image_title {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  margin-bottom: 9.45rem;
}

.goalSection {
    height: 528px;
    width: 100%;
    background-color: #4D345F;
}

.goalSectionTitle {
  padding-top: 64px;
  height: 58px;
  color: #FFFFFF;
  font-family: $primary-font-light;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 58px;
  text-align: center;
}

.goalSectionText {
  padding-top: 40px;
  height: 281px;
  color: #FFFFFF;
  font-family: $primary-font-light;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.elementsOfData {
  background-color: #DCC1F0;
}

.elementsOfDataTitle {
  margin-top: 64px;
  margin-bottom: 40px;
  color: #000000;
  font-family: $primary-font-light;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 58px;
  text-align: center;
}

.elementsOfDataText {
  color: #000000;
  font-family: $primary-font-light;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.bulbIcon {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 40px;
}

.paragraph4Title{
  margin-top: 64px;
  margin-bottom: 40px;
  color: #000000;
  font-family: $primary-font-light;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 58px;
  text-align: center;
}

.section {
  padding: 0 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 8rem;

  &:nth-of-type(odd) {
    padding-bottom: 7.94rem;
    flex-direction: row;
  }

  &__data {
    max-width: 700px;
  }

  &__label {
    font-size: 1.13rem;
    margin-right: 1rem;
  }

  &__time {
    mat-icon {
      vertical-align: top;
      margin-right: 8px;
    }
  }

  &__title {
    margin: 1rem 0 1.13rem 0;
    font-family: $primary-font-medium;
    font-size: 2rem;
    line-height: 3.625rem;
    font-weight: normal;
    overflow: scroll;
    white-space:nowrap;
  }

  &__text {
    margin: 0.5rem 0 2.13rem;
    font-size: 1.5rem;
    line-height: 2.125rem;
  }

  &__btn {
    font-size: 1.13rem;
    padding: 1rem 2rem;
    line-height: 22px;
    font-family: $primary-font-medium;
    white-space: normal;
  }

  &__image {
    display: flex;
    align-items: center;

    .image {
      width: 21.25rem;
      height: 18.75rem;
    }
  }
}

.column {
  overflow: scroll;
  white-space:nowrap;
}

.image_item {
  width:300px;
}

.terms {
  background-color: #9953CE;
}

.termsHeader {
  margin-top: 20px;

  color: #FFFFFF;
  font-family: $primary-font-light;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 58px;
  text-align: center;
  padding-bottom: 40px;
}

.termsText{
  color: #FFFFFF;
  font-family: $primary-font;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.imgText {
  height: 34px;
  color: #9953CE;
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  text-align: left;
  width: 353px;
}

.paragraph2Title {
  margin-top: 64px;
  color: #000000;
  font-family: $primary-font;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 58px;
  text-align: center;
}

.paragraph2Text {
  margin-top: 40px;
  color: #000000;
  font-family: $primary-font;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}


@media screen and (max-width: $tablet-breakpoint) {
  .scientific-title {
    align-items: center;
    gap: 3rem;

    &:nth-of-type(n) {
      flex-direction: column-reverse;
    }
  }
}
