@import '../../../../../ddp-pancan/src/styles/variables.scss';

.scientific {
  text-align: left;

  .title {
    text-align: center;
    padding: 3.2rem 0;
    background-color: $accent-lms-color;
    color: #000000;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 3.625rem;
    font-family: Untitled-Sans-Light, sans-serif;
    cursor: default;
  }

  .scientific-title {
    text-align: center;
    padding: 3.2rem 0;
    background-color: $accent-lms-color;
    color: #000000;
    font-size: 3rem;
    font-weight: 300;
    line-height: 3.625rem;
  }
}

.image_title {
  padding-bottom: 3.125rem;
}

.goalSection {
  width: 100%;
  background-color: #4d345f;

  .content {
    padding: 3rem;

    .goalSectionTitle,
    .goalSectionText {
      color: #ffffff;
      font-family: $primary-font-light;
    }

    .goalSectionTitle {
      font-size: 3rem;
      font-weight: 300;
      text-align: center;
    }

    .goalSectionText {
      padding-top: 2.5rem;
      font-size: 1.25rem;
    }
  }
}

.elementsOfData {
  background-color: #dcc1f0;
}

.elementsOfDataTitle {
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  color: #000000;
  font-family: $primary-font-light;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 3.625rem;
  text-align: center;
}

.elementsOfDataText {
  color: #000000;
  font-family: $primary-font;
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 1.875rem;
}

.bulbIcon {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

.paragraph4Title {
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  color: #000000;
  font-family: $primary-font-light;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 3.625rem;
  text-align: center;
}

.section {
  padding: 0 1.5rem 0 1.5rem;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 8rem;
  display: flex;

  &:nth-of-type(odd) {
    flex-direction: row;
    padding-bottom: 7.94rem;
  }

  &__data {
    max-width: 43.75rem;
  }

  &__label {
    font-size: 1.13rem;
    margin-right: 1rem;
  }

  &__time {
    mat-icon {
      vertical-align: top;
      margin-right: 0.5rem;
    }
  }

  &__title {
    margin: 1rem 0 1.13rem 0;
    font-family: $primary-font-medium;
    font-size: 2rem;
    line-height: 3.625rem;
    font-weight: normal;
    overflow: scroll;
    white-space: nowrap;
  }

  &__text {
    margin: 0.5rem 0 2.13rem;
    font-size: 1.5rem;
    line-height: 2.125rem;
  }

  &__btn {
    font-size: 1.13rem;
    padding: 1rem 2rem;
    line-height: 1.375rem;
    font-family: $primary-font-medium;
    white-space: normal;
  }

  &__image {
    display: flex;
    align-items: center;

    .image {
      width: 21.25rem;
      height: 18.75rem;
    }
  }
}

.column {
  overflow: scroll;
  white-space: nowrap;
}

.image_item {
  width: 18.75rem;
}

.terms {
  background-color: #9953ce;
}

.termsHeader {
  margin-top: 1.25rem;

  color: #ffffff;
  font-family: $primary-font-light;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 3.625rem;
  text-align: center;
  padding-bottom: 2.5rem;
}

.termsText {
  color: #ffffff;
  font-family: $primary-font;
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 1.875rem;
}

.imgText {
  color: #9953ce;
  font-family: $primary-font;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.875rem;
  text-align: left;
  display: flex;
}

.paragraph2Title {
  margin-top: 4rem;
  color: #000000;
  font-family: $primary-font;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 3.625rem;
  text-align: center;
}

.imgPlace {
  display: flex;
}

.images {
  height: 17.5rem;
  width: 25rem;
  margin-right: 0.625rem;
}

.paragraph2Text {
  margin-top: 2.5rem;
  color: #000000;
  font-family: $primary-font;
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 1.875rem;
}

@media screen and (max-width: $tablet-breakpoint) {
  .scientific-title {
    align-items: center;
    gap: 3rem;

    &:nth-of-type(n) {
      flex-direction: column-reverse;
    }
  }
}

@media screen and (max-width: 50rem) {
  .image_title {
    flex-wrap: wrap;
  }
  .imgPlace {
    flex-wrap: wrap;
  }
}
