:host {
  max-height: calc(100vh - 50px);
}
section {
  padding: 20px 0;
}

.get-started {

  .blocks {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    gap: 20px;

    button > mat-icon {
      padding-right: 10px;
    }

    a {
      display: inline-block;
      cursor: pointer;
    }
  }
}

.dashboard {
  .placeholder {
    width: 100%;
    margin: 20px 0;
    box-shadow: 0.5px 0.5px 2px 0.5px lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: large;
    color: dimgrey;
    background: linear-gradient(0deg, lightgray 0%, white 100%);
  }
}
