<section class="get-started">
  <h2>How to get started</h2>
  <div class="blocks">
    <div>
      <h4>Register patients</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button mat-stroked-button color="primary" [openInModal]="registerPatientsModalComponent">
        <mat-icon>group</mat-icon>Register
      </button>
    </div>
    <div>
      <h4>Upload patient data</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button mat-stroked-button color="primary">
        <mat-icon>upload</mat-icon>Upload data
      </button>
    </div>
    <div>
      <h4>Resources</h4>
      <a>Data Dictionary</a>
      <a>Data Upload Template</a>
    </div>
  </div>


</section>
<section class="dashboard">
  <app-dashboard></app-dashboard>
</section>
