<div class="patients">
  <header class="patients-header">
    <p>Patients</p>
  </header>

  <section class="patients-buttons">
    <button class="btn_secondary">
      <mat-icon>search</mat-icon>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button class="btn_secondary" [openInModal]="registerPatientsModalComponent">
      <mat-icon>people</mat-icon>
      Register patients
    </button>
    <button class="btn_secondary">
      <mat-icon>cloud_upload</mat-icon>
      Upload patient data
    </button>
  </section>

  <section class="patients-info">
    <p>All patients ({{totalCount$ | async}})</p>
  </section>

  <main class="patients-list" *ngIf="!(loading$ | async) else loadingSpinner">
    <ng-container *ngIf="(patients$ | async) as pts">
      <ng-container *ngIf="pts.length else noPatients">

        <main class="patients-list-table">
          <app-table [data]="pts" (rowClick)="openPatientInfo($event)"></app-table>
        </main>

        <footer class="patients-list-paginator">
          <app-paginator
            (pageChanged)="getPageList($event)"
            [currentPageIndex]="pageIndex"
            [rowsPerPage]="pageSize"
            [totalCount]="totalCount$ | async"
          ></app-paginator>
        </footer>

      </ng-container>
    </ng-container>
  </main>



  <!--  template refs-->
  <ng-template #loadingSpinner>
    <mat-spinner></mat-spinner>
  </ng-template>

  <ng-template #noPatients>
    <div class="noPatients">
      <img class="noPatients-image" height="101" width="125" src="/assets/images/users.png" alt="users icon">
      <p class="noPatients-firstTitle">Start building your patient list.</p>
      <p class="noPatients-secondTitle">Start tracking your Fontan Patient’s data to help drive improvements in
        care.</p>
      <button class="btn_primary">Get Started</button>
    </div>
  </ng-template>

</div>
