@use "../../../../styles/FON/classes/buttons";
@import "../../../../styles/FON/core";

:host-context(app-patients-list) {
  grid-area: otherPage;
  background-color: $__background_color_transparent;
  overflow: auto;
}

.patients {
  margin: 32px 30px 144px;

  &-header {
    width: 100%;
    padding: 0 0 16px;
    font-family: Montserrat-Medium, sans-serif;
    font-size: getFontSize('xxlg');
  }

  app-search-panel {
    margin: 24px;
  }

  &-buttons {
    @include flexContainer(center, normal);

    button:not(:first-of-type) {
      margin-left: 12px;
    }

    .btn_secondary {
      height: auto;
      width: auto;

      &:first-of-type {
        mat-icon {
          margin: 0;
        }
      }

      mat-icon {
        margin-right: 4.5px;
      }
    }
  }

  &-list {

    &-info {
      @include flexContainer(center, space-between);
      margin: 48px 0 20px;



      p {
        font-family: Montserrat-Medium, sans-serif;
        font-size: getFontSize('xlg');
      }

    }

    &-paginator {
      margin-top: 16px;
    }

    .noPatients {
      height: 600px;
      border-radius: 5px;
      background-color: #FFFFFF;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
      @include flexContainer(center, normal, column);

      &-image {
        margin-top: 72px;
      }

      &-firstTitle {
        font-family: Montserrat-SemiBold, sans-serif;
        font-size: getFontSize('xxlg');
        margin-top: 32px;
      }
      &-secondTitle {
        font-family: Montserrat-Regular, sans-serif;
        font-size: getFontSize('md');
        margin-top: 24px;
      }

      .btn_primary {
        height: 40px;
        width: 110px;
        margin-top: 24px;
      }
    }
  }

}




