@import '../../../styles/colors';

.content {
  background: map-get($colors, 'content-background');
  padding: 8rem 2.4rem 6.4rem;

  .container {
    max-width: 600px;
    margin: 0 auto;

    h1 {
      text-align: center;
      margin-bottom: 15px;
    }

    p {
      color: map-get($colors, 'content-text');
      margin-bottom: 60px;
    }
  }
}

.form {
  &-control {
    margin-bottom: 6px;

    label {
      font-weight: bold;
      font-size: 22px;
    }

    input {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
      padding: 22px 20px;
      border-radius: 3px;
      font-size: 20px;
      border: 2px solid map-get($colors, 'input-border');

      &:focus,
      &:focus-visible {
        outline: 0;
        border: 2px solid map-get($colors, 'input-border-focus');
      }
    }

    &-error {
      color: map-get($colors, 'form-control-error');
      margin-bottom: 20px;
    }
  }
}
