.title {
    font-size: 2rem;
    line-height: 3.25rem;
    font-weight: 600;
    margin: 3rem 0 2rem 0;
}

.text {
    font-size: 1.375rem;
    line-height: 2.0625rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: -1.2rem;
}

.field {
    width: 25rem;
}

.navigation {
    margin: 2rem 0;
}

.error {
    margin-bottom: 5rem;

    &__text {
        margin-top: 5rem;
        margin-bottom: 2.5rem;
    }
}