@import "../../styles/mixins.scss";

.Header {
  width: 100%;
  @include flexer(flex, column, center, center);
  padding: 0 25px 0 25px;
  z-index: 20;
  display: flex;
  background-color: #4274BC;
  @media (min-width: 911px) {
    flex-direction: row;
    padding: 0 40px;
    justify-content: space-between;
  }
  @media (min-width: 1281px) {
    padding: 0 50px;
  }

  .logo {
    margin: 18px 0 0 0;
    height: 45px;
    @media (min-width: 911px) {
      margin: 18px 0;
    }
  }

  nav {
    margin: 28px 0 0 0;
    @media (min-width: 666px) {
      margin: 28px 0 20px 0;
    }

    > ul {
      @include flexer(flex, column, center, center);
      padding: 0;
      margin: 0;
      @media (min-width: 666px) {
        flex-direction: row;
        margin-bottom: 10px;
      }

      > li {
        display: inline !important;
        padding-left: 20px;
        text-decoration: none;
        margin-bottom: 20px;
        @media (min-width: 666px) {
          margin-bottom: 0;
        }

        > a {
          font-weight: 700;
          font-size: 16px;
          color: #ffffff;
          transition: color 0.3s ease;

          .fa-globe {
            margin-right: 5px;
          }
        }

        ::ng-deep button {
          background-color: rgba(0, 0, 0, 0);
          border: none;
          color: #fff;
          font-family: Lato, sans-serif;
          font-size: 16px;
          font-weight: 700;
          padding: 0;

          &:hover {
            color: #93C453 !important;
            text-decoration: none;
          }
        }

        .dropdown-menu {
          margin-top: 15px;
          padding: 0 !important;
          border-radius: 2px;
          box-shadow: 0 1px 2px #cccccc;
          font-size: 15px;
          text-align: right;

          a {
            padding: 10px 20px 10px 20px;
          }

          &.languages {
            font-size: 14px;
            text-align: left !important;
          }
        }

        .divider {
          margin: 0;
        }
      }
    }

    a:hover {
      color: #93C453 !important;
      text-decoration: none;
    }
  }
}
