/* lazy loaded */

@mixin flexContainer($align_items: normal, $justify_content: normal, $direction: row) {
  display: flex;
  align-items: $align_items;
  justify-content: $justify_content;
  flex-direction: $direction;
};



