@import '../../../styles/common.scss';

.participation {
    text-align: left;

    .title {
        margin: 4.56rem auto 4.81rem auto;
        max-width: 1440px;
        text-align: center;
    }

    .step {
        padding: 4.94rem 1.5rem 5rem 1.5rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        gap: 8rem;

        &:nth-of-type(odd) {
            background-color: $section-grey-background-color;
            padding-bottom: 3rem;
            flex-direction: row;
        }

        &__data {
            max-width: 700px;
        }

        &__label {
            font-size: 1.13rem;
            margin-right: 1rem;
        }

        &__time {
            mat-icon {
                vertical-align: top;
                margin-right: 8px;
            }
        }

        &__title {
            margin: 0 0 1.13rem 0;
        }

        &__text {
            margin-bottom: 2.13rem;
        }

        &__btn {
            font-size: 1.13rem;
            padding: 1rem 2rem;
            line-height: 22px;
        }

        &__image {
            display: flex;
            align-items: center;

            .image {
                width: 21.25rem;
                height: 18.75rem;
            }
        }
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    .participation {
        .step {
            align-items: center;
            gap: 3rem;

            &:nth-of-type(n) {
                flex-direction: column-reverse;
            }
        }
    }
}
