<main class="participation">
    <h2 class="title" translate>App.ParticipationPage.Title</h2>
    <section *ngFor="let step of 'App.ParticipationPage.Steps' | translate; let i = index;" class="step">
        <div class="step__data">
            <span class="step__label participate-step-label">{{step.Step}}</span>
            <span class="step__time participate-step-time" *ngIf="step.Time">{{step.Time}}</span>
            <h2 class="step__title static-page-title">{{step.Title}}</h2>
            <p class="step__text static-page-paragraph-text">{{step.Text}}</p>

            <a mat-stroked-button *ngIf="step.Button && stepsHref[i]"
               target="_blank"
               [href]="stepsHref[i]"
               class="step__btn btn-common small-letter-spacing btn-outline">
                {{step.Button}}
            </a>
        </div>
        <div class="step__image">
            <img class="image"
                 [src]="'../../../assets/images/step' + (i+1) + '_big.png'"
                 [alt]="step.ImageAlt">
        </div>
    </section>
</main>
