@import '../../../styles/common.scss';

.participation {
    text-align: left;

    .title {
        @extend .static-page-title;
        margin: 4.56rem auto 4.81rem auto;
        max-width: 1440px;
        text-align: center;
    }

    .step {
        padding: 4.94rem 1.5rem 5rem 1.5rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

        &:nth-of-type(odd) {
            background-color: $section-grey-background-color;
            padding-bottom: 3rem;
            flex-direction: row;
        }

        &__data {
            max-width: 700px;
        }

        &__label {
            @extend .participate-step-label;
            font-size: 1.13rem;
            margin-right: 1rem;
        }

        &__time {
            @extend .participate-step-time;
            font-size: 1.13rem;
        }

        &__title {
            @extend .static-page-title;
            margin: 1.38rem 0 1.13rem 0;
        }

        &__text {
            @extend .static-page-paragraph-text;
            margin-bottom: 2.13rem;
        }

        &__btn {
            @extend .btn-common;
            @extend .small-letter-spacing;
            @extend .btn-outline;
            font-size: 1.13rem;
            padding: 1rem 2rem;
            line-height: 22px;
        }
    }
}
