<main class="participation">
    <h2 class="title" translate>App.ParticipationPage.Title</h2>
    <section *ngFor="let stepNumber of '12345'.split(''); let last=last;" class="step">
        <div class="step__data">
            <span class="step__label"
                  [innerText]="translationStepData(stepNumber, '.Step') | translate">
            </span>
            <span class="step__time" *ngIf="!last"
                  [innerText]="translationStepData(stepNumber, '.Time') | translate">
            </span>
            <h2 class="step__title" [innerText]="translationStepData(stepNumber, '.Title') | translate"></h2>
            <p class="step__text" [innerText]="translationStepData(stepNumber, '.Text') | translate"></p>

            <a mat-stroked-button *ngIf="!last"
               target="_blank"
               [href]="stepsData[stepNumber - 1].link"
               class="step__btn">
                {{translationStepData(stepNumber, '.Button') | translate}}
            </a>
        </div>
        <div class="step__image">
            <img class="image"
                 [src]="'../../../assets/images/step' + stepNumber + '_big.png'"
                 [alt]="translationStepData(stepNumber, '.ImageAlt') | translate">
        </div>
    </section>
</main>
