@import '../../../styles/buttons';

.action-button {
    margin-left: 0.9rem;
}

:host {
    display: flex;
    align-items: center;
}

@media screen and (max-width: $mobile-breakpoint) {
    :host {
        flex-direction: column;
        gap: 1rem;
    }

    .join-button {
        margin-left: 0;
    }
}

