.AboutUs-imageContainer {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.AboutUs-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (min-width: 1921px) {
    .AboutUs-imageContainer {
        padding: 50% 0 0 0;
        /* xl 50% = 100 / (w / h) = 100 / (3000 / 1490) */
    }

    .AboutUs-image {
        background-image: url(/assets/images/about-us-image-xl.jpg);
        width: 3000px;
        height: 1490px;
    }
}

@media (min-width: 1025px) and (max-width: 1920px) {
    .AboutUs-imageContainer {
        padding: 43% 0 0 0;
        /* lg 43% = 100 / (w / h) = 100 / (1920 / 820) */
    }

    .AboutUs-image {
        background-image: url(/assets/images/about-us-image-lg.jpg);
        width: 1920px;
        height: 820px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .AboutUs-imageContainer {
        padding: 43% 0 0 0;
        /* md 43% = 100 / (w / h) = 100 / (1024 / 438) */
    }

    .AboutUs-image {
        background-image: url(/assets/images/about-us-image-md.jpg);
        width: 1024px;
        height: 438px;
    }
}

@media only screen and (max-width: 767px) {
    .AboutUs-imageContainer {
        padding: 50% 0 0 0;
        /* sm 50% = 100 / (w / h) = 100 / (767 / 381) */
    }

    .AboutUs-image {
        background-image: url(/assets/images/about-us-image-sm.jpg);
        width: 767px;
        height: 381px;
    }
}

.TeamMember {
    list-style: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.TeamMember-name {
    margin-bottom: 5px;
}

.TeamMember-role {
    font-size: 0.9rem;
    font-weight: 300;
    color: #717174;
}

.TeamMember:hover .TeamMember-name,
.TeamMember:hover .TeamMember-role {
    color: #0EA7B5 !important;
}