@import '../../../styles/variables';

.footer {
  background: $color-blue-1;

  color: #ffffff;

  &__container {
    display: flex;
    justify-content: space-between;

    max-width: 80rem;

    margin: 0 auto;
    padding: 4.2rem 2.4rem 5rem;

    @media (max-width: 480px) {
      flex-flow: column nowrap;
    }
  }

  &__links-container {
    flex: 0 0 30%;

    @media (max-width: 480px) {
      &:not(:last-of-type) {
        margin-bottom: 3.2rem;
      }
    }
  }
}

.links {
  &__title {
    margin-bottom: 2rem;

    font-weight: 600;
    color: #9da0b3;

    @media (max-width: 480px) {
      margin-bottom: 1rem;
    }
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &__link {
    display: inline-block;

    background: transparent;
    border: none;
    border-radius: 0;

    font: inherit;

    cursor: pointer;

    &,
    &:visited {
      color: #ffffff;
      text-decoration: none;
      letter-spacing: 0.25px;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
