$color-green: #82b547;
$color-dark-blue: #1b71b7;
$color-light-blue: rgba(61, 152, 226, 0.3);

$color-light-grey: #efefef;
$color-light-grey-2: #eeeeee;
$color-dark-grey: #7a7a7a;

$color-text: #333333;


$button-background: #3360ab;
$button-color: #fff;

$color-error: #e12929;
