.LIST-SEPARATOR:not(:last-child) {
  border-bottom:1px solid lightgrey;
  margin-top: 0;
  margin-bottom: 0;
}


.NO-PADDING-START{
  padding-inline-start: 0;
  list-style-type:none;
}

.noData {
  color: transparent;
}

button.mat-icon-button {
  width: auto;
}

.mat-icon {
  font-size: 14px;
  width: auto;
}

td {
  white-space: nowrap;
}

.clickable:hover {
  color: blue;
  cursor: pointer;
}
