@import '../../styles/buttons';

.dashboard {

  ::ng-deep {
    .ddp-required-question-prompt {
      white-space: normal;
    }

    ol.ddp-list, .inner-ul-flat-list {
      padding-left: 15px;
    }

    mat-list-item {
      height: unset;

      .mat-checkbox-inner-container {
        margin-top: 0;
      }

      .mat-checkbox-label {
        margin-top: -5px;
      }
    }

    .activity-buttons {
      display: flex;
      justify-content: space-between;
      margin: 30px 0;

      button.button_primary, button.button_secondary {
        @include btn-green;
      }
    }

    .activity-steps {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin: 50px 0 30px;

      &:after {
        position: absolute;
        top: 50%;
        left: 15px;
        right: 15px;
        height: 4px;
        background-color: #cccccc;
        z-index: 1;
        content: '';
        display: block;
      }

      .activity-step {
        width: 26px;
        height: 26px;
        border-radius: 13px !important;
        border: 3px solid #cccccc;
        background: #eeeeee;
        z-index: 2;
        padding: 0 !important;
        transition: background 0.3s ease;
        font-size: 0;
        margin: 0;

        &:hover {
          background-color: #559BE0;
        }

        &.completed {
          background-color: #7BA946;
        }

        &.active {
          background-color: #337ab7;
        }
      }
    }
  }

  .page-padding {
    > h1 {
      display: block;
      font-size: 26px;
      font-weight: 700;
      color: #7F7F7F;
      margin: 40px 0 20px 0 !important;
    }
  }

  .workdir {
    display: flex;
    flex-direction: column;

    @media (min-width: 590px) {
      flex-direction: row;
      margin-top: 20px;
    }

    app-workflow-progress {
      @media (min-width: 590px) {
        min-width: 36%;
      }
      @media (min-width: 768px) {
        min-width: 33%;
      }
      @media (min-width: 992px) {
        min-width: 25%;
      }
    }


    ddp-activity-redesigned {
      padding: 30px 0;
      @media (min-width: 590px) {
        padding: 30px;
      }
    }
  }
}
