@import '../../../styles/breakpoints';

.intro_container {
    padding: 56.25% 0 0 0;
    position: relative;
    margin-bottom: 2%;
}
.paragraph {
    margin: 1rem 0;
    font-size: 18px;
    line-height: 26px;

    &.consent {
        margin-top: 0;
    }

    @include media-md {
        margin-top: 52px;
    }
}
