<header class="main-header">
  <div class="main-header__container">
    <a
      class="main-header__logo logo"
      [href]="naa10FoundationLink"
      target="_blank"
    >
      <img
        src="assets/images/naa10-foundation-logo-transparent.png"
        class="logo__img"
        [alt]="'Header.Alts.Logo' | translate"
      />
    </a>

    <div class="main-header__powered-by powered-by">
      <a class="powered-by__link" [href]="rarexLink" target="_blank">
        <img
          class="powered-by__img"
          src="assets/images/powered-by-rarex.png"
          [alt]="'Header.Alts.PoweredBy' | translate"
        />
      </a>
      <p class="powered-by__catchphrase" translate>Header.Catchphrase</p>
    </div>
  </div>
</header>
