@import '../../../app-theme.scss';

.main-header {
  display: flex;
  align-items: center;

  height: 8rem;

  padding: 0.5rem 1rem;

  background-color: mat-color($app-theme, 100);

  &__logo {
    height: 7rem;
  }

  &__nav {
    margin-left: auto;
  }

  &__powered-by {
    margin-left: auto;
  }
}

.logo {
  &__img {
    display: block;
    height: 100%;
  }
}

.nav-list {
  display: flex;
  align-items: center;

  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-right: 2.8125rem;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 1.0625rem;
    line-height: 1.375rem;
    font-family: inherit;
    white-space: nowrap;
    color: mat-color($app-theme, 200);

    cursor: pointer;

    &:hover {
      color: mat-color($app-theme, 650);
      text-decoration: underline;
    }

    &:focus {
      text-decoration: underline;
    }

    &--dashboard {
      display: flex;
      align-items: center;

      span { margin-left: 0.35rem; }
    }

    &--active {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.powered-by {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;

  &__text {
    margin-right: 0.5rem;
  }

  &__img {
    height: 3rem;
  }
}
