@use '@angular/material' as mat;
@import '../../../app-theme.scss';

.main-header {
  background-color: mat.get-color-from-palette($app-theme, 100);

  &__container {
    display: flex;
    justify-content: flex-end;

    padding: 3.6rem 1.2rem 1.2rem 1.2rem;

    @media only screen and (max-width: 480px) {
      justify-content: center;

      padding-top: 1.2rem;
    }
  }
}

.powered-by {
  align-self: flex-end;

  height: 3.2rem;

  @media only screen and (max-width: 600px) {
    align-self: center;
  }

  @media only screen and (max-width: 480px) {
    height: 2.4rem;
  }

  &__img {
    height: 100%;
  }
}
