@import "../../../app-theme.scss";

.main-header {
  background-color: mat-color($app-theme, 100);

  &__container {
    display: flex;
    align-items: center;

    padding: 1.2rem;

    @media only screen and (max-width: 600px) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__logo {
    height: 7.4rem;

    @media only screen and (max-width: 480px) {
      height: 5.2rem;
    }
  }

  &__powered-by {
    margin-left: auto;
  }
}

.logo {
  &__img {
    display: block;
    height: 100%;
  }
}

.powered-by {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  &__catchphrase {
    margin: 0;

    font-size: 1.0625rem;
    color: mat-color($app-theme, 300);
  }

  &__img {
    height: 3.2rem;

    @media only screen and (max-width: 480px) {
      height: 2.4rem;
    }
  }
}
