<div class="paginator">

  <div class="paginator-pages">
    <div class="paginator-pages-l-icons">
      <i (click)="shiftPage('START')" class="fa-regular fa-angles-left"></i>
      <i (click)="shiftPage('ONE_LESS')" class="fa-regular fa-angle-left"></i>
    </div>

    <div class="paginator-pages-pages">
        <p *ngFor="let page of currentPageRange" (click)="changePage(page)" [ngClass]="{'active': currentPageIndex === page}">{{page}}</p>
    </div>

    <div class="paginator-pages-r-icons">
      <i (click)="shiftPage('ONE_MORE')" class="fa-regular fa-angle-right"></i>
      <i (click)="shiftPage('END')" class="fa-regular fa-angles-right"></i>
    </div>
  </div>

  <div class="paginator-rows">
    <p>Rows per page: </p><span *ngFor="let row of pageSizeOptions" (click)="setRows(row)" [ngClass]="{'active': rowsPerPage === row}">{{row}}</span>
  </div>

</div>
