<div class="paginator">

  <div class="paginator-pages">
    <div class="paginator-pages-left-icons">
      <button [disabled]="isFirst" (click)="shiftPage('START')"><i  class="fa-regular fa-angles-left"></i></button>
      <button [disabled]="isFirst" (click)="shiftPage('ONE_LESS')"><i  class="fa-regular fa-angle-left"></i></button>
    </div>

    <div class="paginator-pages-pages">
        <p *ngFor="let page of currentPageRange" (click)="changePage(page)" [ngClass]="{'active': currentPageIndex === page}">{{page}}</p>
    </div>

    <div class="paginator-pages-right-icons">
      <button (click)="shiftPage('ONE_MORE')" [disabled]="isLast"><i class="fa-regular fa-angle-right"></i></button>
      <button (click)="shiftPage('END')" [disabled]="isLast"><i  class="fa-regular fa-angles-right"></i></button>
    </div>
  </div>

  <div class="paginator-rows">
    <p>Rows per page: </p><span *ngFor="let row of pageSizeOptions" (click)="setRows(row)" [ngClass]="{'active': rowsPerPage === row}">{{row}}</span>
  </div>

</div>
