@import '../../../app-theme.scss';

.intro-media-block {
    display: grid;
    grid-template-columns: 3fr 4fr;
    margin: 5rem auto 1.875rem auto;
    grid-gap: 3rem;
}

.intro-media-block__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-media-block__buttons {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 1rem;
}

.navigation-section {
    display: flex;
    justify-content: center;
    margin: 1.875rem 0;
}

.organizations-section {
    display: flex;
    justify-content: center;
}

.organizations-section__img {
    margin: 1.25rem 1.25rem 2.5rem 1.25rem;
}

.background-decorator {
    background-image: url(/assets/images/yellow-shape.svg);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 23rem;
    background-size: cover;
}

.steps-section {
    background-color: mat-color($app-theme, 350);
}

.steps-block {
    margin: -20rem auto 6.25rem auto
}

.steps {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    justify-self: center;
}

.step__img {
    background-color: white;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.arrow {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 6.5625rem;
}

.help-section {
    background-color: mat-color($app-theme, 400);
}

.help-block {
    margin: 4.375rem auto 4.375rem auto;
}

.help-block__text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

.media-block {
    display: grid;
    grid-template-columns: 3fr 4fr;
    margin: 3.125rem auto 6.25rem auto;
    grid-gap: 3rem;
}

.media-block__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-section {
    background-color: mat-color($app-theme, 450);
}

.gallery-block {
    margin: 4.375rem auto;
}

.gallery-header {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.gallery-header__title {
    margin-right: 2rem;
}

.gallery-header__image {
    height: 6.125rem;
}

.partners-block {
    margin: 6.25rem auto;
}

.partners-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    grid-gap: 5rem;
    align-items: center;
    justify-items: center;
}

.social-media-block {
    margin: 6.25rem auto;
    display: grid;
    grid-gap: 2rem;
}

.social-media-header {
    display: flex;
    justify-content: flex-start;
}

.social-media-header__text {
    margin-right: 6rem;
}

.social-media-logos {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-gap: 2rem;
    align-items: center;
}

.social-media-logos__img {
    width: 110px;
    height: 110px;
}

.social-media-logo {
    display: flex;
}

.feeds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
}

.twitter-feed {
    overflow: hidden;
    width: 100%;
}

.stay-informed-block {
    margin: 0 auto 6.25rem auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.join-us-section {
    background-color: mat-color($app-theme, 350);
}

.join-us-block {
    margin: auto;
}

.join-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: -12rem auto 11.875rem auto;
    text-align: center;
}

.youtube-video {
    align-self: center;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-video__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.extra-margin {
    margin: 1.25rem 0;
}

@media screen and (max-width: 1150px) {
    h2 {
        text-align: center;
    }

    .intro-media-block {
        margin: 1.875rem auto;
    }

    .intro-media-block,
    .media-block {
        grid-template-columns: 1fr;
    }

    .intro-media-block__text {
        order: 2;
    }

    .media-block__text {
        order: 2;
        margin: 0px 3.125rem;
    }

    .youtube-video {
        order: 1;
    }

    .partners-block {
        margin: 0 auto;
    }

    .feeds {
        grid-template-columns: 0.5fr 1fr;
    }

    .stay-informed-block {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}

@media screen and (max-width: 950px) {
    .social-media-block {
        grid-gap: 3rem;
    }

    .social-media-header {
        flex-direction: column;
    }

    .social-media-header__text {
        margin-right: 0;
    }

    .social-media-logos {
        justify-content: center;
    }

    .partners-group {
        grid-template-columns: repeat(1, minmax(auto, 300px));
        justify-content: center;
    }
}

@media screen and (max-width: 850px) {
    .background-decorator {
        height: 18rem;
    }

    .steps-block {
        margin: -15rem auto 6.25rem auto;
    }

    .steps {
        grid-template-columns: 1fr;
    }

    .arrow {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .feeds {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 560px) {
    .background-decorator {
        height: 10rem;
    }

    .steps-block {
        margin: -10rem auto 6.25rem auto;
    }

    .intro-media-block,
    .media-block {
        padding: 0;
    }

    .intro-media-block__text,
    .media-block__text {
        padding: 0 1.5625rem;
    }

    .media-block__text {
        margin: 0;
    }

    .organizations-section {
        flex-direction: column;
    }

    .organizations-section__img {
        margin: 0 1.25rem 2.25rem 1.25rem;
    }

    .help-block__text {
        grid-template-columns: 1fr;
    }

    .gallery-header {
        flex-direction: column-reverse;
        align-items: center;
    }

    .gallery-header__title {
        margin-right: 0;
    }

    .social-media-logos__img {
        width: 75px;
        height: 75px;
    }

    .join-us-content {
        margin: -6rem auto 11.875rem auto;
    }
}