@use '~@angular/material' as mat;
@import '../app-theme.scss';

// DDP styles
.ddp-close-button:hover {
  color: mat.get-color-from-palette($app-theme, 650);
}

.ddp-activity-validation {
  .ErrorMessageList {
    list-style-type: square;
  }

  .ErrorMessageItem {
    font-size: 1.0625rem;
    color: mat.get-color-from-palette($app-theme, 500);
    margin: 0.3rem 0;
    padding: 0 0 0 0;
  }
}

.ddp-required-question-prompt::after {
  content: ' *';
}

.ddp-address-embedded {
  &__title {
    margin: 1.5rem 0;

    font-size: 1.35rem;
    font-family: inherit;
    font-weight: bold;
    color: black;
  }

  &__subtitle {
    font-size: 1.0625rem;
  }
}

ddp-activity-content {
  & > div:first-of-type:not(.ddp-content) {
    font-size: 1.35rem;
    font-weight: bold;
    color: black;
  }

  & > .ddp-content {
    font-size: 1.0625rem;
    line-height: 1.65rem;
  }

  ul,
  ol {
    padding-left: 1.5rem;
  }
}

.ddp-block-title-bold {
  font-weight: bold;
  color: black;
}

.ddp-block-body {
  margin: 1rem 0 1rem -1.5rem;

  font-size: 1.25rem;
  line-height: 1.95rem;
  color: mat.get-color-from-palette($app-theme, 200);
}

.ddp-question-prompt {
  margin: 1.5em 0 0.25em 0;

  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.65rem;
  color: black;

  p {
    margin: 0;

    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.65rem;
    color: black;
  }
}

ddp-activity-composite-answer {
  p,
  span {
    font-weight: 400;
  }

  .mat-form-field {
    width: 100%;
  }
}

.ddp-composite-text {
  flex-grow: 1;
  margin-right: 1.5rem;
}

.ddp-helper {
  margin: 0;
  font-size: 1.125rem !important;
  line-height: 1.4375rem;
  color: mat.get-color-from-palette($app-theme, 700);
  font-weight: 400;
}

.ddp-counter-color {
  color: mat.get-color-from-palette($app-theme, 250);
}

.ddp-picklist-option-list-item {
  height: auto !important;
  margin-bottom: 1rem;
}

ddp-date .picklist {
  margin-top: -1.25em;

  @media only screen and (max-width: 480px) {
    flex-direction: column;
  }

  .date-field {
    flex: 1;

    @media only screen and (max-width: 480px) {
      width: 100%;
    }
  }

  .ddp-date-field-margin {
    margin: 0 1.5rem 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

.ddp-radio-group-column .mat-radio-container {
  top: 3px;
}

.ddp-learn-more {
  margin: 1.5rem 0;

  summary {
    padding: 1.2rem 4.2rem 1.2rem 1.6rem;

    background-color: mat.get-color-from-palette($app-theme, 300);

    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;

    position: relative;
    cursor: pointer;
    list-style: none;

    &:focus,
    &:hover {
      background-color: darken(mat.get-color-from-palette($app-theme, 300), 5%);

      outline: none;
    }

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: '';

      display: block;
      width: 1rem;
      height: 1rem;

      margin-top: -0.5rem;

      position: absolute;
      top: 50%;
      right: 1.6rem;

      background-image: url('/assets/images/arrow-down.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      transition: transform 0.2s ease;
    }
  }

  &[open] {
    summary::after {
      transform: rotateX(180deg);
    }
  }
}

.subject__block {
  display: flex;
  align-items: center;

  .static-header {
    margin-right: 1em;

    font-weight: bold;
    color: black;
  }
}

// General styles
.ErrorMessage {
  margin: 0.5rem 0;

  font-size: 1.0625rem;
  line-height: 1.5;
  color: mat.get-color-from-palette($app-theme, 500);
}

// Material styles
.mat-error {
  font-size: 1.0625rem;
}

.mat-form-field-infix {
  color: mat.get-color-from-palette($app-theme, 200);
  font-size: 1.0625rem;
}

.mat-list .mat-list-item .mat-list-item-content {
  display: block !important;
  padding: 0 4px !important;
}

.mat-select-value {
  color: mat.get-color-from-palette($app-theme, 700);
}

.mat-checkbox-label,
.mat-radio-label-content {
  font-size: 1.0625rem;
  line-height: 1.65rem !important;
  color: mat.get-color-from-palette($app-theme, 700);
}

.mat-checkbox-inner-container {
  height: 1.375rem !important;
  width: 1.375rem !important;

  margin-top: 0 !important;

  top: 3px;
}

.mat-radio-label-content {
  font-weight: 400;
}

// Activity styles
.activity {
  &__btn-section {
    display: flex;

    margin-top: 2rem;

    &__right {
      margin-left: auto;
    }
  }
}

.rarex-activity {
  a {
    color: mat.get-color-from-palette($app-theme, 300);
  }
}

.activity-spinner {
  display: flex;
  justify-content: center;

  margin-top: 6rem;
}

// native dropdown
select {
  font-size: 1.0625rem;
  color: mat.get-color-from-palette($app-theme, 700);
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 0;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  border-radius: 0;
  height: 2.65rem;
  transition: all 0.3s;
  font-family: inherit;
  cursor: pointer;
}

select:disabled {
  color: rgba(0, 0, 0, 0.38);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.38);
  cursor: auto;
}

.consent-download {
  margin-bottom: 1.5rem;
  padding: 1.2rem 0.6rem;

  background-color: mat.get-color-from-palette($app-theme, 100);

  text-align: center;

  &__link {
    color: darken(mat.get-color-from-palette($app-theme, 350), 15%) !important;
  }
}

h3.question-prompt {
  margin: 1.5em 0 0.25em 0;

  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.65rem;
  color: black;
}

p.question-sub {
  margin: 0;

  font-size: 1rem;
}

.content-list {
  padding-left: 1em;
}

.address-input-container {
  mat-form-field {
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }
}

.PageContent-infobox {
  padding: 1.2rem;

  border: 3px solid mat.get-color-from-palette($app-theme, 300);
  background: #f4efea;
}

.boolean-answer-HD_DEVELOPMENT_CONCERNS_PATIENT {
  mat-radio-group {
    display: flex !important;
    flex-direction: column !important;
  }
  mat-radio-button {
     margin-top: 0 !important;
     margin-bottom: 10px !important;
   }
}

