.container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  margin-bottom: -20rem;
  padding-bottom: 20rem;
  padding-top: 6.25rem;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.section {
  width: 100%;
}

.content {
  margin: 0 auto;
  padding: 0 1.5625rem;
}

.content_wide {
  max-width: 1200px;
}

.content_medium {
  max-width: 1000px;
}

.content_tight {
  max-width: 700px;
}
