.container {
  max-width: 1200px;

  margin: 0 auto;
  padding: 0 2.4rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.section {
  width: 100%;
}

.content {
  margin: 0 auto;
  padding: 0 2.4rem;
}

.content_wide {
  max-width: 1200px;
}

.content_medium {
  max-width: 1200px;
}

.content_tight {
  max-width: 700px;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.no-margin {
  margin: 0;
}

.tooltip__icon {
  width: 24px;
  height: 24px;
  margin-left: 4px;
}
