.container {
  max-width: 1200px;

  margin: 0 auto;
  padding: 0 2.4rem;

  @media (max-width: 450px) {
    padding: 0 1.2rem;
  }
}

.section {
  width: 100%;
}

.section-spinner {
  display: flex;
  justify-content: center;

  margin-top: 6rem;
}

.content {
  margin: 0 auto;
  padding: 0 2.4rem;
}

.content_wide {
  max-width: 1200px;
}

.content_medium {
  max-width: 1200px;
}

.content_tight {
  max-width: 700px;
}

.no-margin {
  margin: 0;
}

$spacings: (
  1: 3rem,
  2: 2.5rem,
  3: 2rem,
  4: 1.5rem,
  5: 1rem,
  6: 0.5rem,
);

@each $key, $value in $spacings {
  .mt-#{$key} {
    margin-top: $value;
  }
}

@each $key, $value in $spacings {
  .mb-#{$key} {
    margin-bottom: $value;
  }
}

@each $key, $value in $spacings {
  .mr-#{$key} {
    margin-right: $value;
  }
}

@each $key, $value in $spacings {
  .ml-#{$key} {
    margin-left: $value;
  }
}

@each $key, $value in $spacings {
  .pt-#{$key} {
    padding-top: $value;
  }
}

@each $key, $value in $spacings {
  .pb-#{$key} {
    padding-bottom: $value;
  }
}

@each $key, $value in $spacings {
  .pr-#{$key} {
    padding-right: $value;
  }
}

@each $key, $value in $spacings {
  .pl-#{$key} {
    padding-left: $value;
  }
}

.margin-bottom {
  margin-bottom: 1rem;
}

.tooltip__icon {
  width: 24px;
  height: 24px;
  margin-left: 4px;
}

.text-center {
  text-align: center;
}

table {
  td {
    vertical-align: top;
  }
}

ddp-sign-in-out {
  button {
    padding: 5px !important;
  }
}
