@import '../app-theme.scss';
@import './variables';

ol li,
ul li,
p {
  margin: 1em 0;

  font-size: 1.0625rem;
  line-height: 1.65rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;

  color: black;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1.0625rem;
}

.underline {
  text-decoration: underline;
}

.bold {
  color: black;
  font-weight: bold;
}

.consent-agree {
  margin: 1em 0;

  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

.content {
  .Link {
    color: $color-secondary-teal;
  }
}
