@import '../app-theme.scss';

ol li,
ul li,
p {
  margin: 0.5rem 0;

  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.consent-agree {
  font-size: 1.2rem;
}
