@use '~@angular/material' as mat;
$color-primary: #26355c;

$color-secondary-blue: #4e6888;
$color-secondary-teal: #84cdb1;

$color-tertiary-red: #f04b57;
$color-tertiary-orange: #ffc94e;

$color-text: #414042;
$color-background: #f4efea;

$app-typography: mat.define-typography-config($font-family: 'Roboto');
