@use 'commonStyles' as common ;

$error-color: #FF595E;
$success-color: #8AC926;
$default-color: #5FA8D3;
$retry-color: #FFCA3A;


main.filesTable {
  width: 100%;
  display: flex;
  justify-content: center;

  .mat-header-cell, .mat-cell {
    text-align: center;
  }

  .mat-column-Name {
    max-width: 17em;
    overflow: auto;
    word-wrap: break-word;
  }

  table {
    width: 85%;
    max-height: 35em;
    margin: 1em 0;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    overflow: auto;

    td {

      .icon-container {
        @include common.flexContainer(center, center);
        width: 100%;

        .icon-button {
          @include common.flexContainer(center, center);
          background: none;
          outline: none;
          border: none;
        }

        mat-icon {
          font-size: 2.2em;
          text-align: center;

          &:hover {
            cursor: pointer;
          }

          &.disableIcon {
            color: rgba(174, 172, 172, 0.78);
            cursor: default;
          }

          &.send-icon {
            color: $default-color;
            &:hover {
              color: rgba(95, 168, 211, 0.68);
            }
          }

          &.delete-icon {
            color: $error-color;
            &:hover {
              color: rgba(255, 89, 94, 0.68);
            }
          }

          &.success-icon {
            color: $success-color;
            &:hover {
              cursor: default;
            }
          }

          &.error-icon {
            color: $error-color;
          }

          &.retry-icon {
            color: $retry-color;
          }
        }
      }


    }

    .mat-header-cell {
      font-weight: bold;
      font-family: Montserrat-SemiBold, sans-serif;
      color: black;
      font-size: .8em;
    }
  }
}

.noFilesNote {
  @include common.flexContainer(center, center);
  margin-top: 1em;
  width: 100%;
  p {
    padding: 1em;
    text-align: center;
    background-color: rgba(220, 230, 241, 0.7);
    width: 50%;
  }
}

