<main id="filesTable" class="filesTable" *ngIf="somaticResultsFiles.length; else noFiles">
  <table mat-table [dataSource]="somaticResultsFiles">

    <ng-container matColumnDef="VirusStatus">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let somaticResultsFile">
        <ng-container [ngSwitch]="somaticResultsFile.isInfected">
          <ng-container *ngSwitchCase="SRFVirusStatusEnum.CLEAN">
            <ng-container *ngTemplateOutlet="bugFreeTemplate"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="SRFVirusStatusEnum.INFECTED">
            <ng-container *ngTemplateOutlet="bugTemplate"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="SRFVirusStatusEnum.SCANNING">
            <ng-container *ngTemplateOutlet="spinnerTemplate; context: {tooltip: 'Scanning for viruses'}">
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="SRFVirusStatusEnum.UNABLE_TO_SCAN">
            <ng-container *ngTemplateOutlet="unableTemplate; context: {tooltip: 'Unable to scan file'}"></ng-container>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> File </th>
      <td mat-cell *matCellDef="let somaticResultsFile"> {{somaticResultsFile.fileName}} </td>
    </ng-container>

    <ng-container matColumnDef="UploadDate">
      <th mat-header-cell *matHeaderCellDef> Date Uploaded </th>
      <td mat-cell *matCellDef="let somaticResultsFile"> {{somaticResultsFile.createdAt | date: 'MM/dd/YYYY h:mm:ss aa'}} </td>
    </ng-container>

    <ng-container matColumnDef="SendToParticipant">
      <th mat-header-cell *matHeaderCellDef> Send To Participant </th>
      <td mat-cell *matCellDef="let somaticResultsFile">
        <ng-container [ngSwitch]="somaticResultsFile.sendToParticipantStatus.status">
          <ng-container *ngSwitchCase="httpRequestStatusEnum.NONE">
            <ng-container *ngTemplateOutlet="sendTemplate; context: {file: somaticResultsFile}"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="httpRequestStatusEnum.SUCCESS">
            <ng-container *ngTemplateOutlet="successTemplate"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="httpRequestStatusEnum.FAIL">
            <ng-container
              *ngTemplateOutlet="errorTemplate;
              context: {
              file: somaticResultsFile,
              method: onSendToParticipant.bind(this),
              message: somaticResultsFile.sendToParticipantStatus.message}">
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="httpRequestStatusEnum.IN_PROGRESS">
            <ng-container *ngTemplateOutlet="spinnerTemplate"></ng-container>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="SentDate">
      <th mat-header-cell *matHeaderCellDef> Date Sent </th>
      <td mat-cell *matCellDef="let somaticResultsFile">
        <ng-container *ngIf="somaticResultsFile.sentAt !== null">
          {{somaticResultsFile.sentAt || null | date: 'MM/dd/YYYY h:mm:ss aa'}}
        </ng-container>
        <ng-container *ngIf="somaticResultsFile.sentAt === null">
          <ng-container *ngTemplateOutlet="unableTemplate; context: {tooltip: 'Unable to set sent date'}"></ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let somaticResultsFile">
        <ng-container [ngSwitch]="somaticResultsFile.deleteStatus.status">
          <ng-container *ngSwitchCase="httpRequestStatusEnum.NONE">
            <ng-container *ngTemplateOutlet="deleteTemplate; context: {file: somaticResultsFile}"></ng-container>
          </ng-container>
          <ng-container  *ngSwitchCase="httpRequestStatusEnum.IN_PROGRESS">
            <ng-container *ngTemplateOutlet="spinnerTemplate"></ng-container>
          </ng-container>
          <ng-container  *ngSwitchCase="httpRequestStatusEnum.FAIL">
            <ng-container *ngTemplateOutlet="errorTemplate;
            context: {
            file: somaticResultsFile,
            method: deleteFile.bind(this),
            message: somaticResultsFile.deleteStatus.message}">
            </ng-container>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
  </table>
</main>


<!-- TEMPLATES -->

<ng-template #noFiles>
  <div class="noFilesNote">
    <p >No files found</p>
  </div>
</ng-template>

<ng-template #sendTemplate let-file="file">
  <div class="icon-container">
    <mat-icon
      [matTooltip]="shouldNotAllowSendOrDelete(file.isInfected) ? 'File can not be sent' : null"
      [ngClass]="shouldNotAllowSendOrDelete(file.isInfected) ? 'disabled-icon' : 'send-icon'"
      (click)="onSendToParticipant(file)">send</mat-icon>
  </div>
</ng-template>

<ng-template #spinnerTemplate let-tooltip="tooltip">
  <div class="icon-container">
    <mat-spinner diameter="25" [matTooltip]="tooltip"></mat-spinner>
  </div>
</ng-template>

<ng-template #successTemplate>
  <div class="icon-container">
    <mat-icon matTooltip="Sent successfully!" class="success-icon">check_circle</mat-icon>
  </div>
</ng-template>

<ng-template #deleteTemplate let-file="file">
  <div class="icon-container">
    <mat-icon
      [matTooltip]="shouldNotAllowSendOrDelete(file.isInfected) ? 'File can not be deleted' : null"
      [ngClass]="shouldNotAllowSendOrDelete(file.isInfected) ? 'disabled-icon' : 'delete-icon'"
      (click)="deleteFile(file)">delete_forever</mat-icon>
  </div>
</ng-template>

<ng-template #errorTemplate let-file="file" let-method="method" let-message="message">
  <div class="icon-container">
    <mat-icon #errorIcon
              (click)="method(file)"
              (mouseleave)="retryOrNot(false, errorIcon)"
              (mouseover)="retryOrNot(true, errorIcon)"
              [matTooltip]="message"
              matTooltipClass="sharedLearnings-error-tooltip"
              class="error-icon">error</mat-icon>
  </div>
</ng-template>

<ng-template #unableTemplate let-tooltip="tooltip">
  <div class="icon-container">
    <mat-icon class="bug-icon" [matTooltip]="tooltip">error_outline</mat-icon>
  </div>
</ng-template>

<ng-template #bugTemplate>
  <div class="icon-container">
    <mat-icon matTooltip="File deleted. Virus found" class="bug-icon">bug_report</mat-icon>
  </div>
</ng-template>

<ng-template #bugFreeTemplate>
  <div class="icon-container">
    <mat-icon matTooltip="File scanned" class="bug-free-icon">check_circle_outline</mat-icon>
  </div>
</ng-template>
