<mat-card class="example-2col-card">
    <mat-card-title>
        Embedded Address
    </mat-card-title>
    <mat-card-content>
        <mat-card>
            <button mat-button (click)="saveAddress()">Save Address</button>
            <button mat-button (click)="deleteAddress()">Delete Address</button>
            <button mat-button (click)="deleteTempAddress()">Delete Temp Address</button>
            <button mat-button (click)="toggleReadOnly()">Toggle read only</button>
            <button mat-button (click)="setBogusAddress()">Set random address</button>
        </mat-card>
        <br/>
      <ddp-address-embedded [activityGuid]="activityInstanceGuid" [readonly]="isReadOnly" [address]="bogusAddress" [block]="block"></ddp-address-embedded>
    </mat-card-content>
</mat-card>
