<mat-card class="example-2col-card">
    <mat-card-title>
        Readonly activity form
    </mat-card-title>
    <mat-card-content>
        <mat-card>
            <mat-card-title>
                <div class="mat-subheading-2">
                    Create activity instance
                </div>
            </mat-card-title>
            <mat-card-content>
                <mat-form-field style="margin-top: 15px">
                    <input matInput [(ngModel)]="activityGuid" placeholder="Activity GUID">
                </mat-form-field>
                <div *ngIf="instanceGuid != null && !showExpired">
                    Will expire in: {{countdown}}
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="create()">CREATE</button>
            </mat-card-actions>
        </mat-card>
        <br/>
        <ddp-activity *ngIf="!showExpired"
                      studyGuid="TESTSTUDY1"
                      [activityGuid]="instanceGuid">
        </ddp-activity>
        <ddp-activity *ngIf="showExpired"
                      studyGuid="TESTSTUDY1"
                      [activityGuid]="expiredInstanceGuid">
        </ddp-activity>
    </mat-card-content>
</mat-card>