@import '../../styles/variables';
@import '../../styles/brushes';

.progress-bar-container {
  position: relative;

  .line {
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #cccccc;
    z-index: 1;
  }

  ul {
    width: 100%;
    height: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    &:before, &:after {
      display: none;
    }

    .item {

      &.active {
        &:hover {
          .dot {
            @include bg-green($important: '!important');
          }
        }

        .dot {
          @include bg-green();
        }
      }

      &:last-child {
        width: 26px;
        margin-left: 6px !important;
      }

      .disabled {
        opacity: 0.4;
        filter: alpha(opacity=40);
        cursor: default;
      }

      .dot {
        width: 26px;
        height: 26px;
        border-radius: 13px !important;
        border: 3px solid #cccccc;
        background: #eeeeee;
        z-index: 2;
        padding: 0 !important;
        transition: background 0.3s ease;

        &:active {
          background-color: #5C7A36 !important;
        }

        &:hover {
          @include bg-blue-light($important: '!important');
        }
      }
    }
  }
}
