<table>
  <thead>
    <tr class="mainRow">
      <td></td>
      <td class="spaceAround" *ngFor="let column of columns">
        {{ column.optionText }}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr class="spaceUnder" *ngFor="let row of rows">
      <td >
        {{row.rowText}}
      </td>
      <td class="alignCenter" *ngFor="let columnCheckbox of columns">
        <input class="radioButton" type="radio" disabled [checked]="isChecked(columnCheckbox.optionStableId, row.rowStableId)">
      </td>
    </tr>
  </tbody>
</table>


