tr.spaceUnder>td {
  padding-bottom: 1em;
}
.mainRow {
  box-shadow: 0 2px 2px -2px gray;
}

.alignCenter {
  text-align: center;
}

input[type='radio']:disabled:checked:after {
  width: 14px;
  height: 14px;
  border-radius: 15px;
  position: relative;
  background-color: #546989;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid grey;
}

.spaceAround {
  padding: 10px;
  text-align: center;
}

.marginTop {
  margin-top: 10px;
}

input[type="radio"][disabled]
{
  border-color: purple;
}

tbody:before {
  content: "-";
  display: block;
  line-height: 1em;
  color: transparent;
}


