@use '~@angular/material' as mat;
@import '../../../app-theme.scss';

.help-section {
    background-color: mat.get-color-from-palette($app-theme, 3200);
}

.help-block {
    margin: 5rem 0 10rem 0;
}

.sub-title {
    font-size: 1.625rem;
    line-height: 2.0625rem;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.step-title {
    font-size: 1.375rem;
    line-height: 2.0625rem;
    margin-bottom: 0;
    margin-top: 2.5rem;
}

.search {
    display: inline-flex;
    vertical-align: text-top;
    height: 1.5rem;
}

.instructions {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 2.5rem 0;

    &__iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.pdf {
    display: inline-flex;
    align-items: center;
    font-size: 1.625rem;
    line-height: 2.0625rem;
    text-decoration: underline;
    color: mat.get-color-from-palette($app-theme, 1200);
    font-weight: 600;

    &__image {
        margin-right: 5px;
    }
}

.step {
    margin: 2.5rem 0;
    position: relative;

    &__image {
        width: 100%;
        height: 100%;
        border: 1px solid mat.get-color-from-palette($app-theme, 1000);
        max-width: 700px;
        box-sizing: border-box;
    }

    &__arrow {
        position: absolute;
        max-width: 10%;

        &_step-1-first-desktop {
            top: 31%;
            left: -8.5%;
        }

        &_step-1-second-desktop {
            top: 63.5%;
            left: -8.5%;
        }

        &_step-2-first-desktop {
            top: 72.5%;
            left: -8.5%;
        }

        &_step-2-second-desktop {
            top: 86.5%;
            left: -8.5%;
        }

        &_step-2-third {
            top: 27.5%;
            left: 32.5%;
        }

        &_step-1-first-mobile,
        &_step-1-second-mobile,
        &_step-2-first-mobile,
        &_step-2-second-mobile {
            display: none;
        }
    }

    &__cube {
        position: absolute;
        max-width: 10%;
        width: 6%;
        height: 8%;
        border-radius: 5px;
        border: 2px solid mat.get-color-from-palette($app-theme, 2000);
        background-color: mat.get-color-from-palette($app-theme, 3900);
        color: mat.get-color-from-palette($app-theme, 100);
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;

        &_step-1-first {
            top: 33.5%;
            left: -16%;
        }

        &_step-1-second {
            top: 66.5%;
            left: -16%;
        }

        &_step-2-first {
            top: 75.5%;
            left: -16%;
        }

        &_step-2-second {
            top: 89.5%;
            left: -16%;
        }

        &_step-2-third {
            top: 30.5%;
            left: 44%;
        }
    }
}

@media only screen and (max-width: 960px) {
    .step {
        &__arrow {
            &_step-1-first-mobile {
                display: initial;
                top: 31%;
                left: 9.5%;
            }

            &_step-1-second-mobile {
                display: initial;
                top: 63%;
                left: 17.5%;
            }

            &_step-2-first-mobile {
                display: initial;
                top: 72.5%;
                left: 17.5%;
            }

            &_step-2-second-mobile {
                display: initial;
                top: 86.5%;
                left: 15.5%;
            }

            &_step-1-first-desktop,
            &_step-1-second-desktop,
            &_step-2-first-desktop,
            &_step-2-second-desktop {
                display: none;
            }
        }

        &__cube {
            &_step-1-first {
                top: 34%;
                left: 21%;
            }

            &_step-1-second {
                top: 66%;
                left: 29%;
            }

            &_step-2-first {
                top: 75%;
                left: 29%;
            }

            &_step-2-second {
                top: 90%;
                left: 27%;
            }
        }
    }
}