::ng-deep.mat-dialog-container {
  padding: 0;
}

// dialog popup
::ng-deep.matDialog {
  width: 60%;
  height: 65%;
}

// adjusting items inside input field
::ng-deep.mat-form-field-flex {
  align-items: center!important;
  padding: 0 0 0 .75em!important;
}

// adjusting input field size
::ng-deep.mat-form-field {
  font-size: 15px;
}

// adjusting input field border color after touched
::ng-deep.mat-form-field.ng-touched .mat-form-field-outline  {
  color: #737E8E!important;
}

// adjusting input field border color
::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(73,86,106,0.4)!important;
}

// adjusting input field shapes
::ng-deep.mat-form-field-infix {
  border-top: 0.5rem!important;
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 3px 0 0 3px!important;
  border-width: 1px!important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 3px 3px 0 !important;
  border-width: 1px!important;
}

// error message
::ng-deep mat-error {
  color: red!important;
}
::ng-deep.mat-form-field-subscript-wrapper {
  padding: 0!important;
  margin-top: 3px;
}
