<header class="header" [ngClass]="{'header_shadow': isPageScrolled}">
    <div class="header-content">
        <a class="project-logo" routerLink="/">
            <img class="project-logo__img" src="assets/images/logo-testboston.png"
                [alt]="'Navigation.LogoAlt' | translate">
        </a>
        <nav class="nav">
            <ul class="navigation">
                <li class="navigation__item">
                    <a class="header-link" routerLink="/" fragment="about-the-study" translate>
                        Navigation.About
                    </a>
                </li>
                <li class="navigation__item">
                    <a class="header-link" routerLink="/" fragment="q&a" translate>
                        Navigation.Q&A
                    </a>
                </li>
                <li class="navigation__item">
                    <a class="header-link" routerLink="/" fragment="mailing-list" translate>
                        Navigation.MailingList
                    </a>
                </li>
            </ul>
        </nav>
        <div class="auth">
            <div class="auth__dashboard" *ngIf="isAuthenticated">
                <ng-container *ngTemplateOutlet="dashboardButton"></ng-container>
            </div>
            <ddp-sign-in-out></ddp-sign-in-out>
        </div>
        <div class="mobile-menu">
            <ng-container *ngIf="!isMenuOpened">
                <button class="SimpleButton" (click)="openMenu()">Menu</button>
            </ng-container>
            <ng-container *ngIf="isMenuOpened">
                <button class="mobile-menu__close" mat-icon-button (click)="closeMenu()">
                    <mat-icon>clear</mat-icon>
                </button>
            </ng-container>
        </div>
    </div>
</header>

<div class="overlay" [ngClass]="{'overlay_opened': isMenuOpened}">
    <nav class="overlay-content">
        <ul class="">
            <li class="">
                <a class="" routerLink="/" fragment="about-the-study" translate>
                    Navigation.About
                </a>
            </li>
            <li class="">
                <a class="" routerLink="/" fragment="q&a" translate>
                    Navigation.Q&A
                </a>
            </li>
            <li class="">
                <a class="" routerLink="/" fragment="mailing-list" translate>
                    Navigation.MailingList
                </a>
            </li>
            <li class="">
                <ng-container *ngTemplateOutlet="dashboardButton"></ng-container>
            </li>
            <li class="">
                <ddp-sign-in-out></ddp-sign-in-out>
            </li>
            <li class="">
                <a class="" routerLink="/privacy-policy" routerLinkActive="header-link_active" translate>
                    Navigation.Privacy
                </a>
            </li>
        </ul>
    </nav>
</div>

<ng-template #dashboardButton>
    <a class="header-link" routerLink="/dashboard" routerLinkActive="header-link_active">
        <div class="header-link__dashboard">
            <svg class="dashboard-icon" width="22px" height="22px" viewBox="0 0 22 22" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
                    stroke-linejoin="round">
                    <g class="dashboard-icon_color" transform="translate(-385.000000, -41.000000)" stroke="#000000"
                        stroke-width="1.5">
                        <g transform="translate(386.000000, 40.000000)">
                            <g transform="translate(0.000000, 2.000000)">
                                <circle cx="10" cy="8.125" r="4.375"></circle>
                                <path
                                    d="M15.7608333,17.3966667 C14.2362899,15.8625492 12.1628105,14.9998815 10,14.9998815 C7.83718949,14.9998815 5.76371015,15.8625492 4.23916667,17.3966667">
                                </path>
                                <circle cx="10" cy="10" r="9.375"></circle>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <span translate>Navigation.Dashboard</span>
    </a>
</ng-template>