@import '../../../app-theme.scss';

.header {
    background-color: mat-color($app-theme, 200);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 8rem;
}

.header_shadow {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    max-width: 1350px;
    margin: auto;
    padding: 0 1.5625rem;
}

.project-logo {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    color: mat-color($app-theme, 100);
}

.project-logo:hover {
    text-decoration: none;
}

.project-logo__img {
    margin-right: 0.9375rem;
    height: 3.25rem;
}

.project-logo__text {
    margin: 0;
    font-size: 2.5rem;
}

.navigation {
    list-style: none;
    display: flex;
    padding: 0;
}

.navigation__item {
    margin-right: 2.8125rem;
    display: flex;
    color: mat-color($app-theme, 100);
}

.header-link__dashboard,
.header-link {
    display: flex;
    align-items: center;
}

.header-link:link,
.header-link:visited {
    color: mat-color($app-theme, 100);
    font-size: 1.0625rem;
    line-height: 1.375rem;

    .dashboard-icon_color {
        stroke: mat-color($app-theme, 100);
    }
}

.header-link:hover {
    color: mat-color($app-theme, 100);
    text-decoration: underline;

    .dashboard-icon_color {
        stroke: mat-color($app-theme, 100);
    }
}

.header-link:active {
    color: mat-color($app-theme, 100);
    text-decoration: underline;

    .dashboard-icon_color {
        stroke: mat-color($app-theme, 100);
    }
}

.header-link__dashboard {
    margin: 0 0.2rem 0 0;
}

.header-link_active {
    text-decoration: underline;
}