@import '../../../app-theme.scss';

.header {
    background-color: mat-color($app-theme, 200);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 8rem;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8rem;
    padding: 0 1.5rem;
}

button {
    color: white !important;
}

button:not(:last-child) {
    margin-right: 5px;
}