<div [hidden]="!statusesLoaded">
    <mat-table [dataSource]="dataSource" data-ddp-test="activitiesTable" class="ddp-dashboard">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell class="padding-5" *matHeaderCellDef [innerHTML]="'SDK.UserActivities.ActivityName' | translate">
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="padding-5">
                <span class="dashboard-mobile-label" [innerHTML]="'SDK.UserActivities.ActivityName' | translate"></span>
                <mat-icon *ngIf="element.isHidden"
                          class="dashboard-hidden-icon"
                          matTooltip="{{ 'SDK.UserActivities.HiddenTooltip' | translate }}">
                    visibility_off
                </mat-icon>
                <button class="dashboard-activity-button Link"
                        [attr.data-ddp-test]="'activityName::' + element.instanceGuid"
                        (click)="openActivity(element.instanceGuid, element.activityCode)">
                    {{ element.activityName }}
                </button>
            </mat-cell>
        </ng-container>

        <!-- Summary Column -->
        <ng-container matColumnDef="summary">
            <mat-header-cell class="padding-10" *matHeaderCellDef [innerHTML]="'SDK.UserActivities.Summary' | translate">
            </mat-header-cell>
            <mat-cell *matCellDef="let element"
                      class="padding-10"
                      [attr.data-ddp-test]="'activitySummary::' + element.instanceGuid" >
                <span class="dashboard-mobile-label" [innerHTML]="'SDK.UserActivities.Summary' | translate"></span>
                {{ element.activitySummary }}
            </mat-cell>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <mat-header-cell class="padding-5" *matHeaderCellDef [innerHTML]="'SDK.UserActivities.ActivityDate' | translate">
            </mat-header-cell>
            <mat-cell *matCellDef="let element"
                      class="padding-5"
                      [attr.data-ddp-test]="'activityDate::' + element.createdAt">
                <span class="dashboard-mobile-label" [innerHTML]="'SDK.UserActivities.ActivityDate' | translate"></span>
                {{ element.createdAt | date: 'MM/dd/yyyy' }}
            </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell class="padding-5" *matHeaderCellDef [innerHTML]="'SDK.UserActivities.ActivityStatus' | translate">
            </mat-header-cell>
            <mat-cell *matCellDef="let element"
                      class="padding-5"
                      [attr.data-ddp-test]="'activityStatus::' + element.instanceGuid">
                <span class="dashboard-mobile-label" [innerHTML]="'SDK.UserActivities.ActivityStatus' | translate"></span>
                <div class="dashboard-status-container" [ngClass]="{'dashboard-status-container_summary': showSummary(element)}">
                    <ng-container *ngIf="element.icon">
                        <img class="dashboard-status-container__img"
                             [attr.src]="domSanitizationService.bypassSecurityTrustUrl('data:image/svg+xml;base64,' + element.icon)"
                             alt="">
                    </ng-container>
                    <ng-container *ngIf="showQuestionCount(element)">
                        {{ 'SDK.UserActivities.ActivityQuestionCount' | translate: { 'questionsAnswered': element.numQuestionsAnswered, 'questionTotal': element.numQuestions } }}
                    </ng-container>
                    <ng-container *ngIf="showSummary(element)">
                        {{ element.activitySummary }}
                    </ng-container>
                    <ng-container *ngIf="!showQuestionCount(element) && !showSummary(element)">
                        {{ getState(element.statusCode) }}
                    </ng-container>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef [innerHTML]="'SDK.UserActivities.ActivityActions' | translate"></mat-header-cell>
            <mat-cell *matCellDef="let element"
                      [attr.data-ddp-test]="'activityActions::' + element.readonly">
                <span class="dashboard-mobile-label" [innerHTML]="'SDK.UserActivities.ActivityActions' | translate"></span>
                <button *ngIf="!element.readonly"
                        class="ButtonFilled Button--cell button button_small button_primary"
                        (click)="openActivity(element.instanceGuid, element.activityCode)"
                        [innerHTML]="getButtonTranslate(element) | translate">
                </button>
                <button *ngIf="element.readonly"
                        class="ButtonBordered ButtonBordered--orange Button--cell button button_small button_secondary"
                        (click)="openActivity(element.instanceGuid, element.activityCode)"
                        [innerHTML]="'SDK.ReviewButton' | translate">
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
