@import '../../../../styles/colors';
@import '../../../../styles/breakpoints';


.spinner-container {
  display: flex;
  justify-content: center;

  margin-top: 2.4rem;
}

:host-context(app-participant-list) {
    background-color: $__cultured;
}

.container {
  margin-bottom: 42px !important;
}

.grouper {
    margin: 75px 400px 370px 100px;
    @include media-md {
        margin: 75px 300px 370px 100px;
    }
    @include media-sm {
        margin: 75px 200px 370px 100px;
    }
    @include media-xs {
        margin: 75px 50px 370px 100px;
    }

.title {
  margin: .7rem 0;
  font-size: 1.2rem;
  font-family: 'Spartan-Bold', sans-serif;
  color: $__font;

  @media (max-width: 450px) {
    margin: 1.2rem 0;

    font-size: 1.5rem;
  }
}

.no-participants {
        font-size: .9rem;
}
.participants-list {
  list-style: none;
  padding-left: 0;

  &__item {
    margin: 0;

    border: 1.5px solid #D4D4D4;
    border-radius: 1px;
    background-color: #f4efea;

    overflow: hidden;

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }

    &--no-border-bottom {
      border-bottom: none;
    }
  }
}

.participant {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 24px;

    border-bottom: 1px solid #e8e8e8;

    cursor: pointer;

    background: $__light-gray;
    color: $__white;

    @media (max-width: 768px) {
      padding: 1.2rem;
    }
  }

    &__content {
        background-color: white;
    }
  &__name {
    margin-top: 5px;
    color: black;
    font-family: 'Spartan-Bold', sans-serif;
  }

  &__expand-btn {
      color:black;
      font-weight: bold;
    mat-icon {
        margin-top: 1px;
      transition: transform 0.2s ease;
    }

    &--rotate {
      mat-icon {
        transform: rotateX(-180deg);
      }
    }
  }

  &__icon-container {
    display: flex;
    align-items: center;

    button {
      display: flex;

      background: unset;
      border: 0;
    }
  }

  button {
    background: unset;
    border: 0;
  }
}

.controls {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;

  margin-top: 1.6rem;

  .button {
    width: 57%;
    display: flex;
    padding: 15px 15px;
    align-items: center;
    @include media-md {
        width: 80%;
    }
    @include media-sm {
        width: 100%;
    }
    @include media-xs {
        width: 100%;
    }

    p {
        font-weight: bold;
        margin: 5px 0 0 0;
    }
    .user {
        height: 1.2em;
        margin-right: 13px;
    }
    .next {
        filter: invert(100%);
        -webkit-filter: invert(100%);
        height: 1.2em;
        margin-left: auto;
    }
  }

  .button + .button {
    margin-top: 1.2rem;
  }
}

.help-tip {
  margin: 1rem 0;

  font-family: 'Spartan-Medium', sans-serif;
}

.logout-reminder {
  padding: 12px 24px;

  border-width: 1px;

  text-align: center;
}
}
