<div class="container">
  <div *ngIf="loading; else content" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<ng-template #content>
  <app-notifications [messages]="messages"></app-notifications>
  <div class="grouper">
      <h1 class="title">
          {{ 'ParticipantsList.Title' | translate }}
      </h1>

      <ng-container *ngTemplateOutlet="participants.length ? participantsList : noParticipants"></ng-container>

      <div *ngIf="errorMessage" class="ErrorMessage">
          <span>{{ errorMessage }}</span>
      </div>

      <div class="controls">
          <button
              *ngIf="!isOperatorEnrolled"
              class="button button--primary"
              (click)="onAddMyselfClick()"
              [disabled]="isEnrollBtnDisabled"
          >
              <div class="user-container">
                  <img class="user" src="/assets/images/user.png" alt="user icon">
              </div>
              <div class="text-container">
                  <p>Enroll myself</p>
              </div>
              <div class="next-container">
                  <ng-container *ngTemplateOutlet="chevronRightSvg"></ng-container>
              </div>

          </button>

          <button class="button button--primary" (click)="onAddParticipantClick()" [disabled]="isEnrollBtnDisabled">
              <div class="users-container">
                  <img class="user" src="/assets/images/user-friends.png" alt="users icon">
              </div>
              <div class="text-container">
                  <p class="bolder">Enroll my child</p>
              </div>
              <div class="next-container">
                  <ng-container *ngTemplateOutlet="chevronRightSvg"></ng-container>
              </div>
          </button>

          <button class="button button--primary" (click)="onAddDependentClick()" [disabled]="isEnrollBtnDisabled">
              <div class="users-container">
                  <img class="user" src="/assets/images/user-friends.png" alt="users icon">
              </div>
              <div class="text-container">
                  <p class="bolder">Enroll my adult dependent</p>
              </div>
              <div class="next-container">
                  <ng-container *ngTemplateOutlet="chevronRightSvg"></ng-container>
              </div>
          </button>
      </div>
  </div>

</ng-template>

<ng-template #participantsList>
  <p *ngIf="participants.length > 1" class="help-tip">
    {{ 'ParticipantsList.HelpTip' | translate }}
  </p>

  <ul *ngIf="participants.length" class="participants-list">
    <li
      *ngFor="let participant of participants"
      class="participants-list__item"
      [class.participants-list__item--no-border-bottom]="!isParticipantContentExpanded(participant)"
    >
      <div class="participant">
        <div class="participant__header" role="button" (click)="onExpandClick(participant)">
          <span class="participant__name">
            {{ getParticipantName(participant) }}
          </span>

          <div class="participant__icon-container">
            <button
              *ngIf="allowParticipantRemoval && !participant.isOperator"
              mat-icon-button
              class="participant__delete-btn"
              (click)="$event.stopPropagation(); onDeleteClick(participant)"
            >
              <mat-icon>delete</mat-icon>
            </button>

            <button
              mat-icon-button
              class="participant__expand-btn"
              [class.participant__expand-btn--rotate]="isParticipantContentExpanded(participant)"
            >
                {{ isParticipantContentExpanded(participant) ? 'Hide' : 'Show' }}
              <mat-icon>expand_more</mat-icon>
            </button>
          </div>
        </div>
        <div class="participant__content" *ngIf="isParticipantContentExpanded(participant)">
          <app-activities-list
            [activities]="participant.activities"
            (editActivity)="onEditActivity(participant.guid, $event)"
            (viewActivity)="onViewActivity(participant.guid, $event)"
            (startActivity)="onStartActivity(participant.guid, $event)"
            (continueActivity)="onContinueActivity(participant.guid, $event)"
          ></app-activities-list>
        </div>
      </div>
    </li>
  </ul>
</ng-template>

<ng-template #noParticipants>
  <p class="no-participants" [innerHTML]="'ParticipantsList.NoParticipants' | translate"></p>
</ng-template>

<!--svg image container-->
<ng-template #chevronRightSvg>
    <img src="/assets/images/next.svg" alt="next button">
</ng-template>
