@import '../../../../styles/colors';
@import '../../../../styles/breakpoints';


.spinner-container {
  display: flex;
  justify-content: center;

  margin: 8.39rem;
}

:host-context(app-participant-list) {
    background-color: $__cultured;
}

.container {
  margin: 50px auto!important;
}

.grouper {
    width: 90%;
    margin: 0 auto 370px auto;

.title {
  margin: .7rem 0;
  font-size: 1.3rem;
  font-family: 'Spartan-Bold', sans-serif;
  color: $__font;

  @media (max-width: 450px) {
    margin: 1.2rem 0;

    font-size: 1.5rem;
  }
}

.no-participants {
        font-size: .9rem;
}
.participants-list {
  list-style: none;
  padding-left: 0;

  &__item {
    margin: 0;

    border: 1.5px solid #D4D4D4;
    border-radius: 1px;
    background-color: #f4efea;

    overflow: hidden;

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }

    &--no-border-bottom {
      border-bottom: none;
    }
  }
}

.participant {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 24px;

    border-bottom: 1px solid #e8e8e8;

    cursor: pointer;

    background: $__light-gray;
    color: $__white;

    @media (max-width: 768px) {
      padding: 1.2rem;
    }
  }

    &__content {
        background-color: white;
    }
  &__name {
      margin-top: 5px;
      color: black;
      font-family: 'Spartan-Bold', sans-serif;
      width: 20rem;
  }

  &__expand-btn {
      color:black;
      font-weight: bold;
    mat-icon {
        margin-top: 1px;
      transition: transform 0.2s ease;
    }

    &--rotate {
      mat-icon {
        transform: rotateX(-180deg);
      }
    }
  }

  &__icon-container {
    display: flex;
    align-items: center;

    button {
      display: flex;

      background: unset;
      border: 0;
    }
  }

  button {
    background: unset;
    border: 0;
  }
}

.controls {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;

  margin-top: 1.6rem;

  .button {
    width: 433px;
    height: 67px;
    display: flex;
    border-radius: 6px!important;
    padding: 14.5px 5.5px 14.5px 11.5px;
    align-items: center;
    justify-content: space-between;
    @include media-md {
        width: 80%;
    }
    @include media-sm {
        width: 100%;
    }
    @include media-xs {
        width: 100%;
    }

      .user-container {
          width: 38px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
              height: 26px!important;
              width: 24px!important;
          }
      }
      .users-container {
          width: 38px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
              height: 24px!important;
              width: 32px!important;

          }
      }
      .text-container {
          width: 80%;
          height: 38px;
          display: flex;
          align-items: center;
          margin-top: 3px;
          justify-content: flex-start;
          p {
              text-align: start;
              font-size: 20px!important;
              margin:  0 0 0 8px!important;
              font-family: Spartan-Semibold, sans-serif!important;
          }
      }
      .next-container {
          width: 38px;
          height: 38px;
          display: flex;
          align-items: center;

          img {
              width: 30px;
              height: 30px;
              float: right;
              margin: 0 auto;
          }
      }
  }

  .button + .button {
    margin-top: 1.2rem;
  }
}

.help-tip {
  margin: 1rem 0;

  font-family: 'Spartan-Medium', sans-serif;
}

.logout-reminder {
  padding: 12px 24px;

  border-width: 1px;

  text-align: center;
}

.share-project {
    margin-top: 15px;
}

.enrollmentStatusCompleteText {
    color: black;
    font-family: 'Spartan-Bold', sans-serif;
    white-space: nowrap;
}

    .enrollmentStatusIncompleteText {
        color: black;
        font-family: 'Spartan-Bold', sans-serif;
        white-space: nowrap;
    }

.enrollmentStatusIcon {
    width: 25px;
    margin-bottom: 2px;
}

    .StatusAndExpandBtn {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    @media screen and (max-width: 1280px) {
        .enrollmentStatusIcon {
            width: 20px;
        }
    }

    @media screen and (max-width: 990px) {
        .participant__name {
            width: 19rem;
        }

    }

    @media screen and (max-width: 880px) {
        .participant__name {
            width: 17rem;
        }

    }

    @media screen and (max-width: 750px) {
        .enrollmentStatusIcon {
            width: 20px;
        }
    }
    @media screen and (max-width: 680px) {
        .participant__header {
            flex-wrap: wrap;
        }
        .hideWord {
            display: none;
        }

        .StatusAndExpandBtn {
            align-items: center;
        }

    }
}
