:host {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  height: 100vh;
}

.filters-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  justify-content: space-between;
  .filter-group {
      display: flex;
      flex-direction: column;
    input {
      border: none;
      border: .2px solid gray;
      border-radius: 4.5px;
    }

    ::placeholder {
      color: black;
      opacity: 1;
    }

    .time-container {
      display: flex;
      flex-direction: row;
      gap: 5px;
      justify-content: space-between;
      padding: 5px;
    }
  }
  .select-container {
    width: 250px;
    max-height: 25px;
    cursor: pointer;
  }
}

.audit-table {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  .body-row,
  .header-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .header-row {
    font-weight: 700;

  }

  .cell {
      display: flex;
      flex-direction: column;
      align-items: center;
      &.details {
        align-items: start;
      }
      &.sort {
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
      }
  }
  .body {
      .body-row {
          background-color: white;
          border: 1px solid gray;
          border-bottom: none;
          &:last-child {
          border: 1px solid gray;

          }
      }
  }
  
}
