@import '../../../styles/breakpoints';
@import '../../../styles/colors';

:host {
  margin-top: auto;
}

a {
  &.sign-up {
    padding: 3px 7px;
    display: inline-block;
  }
}

.footer {
  background: map-get($colors, 'footer-bg');
  color: map-get($colors, 'footer-color');

  &-contacts {
    font-size: 16px;
    margin-top: 30px;
  }

  & .container {
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;

    @include media-md {
      display: block;
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  & a {
    color: map-get($colors, 'footer-color');
  }

  &-logo img {
    width: 150px;
  }

  &-menu {
    & a {
      font-family: Spartan-Bold, sans-serif;
    }
    & .link-list {
      margin-top: 0;
    }
  }

  &-social {
    margin: 40px 0;
    display: flex;
    &-item {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      position: relative;
      border-radius: 100px;
      border: 2px solid map-get($colors, 'footer-social-border');
      & img {
        filter: invert(1);
        position: absolute;
        top: 13px;
        left: 13px;
      }
      &.instagram img {
        top: 9px;
      }
      &.twitter img {
        top: 12px;
        left: 11px;
      }
      &.facebook img {
        top: 8px;
        left: 6px;
      }
    }
  }

  &-copyright {
    font-size: 16px;
    opacity: .7;
    @include media-md {
      margin-bottom: 30px;
    }
  }

  .link-list {
    display: flex;
    align-items: center;
    list-style: none;

    @include media-md {
      flex-direction: column;
      align-items: unset;
      padding-left: 0;
    }

    &__item {
      font-size: 17px;
      margin-right: 20px;
      @include media-md {
        margin-bottom: 10px;
      }
      &_highlight {
        background: map-get($colors, 'list-item-hightlight-bg');
        &_invert {
          a {
            display: inline-block;
            padding: 8px 12px;
            border-radius: 5px;
            color: map-get($colors, 'footer-color-hightlight');
            background: $__white;
          }
        }
        &-stroke_invert {
          ::ng-deep {
            button {
              min-width: 130px;
              line-height: 15px!important;
              padding: 14px 29px 15px;
              border: 1px solid $__white;
              border-radius: 5px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
