<div class="wrapper" *ngIf="{ activeActivityNumber: activeActivityNumber$ | async } as State">
  <ng-container *ngIf="State.activeActivityNumber !== null">
    <div class="line"></div>
    <div
      class="step-container"
      *ngFor="let activity of activities; index as i"
      [class.step-container_active]="i <= State.activeActivityNumber"
      [class.step-container_active_white]="i === State.activeActivityNumber"
    >
      <div class="circular">
        <p class="number">{{ i + 1 }}</p>
      </div>
      <p class="step-paragraph" [innerHtml]="activity.activityNameI18nKey | translate"></p>
    </div>
  </ng-container>
</div>
