.wrapper {
    height: 100vh;
    margin-bottom: -22rem; // footer's height
    padding-bottom: 22rem; // footer's height
    padding-top: 6.75rem; // header's height
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        margin-bottom: -42rem;
        padding-bottom: 42rem;
    }
}