.wrapper {
    height: 100vh;
    margin-bottom: -6.25rem; // footer's height
    padding-bottom: 6.25rem; // footer's height
    padding-top: 6.25rem; // header's height
    box-sizing: border-box;
}