<div class="rarex-activity-page">
  <div
          *ngIf="isWorkflowProgressShown"
          class="rarex-activity-page__progress-container"
  >
    <app-workflow-progress
            [activityList]="activities"
            [instanceGuid]="instanceGuid"
            (changeActivity)="onChangeActivity($event)"
    ></app-workflow-progress>
  </div>

  <div class="rarex-activity-page__activity-container">
    <app-activity
            *ngIf="isActivityShown && !isFetchingActivities"
            [studyGuid]="studyGuid"
            [activityGuid]="instanceGuid"
            (submit)="onSubmit($event)"
    ></app-activity>
  </div>
</div>
