<div class="container content__tight">
  <app-progress-bar [instanceGuid]="instanceGuid"
                    [activities]="activities"
                    [hidden]="shouldHideProgressBar">
  </app-progress-bar>

  <div class="activity-container">
    <div>
      <app-activity
        [studyGuid]="studyGuid"
        (submit)="onSubmit($event)"
        (keydown.shift.enter)="preventSubmitByShiftEnter($event)"
        [activityGuid]="instanceGuid"
        [isLastOfMultipleActivities]="isLastOfMultipleActivities"
        *ngIf="!isFetchingActivities"
      ></app-activity>
    </div>
  </div>
</div>
