.pb {
  display: flex;

  margin-top: 1.6rem;
  padding: 0;

  list-style: none;

  @media (max-width: 450px) {
    flex-flow: column nowrap;

    margin: 0 0 2.4rem;
  }

  &__item {
    position: relative;
    z-index: 10;

    flex: 0 0 92px;

    @media (max-width: 450px) {
      flex: auto;
    }
  }

  &__divider {
    position: relative;
    z-index: 1;

    flex: 1;
    height: 2px;

    margin: 27px -20px 0;

    background: #c1c1c1;

    @media (max-width: 768px) {
      margin: 16px -32px 0;
    }

    @media (max-width: 450px) {
      width: 2px;
      flex: 16px;

      margin: 0 15px 0;
    }

    &--colored {
      background: #521b93;
    }
  }
}

.item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @media (max-width: 450px) {
    flex-flow: row nowrap;
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 54px;
    height: 54px;

    margin-bottom: 12px;

    background: #d8d8d8;
    border: 2px solid #c1c1c1;
    border-radius: 27px;

    @media (max-width: 768px) {
      width: 32px;
      height: 32px;

      margin-bottom: 8px;
    }

    @media (max-width: 450px) {
      margin-right: 8px;
      margin-bottom: 0;
    }
  }

  &__count {
    margin-top: 3px;

    font-family: 'Spartan-Semibold', sans-serif;
    font-size: 16px;
    line-height: 1;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &__name {
    margin: 0;

    font-family: 'Spartan-Semibold', sans-serif;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    @media (max-width: 450px) {
      margin-top: 4px;
    }
  }

  &--complete &__circle {
    background-image: url("../../../assets/images/Check.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-color: #6FCE24;
  }

  &--complete &__count {
    display: none;
  }
  &--current &__count {
    color: #FFFFFF!important;
  }

  &--current &__circle {
    background: #521b93;
    border-color: #521b93;
  }

  &--current &__count,
  &--current &__name {
    color: #521b93;
  }
}
