.Dashboard-container {
  font-weight: 300;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 125px;

  @media (max-width: 1240px) {
    margin-top: 75px;
  }

  @media (max-width: 992px) {
    margin-top: 40px;
  }

  @media (max-width: 768px) {
    margin-top: 15px;
  }
}

.infobox {
  margin-bottom: 2.4rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.infobox_dashboard {
  padding: 1.5rem 2rem;
  position: relative;

  .close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
  }
}
