.mat-dialog-container {
    position: relative;

    .mat-icon-button {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    .button_secondary {
        margin-right: 1rem;
    }
}

.mat-dialog-actions {
    padding: 0 !important;
    margin: 0 !important;
}

@media screen and (max-width: 330px) {
    .mat-dialog-container {
        padding: 15px !important;
    }

    .mat-icon-button {
        top: 0px !important;
        right: 5px !important;
    }
}

.Modal-title {
    margin: 0;
    margin-right: 45px;
}