@import '../app-theme.scss';

.loved-one-thank-you-title-section {
    padding: 2rem 0;
    background-color: mat-color($app-theme, 350);
}

.loved-one-thank-you-content-section {
    margin: 4rem 0;
}