@import '../app-theme.scss';

.stay-informed-title-section {
    padding: 2rem 0;
    background-color: mat-color($app-theme, 350);
}

.stay-informed-content-section {
    margin-top: 2rem;
}

.stay-informed-button {
    margin: 3rem 0;
    display: flex;
    justify-content: flex-end;
}