@use "commonStyles" as common;

.checkbox-container {
  * {
    box-sizing: border-box;
  }

  .cbx {
    @include common.flexContainer;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;

    &:not(:last-child) {
      margin-right: 6px;
    }

    &:hover {
      background: rgba(0, 119, 255, 0.06);
    }

    span {
      float: left;
      vertical-align: middle;
      transform: translate3d(0, 0, 0);
    }

    span:first-child {
      position: relative;
      min-width: 18px;
      max-width: 20%;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      transform: scale(1);
      border: 1px solid #cccfdb;
      transition: all 0.2s ease;
      box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
    }

    span:first-child svg {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 3px;
      left: 2px;
      fill: none;
      stroke: #fff;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 16px;
      stroke-dashoffset: 16px;
      transition: all 0.3s ease;
      transition-delay: 0.1s;
      transform: translate3d(0, 0, 0);
    }

    span:last-child {
      max-width: 90%;
      display: inline-block;
      padding-left: 8px;
      line-height: 18px;
    }

    &:hover span:first-child {
      border-color: #66bb6a;
    }

  }

  .inp-cbx {
    position: absolute;
    visibility: hidden;

    &:checked + .cbx span:first-child {
      background: #66bb6a;
      border-color: #66bb6a;
      animation: wave-4 0.4s ease;
    }

    &:checked + .cbx span:first-child svg {
      stroke-dashoffset: 0;
    }
  }

  .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }

  @media screen and (max-width: 640px) {
    .checkbox-container .cbx {
      width: 100%;
      display: inline-block;
    }
  }

  @-moz-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }

  @-webkit-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }

  @-o-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }

  @keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }

}




