.full-width {
    width: 100%;
}

.mat-expansion-panel-header-title {
    align-items: center;
}

.intro__text {
    display: block;
    padding: 0 65px 0 0;
    text-decoration: none;
    width: 85%;
    text-align: left;
    max-width: 940px;
}
