:host-context(app-participants-list) {
  grid-area: otherPage
}

.participants-table {
  width: 50%;
  margin-top: 20px;

  thead {
    color: #0000008a;
  }

  td, th {
    padding: 12px;
  }
}

tr {
  border-bottom: 1px solid #0000001f;

  &:not(.header) {
    &:hover {
      background: whitesmoke;
    }
  }
}

