:host-context(app-participants-list) {
  grid-area: otherPage
}

.addPatientModalBtn {
  height: 40px;
  width: 118px;
  color: #546989;
  padding: 2px 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #546989;
  border-radius: 2px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.participants-table {
  width: 50%;
  margin-top: 20px;

  thead {
    color: #0000008a;
  }

  td, th {
    padding: 12px;
  }
}

tr {
  border-bottom: 1px solid #0000001f;

  &:not(.header) {
    &:hover {
      background: whitesmoke;
    }
  }
}

