<h2>{{ 'ReleaseRequests.Title' | translate }}</h2>

<table mat-table [dataSource]="activities">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'ReleaseRequests.ActivityName' | translate }}
    </th>

    <td mat-cell *matCellDef="let activity">
      <div class="mobile-column-name">
        {{ 'ReleaseRequests.ActivityName' | translate }}
      </div>

      {{ activity.activityName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="dateCreate">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'ReleaseRequests.DateCreated' | translate }}
    </th>

    <td mat-cell *matCellDef="let activity">
      <div class="mobile-column-name">
        {{ 'ReleaseRequests.DateCreated' | translate }}
      </div>

      {{ activity.createdAt | date }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'UserActivities.Header.Actions' | translate }}
    </th>

    <td mat-cell *matCellDef="let activity">
      <div class="mobile-column-name">
        {{ 'UserActivities.Header.Actions' | translate }}
      </div>

      <ng-container [ngSwitch]="activity.activityCode">
        <ng-container *ngSwitchCase="ActivityCode.DLMOSchedulingInstructions">
          <a
            class="button button--blue"
            target="_blank"
            [href]="DLMO_SCHEDULING_URL"
            >{{ 'UserActivities.Actions.Schedule' | translate }}</a
          >
        </ng-container>

        <ng-container *ngSwitchCase="ActivityCode.DLMOInstructions">
          <button
            class="button button--blue"
            (click)="onViewClick(activity)"
          >
            {{ 'UserActivities.Actions.View' | translate }}
          </button>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <button
            *ngIf="activity.statusCode === ActivityStatusCode.CREATED"
            class="button button--blue"
            (click)="onStartClick(activity)"
          >
            {{ 'UserActivities.Actions.Start' | translate }}
          </button>

          <button
            *ngIf="activity.statusCode === ActivityStatusCode.IN_PROGRESS"
            class="button button--blue"
            (click)="onContinueClick(activity)"
          >
            {{ 'UserActivities.Actions.Continue' | translate }}
          </button>

          <button
            *ngIf="activity.statusCode === ActivityStatusCode.COMPLETE"
            class="button button--blue"
            (click)="onViewClick(activity)"
          >
            {{ 'UserActivities.Actions.View' | translate }}
          </button>
        </ng-container>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="actions">
  <button
    class="button button--blue"
    (click)="addActivity(ActivityCode.ReleaseRequestGenetic)"
  >
    {{ 'ReleaseRequests.GenerateReleaseRequestGenetic' | translate }}
  </button>

  <button
    class="button button--blue"
    (click)="addActivity(ActivityCode.ReleaseRequestClinical)"
  >
    {{ 'ReleaseRequests.ReleaseRequestClinical' | translate }}
  </button>
</div>
