$border-color: #EBEBEB;
$icon-width: 24px;
$icon-margin-right: 2rem;
$question-padding: 1.5rem;

.faq-block__icon {
    font-size: 1.88rem;
    margin-right: $icon-margin-right;
}

.faq-block__question {
    margin: 0;
}

.faq-block__text {
    white-space: pre-wrap;
}

.mat-expansion-panel {
    border-top: 2px solid $border-color;
    font-size: 1.5rem;

    &:last-child {
        border-bottom: 2px solid $border-color;
    }

    :hover, :focus {
        background-color: rgba(0,0,0,.04);
    }

    .mat-icon,
    .faq-block__question,
    .faq-block__text {
        background-color: transparent;
    }
}

.mat-expansion-panel-header {
    padding: 1.5rem;
    transition: 0.3s;
}

:host ::ng-deep {
    .mat-expansion-panel-body {
        padding: 0 1rem 1rem calc(#{$question-padding} + #{$icon-width} + #{$icon-margin-right});
    }

    .mat-expansion-indicator {
        display: none;
    }
}
