@import '../../../styles/variables.scss';

$border-color: #EBEBEB;
$dark-grey-border-color: #979797;
$icon-width: 24px;
$icon-margin-right: 2rem;
$question-padding: 1.5rem;

.faq-block__icon {
    font-size: 1.88rem;
    margin-right: $icon-margin-right;
}

.faq-block__question {
    margin: 0;
    line-height: 30px;
    font-size: 1.5rem;
}

.faq-block__text {
    line-height: 34px;
    font-size: 1.5rem;
}

.mat-expansion-panel-header {
    padding: 1.5rem;
    transition: 0.3s;
}

:host ::ng-deep {
    .mat-expansion-panel-body {
        padding: 0 1rem 1rem calc(#{$question-padding} + #{$icon-width} + #{$icon-margin-right});
    }

    .mat-expansion-panel {
        border-top: 2px solid $border-color;
        box-shadow: none;

        &:last-child {
            border-bottom: 2px solid $border-color;
        }

        &.darkerBackground {
            background-color: $section-grey-background-color;
            border-color: $dark-grey-border-color;
            border-width: 1px;
        }
    }

    .mat-accordion .mat-expansion-panel {
        &:first-of-type, &:last-of-type {
            border-radius: 0;
        }
    }

    .mat-expansion-panel-header,
    .mat-expansion-panel-content {
        font-family: $primary-font;
        letter-spacing: 0;
        text-align: left;
    }

    .mat-expansion-panel-header.mat-expanded {
        .faq-block__question {
            font-family: $primary-font-medium;
        }
    }
}
