<div class="container">
  <section class="uncovering">
    <h1>Uncovering Single Ventricle Etiology</h1>
    <div class="wrapper">
      <div class="left">
        <p><b>Project Singular aims to identify the underlying
          genetic elements that contribute to the
          development of single ventricle heart defects and
          their related outcomes.</b></p>
        <p>Through this initiative, we will:</p>
        <ul>
          <li>Conduct whole genome sequencing on at least 5,000 patients and 200 immediate family members,</li>
          <li>Create an annotated database,</li>
          <li>Provide the analytical tools needed to assess the data, and</li>
          <li>Connect with other related registries, where possible.</li>
        </ul>
        <p>This genetic library will be an open resource for researchers while also ensuring the anonymity and privacy of all participants through a rigorous de-identification process.</p>
      </div>
      <div class="right">
        <img src="assets/images/Hexagons_2x.png" alt="">
      </div>
    </div>
  </section>
</div>
<section class="accessing">
  <div class="container">
    <h1 style="margin-bottom: 50px">Accessing Project Singular Data</h1>
    <div class="accessing-steps">
      <div class="accessing-steps-step">
        <img src="assets/images/accessing-1.svg" alt="" class="accessing-steps-step-img">
        <div class="accessing-steps-step-text">
          <p><b>Researchers request access</b><br>to de-identified data</p>
        </div>
      </div>
      <div class="accessing-steps-step">
        <img src="assets/images/accessing-2.svg" alt="" class="accessing-steps-step-img">
        <div class="accessing-steps-step-text">
          <p><b>Data Access Committee reviews requests</b> for access</p>
        </div>
      </div>
      <div class="accessing-steps-step">
        <img src="assets/images/accessing-3.svg" alt="" class="accessing-steps-step-img">
        <div class="accessing-steps-step-text">
          <p>If approved, <b>data can be accessed</b> through <a target="_blank" [href]="TERRA_BIO_URL">Terra.bio</a></p>
        </div>
      </div>
    </div>
    <div class="accessing-FAQ">
      <div class="accessing-FAQ-text">
        Access to Project Singular data by researchers is intentionally inclusive.<br />
        We don’t know where the greatest discoveries will be made, and we aim to be as open as possible and strive for true democratization of data while protecting our participants’ safety and privacy.
      </div>
      <a (click)="applyHere($event)" class="button button--primary button--lg button--apply" href="https://www.additionalventures.org/initiatives/biomedical-research/foundational-resources/project-singular/" target="_blank">Apply Here</a>
    </div>
  </div>
</section>
