@use "@angular/material" as mat;
@import "../../../app-theme.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 200ms linear;
    background-color: mat.get-color-from-palette($app-theme, 100);
    width: 100%;
    height: 6.25rem;

    .languageSelection {
        display: flex;
        justify-content: flex-end;
        padding-right: 1em;
    }
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header_shadow {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.placeholder {
    transition: all 200ms linear;
    height: 0;
}

.placeholder_opened {
    height: 100vh;
}

.panel-opened {
    z-index: 3;
    height: 100vh;

    .panel-controls {
        display: flex;
        flex-direction: column;
        visibility: visible;
        opacity: 1;
        transition: opacity 100ms 200ms ease;
        margin: 1.5625rem 2.5rem;
        height: 100%;

        .nav,
        .auth {
            display: flex;
        }

        .languageSelection {
            display: none;
        }

        .navigation {
            flex-direction: column;
            padding: 0;
        }

        .auth {
            flex-direction: column;
            align-items: start;
        }

        .simple-button,
        .SimpleButton,
        .auth__login,
        a {
            font-size: 1.875rem;
            line-height: 2.25rem;
        }

        .navigation__item,
        .auth__login,
        .auth__dashboard {
            margin-bottom: 3rem;
        }

        .dashboard-icon {
            width: 28px;
            height: 28px;
        }
    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: auto;
    padding: 0 1.5625rem;
    max-width: 1200px;
    height: 6.25rem;
}

.wider-header {
    justify-content: center;
    max-width: 80% !important;

    .languageSelection {
        margin-left: 3em;
    }
}

.panel-controls {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation__item {
    display: flex;
    margin-right: 2.8125rem;
}

.auth {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.auth__login {
    ::ng-deep button {
        cursor: pointer;
        border-radius: 4px;
        background-color: mat.get-color-from-palette($app-theme, 350);
        padding: 0.625rem 1.25rem;
        color: mat.get-color-from-palette($app-theme, 200);
        font-size: 1.0625rem;
        line-height: 1.375rem;
        text-decoration: none;

        &:hover{
            //make bg darker with scss function
            background-color: darken(mat.get-color-from-palette($app-theme, 350), 10%);
        }
    }
}

.header-button {
    margin-left: 1.875rem;
}

.project-logo {
    display: flex;
    align-items: center;
    text-decoration: none !important;

    @media screen and (max-width: 450px) {

        .project-logo__img {
            margin-right: 0.5rem;
            height: 2rem;
        }

        .project-logo__text {
            font-size: 1rem;
            line-height: 1.2rem;
        }
    }
}

.project-logo:hover {
    color: mat.get-color-from-palette($app-theme, 200);
    text-decoration: none;
}

.project-logo__img {
    margin-right: 0.9375rem;
    height: 3.25rem;
}

.project-logo__text {
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.activity-heading {
    margin: 0 1.5rem;
}

.sticky {
    display: none;
}

.hamburger {
    display: none;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    transition-timing-function: linear;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 2rem;
}

.hamburger-box {
    display: inline-block;
    position: relative;
    width: 1.875rem;
    height: 1.25rem;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    position: absolute;
    transition-duration: 0.15s;
    transition-property: transform;
    transition-timing-function: ease;
    border-radius: 2px;
    background-color: mat.get-color-from-palette($app-theme, 200);
    width: 1.875rem;
    height: 2px;
}

.hamburger-inner::before,
.hamburger-inner::after {
    display: block;
    content: "";
}

.hamburger--slider .hamburger-inner {
    top: 2px;
}

.hamburger--slider .hamburger-inner::before {
    top: 8px;
    transition-duration: 0.15s;
    transition-property: transform, opacity;
    transition-timing-function: ease;
}

.hamburger--slider .hamburger-inner::after {
    top: 16px;
}

.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(0, -6px, 0);
    opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -16px, 0) rotate(-90deg);
}

.header-link__dashboard,
.header-link {
    display: flex;
    align-items: center;
}

.header-link:link,
.header-link:visited {
    color: mat.get-color-from-palette($app-theme, 200);
    font-size: 1.0625rem;
    line-height: 1.375rem;

    .dashboard-icon_color {
        stroke: mat.get-color-from-palette($app-theme, 200);
    }
}

.header-link:hover {
    color: mat.get-color-from-palette($app-theme, 650);
    text-decoration: underline;

    .dashboard-icon_color {
        stroke: mat.get-color-from-palette($app-theme, 650);
    }
}

.header-link:active {
    color: mat.get-color-from-palette($app-theme, 200);
    text-decoration: underline;

    .dashboard-icon_color {
        stroke: mat.get-color-from-palette($app-theme, 200);
    }
}

.header-link__dashboard {
    margin: 0 0.2rem 0 0;
}

.header-link_active {
    text-decoration: underline;
}

@media screen and (max-width: 1410px) {
    .hamburger {
        display: flex;
    }

    .languageSelection {
        padding: 0 !important;
        width: 100%;
    }

    .header-button {
        margin: 0;
    }

    .nav,
    .auth {
        // display: none;
    }

    .header-content {
        justify-content: space-between;
        max-width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .breadcrumbs {
        display: none;
    }

    .sticky {
        display: unset;
    }
}

@media only screen and (max-width: 1669px) {
    .wider-header {
        max-width: 90% !important;
    }
}

@media only screen and (max-width: 650px) {
    .activity-heading {
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        padding: 0.5em 0;
    }
    .header-content {
        justify-content: space-around;
        padding: 0 5px;
        max-width: 100% !important;
        .languageSelection {
            margin-left: 0;
        }
    }
}

.header-content_sticky {
    @media only screen and (max-width: 450px) {
        .project-logo__text {
            display: none;
        }

        .project-logo__img {
            margin-right: 0.5rem;
        }
    }

    @media only screen and (max-width: 350px) {
        .project-logo {
            display: none;
        }
    }
}
