<div class="Wrapper--home">
  <div class="FullWidth">
    <div class="Landing-imageContainer">
      <div class="Landing-image Landing-imageCraniofacial" role="img"
        aria-label="If you or a loved one has a rare and genetically undiagnosed condition, join a patient-driven research study to discover the genes underlying your family's rare disease.">
      </div>
    </div>
  </div>

  <div class="Landing-message row">
    <section class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-12">
      <h2 class="Landing-title Landing-titleCraniofacial">The craniofacial branch of the Rare Genomes Project is a
        partnership with the
        <a href="https://www.massgeneral.org/children/services/treatmentprograms.aspx?id=1631&display=overview"
          target="_blank" class="Link">Cleft and Craniofacial Center at Massachusetts General Hospital</a>
        and <a href="https://www.shrinershospitalsforchildren.org/boston/cleftlippalate" target="_blank"
          class="Link">Shriners
          Hospitals for Children</a> dedicated to genetic diagnosis and gene discovery for congenital craniofacial
        conditions.</h2>
    </section>
  </div>

  <div class="row Margin--large">
    <section class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <h2 class="Landing-title">This project enables patients with undiagnosed, suspected single gene forms
        of craniofacial conditions to participate in a study using genome sequencing to search for the
        genetic cause of the craniofacial condition in their family.</h2>
    </section>
  </div>

  <div class="row Margin--large">
    <section class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <h2 class="Landing-title Color--blue">Background</h2>
      <p class="Landing-text">Craniofacial conditions affect the development of bones and tissues of the head
        and face. They can occur in isolation, with additional craniofacial conditions, or as one feature of an
        underlying syndrome affecting other parts of the body. For example, <a
          href="https://www.nidcr.nih.gov/health-info/cleft-lip-palate/more-info" target="_blank" class="Link">facial
          clefts</a> can be an isolated condition, can co-occur with <a
          href="https://rarediseases.info.nih.gov/diseases/6209/craniosynostosis" target="_blank"
          class="Link">craniosynostosis</a>,
        or can be part of a genetic syndrome such as <a
          href="https://rarediseases.info.nih.gov/diseases/9124/treacher-collins-syndrome" target="_blank"
          class="Link">Treacher Collins syndrome</a>. Collectively, the many types of
        craniofacial conditions are estimated to affect approximately 1 in 700-1,000 newborns.</p>
    </section>
  </div>

  <div class="row Margin--large">
    <section class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <h2 class="Landing-title Color--blue">Genetics and Craniofacial Conditions</h2>
      <p class="Landing-text">Craniofacial conditions may be caused by genetic changes, environmental
        factors, or a combination of the two. The likelihood of a strictly genetic cause is increased if the condition
        is atypically severe or rare, there are delays in development or health issues affecting additional body
        systems, or there are multiple affected family members. Although many single gene causes have been identified,
        our goal is to identify additional genes that cause craniofacial conditions.</p>
    </section>
  </div>

  <div class="row Landing-article Background--lightBlue">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <h2 class="Landing-title">Is This Study Right For Me?</h2>
      <p class="Landing-text Aligned--left">Our initial efforts will focus on individuals and families who:</p>
      <ul class="Landing-list Color--white">
        <li>Have a craniofacial condition that is suspected to be due to a single gene. <br>Features suggesting a
          single gene cause include:</li>
        <ul>
          <li>An atypically severe presentation or a rare condition</li>
          <li>Involvement of both sides of the face or head (e.g. ears), or the middle structures (e.g. nose),
            depending on the condition</li>
          <li>Additional early-onset medical conditions affecting different parts of the body or delays in development
          </li>
          <li>Presence in siblings or multiple generations of family members</li>
        </ul>
        <li>Do <span class="Accent">NOT</span> have a condition with a low suspicion of a single gene cause, such as
          <a href="https://cleftline.org/family-resources/introduction-to-cleft-craniofacial-conditions/"
            target="_blank" class="Link Link--white"> isolated cleft lip and/or
            palate</a>, isolated <a
            href="http://www.childrenshospital.org/conditions-and-treatments/conditions/m/microtia" target="_blank"
            class="Link Link--white">microtia</a>, or <a
            href="https://rarediseases.info.nih.gov/diseases/6582/hemifacial-microsomia" target="_blank"
            class="Link Link--white">hemifacial microsomia</a></li>
        <li>Are currently under the care of a medical geneticist or relevant subspecialist</li>
        <li>Live in the United States</li>
        <li>Are English-speaking</li>
      </ul>
    </div>
  </div>

  <div class="row Margin--large">
    <section class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
      <h1 class="Landing-title Color--black">How You Can Participate</h1>
      <div class="row Margin--large">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 Landing-step">
          <div class="Landing-stepImage Landing-stepImage01" role="img" alt="Tell us your story"></div>
          <h3 class="Landing-stepTitle">Tell us your story</h3>
          <p class="Landing-stepText">Click <a routerLink="/how-it-works" class="Link">apply</a>
            to tell us about the history of the craniofacial condition in your family. The information will be reviewed
            by our study team, and eligible families will be invited to participate. We will contact you to arrange a
            detailed discussion about the study and send you a consent form.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 Landing-step">
          <div class="Landing-stepImage Landing-stepImage02" role="img" alt="Submit a sample"></div>
          <h3 class="Landing-stepTitle">Submit a sample</h3>
          <p class="Landing-stepText">Once enrolled, we’ll mail a pre-paid sample collection kit directly to
            you and your family. We’ll also ask you more about medical history and ask for copies of medical records,
            including genetic test results.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 Landing-step">
          <div class="Landing-stepImage Landing-stepImage03" role="img" alt="Discover"></div>
          <h3 class="Landing-stepTitle">Discover</h3>
          <p class="Landing-stepText">Through DNA sequencing, we may discover the genetic cause of the
            craniofacial condition in your family and will work with you and your doctors to return important results
            to you. We will also share de-identified data broadly with the scientific community to empower discoveries
            in rare and undiagnosed disease, including craniofacial conditions.</p>
        </div>
      </div>
      <hr class="HorizontalLine">
      <div class="CenterDiv Margin--large">
        <a routerLink="/how-it-works" class="Button--Apply">Apply</a>
      </div>
    </section>
  </div>

  <div class="Wrapper--homeBottom">
    <div class="row Landing-article Background--blue">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h2 class="Landing-title">Information and Resources</h2>
        <p class="Landing-text">Additional information and resources for individuals with isolated and
          syndromic craniofacial conditions can be found here:
          <a href="https://www.shrinershospitalsforchildren.org/boston/cleftlippalate" target="_blank"
            class="Link Accent">Shriners
            Hospitals for Children</a>, the
          <a href="https://acpa-cpf.org" target="_blank" class="Link Accent">American Cleft Palate and Craniofacial
            Association</a>,
          <a href="https://www.ncbi.nlm.nih.gov/books/NBK1116/" target="_blank" class="Link Accent">GeneReviews</a>,
          and the
          <a href="https://ghr.nlm.nih.gov/" target="_blank" class="Link Accent">Genetics Home Reference</a>.
        </p>
      </div>
    </div>
  </div>
</div>