@import '~@angular/material/theming';
@include mat-core();

$mat-primary: (
    50: transparent,
    100: #FFFFFF,
    200: #FFD400,
    300: #FBDD4B,
    400: #454545,
    500: #D6D9EA,
    700: #282828,
    900: #787681,
    1000: #3F4750,
    1100: #9399AC,
    1200: #2660B2,
    1300: #1A3173,
    1400: #E8EFF7,
    1500: #1F2F6A,
    1600: #BDCFE7,
    1700: #2760B2,
    1800: #D4DCE8,
    1900: #8897AE,
    2000: #15458A,
    2100: #7C839A,
    2200: #E7E9ED,
    2300: #8B8B8B,
    2400: #DFE7F3,
    2500: #B2B2B2,
    2600: #0C1625,
    2700: #ad0000,
    2800: #E57E78,
    2900: #e86f68,
    3000: #ff9f99,
    3100: #CCE0FB,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        700: #000000,
        900: #000000,
        1000: #000000,
        1100: #000000,
        1200: #000000,
        1300: #000000,
        1400: #000000,
        1500: #000000,
        1600: #000000,
        1700: #000000,
        1800: #000000,
        1900: #000000,
        2000: #000000,
        2100: #000000,
        2200: #000000,
        2300: #000000,
        2400: #000000,
        2500: #000000,
        2600: #000000,
        2700: #000000,
        2800: #000000,
        2900: #000000,
        3000: #000000,
        3100: #000000
    ));

$app-theme: mat-palette($mat-primary);