@import '~@angular/material/theming';
@include mat-core();

$mat-primary: (
    50: transparent,
    100: #FFFFFF,
    200: #293A6B,
    300: #FBDD4B,
    400: #454545,
    500: #D6D9EA,
    600: #2951C6,
    700: #282828,
    800: #293A6B,
    900: #787681,
    1000: #3F4750,
    1100: #9399AC,
    1200: #2660B2,
    1300: #1A3173,
    1400: #E8EFF7,
    1500: #1F2F6A,
    1600: #BDCFE7,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        1000: #000000,
        1100: #000000,
        1200: #000000,
        1300: #000000,
        1400: #000000,
        1500: #000000,
        1600: #000000
    ));

$app-theme: mat-palette($mat-primary);