@import 'app-theme.scss';

$custom-typography: mat-typography-config($font-family: 'Nunito');

@include mat-core($custom-typography);

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 16px;
    font-weight: 400;
}

body {
    font-family: 'Nunito', sans-serif;
    overflow-y: scroll;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #1D1B25;
}

a:focus {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    line-height: 2.75rem;
}

h2 {
    font-size: 2.125rem;
    line-height: 3.75rem;
}

h3 {
    font-size: 1.625rem;
    line-height: 2.0625rem;
}

p,
li {
    font-size: 1.375rem;
    line-height: 2.0625rem;
}

.section {
    width: 100%;
}

.content {
    margin: 0 auto;
    padding: 0 1.5625rem;
    max-width: 700px;
}

.center {
    text-align: center;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.Link {
    color: mat-color($app-theme, 600);
    text-decoration: none;
    white-space: nowrap;
}

.Link:hover {
    text-decoration: underline;
}

.Link:active {
    color: mat-color($app-theme, 600);
    text-decoration: underline;
}

.header {
    .SimpleButton {
        border: none;
        cursor: pointer;
        color: mat-color($app-theme, 200);
        text-decoration: none;
        font-size: 1.0625rem;
        line-height: 1.375rem;
        font-family: inherit;
        white-space: nowrap;
        padding: 1rem 1.5rem;
        border-radius: 10px;
        font-weight: 600;
        background-color: mat-color($app-theme, 100);
    }
}

.footer {
    .SimpleButton {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        color: mat-color($app-theme, 700);
        text-decoration: none;
        font-size: 1.125rem;
        line-height: 2.0625rem;
        font-family: inherit;
        white-space: nowrap;
        font-weight: 600;
    }
}