@import 'app-theme.scss';
@import './style/buttons.scss';
@import './style/activity.scss';
@import './style/dashboard.scss';

$custom-typography: mat-typography-config($font-family: 'Nunito');

@include mat-core($custom-typography);

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 16px;
    font-weight: 400;
    color: mat-color($app-theme, 700);
}

body {
    font-family: 'Nunito', sans-serif;
    overflow-y: scroll;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: mat-color($app-theme, 400);

    &:focus {
        text-decoration: underline;
    }
}

h1 {
    font-size: 2.625rem;
    line-height: 3rem;
}

h2 {
    font-size: 2.125rem;
    line-height: 3.75rem;
}

h3 {
    font-size: 1.625rem;
    line-height: 2.0625rem;
}

p,
li {
    font-size: 1.375rem;
    line-height: 2.0625rem;
}

.no-margin {
    margin: 0;
}

.section {
    width: 100%;
}

.content {
    margin: 0 auto;
    padding: 0 1.5625rem;
    max-width: 700px;

    &_wide {
        max-width: 1200px;
    }
}

.center {
    text-align: center;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.Link {
    color: mat-color($app-theme, 1500);
    text-decoration: none;
    white-space: nowrap;

    &_bold {
        font-weight: 700;
    }

    &_semi-bold {
        font-weight: 600;
    }

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: mat-color($app-theme, 150);
        text-decoration: underline;
    }
}

mat-form-field,
mat-radio-button {
    font-family: 'Nunito', sans-serif !important;
    font-size: 1.375rem !important;
    line-height: 1.375rem !important;
    color: mat-color($app-theme, 900) !important;
}

mat-error,
.mat-tooltip {
    font-family: 'Nunito', sans-serif !important;
    font-size: 1rem !important;
}

@media only screen and (max-width: 768px) {

    mat-error,
    .mat-tooltip {
        font-size: 1.1rem !important;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        padding: 0 1rem;
    }
}