.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;
    font-weight: 500;
    list-style: none;

    li {
      cursor: pointer;
      color: white;
      font-size: 1rem;

      &.active {
        font-weight: bold;
        text-decoration: underline;
      }

      &:first-of-type {
        display: flex;
        align-items: center;
      }

      &:hover:not(:first-of-type),
      .back-to-top:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .button {
      padding: 0.91rem 2rem;
    }

    .cmiBtn {
      transition: color .3s;
      border-color: #9953ce;
      border-radius: 4px;
      background-color: #9953ce;
      padding: 0.7rem 1.75rem !important;
      color: white;
      font-size: 1.0625rem;

      &:hover {
        cursor: pointer;
        border-color: #7f30b8;
        background-color: #7f30b8;
      }
    }

  }

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
