.rarex-activity-page {
  display: flex;

  max-width: 42rem;

  margin: 1.2rem auto 2.4rem auto;

  position: relative;

  @media only screen and (max-width: 1400px) {
    flex-direction: column;
  }

  @media only screen and (max-width: 600px) {
    padding: 0 1.2rem;
  }

  &__progress-container {
    height: 100%;

    position: absolute;
    top: 1em;

    transform: translateX(-100%);

    @media only screen and (max-width: 1400px) {
      position: static;

      transform: translateX(0);
    }
  }

  &__activity-container {
    flex: 1;
  }
}
