p {
  margin: 0;
  padding: 0;
}

.snackbar {
  display: flex;
  align-items: center;

  font-family: Montserrat-SemiBold, sans-serif;
  color: white;

  &-content {
    display: flex;
    margin-left: 15px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}
