@import '../app-theme.scss';

// common activity styles
.section-spinner {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.static-spinner {
    padding-bottom: 8rem;
}

.main_activity {
    padding-bottom: 8rem;
    box-sizing: border-box;
    font-family: 'PT Serif', sans-serif;
}

.sticky-section {
    margin: 0 0 2rem 0;
    background-color: #464E64;
}

// consent
.consent-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    margin: 3rem 0;
    color: white;
}

// buttons layout
.activity-buttons {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0 0 0;
    font-family: 'Nunito', sans-serif;

    .button {
        font-family: inherit;
        display: flex;
        align-items: center;

        &_right {
            margin-left: auto;
        }
    }
}

@media only screen and (max-width: 560px) {
    .activity-buttons_mobile {
        flex-direction: column;
        align-items: center;

        .button {
            width: 20rem;
        }

        .button:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}

// info box
.infobox {
    border: 2px solid mat-color($app-theme, 1200);
    border-radius: 8px;
    background-color: rgba(113, 84, 255, 0.06);
    padding: 1rem;
}


// error message
.ErrorMessage {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin: 1rem 0;
    color: mat-color($app-theme, 2700);
}

// close button
.ddp-close-button {
    transition: 0.3s;

    &:hover {
        color: rgba(0, 0, 0, 0.26);
    }
}

// steps
.activity-steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem;
    font-family: 'Nunito', sans-serif;

    &__divider {
        flex: 1;
        border-top: 3px solid #DDE1E6;
        margin: 20px 0 0 0;
    }
}

.activity-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 58px;
    cursor: default;

    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #DDE1E6;
        border-radius: 20px;
        font-size: 20px;
        line-height: 38px;
    }

    &__text {
        white-space: nowrap;
        font-size: 18px;
        line-height: 38px;
    }
}

.activity-step.completed {
    cursor: pointer;

    .activity-step {
        &__number {
            color: white;
            background-color: #1A3173;
        }

        &__text {
            color: #1A3173;
        }
    }
}

.activity-step.active.completed {
    cursor: default;

    .activity-step {
        &__number {
            color: white;
            background-color: #2660B2;
        }

        &__text {
            color: #2660B2 !important;
        }
    }
}

@media only screen and (max-width: 620px) {
    .activity-steps {
        padding: 1rem 0;
    }

    .activity-step {
        &__text {
            display: none;
        }
    }
}