@use '@angular/material' as mat;
@import '../app-theme.scss';

.ddp-subject-panel,
.ddp-admin-action-panel {
    background-color: mat.get-color-from-palette($app-theme, 200);
    font-family: 'Nunito', sans-serif;

    &__text {
        font-size: 18px;
        line-height: 28px;
    }

    &_inline {
        display: inline-block;
    }
}

.subject-panel-container {
    max-width: 1450px;
    padding: 1rem 1.5625rem;
}

.ddp-admin-action-panel {
    background-color: mat.get-color-from-palette($app-theme, 300);
}

.admin-action-panel-container {
    max-width: 1450px;
    padding: 1rem 1.5625rem;
}
