.rarex-activity-page {
  display: flex;

  padding: 2rem 4rem;

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }

  &__progress-container {
    width: 20rem;

    margin-right: 4rem;
  }

  &__activity-container {
    flex: 1;
  }
}

.active {
  font-weight: bold;
}
