<footer class="footer">
    <div class="footer__inner">
        <div class="contacts">
            <p class="contacts__title" translate>Footer.Contacts.Title</p>
            <div class="contacts__links">
                <a class="contact-link" [href]="emailHref" target="_blank">{{
                    email
                }}</a>
                <a class="contact-link" [href]="phoneHref" target="_blank">{{
                    phone
                }}</a>
            </div>
        </div>
        <div class="address">
            <p
                class="address__text"
                [innerHTML]="'Footer.Contacts.Address' | translate"
            ></p>
        </div>

        <div class="cmi-info">
            <p class="back-to-top" (click)="scrollToTop()" [innerHTML]="'EndEnroll.back-to-top' | translate"></p>
            <a class="cmi-info-logo" [href]="countMeInUrl" target="_blank">
                <img
                width="117"
                height="52"
                    lazy-resource
                    src="assets/images/logo-count-me-in.svg"
                    [alt]="'Common.Alts.CMI' | translate"
                />
            </a>
        </div>
    </div>
</footer>
