@import '../../../app-theme.scss';

.footer {
    background-color: mat-color($app-theme, 900);
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 3.25rem 1.5625rem 4rem 1.5625rem;
    display: flex;
    flex-direction: row;
}

.footer-column {
    width: 50%;
}

.mobile-contacts {
    display: none;
}

.navigation {
    padding: 0 3.25rem 3.25rem 0;
    border-bottom: 1px solid mat-color($app-theme, 700);
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.list__item {
    margin-right: 2rem;
}

.footer-link {
    font-size: 1.25rem;
    line-height: 1.5625rem;
    white-space: nowrap;
}

.footer-link:link,
.footer-link:visited {
    color: mat-color($app-theme, 200);
}

.footer-link:hover {
    color: mat-color($app-theme, 650);
    text-decoration: underline;
}

.footer-link:active {
    color: mat-color($app-theme, 200);
    text-decoration: underline;
}

.footer-link_active {
    text-decoration: underline;
}

.logo {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 945px) {
    .mobile-contacts {
        display: unset;
    }

    .desktop-contacts {
        display: none;
    }

    .footer-column {
        width: 100%;
    }
}