<h1>
  Statistics Dashboard
</h1>

<div class="dashboard">

  <app-date-range [disabled]="loading" [initDates]="dateRange" (dateChanged)="dateChanged($event)" ></app-date-range>

  <div class="dashboard-chartsAndCounts">

    <mat-tab-group mat-stretch-tabs  (selectedTabChange)="getStatisticsFor($event)" mat-align-tabs="center" >

      <mat-tab [disabled]="loading" aria-label="charts">
        <ng-template mat-tab-label >
          <mat-icon>bar_chart</mat-icon>
          Charts
        </ng-template>
        <ng-container *ngIf="!loading; else loadingSpinner" >
          <ng-container *ngIf="errorHas.charts">
            <ng-container *ngTemplateOutlet="errorMessage; context: {chartsOrCounts: 'charts\''}"></ng-container>
          </ng-container>
          <app-plotly-charts [chartData]="charts"></app-plotly-charts>
        </ng-container>
      </mat-tab>

      <mat-tab [disabled]="loading" aria-label="counts">
        <ng-template mat-tab-label>
          <mat-icon>score</mat-icon>
          Counts
        </ng-template>
        <ng-container *ngIf="!loading; else loadingSpinner">
          <ng-container *ngIf="errorHas.counts">
            <ng-container *ngTemplateOutlet="errorMessage; context: {chartsOrCounts: 'counts\''}"></ng-container>
          </ng-container>
          <app-counts-table [counts]="counts"></app-counts-table>
        </ng-container>
      </mat-tab>
    </mat-tab-group>

    <ng-template  #loadingSpinner>
      <div class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

    <ng-template #errorMessage let-chartsOrCounts="chartsOrCounts">
      <div class="errorContent">
        <p class="errorContent-message">Error occurred while fetching {{chartsOrCounts}} data</p>
        <button
          class="errorContent-button"
          matTooltip="Retry again in the selected dates range"
          mat-flat-button color="warn"
          (click)="retry()">Try Again</button>
      </div>
    </ng-template>

  </div>

</div>
