<h1>
  Statistics Dashboard
</h1>
<div class="dashboard">
  <ng-container  *ngTemplateOutlet="charts, context: {
    charts: Charts | async
  }">
  </ng-container>
</div>

<div class="spinner" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<ng-template let-Charts="charts" #charts>

  <ng-container *ngIf="Charts?.length < 1 && !loading; else chartsDisplay">
    <p class="dashboard-noCharts">There are not available charts for this study</p>
  </ng-container>

  <ng-template #chartsDisplay>
    <section *ngFor="let chart of Charts" class="dashboard-chart" [ngClass]="chart.size">
      <plotly-plot
        [data]="chart.data"
        [layout]="chart.layout"
        [config]="getConfiguration"
      ></plotly-plot>
    </section>
  </ng-template>

</ng-template>
