<app-header></app-header>
<section class="about-us">
  <h1>About this initiative</h1>
  <div>
    <p>
      <b>Ataxia-telangiectasia (A-T)</b> is an inherited, neurodegenerative disease. A child with A-T begins to suffer
      from
      progressive loss of muscle control around the age of two years. By the age of nine or ten, children with A-T
      usually become dependent on wheelchairs and their speech becomes slurred. Reading and swallowing also become
      difficult. About 30 percent of A-T children develop cancer, and most of them have some degree of immune system
      problems. Although progress has been made in extending the lives of people with A-T through managing their
      symptoms, the disease remains relentless.
    </p>
    <hr>
  </div>
  <div>
    <h2>A-T affects everyone in a different way</h2>
    <p>
      Our platform’s mission is to enable researchers to access important patient data from around the world quickly,
      securely and efficiently, hopefully leading to new discoveries. To ensure that our mission and activities are
      always aligned with what is best for people with A-T around the world, we have established an international Family
      Oversight Board. Currently, the following family members of A-T patients (listed in alphabetical order) have
      kindly agreed to serve on this board:
    </p>
    <p>
      We recently identified several people who have typical, disease-causing mutations in their A-T genes, and make no
      A-T protein (just as other people with A-T), and yet their A-T symptoms are astonishingly mild. We are now
      optimistic that we might be able to find changes in other genes that correct or compensate for the A-T mutations
      in these 'super-mild' patients. If so, researchers could possibly find new drug treatments to help all people with
      A-T. But first, we need to gather the clinical and genetic data from as many people with A-T as possible.
    </p>
    <p>
      Similarly, by comparing the medical histories and lifestyles of different A-T patients, researchers may learn
      which symptom management strategies produce better health outcomes. But first, we need to obtain and combine data
      from many A-T patients in one place.
    </p>
    <hr>
  </div>
  <div>
    <h2>The Global A-T Family Data Platform</h2>
    <p>
      The Global A-T Family Data Platform is a patient-driven effort overseen by A-T families and experts worldwide
      through which health information, genetic and potentially other types of data about people with A-T can be shared
      with researchers. This platform will enable researchers to access important patient data from around the world
      quickly, securely and efficiently, hopefully leading to new discoveries.
    </p>
    <p>Here’s how the platform works:</p>
    <ul>
      <li>
        <h2 class="Subtitle Subtitle--smallerMargin Subtitle--smallerSize">Enroll in the Data Platform</h2>
        <p>Click on "Join Us" and create an account with your name and email address. Once you have created your account, you will be able to register yourself (if you have A-T) or your child(ren) with A-T as Participants in our Data Platform by completing a brief form.</p>
      </li><br>
      <li>
        <h2 class="Subtitle Subtitle--smallerMargin Subtitle--smallerSize">Give us permission</h2>
        <p>During the enrollment process, we will ask you to complete a consent form giving permission to share the data you provide us with researchers in a de-identified manner. If you choose, you may also give us permission to:</p><ul class="List"><li>share a saliva sample that each person with A-T can send us for genome sequencing</li><li>obtain the A-T patient’s medical records from their physicians and share them with researchers</li><li>share medical records you have uploaded yourself with researchers</li><li>contact you in the future about follow-up research studies</li></ul>
      </li><br>
      <li>
        <h2 class="Subtitle Subtitle--smallerMargin Subtitle--smallerSize">Tell us about yourself or your child</h2>
        <p>To join this initiative, you will need to answer some questions about the person with A-T’s health, the doctors they have seen, and their medical and family history. Periodically, we will invite you to complete additional (optional) questionnaires about the person with A-T’s medical condition (surveys created by researchers who will study your data to improve their understanding A-T).</p>
      </li><br>
      <li>
        <h2 class="Subtitle Subtitle--smallerMargin Subtitle--smallerSize">Send us a saliva kit</h2>
        <p>If you choose to participate in the genome sequencing study, you will send a saliva sample to us in a pre-stamped package that we will provide.</p>
      </li><br>
      <li>
        <h2 class="Subtitle Subtitle--smallerMargin Subtitle--smallerSize">We will analyze the DNA and health information</h2>
        <p>We will analyze the DNA in the cells obtained from the saliva sample. No additional procedures will be required. We will link the results of the genetic analysis on your saliva and the medical information you provide in our online questionnaires.</p>
      </li><br>
      <li>
        <h2 class="Subtitle Subtitle--smallerMargin Subtitle--smallerSize">We will share the data with researchers</h2>
        <p>Once potentially identifying information has been removed, the database of health information and genomic data will be made available to researchers around the world through a secure, access-controlled data repository. Your data will only be accessed by qualified investigators who have been granted permission by a data access committee comprised of A-T family members as well as scientific and medical advisors.  We will keep track of every study that has used your information.</p>
      </li><br>
      <li>
        <h2 class="Subtitle Subtitle--smallerMargin Subtitle--smallerSize">Your continuous feedback can accelerate research</h2>
        <p>Periodically, we will invite you to answer questionnaires developed by researchers who are studying the data to understand A-T better. Using this platform, we will have an unprecedented opportunity to quickly obtain answers to important follow-up research questions directly from families. Our ability to follow up with participants can significantly impact research and shorten the path toward making new discoveries.</p>
      </li><br>
      <li>
        <h2 class="Subtitle Subtitle--smallerMargin Subtitle--smallerSize">Learn with us along the way</h2>
        <p>This unique combination of health and genetic information may hold the key for developing therapies, which would not be possible without your help. We will be sure to provide you with updates about the status of our efforts and tell you about the latest discoveries made possible by your participation.</p>
      </li>
    </ul>
  </div>
</section>
<app-footer></app-footer>
