<app-header></app-header>
<section class="about-us">
  <h1 translate>AboutInitiative.Title</h1>
  <div>
    <p translate>
      <b translate>AboutInitiative.FirstParagraph.Title</b> AboutInitiative.FirstParagraph.Text
    </p>
    <hr>
  </div>
  <div>
    <h2 translate>AboutInitiative.SecondParagraph.Title</h2>
    <p translate>
      AboutInitiative.SecondParagraph.TextOne
    </p>
    <p translate>
      AboutInitiative.SecondParagraph.TextSecond
    </p>
    <p translate>
      AboutInitiative.SecondParagraph.TextThird
    </p>
    <hr>
  </div>
  <div>
    <h2 translate>AboutInitiative.ThirdParagraph.Title</h2>
    <p translate>
      AboutInitiative.ThirdParagraph.Text
    </p>
    <p translate>AboutInitiative.ThirdParagraph.SubTitle</p>
    <ul>
      <li *ngFor="let step of steps; let isLast = last;">
        <h2 translate>{{ step.Name }}</h2>
        <p translate>{{ step.Text }}</p>
        <ul class="List" *ngIf="step.Steps">
          <li *ngFor="let step of step.Steps" translate>{{ step }}</li>
        </ul>
        <br *ngIf="!isLast">
      </li>
    </ul>
  </div>
</section>
<app-footer></app-footer>
