.registration-block {
    margin: 3rem auto 8rem auto;
}

.invitation-form {
    display: flex;
    flex-direction: column;

    &__title {
        color: #454545;
    }

    &__input {
        width: 20rem;
    }

    &__question {
        margin: 0;
        font-size: 1.375rem;
        line-height: 2.0625rem;
        color: #454545;
    }

    &__info {
        height: 24px;
        width: 24px;
        margin-left: 5px;
        cursor: pointer;
    }

    &__container {
        margin: 0 0 0.5rem 0;
        display: flex;
        align-items: center;
    }

    &__button {
        margin: 2rem 0 0 0;
    }
}

.ErrorMessage {
    margin: 1rem 0;
    color: #ee4416;
    font-size: 1.375rem;
    line-height: 2.0625rem;
}