.registration-block {
    margin: 3rem auto 8rem auto;
}

.invitation-form {
    display: flex;
    flex-direction: column;

    &__title {
        color: #454545;
    }

    &__input {
        width: 20rem;
    }

    &__question {
        margin: 0.5rem 0 0 0;
        font-size: 1.375rem;
        line-height: 2.0625rem;
        color: #454545;
    }

    &__info {
        margin: 0.5rem 0 0 0;
        height: 24px;
        width: 24px;
        margin-left: 5px;
        cursor: pointer;
    }

    &__container {
        margin: 0 0 0.5rem 0;
        display: flex;
        align-items: center;
    }

    &__captcha,
    &__submit {
        margin: 2rem 0 0 0;
    }
}

.age {
    margin: 0.5rem 0 0 0;

    &__item {
        margin-right: 1.5rem;
    }

    &__error {
        margin-top: 0.3125rem;

        .Link {
            color: #ad0000 !important;
        }
    }
}

.error {
    color: #ad0000;
    font-size: 1rem;
    margin: 1rem 0 0 0;

    &_input {
        margin: 0;
        position: relative;
        top: -1.5rem;
    }
}

@media only screen and (max-width: 480px) {
    .registration-block {
        margin: 0 auto 3rem auto;
    }

    .age {
        display: flex;
        flex-direction: column;

        &__item {
            margin-bottom: 1rem;
        }
    }

    .error {
        font-size: 1.1rem;
    }

    .invitation-form {
        &__captcha {
            transform: scale(0.95);
            transform-origin: 0;
        }
    }
}