@import '../../../styles/variables';

@mixin highlight {
  color: #fff;

  transition: color 0.3s ease-in-out;

  @media only screen and (max-width: 920px) {
    color: $color-blue-dark;
  }

  &:hover {
    color: $color-teal;

    @media only screen and (max-width: 920px) {
      color: $color-blue-dark;
    }
  }
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.app-header {
  display: flex;
  align-items: center;

  padding: 20px 60px;

  position: relative;

  background-color: transparent;

  @media only screen and (max-width: 1240px) {
    padding: 20px 40px;
  }

  @media only screen and (max-width: 1024px) {
    padding: 20px 35px;
  }

  @media only screen and (max-width: 920px) {
    align-items: flex-start;
    flex-direction: column;

    padding: 15px;
  }

  &--white {
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);

    ddp-sign-in-out {
      color: $color-blue-dark;
    }
  }

  &__logo {
    width: 117px;
    height: 50px;

    margin-right: auto;

    background-image: url('/assets/images/rare-genome-project-logo-inverted.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media only screen and (max-width: 1024px) {
      width: 90px;

      background-size: contain;
    }

    &--white {
      background-image: url('/assets/images/rare-genome-project-logo-primary.svg');
    }
  }

  &__toggle {
    display: none;

    padding: 9px 10px;

    position: absolute;
    top: 50%;
    right: 15px;

    background-color: transparent;
    border: none;
    transform: translateY(-50%);

    @media only screen and (max-width: 920px) {
      display: block;
    }

    .bar {
      width: 22px;
      height: 2px;

      background-color: white;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    &--white {
      .bar {
        background-color: $color-orange;
      }
    }
  }

  &__nav {
    @media only screen and (max-width: 920px) {
      display: none;

      width: 100%;

      padding: 24px 15px;

      position: absolute;
      top: 100%;
      left: 0;

      background-color: #fff;

      &--open {
        display: block;

        border-top: 1px solid #f1f1f1;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.nav-list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;

  @media only screen and (max-width: 920px) {
    flex-direction: column;
    align-items: flex-end;
  }

  &__item {
    position: relative;

    &:not(:last-of-type) {
      margin-right: 40px;

      @media only screen and (max-width: 1240px) {
        margin-right: 20px;
      }

      @media only screen and (max-width: 920px) {
        margin-right: 0;
        margin-bottom: 14px;

        text-align: right;
      }
    }
  }
}

.nav-control {
  position: relative;

  &__button {
    padding: 0;

    background-color: transparent;
    border: none;

    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 500;

    cursor: pointer;

    @include highlight();

    @media only screen and (max-width: 1240px) {
      font-size: 1rem;
    }

    @media only screen and (max-width: 1024px) {
      font-size: 0.9rem;
    }

    @media only screen and (max-width: 920px) {
      font-size: 1rem;
    }

    &--white {
      color: $color-blue-dark;
    }
  }

  &__dropdown {
    min-width: 160px;

    padding: 5px 0;

    position: absolute;
    top: 100%;
    z-index: 1000;

    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: white;

    @media only screen and (max-width: 920px) {
      min-width: unset;

      padding: 0;
      padding-top: 8px;

      position: static;
      border: none;
      box-shadow: none;
    }
  }

  &__link {
    display: block;

    padding: 10px 20px;

    white-space: nowrap;
    font-family: inherit;
    font-size: 0.95rem;
    color: #000;

    cursor: pointer;

    @media only screen and (max-width: 920px) {
      padding: 3px 13px 3px 0;

      font-weight: 300;
      font-size: 1rem;
      color: $color-blue-light;
    }

    &:hover {
      background-color: $color-grey-light;
      color: #000;

      @media only screen and (max-width: 920px) {
        background-color: transparent;
        color: $color-blue-dark;
      }
    }
  }
}

.get-started-auth {
  position: absolute;
  right: 0;
  bottom: -18px;
}

ddp-sign-in-out {
  @include highlight();
  font-size: 15px;
  color: white;
}

.pm {
  @media only screen and (max-width: 920px) {
    padding-right: 13px;
  }
}

.only-desktop {
  @media only screen and (max-width: 920px) {
    display: none;
  }
}

.only-mobile {
  display: none;

  @media only screen and (max-width: 920px) {
    display: block;
  }
}

.get-started-link {
  @media only screen and (max-width: 920px) {
    color: $color-orange;

    &:hover {
      color: $color-orange;
    }
  }

  &--orange {
    color: $color-orange;

    &:hover {
      color: $color-teal;
    }
  }
}

.sign-in-out {
  margin-top: 14px;

  font-weight: 500;
  text-align: right;
}
