<div class="header-container">
  <header
    class="app-header"
    [class.app-header--white]="isHeaderWhite"
    (click)="$event.stopPropagation()"
  >
    <a
      class="app-header__logo"
      [class.app-header__logo--white]="isHeaderWhite"
      [routerLink]="Routes.Home"
    ></a>

    <button
      class="app-header__toggle"
      [class.app-header__toggle--white]="isHeaderWhite"
      (click)="onToggleClick($event)"
    >
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>

    <nav
      class="app-header__nav"
      [class.app-header__nav--open]="isMobileNavShown"
    >
      <ul class="nav-list">

        <li class="nav-list__item">
          <div class="nav-control">
            <ddp-language-selector
              [class.nav-control__button--white]="isHeaderWhite"
              (click)="onDropdownClick('languageList')"
            ></ddp-language-selector>
          </div>


        <li *ngIf="isAuthenticated" class="nav-list__item">
          <div class="nav-control">
            <a
              class="nav-control__button pm get-started-link"
              [class.nav-control__button--white]="isHeaderWhite"
              [routerLink]="Routes.Dashboard"
            >
              {{ 'Header.Dashboard' | translate }}
            </a>
          </div>
        </li>

        <li class="nav-list__item">
            <div class="nav-control">
                <div
                class="get-started-auth only-desktop"
                [class.get-started-auth--white]="isHeaderWhite">
            </div>
            <ddp-sign-in-out></ddp-sign-in-out>
          </div>
        </li>
      </ul>
    </nav>
  </header>
</div>
