@import '../../../styles/variables';
@import '../../../styles/colors';

.section--spinner {
  display: flex;
  justify-content: center;

  margin-top: 4em;
}

.section--buttons {
  display: flex;
  align-items: center;

    @media (max-width: 500px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .button + .button:not(.pull-right) {
            margin-left: 0;
            margin-bottom: 5px;
        }

        .pull-right {
            margin: 0;
        }

        button:not(:last-of-type) {
            margin-bottom: 5px;
        }
    }

  margin: 1.5rem 0;
}

.sticky-section {
  z-index: 10;
  position: fixed;
  top: 7.4rem;
  left: 0;
  background-color: $__purple;
  color: $__white;
  transition: all 200ms linear;
  width: calc(100% - 17px);

  @media (max-width: 1280px) {
    top: 6.3rem;
  }
    @media (max-width: 500px) {
        top: 8.7%!important;
        width: 100%;
    }
}

.sticky-section_shadow {
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.2);
}

.sticky-block {
  margin: 0.8rem 0;

  .sticky__text {
      font-size: 1.0625rem;
      line-height: 1.375rem;
      color: white;
  }

  ::ng-deep .Link {
      color: white !important;
      border-bottom-color: white;
  }
}


.activity-header {
  text-align: center;
}

::ng-deep.activity-question-address-title {
    color: #000000;
    font-family: Spartan-Bold, sans-serif;
    font-size: 18px!important;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 5px!important;
}

.pull-right {
  margin-left: auto;
}

.button + .button:not(.pull-right) {
  margin-left: 44px;
}

.activity-action {
  padding: 11px 22px;
  min-width: 193px;
}

.submit-btn {
    height: 53px!important;
    width: 200px!important;
    padding: 0!important;
}

.section--global-error,
.section--communication-error {
  margin: 1rem 0;
}

.consent-separator {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.consent-document-layout {
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 1px 10px 1px rgb(0 0 0 / 20%);
  padding: 40px 50px;
  position: relative;
  overflow-wrap: break-word;
}

.sticky-hint-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
