@import 'styles/variables';
@import 'styles/fonts';

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 16px;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $primary-font, sans-serif;
    color: #000000;
    overflow-y: scroll;
}

@media only screen and (max-width: $desktop-breakpoint) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: $tablet-breakpoint) {
    html {
        font-size: 12px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;

    &:focus, &:hover {
        text-decoration: underline;
    }
}

.SimpleButton {
    cursor: pointer;
}

.wrapper {
    height: 100vh;
    margin-bottom: $footer-height;
    padding-bottom: $footer-height;
    padding-top: $header-height;
    box-sizing: border-box;
}

.italic {
    font-style: italic;
}

.Link {
    color: #7154ff;
}

// TODO: borders below for debug reason. Remove when header and footer are ready
header {
    border-bottom: 1px solid black;
}
footer {
    border-top: 1px solid black;
}
