@import '../../../../styles/variables.scss';

.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;

    .text {
        text-align: left;
        margin: 0 2.5rem 0 0;
        flex: 2 1 auto;
        max-width: unset;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 1 150px;
    }

    &__link {
        flex: 0 1 50px;
        text-align: center;
    }
}

.title {
    margin: 0;
    padding-bottom: 1.13rem;
    text-align: left;
}

.btn {
    font-size: 1.13rem;
    padding: 1rem 2rem;
    line-height: 22px;
}

@media screen and (max-width: $tablet-breakpoint) {
    .social-media {
        flex-direction: column;
        gap: 3rem;
        align-items: start;

        &__links {
            flex-basis: 50px;
            gap: 3rem;
        }
    }
}
