<div class="container">
    <div class="social-media__links">
        <a class="social-media__link"
           [href]="twitterUrl"
           target="_blank"
           (click)="sendSocialMediaAnalytics('twitter')">
            <img class="social-media__logo" lazy-resource src="assets/images/twitter.svg"
                 [alt]="'Common.Alts.Twitter' | translate">
        </a>
        <a class="social-media__link"
           [href]="facebookUrl"
           target="_blank"
           (click)="sendSocialMediaAnalytics('facebook')">
            <img class="social-media__logo" lazy-resource src="assets/images/facebook.svg"
                 [alt]="'Common.Alts.Facebook' | translate">
        </a>
        <a class="social-media__link"
           [href]="instagramUrl"
           target="_blank"
           (click)="sendSocialMediaAnalytics('instagram')">
            <img class="social-media__logo" lazy-resource src="assets/images/instagram.png"
                 [alt]="'Common.Alts.Instagram' | translate">
        </a>
    </div>
    <h2 class="title static-page-title" translate>App.HomePage.StayInformedSection.Title</h2>
    <div class="text static-page-paragraph-text" translate>App.HomePage.StayInformedSection.Text</div>
    <button mat-flat-button
            class="btn join-btn small-letter-spacing button button_small"
            (click)="openJoinMailingList()">
        {{'App.HomePage.StayInformedSection.JoinMailingListButton' | translate}}
    </button>
</div>
