<footer class="footer">
    <div class="actions">
        <div class="actions__wrapper">
            <button mat-button
                    class="footer-btn button button_small"
                    data-test-id="scroll-to-top"
                    (click)="goToTop()">
                <mat-icon>arrow_drop_up</mat-icon>
                {{'App.Footer.BackToTopButton' | translate}}
            </button>
            <app-navigation></app-navigation>
            <a mat-button
               target="_blank"
               href="privacy_policy.pdf"
               class="footer-btn button button_small">
                {{'App.Footer.PrivacyPolicy' | translate}}
            </a>
        </div>
        <div class="auth">
            <ddp-language-selector></ddp-language-selector>
            <app-auth></app-auth>
        </div>
    </div>
    <div class="info">
        <span translate>App.Footer.Copyright</span>
        <div class="contacts">
            <span translate class="contacts__label">App.Footer.Contacts</span>
            <a target="_blank" class="contacts__item" href="tel:{{phone}}}">{{phone}}</a>
            <a target="_blank" class="contacts__item" href="mailto:{{email}}">{{email}}</a>
        </div>
    </div>
</footer>
