@import '../../../../styles/variables.scss';
@import '../../../../styles/common.scss';

.main > * {
    width: 100%;
}

section {
    box-sizing: border-box;
    text-align: center;

    &:nth-of-type(even) {
        background-color: $section-grey-background-color;
    }

    &.introduction {
        max-width: 1440px;
        padding: 5.125rem 7rem 1.5rem;

        .flex{
            display: flex;
            gap: 5rem;
        }

        .description {
            flex: 0 1 41rem;
            text-align: left;

            .title, .join-cmi-btn  {
                margin: 0;
            }
        }

        .image {
            flex: 1 1 32rem;
        }

        .logos {
            padding: 1rem;

            img:first-child {
                margin-right: 5rem;
            }
        }
    }

    &.learn-more {
        padding-top: 4.56rem;
        padding-bottom: 3.875rem;

        .title, .text {
            max-width: 962px;
            margin: 0 auto;
        }
        .text {
            text-align: left;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }
    }

    &.participate {
        padding-top: 5.18rem;
        padding-bottom: 3.75rem;
        text-align: left;

        ::ng-deep .container:last-child {
            text-align: center;
        }
    }

    &.faq {
        padding-top: 6.875rem;
        padding-bottom: 2.875rem;

        .container {
            margin: 4rem auto 3.125rem;
            max-width: 1007px;
        }
    }
}

.btn {
    font-size: 1.13rem;
    padding: 1rem 2rem;
    line-height: 22px;
}

.join-cmi-btn {
    font-size: 1.25rem;
    margin: 1.56rem 0 7.5rem;
}
