@import "../core";

@mixin setStyles($type) {
  @if $type == "primary" {
    @include Primary;
  };
  @if $type == "secondary" {
    @include Secondary;
  };
}

@mixin Primary {
  @include flexContainer(normal, normal, column);
  @content;

  mat-label {
    color: $__Charcoal;
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: getFontSize('md');
    margin-bottom: 7px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
  }

  /* COLORS settings */
  // setting default outline color
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $__Mulled_wine_transparent;
  }
  // setting filled outline color
  ::ng-deep .mat-form-field-appearance-outline.ng-valid.ng-dirty .mat-form-field-outline {
    color: $__Slate_grey;
  }
  // setting focused outline color
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $__Slate_grey;
  }
  // setting hovered outline color
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: $__Slate_grey;
  }
  // setting errored outline color
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: $__Valentine_red2;
  }

  // adjusting input field size
  ::ng-deep .mat-form-field {
    font-size: getFontSize('md');
    font-family: Montserrat-Regular-Italic, sans-serif;
    color: $__Charcoal;

    &-appearance-outlinec &-invalid &-invalid &-outline-thick {
      color: blue!important;
    }

    // adjusting items inside input field
    &-flex {
      padding: 0 0 0 .75em;
    }

    // adjusting input field shapes
    &-infix {
      border-top: 0.6rem !important;
    }
    &-suffix {
      top: 0.4em;
    }

    &-outline-start {
      border-radius: 3px 0 0 3px !important;
      border-width: 1px !important;
    }

    &-outline-end {
      border-radius: 0 3px 3px 0 !important;
      border-width: 1px !important;
    }

    // error message
    &-subscript-wrapper {
      padding: 0 !important;
      margin-top: 3px;
    }

    mat-error {
      color: $__Valentine_red !important;
      font-family: Montserrat-Medium, sans-serif;
    }

  }
}

@mixin Secondary {
}
