@import '~@angular/material/theming';
@include mat-core();

$md-primary: (
    50: transparent,
    100: #FFFFFF,
    200: #1D1B25,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000
    )
);

$app-theme: mat-palette($md-primary);
