@import '~@angular/material/theming';
@include mat-core();

$md-primary: (
    50: transparent,
    100: #FFFFFF,
    200: #1D1B25,
    250: #7154FF,
    300: #3E24BE,
    350: #C5BDEC,
    400: #BBBBBE,
    450: #6D6983,
    500: #F6F7FA,
    550: #00D49E,
    600: #A3A2A5,
    650: #7FE9CE,
    700: #444444,
    800: #E1E4EB,
    900: #EBEBEB,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        250: #000000,
        300: #000000,
        350: #000000,
        400: #000000,
        450: #000000,
        500: #000000,
        550: #000000,
        600: #000000,
        650: #000000,
        700: #000000,
        800: #000000,
        900: #000000
    )
);

$app-theme: mat-palette($md-primary);
