@import "../../styles/_variables.scss";

.participants {
  max-width: 1200px;

  padding: 1.2rem 3.6rem;

  .spinner-container {
    display: flex;
    justify-content: center;

    padding: 2rem 0;
  }

  .ButtonFilled--green {
    margin-left: 0;
  }
}

.participants-table {
  width: 100%;
  margin-bottom: 25px;

  .table-header,
  .table-row {
    font-style: italic;
    font-size: 15px;
    color: $neutral-gray;
    padding: 5px;
  }

  .table-row .disabled {
    color: $light-neutral-grey;
    font-size: 16px;
  }

  .table-header {
    border-bottom: 2px solid $grey;
  }

  .table-row {
    border-bottom: 1px solid $grey;
  }

  .table-header:first-child,
  .table-row:first-child {
    width: 25%;
  }

  .table-row:first-child {
    font-style: normal;
    font-weight: 700;
  }

  .BtnFilled {
    display: block;
    width: 100%;
    margin: 0 0 5px 0;
  }

  .BtnFilled:last-of-type {
    margin: 0;
  }
}

.participant-list {
  padding: 0;

  list-style: none;
  border-top: 2px solid rgba(0, 0, 0, 0.1);

  &__item {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);

    &--placeholder {
      padding: 0.8rem 1.2rem;

      font-weight: bold;
      font-style: italic;
      opacity: 0.6;
    }
  }
}
