@import '../../../app-theme.scss';

.map-section {
    background-color: mat-color($app-theme, 1000);
}

.map-block {
    padding: 0;
}

.introduction {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    position: absolute;
    width: 100%;
    max-width: 1045px;
    padding: 0 1.5625rem;
    box-sizing: border-box;

    &__title,
    &__text {
        width: 54%;
    }

    &__title {
        font-size: 1.75rem;
        line-height: 2.375rem;
    }

    &__text {
        font-size: 1.125rem;
        line-height: 2rem;
    }
}

.image {
    width: 100%;
    height: 100%;
    min-height: 16rem;
}

.snapshots-block {
    margin: 4rem auto;
}

.diagrams {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.diagram {
    max-width: 430px;

    &__image {
        max-width: 100%;
        height: auto;
        border: 2px solid mat-color($app-theme, 900);
        border-radius: 7px;
    }

    &__link {
        margin-bottom: 0;
    }

    &__data {
        margin-top: 0;
        color: mat-color($app-theme, 450);
    }
}

.mailing-list-section {
    background-color: mat-color($app-theme, 800);
}

.mailing-list-block {
    margin: 3.5rem auto;
}

.mailing-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0;
    }

    &__button {
        &:hover {
            color: mat-color($app-theme, 800);
        }
    }
}

.data-release-section {
    background-color: mat-color($app-theme, 500);
}

.data-release-block {
    margin: 6rem auto;
}

@media screen and (max-width: 974px) {
    .introduction {
        flex-direction: column;
    }

    .info {
        position: inherit;
        padding: 0 5rem;

        &__title,
        &__text {
            margin: 0;
            width: 100%;
            box-sizing: border-box;
        }

        &__title {
            margin: 3rem 0 1rem 0;
        }

        &__text {
            margin: 1rem 0 3rem 0;
        }
    }

    .image {
        min-height: unset;
    }

    .diagrams {
        flex-direction: column;
        align-items: center;
    }

    .diagram {
        width: 100%;

        &:first-child {
            margin-bottom: 2rem;
        }

        &_data-release {
            margin-top: 1rem;
        }
    }

    .mailing-list {
        flex-direction: column;

        &__text {
            margin-bottom: 2rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .info {
        padding: 0 1.5625rem;
    }
}

@media only screen and (max-width: 480px) {
    .info {
        padding: 0 1rem;
    }
}