@import '../../../styles/variables.scss';

.navigation {
    list-style: none;
    display: flex;
}

.navigation__item {
    margin-right: 2rem;
    display: flex;
}

.navigation__link {
    letter-spacing: -0.015rem;
    color: inherit;
    font-size: 1.25rem;
}
