<div class="privacy-policy container">
  <div class="text-center">
    <h1
      class="title"
      [innerHTML]="'Pages.PrivacyPolicy.Title1' | translate"
    ></h1>
  </div>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.Paragraph1' | translate }}
  </p>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.Paragraph2' | translate }}
  </p>

  <p class="paragraph italic">
    {{ 'Pages.PrivacyPolicy.Paragraph3' | translate }}
  </p>

  <!-- How We Use and Share Your Information -->

  <h2 class="subtitle">
    {{ 'Pages.PrivacyPolicy.InformationUsage.Title' | translate }}
  </h2>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.InformationUsage.Paragraph1' | translate }}
  </p>

  <!-- Patients and Caregivers -->

  <h2 class="subtitle">
    {{ 'Pages.PrivacyPolicy.PatientsAndCaregivers.Title' | translate }}
  </h2>

  <h3 class="subtitle">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.PreRegistration.Title'
        | translate
    }}
  </h3>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.PreRegistration.Paragraph1'
        | translate
    }}
  </p>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.PreRegistration.Paragraph2'
        | translate
    }}
  </p>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.PreRegistration.Paragraph3'
        | translate
    }}
  </p>

  <h3 class="subtitle">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.Registration.Title' | translate
    }}
  </h3>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.Registration.Paragraph1'
        | translate
    }}
  </p>

  <h3 class="subtitle">
    {{ 'Pages.PrivacyPolicy.PatientsAndCaregivers.Other.Title' | translate }}
  </h3>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.Other.Paragraph1' | translate
    }}
  </p>

  <h3 class="subtitle">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationUsage.Title'
        | translate
    }}
  </h3>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationUsage.Paragraph1'
        | translate
    }}
  </p>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationUsage.Paragraph2'
        | translate
    }}
  </p>

  <ul class="list">
    <li
      *ngFor="
        let item of 'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationUsage.List'
          | translate
      "
    >
      {{ item }}
    </li>
  </ul>

  <h3 class="subtitle">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Title'
        | translate
    }}
  </h3>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Paragraph1'
        | translate
    }}
  </p>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Paragraph2'
        | translate
    }}
  </p>

  <h4 class="subtitle">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Research.Title'
        | translate
    }}
  </h4>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Research.Paragraph1'
        | translate
    }}
  </p>

  <h4 class="subtitle">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Organizations.Title'
        | translate
    }}
  </h4>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Organizations.Paragraph1'
        | translate
    }}
  </p>

  <ul class="list">
    <li
      *ngFor="
        let item of 'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Organizations.List'
          | translate
      "
    >
      {{ item }}
    </li>
  </ul>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Organizations.Paragraph2'
        | translate
    }}
  </p>

  <h4 class="subtitle">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Providers.Title'
        | translate
    }}
  </h4>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Providers.Paragraph1'
        | translate
    }}
  </p>

  <h4 class="subtitle">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Legal.Title'
        | translate
    }}
  </h4>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Legal.Paragraph1'
        | translate
    }}
  </p>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.InformationShare.Legal.Paragraph2'
        | translate
    }}
  </p>

  <h3 class="subtitle">
    {{
      'Pages.PrivacyPolicy.PatientsAndCaregivers.RightsAndChoices.Title'
        | translate
    }}
  </h3>

  <p
    class="paragraph"
    [innerHTML]="
      'Pages.PrivacyPolicy.PatientsAndCaregivers.RightsAndChoices.Paragraph1'
        | translate
    "
  ></p>

  <p
    class="paragraph"
    [innerHTML]="
      'Pages.PrivacyPolicy.PatientsAndCaregivers.RightsAndChoices.Paragraph2'
        | translate
    "
  ></p>

  <p
    class="paragraph"
    [innerHTML]="
      'Pages.PrivacyPolicy.PatientsAndCaregivers.RightsAndChoices.Paragraph3'
        | translate
    "
  ></p>

  <p
    class="paragraph"
    [innerHTML]="
      'Pages.PrivacyPolicy.PatientsAndCaregivers.RightsAndChoices.Paragraph4'
        | translate
    "
  ></p>

  <p
    class="paragraph"
    [innerHTML]="
      'Pages.PrivacyPolicy.PatientsAndCaregivers.RightsAndChoices.Paragraph5'
        | translate
    "
  ></p>

  <p
    class="paragraph"
    [innerHTML]="
      'Pages.PrivacyPolicy.PatientsAndCaregivers.RightsAndChoices.Paragraph6'
        | translate
    "
  ></p>

  <p
    class="paragraph"
    [innerHTML]="
      'Pages.PrivacyPolicy.PatientsAndCaregivers.RightsAndChoices.Paragraph7'
        | translate
    "
  ></p>

  <!-- Researchers -->

  <h2 class="subtitle">
    {{ 'Pages.PrivacyPolicy.Researchers.Title' | translate }}
  </h2>

  <h3 class="subtitle">
    {{ 'Pages.PrivacyPolicy.Researchers.Registration.Title' | translate }}
  </h3>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.Researchers.Registration.Paragraph1' | translate }}
  </p>

  <h3 class="subtitle">
    {{ 'Pages.PrivacyPolicy.Researchers.InformationUsage.Title' | translate }}
  </h3>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.Researchers.InformationUsage.Paragraph1' | translate
    }}
  </p>

  <h3 class="subtitle">
    {{ 'Pages.PrivacyPolicy.Researchers.InformationShare.Title' | translate }}
  </h3>

  <h4 class="subtitle">
    {{
      'Pages.PrivacyPolicy.Researchers.InformationShare.Providers.Title'
        | translate
    }}
  </h4>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.Researchers.InformationShare.Providers.Paragraph1'
        | translate
    }}
  </p>

  <p
    class="paragraph"
    [innerHTML]="
      'Pages.PrivacyPolicy.Researchers.InformationShare.Providers.Paragraph2'
        | translate
    "
  ></p>

  <h4 class="subtitle">
    {{
      'Pages.PrivacyPolicy.Researchers.InformationShare.Partners.Title'
        | translate
    }}
  </h4>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.Researchers.InformationShare.Partners.Paragraph1'
        | translate
    }}
  </p>

  <h4 class="subtitle">
    {{
      'Pages.PrivacyPolicy.Researchers.InformationShare.Legal.Title' | translate
    }}
  </h4>

  <p class="paragraph">
    {{
      'Pages.PrivacyPolicy.Researchers.InformationShare.Legal.Paragraph1'
        | translate
    }}
  </p>

  <p
    class="paragraph"
    [innerHTML]="
      'Pages.PrivacyPolicy.Researchers.InformationShare.Legal.Paragraph2'
        | translate
    "
  ></p>

  <!-- Information Collection -->

  <h2 class="subtitle">
    {{ 'Pages.PrivacyPolicy.InformationCollection.Title' | translate }}
  </h2>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.InformationCollection.Paragraph1' | translate }}
  </p>

  <ul class="list">
    <li
      *ngFor="
        let item of 'Pages.PrivacyPolicy.InformationCollection.List1'
          | translate
      "
    >
      {{ item }}
    </li>
  </ul>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.InformationCollection.Paragraph2' | translate }}
  </p>

  <ul class="list">
    <li
      *ngFor="
        let item of 'Pages.PrivacyPolicy.InformationCollection.List2'
          | translate
      "
    >
      {{ item }}
    </li>
  </ul>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.InformationCollection.Paragraph3' | translate }}
  </p>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.InformationCollection.Paragraph4' | translate }}
  </p>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.InformationCollection.Paragraph5' | translate }}
  </p>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.InformationCollection.Paragraph6' | translate }}
  </p>

  <!-- Information Keep -->

  <h2 class="subtitle">
    {{ 'Pages.PrivacyPolicy.InformationKeep.Title' | translate }}
  </h2>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.InformationKeep.Paragraph1' | translate }}
  </p>

  <!-- Information Protection -->

  <h2 class="subtitle">
    {{ 'Pages.PrivacyPolicy.InformationProtection.Title' | translate }}
  </h2>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.InformationProtection.Paragraph1' | translate }}
  </p>

  <ul class="list">
    <li
      *ngFor="
        let item of 'Pages.PrivacyPolicy.InformationProtection.List'
          | translate
      "
    >
      {{ item }}
    </li>
  </ul>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.InformationProtection.Paragraph2' | translate }}
  </p>

  <!-- Other Countries -->

  <h2 class="subtitle">
    {{ 'Pages.PrivacyPolicy.OtherCountries.Title' | translate }}
  </h2>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.OtherCountries.Paragraph1' | translate }}
  </p>

  <!-- Updates -->

  <h2 class="subtitle">
    {{ 'Pages.PrivacyPolicy.Updates.Title' | translate }}
  </h2>

  <p class="paragraph">
    {{ 'Pages.PrivacyPolicy.Updates.Paragraph1' | translate }}
  </p>

  <p
    class="paragraph"
    [innerHTML]="'Pages.PrivacyPolicy.Updates.Paragraph2' | translate"
  ></p>

  <!-- Questions -->

  <h2 class="subtitle">
    {{ 'Pages.PrivacyPolicy.Questions.Title' | translate }}
  </h2>

  <p
    class="paragraph"
    [innerHTML]="'Pages.PrivacyPolicy.Questions.Paragraph1' | translate"
  ></p>
</div>
