@use '~@angular/material' as mat;
@import '../../../app-theme';

.main-footer {
  padding: 0.8rem 1.2rem;

  background-color: mat.get-color-from-palette($app-theme, 300);

  &__nav {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;

  list-style: none;

  @media only screen and (max-width: 480px) {
    flex-direction: column;
  }

  &__item {
    margin: 0;
  }

  &__link {
    font-size: 1rem;
    line-height: 1.375rem;
    color: #ffffff;

    &:hover,
    focus {
      opacity: 0.8;
    }
  }
}
