@import '../../../styles/fonts.scss';

.footer {
  font-family: Untitled-Sans, sans-serif;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #131314;

    $padding-left: 3.375rem;
    $padding-right: 2rem;

    .footer-nav {
      padding: 1.25rem $padding-right 1.25rem $padding-left;
    }

    .copy-right {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
      padding: 2.125rem $padding-right 2.75rem $padding-left;
      color: white;

      p {
        display: flex;
        gap: 1rem;
        font-size: 1rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 3rem;
        padding: 0;
        list-style: none;

        li {
          font-size: 1rem;

          a {
            color: white;
          }
        }
      }
    }

    hr {
      opacity: 0.3;
      margin: 0;
    }
  }
}
