@import "../../../styles/fonts.scss";

.footer {
  background: #f8f8f8;
  padding: 3rem 0;
  font-family: Untitled-Sans, sans-serif;;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 0 1.5625rem;
    max-width: 85%;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      text-align: center;
    }
  }

  .back-to-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin: 0;
    text-align: right;

    &::before {
      border-right: 0.4rem solid transparent;
      border-bottom: 0.4rem solid currentColor;
      border-left: 0.4rem solid transparent;
      content: "";
    }

    @media screen and (max-width: 768px) {
      justify-content: center;
      text-align: center;
    }
  }

  .cmi-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    
    @media screen and (max-width: 768px) {
      align-items: center;
    }
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      font-size: 1.375rem;
    }
  }

  &__address{
    margin: 0;
    text-align: center;
  }
}
