@import '../../../styles/fonts.scss';

.footer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  font-family: Untitled-Sans, sans-serif;

  .container {
    width: 90%;
    background-color: #131314;
    display: flex;
    justify-content: center;
    flex-direction: column;

    $padding-left: 3rem;
    $padding-right: 1rem;

    .mobile-nav {
      padding: 0 $padding-right 0 $padding-left;
    }

    .copy-right {
      color: white;
      justify-content: space-between;
      display: flex;
      padding: 2rem $padding-right 2rem $padding-left;

      p {
        font-size: 1rem;
      }

      ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;

        li {
          font-size: 1rem;
        }
      }
    }

    hr {
      width: 100%;
      margin: 0;
      opacity: 0.3;
    }
  }
}
