<div id="browseFiles" class="browse">
  <button (click)="browse()" class="browse-selectBtn">Select a PDF</button>
  <input type="file" accept=".pdf" #hiddenInput (change)="onFileSelection($event)" class="browse-hiddenInput">
  <div *ngIf="isLoading" class="browse-loading">
    <div class="browse-loading-container">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </div>
  </div>
  <span class="browse-selectedFileName">{{selectedFileName}}</span>
  <button (mouseleave)="retryOrNot(false)" (mouseover)="retryOrNot(true)"
          #uploadButton class="browse-uploadBtn" (click)="upload()" [disabled]="!isFileSelected || uploadStatus === 1"
          [ngClass]="
          uploadStatus === 1 ? 'uploadSuccess'
          : uploadStatus === 2 ? 'uploadFail'
          : uploadStatus === 4 ? 'uploadRetry'
          : ''"
  >{{uploadButtonText}}</button>
</div>
