@import 'variables';

.button {
  display: inline-block;

  padding: 12px 24px 14px;

  border: 2px solid transparent;
  border-radius: 4px;

  font: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;

  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  cursor: pointer;

  &:disabled {
    background: rgba(0, 0, 0, 0.12) !important;
    border-color: transparent !important;

    color: rgba(0, 0, 0, 0.26) !important;

    cursor: not-allowed;
  }

  &_small {
    font-size: 0.8rem;
  }

  &_medium {
    font-size: 1rem;
  }

  &_big {
    font-size: 1.25rem;
  }

  &_primary {
    background: map-get($colors, primaryColorDark);
    border-color: map-get($colors, primaryColorDark);

    color: #ffffff;

    &:not(:disabled) {
      &:hover {
        background: darken(map-get($colors, primaryColorDark), 7%);
        border-color: darken(map-get($colors, primaryColorDark), 7%);
      }
    }
  }

  &_secondary {
    background: transparent;
    border-color: map-get($colors, primaryColorDark);

    color: darken(map-get($colors, primaryColorDark), 7%);

    &:not(:disabled) {
      &:hover {
        background: darken(map-get($colors, primaryColorDark), 7%);
        border-color: darken(map-get($colors, primaryColorDark), 7%);

        color: #ffffff;
      }
    }
  }
}

.header .SimpleButton {
  display: inline-block;

  padding: 12px 24px 14px;

  background: transparent;
  border: 2px solid map-get($colors, primaryColorDark);
  border-radius: 4px;

  font: inherit;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: darken(map-get($colors, primaryColorDark), 7%);

  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  cursor: pointer;

  &:disabled {
    background: rgba(0, 0, 0, 0.12) !important;
    border-color: transparent !important;

    color: rgba(0, 0, 0, 0.26) !important;

    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover {
      background: darken(map-get($colors, primaryColorDark), 7%);
      border-color: darken(map-get($colors, primaryColorDark), 7%);

      color: #ffffff;
    }
  }
}
