.ml-auto {
  margin-left: auto !important;
}

// Toolkit & SDK
.content {
  margin: 0 auto;
  padding: 0 24px;

  &_tight {
    max-width: 960px;
  }
}

.password-section {
  &__button {
    margin-top: 1.6rem;
  }
}
