@import 'variables';

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.45;
  color: map-get($colors, fontColor);
}

h1 {
  margin: 3.2rem 0 1.6rem;

  font-size: 2rem;
}

h2 {
  margin: 2.4rem 0 1.2rem;

  font-size: 1.5rem;
}

h3 {
  margin: 2rem 0 1rem;

  font-size: 1.25rem;
}

p {
  margin: 1rem 0;
}

[class^='mat'] {
  font-size: 1rem;
}
