@use '@angular/material' as mat;
@import '../theme.scss';
@import 'variables';

.button,
.SimpleButton {
    transition: 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0.625rem 2rem;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}

.button,
.button:active,
.button:hover,
.button:focus {
    text-decoration: none;
}

.button_small {
    font-size: 1rem;
    line-height: 1.25rem;
}

.button_medium,
.SimpleButton {
    font-size: 1.25rem;
    line-height: 2rem;
}

.button_big {
    padding: 1rem 2rem;
    font-size: 1.4375rem;
    line-height: 1.8125rem;
}

.button_primary,
.mat-flat-button.mat-primary {
    border: 2px solid mat.get-color-from-palette($app-primary, 500);
    background-color: mat.get-color-from-palette($app-primary, 500);
    color: white;

    &:hover:not([disabled]),
    &:hover:enabled {
        border-color: darken(mat.get-color-from-palette($app-primary, 500), 35%);
        background-color: darken(mat.get-color-from-palette($app-primary, 500), 35%);
    }
}

.mat-flat-button {
    &:hover:not([disabled]),
    &:hover:enabled {
        background-color: #e1e1e1;
    }
}

.button_secondary {
    border: 2px solid $text-color !important;
    background-color: transparent;
    color: $text-color;

    &:hover:not([disabled]),
    &:hover:enabled,
    &:focus:not([disabled]),
    &:focus:enabled,{
        background-color: rgba(0,0,0,0.04);
    }
}

.button_primary, .button_secondary {
    &:disabled {
        opacity: 0.3;
    }
}

buttsubmit_button,
ButtonFilled {
  font-size: 1.25rem;
  line-height: 2rem;
}
button_new-item {
  font-size: 1.0625rem !important;
}

.ButtonFilled,
.submit_button ,
.button_new-item {
  transition: color .3s !important;
  border-color: #9953ce !important;
  border-radius: 4px;
  background-color: #9953ce;
  padding: 0.7rem 1.75rem !important;
  color: white;
  &:hover {
    cursor: pointer !important;
    border-color: #7f30b8 !important;
    background-color: #7f30b8 !important;
    color: #bbbbbe;
  }

  &:active {

    border-color: #7f30b8 !important;
    color: black !important;
  }

  &:hover:not([disabled]),
  &:hover:enabled,
  &:focus:not([disabled]),
  &:focus:enabled,{
    background-color: #7f30b8 !important;
  }
}

.SimpleButton {
    @extend .btn-auth;
    border-width: 0;

    background-color: transparent;

    ddp-sign-in-out & {
        border: 2px solid $text-color;
        background-color: transparent;
    }

    ddp-language-selector & {
        display: flex;
        align-items: center;
    }

    .footer & {
        border-color: white;
        color: white;

        &:hover:not([disabled]),
        &:hover:enabled {
            background-color: $footer-divider-color;
        }
    }
}

.btn-auth {
    padding: 0.7rem 1.75rem !important;
    line-height: 20px !important;

    &.dashboard-button {
        padding: 0.7rem !important;
    }
}

.small-letter-spacing {
    letter-spacing: -0.016rem;
}

.button-link {
    border: none;
    background: none;
    color: $primary-color;
    font-size: inherit;
    font-family: inherit;

    &:hover, &:focus {
        text-decoration: underline;
    }
}


@media screen and (max-width: $mobile-breakpoint) {
    .button,
    .SimpleButton {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 1.2rem;
        white-space: normal;
    }
}
