.container {
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}

.dashboard-spinner-container {
  display: flex;
  justify-content: center;

  margin-top: 2.4rem;
}

.dashboard-table {
  width: 100%;
}
