.spinner-container {
  display: flex;
  justify-content: center;

  margin-top: 2.4rem;
}

.container {
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}

.title {
  margin: 2rem 0;

  @media (max-width: 450px) {
    margin: 1.2rem 0;

    font-size: 1.5rem;
  }
}

.logout-reminder {
  padding: 12px 24px;

  border-width: 1px;

  text-align: center;
}
