<div class="container dashboard">
  <div *ngIf="loading; else content" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>

<ng-template #content>
  <app-notifications [messages]="messages"></app-notifications>

  <h1 class="title">
    {{ 'Dashboard.Title' | translate }}
  </h1>

  <app-activities-list
    [activities]="activities"
    (startActivity)="onStartActivity($event)"
    (continueActivity)="onContinueActivity($event)"
    (editActivity)="onEditActivity($event)"
    (viewActivity)="onViewActivity($event)"
  ></app-activities-list>
</ng-template>
