@import '../../../../styles/variables';

:host {
    .title {
        margin-bottom: 2.88rem;
        align-text: center;
    }

    .youtube-video {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.81rem;
        margin-bottom: 2.81rem;
        width: 36%;
    }

    .container {
        max-width: 1300px;
        margin: 0 auto;

        &.steps {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .step {
        margin: 0 1.5rem 1.5rem 0;
        font-size: 1rem;
        width: 295px;

        &__image-container {
            height: 240px;
            background-color: white;
            border-radius: 10px 10px 0 0;
            display: flex;
            align-items: center;
        }

        &__image {
            display: block;
            margin: 0 auto;
            position: relative;
        }

        &__title {
            display: inline;
        }

        &__time {
            mat-icon {
                vertical-align: top;
                margin-right: 8px;
            }
        }

        &__description {
            max-width: 240px;
            margin-top: 1rem;
            line-height: 1.75rem;
        }

        &__info {
            padding: 19px 19px 36px 26px;
            position: relative;
            box-sizing: border-box;
        }

        &__info-background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: white;
            opacity: 0.8;
            border-radius: 0 0 10px 10px;
        }

        &__info-text {
            position: relative;
            z-index: 1;
        }
    }
}

.title, .text {
    max-width: 45.5rem;
    margin: 0 auto;
    text-align: center;
}

.learn-more-btn {
    margin-top: 2.81rem;
}

.container__button {
    text-align: center;
}

@media screen and (max-width: $tablet-breakpoint) {
    .container {
        text-align: center;

        &.steps {
            flex-wrap: wrap;
            gap: 3rem;
            justify-content: center !important;

            .step {
                margin: 0;
                min-width: 375px;

                &__image {
                    width: 250px;
                    height: 250px;
                }

                &__image-container {
                    height: 320px;
                }

                &__description {
                    max-width: 350px;
                }

                &__info {
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .container.steps {
        .step {
            min-width: unset;
        }
    }
}
