<div class="Wrapper--home">
  <div class="FullWidth">
    <div class="Home-imageContainer">
      <div class="Home-image" role="img"
        aria-label="If you or your family member has a rare and genetically undiagnosed condition, you may be eligible to join a patient-driven research study aimed at discovering the genes underlying your family’s rare disease.">
        <span class="Home-slide slide-1"></span>
        <span class="Home-slide slide-2"></span>
        <span class="Home-slide slide-3"></span>
        <span class="Home-slide slide-1b"></span>
      </div>
    </div>
  </div>

  <div class="row Position--relative">
    <section class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 Home-message">
      <h1 class="Home-title">If you or your family member has a rare and genetically undiagnosed condition, you may
        be eligible to join a patient-driven research study aimed at discovering the genes underlying your family’s rare
        disease.</h1>
    </section>
  </div>

  <div class="row Margin--75">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <p class="Home-text">The Rare Genomes Project (RGP) at the Broad Institute of MIT and Harvard is a patient-driven
        research study led by genomics experts and clinicians who believe that the latest advances in genomic sequencing
        are changing medicine and should be accessible to families with rare and undiagnosed conditions.</p>
    </div>
  </div>

  <div class="row NoMargin">
    <section class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="CenterDiv">
        <img src="/assets/images/rare-people-illustration.svg" class="Home-illustration" alt="Rare people illustration">
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
          <h2 class="Landing-title Color--blue Aligned--left">Aid Discovery</h2>
          <p class="Home-text Aligned--left TopMargin10"><i>More than half of the genes underlying rare diseases
              remain undiscovered.</i></p>
          <p class="Home-text Aligned--left">By participating in the Rare Genomes Project, you can help researchers
            identify the genes that cause rare disease. If you are eligible for the study, we will use genomic
            sequencing to look for the cause of the rare, undiagnosed disease in your family.</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <img class="FullWidth" src="/assets/images/homeSlider-aid-discovery.jpg" alt="Aid Discovery">
        </div>
      </div>
    </section>
  </div>

  <div class="row Margin--75">
    <section class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="row NoMargin">
        <div class="col-xs-12 col-sm-6 col-md-4 Hidden-mobile">
          <img class="FullWidth" src="/assets/images/homeSlider-find-answers.jpg" alt="Find Answers">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
          <h2 class="Landing-title Color--blue Aligned--left">Find Answers</h2>
          <p class="Home-text Aligned--left TopMargin10"><i>Your family’s diagnosis belongs to you.</i></p>
          <p class="Home-text Aligned--left">If we find a genetic change that may be the cause of the rare disease
            in your family, we will confirm it in a clinical lab and work with your local doctor to return the result to
            you.</p>
        </div>

        <div class="col-xs-12 Hidden-desktop">
          <img class="FullWidth" src="/assets/images/homeSlider-find-answers.jpg" alt="Find Answers">
        </div>
      </div>
    </section>
  </div>

  <div class="row Margin--75">
    <section class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="row NoMargin">
        <div class="col-xs-12 col-sm-6 col-md-8">
          <h2 class="Landing-title Color--blue Aligned--left">Get Involved</h2>
          <p class="Home-text Aligned--left TopMargin10"><i>Join the research community.</i></p>
          <p class="Home-text Aligned--left">The Rare Genomes Project is supported by The Broad Institute of MIT
            and Harvard in partnership with patients and advocates like you. We believe that families should be at the
            center of research involving their diseases, and encourage the involvement of families and the advocacy
            groups that support them throughout the study.</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <img class="FullWidth" src="/assets/images/homeSlider-get-involved.jpg" alt="Get Involved">
        </div>
      </div>
    </section>
  </div>

  <div class="row Margin--75">
    <section class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="row NoMargin">
        <div class="col-xs-12 col-sm-6 col-md-4 Hidden-mobile">
          <img class="FullWidth" src="/assets/images/homeSlider-share-data.jpg" alt="Share Data">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
          <h2 class="Landing-title Color--blue Aligned--left">Share Data</h2>
          <p class="Home-text Aligned--left TopMargin10"><i>Data sharing is crucial for improving diagnosis rates
              of rare disease worldwide.</i></p>
          <p class="Home-text Aligned--left">The genetic information generated in this project will be shared
            with other scientists to ensure it has the widest possible impact. Your genetic data can help families
            like yours and improve scientists’ understanding of rare disease. Learn more about our data sharing
            policies <a routerLink="/privacy-and-your-data" class="Link">here.</a></p>
        </div>

        <div class="col-xs-12 Hidden-desktop">
          <img class="FullWidth" src="/assets/images/homeSlider-share-data.jpg" alt="Share Data">
        </div>
      </div>
    </section>
  </div>

  <div class="row NoMargin">
    <img src="/assets/images/dna-strand-illustration.svg" class="Home-dnaIllustration" alt="DNA Strand Illustration" />
  </div>

  <div class="row NoMargin">
    <section class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
      <h2 class="Home-title">How you can participate</h2>
      <div class="row Margin--75">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 Home-step">
          <div class="Home-stepImage Home-stepImage01" role="img" alt="Tell us your story"></div>
          <h3 class="Home-stepTitle">Tell us your story</h3>
          <p class="Home-stepText">Click <a routerLink="/how-it-works" class="Link">apply</a> to see a
            broad overview of the study and learn how you can start an application where you can tell us about the
            history of rare disease in your family. The information will be reviewed by our study team, and eligible
            families will be invited to participate. We will contact you to arrange a detailed discussion about the
            study and send you a consent form.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 Home-step">
          <div class="Home-stepImage Home-stepImage02" role="img" alt="Share your data"></div>
          <h3 class="Home-stepTitle">Submit a sample</h3>
          <p class="Home-stepText">Once enrolled, we will mail a pre-paid sample collection kit directly to you and
            your family. We will also ask you more about medical history and ask for copies of medical records,
            including any prior genetic test results.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 Home-step">
          <div class="Home-stepImage Home-stepImage03" role="img" alt="Discover"></div>
          <h3 class="Home-stepTitle">Discover</h3>
          <p class="Home-stepText">Through DNA sequencing, we may discover the genetic cause of the rare disease in
            your family and will work with you and your doctor to return important results to you. We will also share
            de-identified data broadly with the scientific community to empower discoveries in rare disease research.
          </p>
        </div>
      </div>
      <hr class="HorizontalLine">
      <div class="CenterDiv Margin--75">
        <a routerLink="/how-it-works" class="Button--Apply">Apply</a>
      </div>
    </section>
  </div>

  <div class="row Home-articleLast Background--lightBlue TopMargin75">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 Home-articleText">
      <h2 class="Home-quoteText">"This research project really understands the importance of bringing patients in
        as partners and engaging patients in a novel way. It's critical to do that because
        <span class="Accent">patients are often the ones that start driving the research</span>."
      </h2>
      <p class="Home-quoteSignature">-Matt Might, Caregiver and Director, Hugh Kaul Precision Medicine Institute
      </p>
    </div>
  </div>

  <div class="row Margin--75">
    <section class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12 PartnersSection">
      <h2 class="Home-title">Our advocacy partners</h2>
      <div class="row Margin--50">
        <div class="col-lg-6 col-md-4 col-sm-5 col-xs-12 Aligned--center">
          <a href="https://rarediseases.org/" target="_blank">
            <div class="Home-partners Home-partnerNOFRDD" role="img" alt="National Organization for Rare Disorders">
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 Aligned--center">
          <a href="http://swanusa.org/" target="_blank">
            <div class="Home-partners Home-partnerSWAN" role="img" alt="Syndromes without a Name"></div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 Aligned--center">
          <a href="https://www.rarescience.org/" target="_blank">
            <div class="Home-partners Home-partnerRare" role="img" alt="Rare science accelerating cures for rare kids">
            </div>
          </a>
        </div>
      </div>

      <div class="row Margin--25">
        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12 Aligned--center">
          <div class="Home-partners Home-partnerRUNMyDNA" role="img" alt="Run my DNA"></div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 Aligned--center">
          <a href="https://www.samebutdifferentcic.org.uk/" target="_blank">
            <div class="Home-partners Home-partnerSBD" role="img" alt="Same but Different"></div>
          </a>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12 Aligned--center">
          <a href="https://urourhope.org/" target="_blank">
            <div class="Home-partners Home-partnerUROurHope" role="img" alt="UR Our Hope"></div>
          </a>
        </div>
      </div>

      <div class="row Margin--25">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 Aligned--center">
          <a href="http://awareofangels.org/" target="_blank">
            <div class="Home-partners Home-partnerAOA" role="img" alt="Aware of Angels"></div>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 Aligned--center">
          <a href="https://sweetnectarsociety.org/" target="_blank">
            <div class="Home-partners Home-partnerSNS" role="img" alt="Sweet Nectar Society"></div>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 Aligned--center">
          <a href="https://rareundiagnosed.org/" target="_blank">
            <div class="Home-partners Home-partnerRUN" role="img" alt="Rare Undiagnosed Network"></div>
          </a>
        </div>
      </div>

      <div class="row Margin--25">
        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 Aligned--center">
          <a href="https://www.mda.org/" target="_blank">
            <div class="Home-partners Home-partnerMDA" role="img" alt="Muscular Dystrophy Association"></div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 Aligned--center">
          <a href="https://globalgenes.org/" target="_blank">
            <div class="Home-partners Home-partnerGlobalGenes" role="img" alt="Global Genes"></div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 Aligned--center">
          <a href="https://mygene2.org/MyGene2/" target="_blank">
            <div class="Home-partners Home-partnerMyGene2" role="img" alt="My Gene 2"></div>
          </a>
        </div>
      </div>

      <div class="row Margin--25">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 Aligned--center">
          <a href="https://patientworthy.com/" target="_blank">
            <div class="Home-partners Home-partnerPatientWorthy" role="img" alt="Patient Worthy"></div>
          </a>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 Aligned--center">
          <a href="https://www.thegivingpictureproject.com/" target="_blank">
            <div class="Home-partners Home-partnerTGPP" role="img" alt="The Giving Picture Project"></div>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="Wrapper--homeBottom">
  <div class="row Home-articleLast Background--orange">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 Home-articleText">
      <h2 class="Home-title Color--white">You can be the driving force behind rare disease research.</h2>
      <div class="CenterDiv Margin--75">
        <a routerLink="/how-it-works" class="Button--Apply--white">Apply</a>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="CenterDiv">
            <p class="Color--white Margin--75">
              Many thanks to the National Institutes of Health (NIH), the Muscular Dystrophy Association (MDA),
              Illumina, Inc., Broad Institute, the Silicon Valley Community Foundation, and Shriners Hospitals for
              Children for their financial support of our project.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="HorizontalLine_Home">