@import 'variables';
@import 'colors';

*,
*::before,
*::after {
  font-family: 'Spartan-Regular', sans-serif;
}

html {
  height: 100%;
  font-size: 20px;

  @media (max-width: 1280px) {
    font-size: 18px;
  }

  @media (max-width: 1026px) {
    font-size: 16px;
  }
}

body {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $color-text;
  height: 100%;
}

.row {
  margin: 0 !important;
}

.box {
  margin: 20px 0;
  padding: 15px;

  border-radius: 2px;

  text-align: center;

  &--light-blue {
    background: $color-light-blue;
  }
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1380px;
}

.session-expire-dialog button {
  margin-left: 30px;
  margin-bottom: 20px;
}

.spinner-container {
  display: flex;
  justify-content: center;

  padding: 64px 0;
}

a {
  font-family: Spartan-Bold, serif;
  color: $__highlighted-font;
}
