@font-face {
  font-family: Spartan-Regular;
  src: url('../assets/fonts/Spartan-Regular.ttf');
}

@font-face {
  font-family: Spartan-Bold;
  src: url('../assets/fonts/Spartan-Bold.ttf');
}

@font-face {
  font-family: Spartan-Light;
  src: url('../assets/fonts/Spartan-Light.ttf');
}

@font-face {
  font-family: Spartan-Medium;
  src: url('../assets/fonts/Spartan-Medium.ttf');
}

@font-face {
  font-family: Spartan-Semibold;
  src: url('../assets/fonts/Spartan-SemiBold.ttf');
}
