.mt10 {
  margin: 10px 0 0 0;
}

.mt20 {
  margin: 20px 0 0 0;
}

.float--right {
  float: right;
}

.background {
  &-light__blue {
    background-color: $color-light-blue;
  }
}

.box {
  padding: 15px;
  margin: 20px 0;
  border-radius: 2px;
  &-text {
    margin: 0;
    text-align: center;
  }
}
