@import '../../../../../ddp-pancan/src/styles/variables.scss';

.section {
    text-align: left;

    .section-title {
        margin: 0 auto 5.625rem;
        text-align: center;
        padding: 3.2rem 0;
        background-color: $accent-color-orange;
    }

    &:nth-of-type(odd) {
        padding-bottom: 7.94rem;
        flex-direction: row;
    }

    &__section-title {
        margin: 1rem 0 1.13rem 0;
        font-family: $primary-font-medium;
        font-size: 2rem;
        line-height: 3.625rem;
        font-weight: normal;
    }
}


@media screen and (max-width: $tablet-breakpoint) {
        .section-title {
            align-items: center;
            gap: 3rem;

            &:nth-of-type(n) {
                flex-direction: column-reverse;
            }
        }
}