<main class="scientific">
        <h1 class="title scientific-title" translate>
            SIPage.introduction.Title
        </h1>

   <section class="section">
            <div class="content content_tight intro-faq-block">
                <div class="intro-faq-block__content">
                    <p [innerHTML]="'SIPage.PASection.Paragraph1' | translate"></p>
                        <p [innerHTML]="'SIPage.PASection.Text' | translate"></p>
                    
                    
                    <p [innerHTML]="'SIPage.DASection.Paragraph2' | translate"></p>
                    <ng-container *ngFor="let desc of 'SIPage.DASection.Desc'| translate">
                            <p [innerHTML]="desc"></p>
                    </ng-container>

                    <p [innerHTML]="'SIPage.ELSection.Paragraph3' | translate"></p>
                        <p [innerHTML]="'SIPage.ELSection.Text' | translate"></p>
                    <ng-container *ngFor="let desc of 'SIPage.ELSection.Desc'| translate">
                            <p [innerHTML]="desc"></p>
                    </ng-container>

                    <p [innerHTML]="'SIPage.WDSection.Paragraph4' | translate"></p>
                    <p [innerHTML]="'SIPage.WDSection.Text' | translate"></p>


                        <div class="section__title">
                          <img src="assets/images/step1.png" alt="test1" class="img_item">
                          <p [innerHTML]="'SIPage.IMGSection.Text1' | translate"></p>
                          <img src="assets/images/step2.png" alt="test2" class="img_item">
                          <p [innerHTML]="'SIPage.IMGSection.Text2' | translate"></p>
                          <img src="assets/images/step3.png" alt="test3" class="img_item">
                          <p [innerHTML]="'SIPage.IMGSection.Text3' | translate"></p>
                        </div>


                    <p [innerHTML]="'SIPage.TermSection.Paragraph5' | translate"></p>
                    <p [innerHTML]="'SIPage.TermSection.Text' | translate"></p>

                </div>
            </div>
    </section>



