<section class="section">
    <div class="content content_medium sac-block">
        <h1 class="section-title" translate>
            SIPage.introduction.Title
        </h1>
   <section class="section">
            <div class="content content_tight intro-faq-block">
                <div class="intro-faq-block__content">
                    <p [innerHTML]="'SIPage.PASection.Paragraph1' | translate"></p>
                        <p [innerHTML]="'SIPage.PASection.Text' | translate"></p>
                    
                    
                    <p [innerHTML]="'SIPage.DASection.Paragraph2' | translate"></p>
                    <ng-container *ngFor="let desc of 'SIPage.DASection.Desc'| translate">
                            <p [innerHTML]="desc"></p>
                    </ng-container>

                    <p [innerHTML]="'SIPage.ELSection.Paragraph3' | translate"></p>
                        <p [innerHTML]="'SIPage.ELSection.Text' | translate"></p>
                    <ng-container *ngFor="let desc of 'SIPage.ELSection.Desc'| translate">
                            <p [innerHTML]="desc"></p>
                    </ng-container>

                    <p [innerHTML]="'SIPage.WDSection.Paragraph4' | translate"></p>
                    <p [innerHTML]="'SIPage.WDSection.Text' | translate"></p>

                </div>
            </div>
    </section>


