<div class="container">
  <h1 class="title">
    {{ 'PasswordPage.Title' | translate }}
  </h1>

  <form [formGroup]="passwordForm" (ngSubmit)="submitForm()">
    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="password"
        maxLength="200"
        [placeholder]="'PasswordPage.Placeholder' | translate"
        (change)="hideErrors()"
      />

      <mat-error *ngIf="isValid('password')">
        {{ 'PasswordPage.Errors.Invalid' | translate }}
      </mat-error>
    </mat-form-field>

    <div class="btn-container">
      <button class="button button--yellow">
        {{ 'Common.Buttons.Submit' | translate }}
      </button>
    </div>

    <p *ngIf="isPasswordWrong" class="error-message">
      {{ 'PasswordPage.Errors.Wrong' | translate }}
    </p>

    <p *ngIf="isCommunicationError" class="error-message">
      {{ 'PasswordPage.Errors.Communication' | translate }}
    </p>
  </form>
</div>
