<ng-container>
  <table class="table table-striped Width--100">
    <thead>
    <tr>
      <th>
        Select
      </th>
      <th>Sample Type</th>
      <th>Sample</th>
      <th>Sample Status</th>
      <th>Collection Date</th>
      <th>Latest Sequencing Order Date</th>
      <th>Latest Order Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sample of samples">
      <td>
        <mat-checkbox *ngIf="shouldHaveCheckbox(sample)" [ngModel]="sample.isSelected" color="primary" disableRipple>
        </mat-checkbox>
      </td>
      <td>
        {{sample.sampleType}}
      </td>
      <td>
        {{sample.sample}}
      </td>
      <td>
        {{sample.sampleStatus}}
      </td>
      <td>
        <ng-container *ngIf="sample.sampleType === 'Normal'">
          <app-field-datepicker (dateChanged)="valueChanged($event, 'collectionDate', sample)" [allowUnknownDay]="false"
                                [colorDuringPatch]="isPatchedCurrently('collectionDate')"
                                [dateString]="sample.collectionDate"
                                [showTodayButton]="true"></app-field-datepicker>
        </ng-container>
        <ng-container *ngIf="sample.sampleType === 'Tumor'">
          {{sample.collectionDate}}
        </ng-container>

      </td>
      <td>
        {{sample.sequencingOrderDate}}
      </td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <ng-container>
    <button (click)="submitOrders()" color="primary"
            mat-mini-fab>
      <i class="fas fa-plus fa-lg"></i>
    </button>
  </ng-container>
</ng-container>
