.mat-table {
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  font-size: 1rem;
}

.mat-cell {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mat-column-name {
  width: 50%;
}

.mat-column-status {
  width: 25%;
}

.mat-column-actions {
  width: 25%;
}
