.control-bar {
  height: 70px;
  border: 2px solid blue;
}
/*
.two {
  border-color: gray;
  border-style: dashed;
}
*/
.two_one {
  color: red;
  border-color: red;
  border-style: dashed;
}
.two_two {
  color: blue;
  border-color: blue;
  border-style: dashed;
}
.two_three {
  color: green;
  border-color: green;
  border-style: dashed;
}

