.control-bar {
  height: 70px;
  border: 2px solid blue;
}
.right-canvas-panel {
  border-color: gray;
  border-style: dashed;
  min-height: 500px;

}
.left-panel {
  height: 100%;
  border: 2px solid red;
}

