@import "../../../../../../styles/FON/core";

$text-color: #000000;
$warn-color: #f44336;
$field-enabled-border: $__Slate_grey;
$field-disabled-border: $__Mulled_wine_transparent;


::ng-deep {

  .main_activity {
    padding: 32px 40px 0;
  }

  .content h1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 28px;
  }

  // steps
  .activity-steps {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 3rem 0;
  }

  .activity-step {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bolder;

    &.active {
       text-decoration: underline;
    }

    &.completed {
      cursor: pointer;
      color: $__Dark_pastel_blue;
    }
  }

  .activity-buttons {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
  }

  .ErrorMessage.ErrorMessage {
    border-top: 2px solid $warn-color;
    margin-top: 20px;
    font-size: 13px;
    color: $warn-color;
    padding: 15px 0;
  }

  .margin-bottom {
    margin-bottom: 1.5rem;
  }

  .ddp-content {
    font-size: 1.5rem;
    line-height: 2.875rem;
  }

  .modal-activity-block {
    &__edit-dialog-content {
      padding-top: 40px !important;
    }

    &__delete-dialog > mat-dialog-container {
      padding-top: 12px !important;
    }
  }


  .activity {
    .section.article-content {
      font-family: Montserrat, sans-serif !important;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 17px;
    }
  }

  .ddp-question-prompt,
  .activity-question-title {
    color: $__Gunmetal;
    font-size: 15px!important;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
    margin-top: 32px;
  }

  ddp-activity-dropdown-picklist-question {
    select {
      &.mat-input-element {
        /* reset native arrow down */
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        /* new arrow icon*/
        background-image: url('/assets/images/arrow_down.svg');
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 55%;
      }

      &:disabled {
        border-bottom: none;
        background-image: url('/assets/images/arrow_down_disabled.svg');
      }
    }

    /* hide Angular Material select arrow */
    .mat-form-field-type-mat-native-select .mat-form-field-infix::after {
      display: none;
    }
  }

  ddp-activity-text-input,
  ddp-activity-email-input,
  ddp-activity-numeric-answer {
    .mat-form-field-infix {
      border-top: none;
    }

    .mat-form-field-label {
      font-family: Montserrat, sans-serif !important;
      font-style: italic;
      font-size: 15px !important;
      color: $__Charcoal !important;
      opacity: 0.7;
    }

    .mat-form-field.mat-focused,
    .mat-form-field.mat-form-field-should-float {
      .mat-form-field-label {
        display: none;
      }
    }

    .mat-form-field-label-wrapper {
      left: 15px;
      top: -5px;
    }

    .mat-input-element {
      width: unset !important;
    }
  }

  ddp-activity-numeric-answer {
    .mat-form-field-infix {
      border-top: none;
    }
  }

  ddp-activity-email-input {
    .mat-form-field {
      max-width: 50%;
    }

    .mat-form-field-infix {
      width: auto;
    }
  }

  ddp-activity-dropdown-picklist-question,
  ddp-activity-text-input,
  ddp-activity-email-input,
  ddp-activity-numeric-answer {
    .mat-form-field-wrapper {
      padding: 0 !important;
    }

    .mat-form-field-infix {
      padding: 0 !important;
    }

    .mat-form-field {
      width: max-content !important;
      border: 1px solid $__Slate_grey;
      border-radius: 3px;
      background-color: #FFFFFF;

      &.mat-form-field-disabled {
        background-color: rgba(0,0,0,0.03);
        border-color: $field-disabled-border;
      }
    }

    .mat-input-element {
      height: auto;
      padding: 14px 24px 14px 8px !important;
      color: #2D333E !important;
      font-family: Montserrat, sans-serif;
      font-size: 15px;

      &:disabled {
        color: $__Charcoal !important;
        opacity: 0.7;
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }

  .mat-checkbox-label,
  .mat-radio-label .mat-radio-label-content {
    font-family: Montserrat, sans-serif;
    color: $__Gunmetal !important;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17px;
  }

  .mat-checkbox-frame,
  .mat-radio-outer-circle {
    border-width: 1px !important;
    border-color: $__Gunmetal !important;
  }

  .mat-checkbox-disabled {
    .mat-checkbox-label, .mat-checkbox-frame {
      color: $__Charcoal !important;
      opacity: 0.7;
    }
  }

  .mat-radio-button.mat-radio-disabled {
    .mat-radio-label-content,
    .mat-radio-outer-circle {
      color: $__Charcoal !important;
      opacity: 0.7;
    }
  }

  ddp-date {
    .ddp-answer-container {
      @media screen and (min-width: 1200px) {
        width: 50%;
      }
    }

    select {
      height: auto;
      width: max-content !important;
      border: 1px solid $__Slate_grey !important;
      border-radius: 3px;
      background-color: #FFFFFF;
      padding: 14px 16px 14px 8px;
      color: #2D333E !important;
      font-size: 15px;

      /* reset native arrow down */
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      /* new arrow icon*/
      background-image: url('/assets/images/arrow_down.svg');
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 55%;

      &:disabled {
        border-color: $field-disabled-border;
        background-color: rgba(0,0,0,0.03);
        color: $__Charcoal !important;
        opacity: 0.7;

        border-bottom: none;
        background-image: url('/assets/images/arrow_down_disabled.svg');
      }
    }
  }

  .ddp-required-question-prompt {
    span > .activity-question-title {
      display: inline;
    }
  }

  .activity-buttons {
    margin: 0 -40px;
    padding: 16px 40px;
    height: 72px;
    background-color: $__Mercury;
  }

  /* ------------- Tabular blocks custom styles --------------------- */

  /* tabular block for Enrollment form */
  .main_activity.ENROLLMENT {
    .tabular-container {
      grid-template-columns: 70px auto 1fr 1fr !important;

      .header {
        text-align: center;
      }

      ddp-activity-composite-answer {
        .ddp-answer-container {
          grid-template-columns: 1fr 1fr !important;
          place-items: center;
          gap: 30px;

          .ddp-answer-field {
            padding: 0;

            &:nth-child(2) {
              width: 125px !important;

              .mat-form-field {
                width: 100% !important;
              }
            }
          }
        }

        ddp-date {
          .ddp-answer-container {
            width: auto;
          }

          .ddp-answer-field {
            padding: unset !important;

            select {
              margin: 0;
            }
          }
        }
      }
    }
  }

  /* tabular block for CARDIAC_CT form */
  .main_activity.CARDIAC_CT {
    .tabular-container {
      grid-template-columns: auto 150px 150px !important;

      /* TODO: remove this temp FIX!! just to fix the wrong config form back-end */
      .header:nth-of-type(3) {
        display: none;
      }
      /* end of the TODO */

      .header, .question-title {
        padding-left: 20px !important;
      }

      .question-title {
        display: flex;
        align-items: center;
      }

      .cell {
        &:nth-child(10),
        &:nth-child(18) {
          grid-column: span 2 !important;
        }
      }

      .composite-answer {
        &-CQ_RV_END_DIASTOLIC_VOLUME,
        &-CQ_RV_END_SYSTOLIC_VOLUME,
        &-CQ_LV_END_DIASTOLIC_VOLUME,
        &-CQ_LV_END_SYSTOLIC_VOLUME
        {
          .ddp-answer-container {
            grid-template-columns: auto auto !important;
          }

          /* TODO: remove this temp FIX!! just to fix the wrong config form back-end */
          .ddp-answer-field:first-of-type::after {
            content: 'Or';
            top: -12px;
            position: relative;
            left: 4px;
          }
          /* end of the TODO */
        }

        &-CQ_RV_EJECTION_FRACTION,
        &-CQ_LV_END_EJECTION_FRACTION
        {
          .ddp-answer-container {
            grid-template-columns: auto!important;
            justify-content: left;
          }
        }
      }

      ddp-activity-composite-answer {
        .ddp-answer-container {
          justify-content: space-between;

          .ddp-answer-field {
            padding: 0;
          }

          .mat-form-field {
            max-width: 120px;
          }
        }
      }
    }
  }

}
