@import "../../../../../../styles/FON/core";

$text-color: #000000;
$warn-color: #f44336;
$field-enabled-border: $__Slate_grey;
$field-disabled-border: $__Mulled_wine_transparent;


::ng-deep {

  .main_activity {
    padding: 32px 40px 0;
  }

  .content h1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 28px;
  }

  // steps
  .activity-steps {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 3rem 0;
  }

  .activity-step {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bolder;

    &.active {
       text-decoration: underline;
    }

    &.completed {
      cursor: pointer;
      color: $__Dark_pastel_blue;
    }
  }

  .activity-buttons {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
  }

  .ErrorMessage.ErrorMessage {
    border-top: 2px solid $warn-color;
    margin-top: 20px;
    font-size: 13px;
    color: $warn-color;
    padding: 15px 0;
  }

  .margin-bottom {
    margin-bottom: 1.5rem;
  }

  .ddp-content {
    font-size: 1.5rem;
    line-height: 2.875rem;
  }

  .modal-activity-block {
    &__edit-dialog-content {
      padding-top: 40px !important;
    }

    &__delete-dialog > mat-dialog-container {
      padding-top: 12px !important;
    }
  }


  .activity {
    .section.article-content {
      font-family: Montserrat, sans-serif !important;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 17px;
    }
  }

  .ddp-question-prompt,
  .activity-question-title {
    color: $__Gunmetal;
    font-size: 15px!important;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
    margin-top: 32px;
  }

  ddp-activity-dropdown-picklist-question {
    select {
      &.mat-input-element {
        /* reset native arrow down */
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        /* new arrow icon*/
        background-image: url('/assets/images/arrow_down.svg');
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 55%;
      }

      &:disabled {
        border-bottom: none;
        background-image: url('/assets/images/arrow_down_disabled.svg');
      }
    }

    /* hide Angular Material select arrow */
    .mat-form-field-type-mat-native-select .mat-form-field-infix::after {
      display: none;
    }
  }

  ddp-activity-text-input,
  ddp-activity-email-input,
  ddp-activity-numeric-answer {
    .mat-form-field-infix {
      border-top: none;
    }

    .mat-form-field-label {
      font-family: Montserrat, sans-serif !important;
      font-style: italic;
      font-size: 15px !important;
      color: $__Charcoal !important;
      opacity: 0.7;
    }

    .mat-form-field.mat-focused,
    .mat-form-field.mat-form-field-should-float {
      .mat-form-field-label {
        display: none;
      }
    }

    .mat-form-field-label-wrapper {
      left: 8px;
      top: -5px;
    }
  }

  ddp-activity-numeric-answer {
    .mat-form-field-infix {
      border-top: none;
    }
  }

  ddp-activity-email-input {
    .mat-form-field {
      max-width: 50%;
    }

    .mat-form-field-infix {
      width: auto;
    }

    .mat-error {
      margin-top: 16px;
    }
  }

  ddp-activity-dropdown-picklist-question,
  ddp-activity-text-input,
  ddp-activity-email-input,
  ddp-activity-numeric-answer {
    .mat-form-field-wrapper {
      padding: 0 !important;
    }

    .mat-form-field-infix {
      padding: 0 !important;
    }

    .mat-form-field {
      width: max-content !important;
      border: 1px solid $__Slate_grey;
      border-radius: 3px;
      background-color: #FFFFFF;

      &.mat-form-field-disabled {
        background-color: rgba(0,0,0,0.03);
        border-color: $field-disabled-border;
      }
    }

    .mat-input-element {
      box-sizing: border-box;
      height: auto;
      padding: 14px 24px 14px 8px !important;
      color: #2D333E !important;
      font-family: Montserrat, sans-serif;
      font-size: 15px;

      &:disabled {
        color: $__Charcoal !important;
        opacity: 0.7;
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }

  .mat-checkbox-label,
  .mat-radio-label .mat-radio-label-content {
    font-family: Montserrat, sans-serif;
    color: $__Gunmetal !important;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17px;
  }

  .mat-checkbox-frame,
  .mat-radio-outer-circle {
    border-width: 1px !important;
    border-color: $__Gunmetal !important;
  }

  .mat-checkbox-disabled {
    .mat-checkbox-label, .mat-checkbox-frame {
      color: $__Charcoal !important;
      opacity: 0.7;
    }
  }

  .mat-radio-button.mat-radio-disabled {
    .mat-radio-label-content,
    .mat-radio-outer-circle {
      color: $__Charcoal !important;
      opacity: 0.7;
    }
  }

  ddp-date {
    .ddp-answer-container {
      @media screen and (min-width: 1200px) {
        width: 50%;
      }
    }

    select {
      height: auto;
      width: max-content !important;
      border: 1px solid $__Slate_grey !important;
      border-radius: 3px;
      background-color: #FFFFFF;
      padding: 14px 16px 14px 8px;
      color: #2D333E !important;
      font-size: 15px;

      /* reset native arrow down */
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      /* new arrow icon*/
      background-image: url('/assets/images/arrow_down.svg');
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 55%;

      &:disabled {
        border-color: $field-disabled-border;
        background-color: rgba(0,0,0,0.03);
        color: $__Charcoal !important;
        opacity: 0.7;

        border-bottom: none;
        background-image: url('/assets/images/arrow_down_disabled.svg');
      }
    }
  }

  .ddp-required-question-prompt {
    span > .activity-question-title {
      display: inline;
    }
  }

  .equation-value {
    margin: 12px 8px;
  }

  .Question--PICKLIST {
    .ddp-option-details-field {
      display: block;
      min-width: 50%;
      border: none;
      background-color: unset;
      border-bottom: 1px solid #737E8E;
      border-radius: 0;

      .mat-form-field-label {
        display: none !important;
      }
    }
  }

  .activity-buttons {
    margin: 0 -40px;
    padding: 16px 40px;
    height: 72px;
    background-color: $__Mercury;
  }

  /* ------------- Tabular blocks custom styles --------------------- */

  /* tabular block for Enrollment form */
  .main_activity.ENROLLMENT {
    .tabular-container {
      grid-template-columns: 28px auto 1fr 1fr !important;
      border: none !important;

      .header {
        text-align: left;
        font-weight: 600;

        &:nth-child(2) {
          padding-left: 12px;
        }
      }

      .cell {
        border: none !important;

        .Question--COMPOSITE {
          min-width: 280px;
        }
      }

      ddp-activity-composite-answer {
        .ddp-answer-container {
          grid-template-columns: 1fr 1fr !important;
          place-items: center;

          .ddp-answer-field {
            padding: 0;

            &:nth-child(2) {
              width: 125px !important;

              .mat-form-field {
                width: 100% !important;
              }
            }
          }
        }

        ddp-date {
          .ddp-answer-container {
            width: auto;
          }

          .ddp-answer-field {
            padding: unset !important;

            /* TODO: remove this temp FIX!! just to fix the wrong config form back-end */
            &::after {
              content: 'OR';
              padding-left: 16px;
            }
            /* end of the TODO */

            select {
              margin: 0;
            }
          }
        }
      }
    }
  }

  /* common mixins for CARDIAC_CT and cMRI forms */
  @mixin tabular-container {
    grid-template-columns: auto 150px 150px !important;
    border: none !important;

    .header, .question-title {
      padding-left: 20px !important;
      font-weight: 600;
    }

    .question-title {
      display: flex;
      align-items: flex-start;
      margin-top: 10px;
    }

    .cell {
      border: none !important;
    }

    ddp-activity-composite-answer {
      .ddp-answer-container {
        justify-content: space-between;

        .ddp-answer-field {
          padding: 0;
        }

        .mat-form-field {
          max-width: 120px;
        }
      }
    }
  }

  @mixin diastolic-systolic-volume {
    .ddp-answer-container {
      grid-template-columns: auto auto !important;
    }

    /* TODO: remove this temp FIX!! just to fix the wrong config form back-end */
    .ddp-answer-field:first-of-type::after {
      content: 'Or';
      top: -12px;
      position: relative;
      left: 4px;
    }
    /* end of the TODO */
  }

  @mixin ejection-fraction {
    .ddp-answer-container {
      grid-template-columns: auto !important;
      justify-content: left;
    }
  }

  @mixin cardiac-output {
    .ddp-answer-container {
      grid-template-columns: auto auto !important;
      justify-content: space-around;
      height: 41px;
    }
  }

  /* tabular block for CARDIAC_CT form */
  .main_activity.CARDIAC_CT {
    .tabular-container {
      @include tabular-container;

      .composite-answer {
        &-CQ_RV_END_DIASTOLIC_VOLUME,
        &-CQ_RV_END_SYSTOLIC_VOLUME,
        &-CQ_LV_END_DIASTOLIC_VOLUME,
        &-CQ_LV_END_SYSTOLIC_VOLUME
        {
          @include diastolic-systolic-volume;
        }

        &-CQ_RV_EJECTION_FRACTION,
        &-CQ_LV_END_EJECTION_FRACTION
        {
          @include ejection-fraction;
        }

        &-CQ_RV_CARDIAC_OUTPUT,
        &-CQ_LV_CARDIAC_OUTPUT
        {
          @include cardiac-output;
        }
      }
    }
  }

  /* tabular block for cMRI form (pretty the same like for CARDIAC_CT) */
  .main_activity.CMRI {
    .tabular-container {
      @include tabular-container;

      .composite-answer {
        &-CQ_CMRI_RV_END_DIASTOLIC_VOLUME,
        &-CQ_CMRI_END_SYSTOLIC_VOLUME,
        &-CQ_CMRI_LV_END_DIASTOLIC_VOLUME,
        &-CQ_CMRI_LV_END_SYSTOLIC_VOLUME
        {
          @include diastolic-systolic-volume;
        }

        &-CQ_CMRI_RV_EJECTION_FRACTION,
        &-CQ_CMRI_LV_EJECTION_FRACTION
        {
          @include ejection-fraction;
        }

        &-CQ_CMRI_RV_CARDIAC_OUTPUT,
        &-CQ_CMRI_LV_CARDIAC_OUTPUT
        {
          @include cardiac-output;
        }
      }
    }
  }
}
