@use 'commonStyles' as common ;

main {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  padding: 1em;
  section {
    &.fileUpload {
      @include common.flexContainer(center, center);
      width: 100%;
      app-browse-files {
        width: 35em;
      }
    }

    &.note {
      @include common.flexContainer(center, center);
      margin-top: 1em;
      width: 100%;
      p {
        padding: 1em;
        text-align: center;
        background-color: rgba(216, 240, 251, 0.7);
        width: 50%;
      }
    }
  }
}


