<main id="sharedLearningUpload">
  <section class="fileUpload">
    <app-upload-files
      [participantId]="participantId"
      [unauthorized]="isUnauthorized"
      (fileUploaded)="onFileUpload($event)"></app-upload-files>
  </section>

  <ng-container  *ngIf="allowToSeeTitle; else notAllowedSection">
    <section class="note">
      <p>Upload Shared Learnings Letter here. Click Send to Participant to deliver the file to the participant’s Dashboard</p>
    </section>
  </ng-container>

  <section *ngIf="errorLoadingData" class="error-note">
    <main>
      <p>We couldn't load the data</p>
      <p>The error message: {{errorLoadingData}}</p>
    </main>
  </section>

  <section *ngIf="!errorLoadingData" class="files">
    <ng-container *ngIf="!isLoading; else spinner" >
      <app-files-table
        (sendToParticipant)="onSendToParticipant($event)"
        (delete)="deleteFile($event)"
        [somaticResultsFiles]="somaticResultsFilesWithStatus"></app-files-table>
    </ng-container>
  </section>
</main>


<ng-template #spinner>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #notAllowedSection>
  <section class="note">
    <p>View shared learnings here</p>
  </section>
</ng-template>
