@use '@angular/material' as mat;
@import "../../../app-theme.scss";

.faq-section {
    background-color: mat.get-color-from-palette($app-theme, 350);
}

.intro-faq-block__content {
    padding: 2rem 0 0 0;
}

.section-title {
    padding: 4.25rem;
    margin: 0;
}

.faqs {
    padding: 2rem;
}
