@import 'colors';
@import 'breakpoints';

.activity-block-title {
  margin: 1.65em 0 0.5em;

  font-size: 2.8rem;

  @include media-sm {
    font-size: 2.4rem;
  }
}

.activity-question-title,
.activity-text-title {
  margin: 1.65em 0 0.25em;

  font-size: 2.4rem;

  @include media-sm {
    font-size: 2rem;
  }
}

.bullet-list,
.numbered-list {
  padding-left: 1em;

  li {
    margin: 0.5em 0;
  }
}

.ErrorMessage,
.error-message {
  color: map-get($colors, 'scarlet');
}

.ddp-required-question-prompt {
  .activity-question-title::after {
    content: ' *';
  }
}

[class^='composite-answer'] {
  .Title-text {
    align-items: flex-end !important;

    span {
      margin: 1.65em 0 0.25em;

      font-size: 2.4rem;
      font-weight: bold;

      @include media-sm {
        font-size: 2rem;
      }
    }

    .mat-icon-button {
      margin-top: 2.4rem;

      .mat-icon {
        font-size: 24px;
      }
    }
  }
}
