@import 'colors';

.btn {
  display: inline-block;

  padding: 1.2rem 2.4rem;

  border: none;
  border-radius: 100px;

  font-family: 'PT Sans', 'sans-serif';
  font-weight: bold;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1;
  text-decoration: none;

  cursor: pointer;

  transition: background-color 0.3s ease;

  &:disabled {
    opacity: 0.8;

    cursor: not-allowed;
  }

  &--scarlet {
    background: map-get($colors, 'scarlet');

    color: map-get($colors, 'white');

    &:not(:disabled) {
      &:focus,
      &:hover {
        background: map-get($colors, 'scarlet:hover');
      }

      &:active {
        background: map-get($colors, 'scarlet:active');
      }
    }
  }
}

.SimpleButton {
  display: inline-block;

  margin: 0;
  padding: 0;

  background: transparent;
  border: none;

  font: inherit;
  text-decoration: none;

  cursor: pointer;
  transition: opacity 0.3s ease;

  &:disabled {
    opacity: 75%;

    cursor: not-allowed;
  }

  &:hover {
    opacity: 75%;
  }
}
