$__scarlet: #c4353d;
$__white: #ffffff;

$colors: (
  'font-dark': #281d1c,
  'font-light': #ffffff,
  'scarlet': $__scarlet,
  'scarlet:hover': darken($__scarlet, 4%),
  'scarlet:active': darken($__scarlet, 7%),
  'beige': #f8f5ec,
  'beige:dark:1': #bfbaaf,
  'beige:dark:2': #5a5656,
  'teal': #589297,
  'dark-grey': #49505a,
  'grey': #808080,
  'light-grey': #e3e3e3,
  'white': $__white,
  'white:hover': darken($__white, 8%),
  'white:active': darken($__white, 13%),
  'input-border': #bbbdbe,
  'input-border-focus': #343434,
  'form-control-error': $__scarlet,
  'link': $__scarlet,
);
