@import '../../../../styles/breakpoints';
@import '../../../../styles/colors';
@import '../../../../styles/mixins';

@include narrow-container;

:host {
  color: #011c48;
}

h1 {
  font-size: 32px;
  margin-bottom: 80px;
  font-family: Spartan-Bold, serif;
}

.wrapper {
  max-width: 830px;

  .question__header {
    font-size: 18px;
    margin-bottom: 0;
    padding: 15px 0;
    font-family: Spartan-Semibold, serif;

    mat-icon {
      height: 36px;
      font-size: 36px;
    }

    span {
      padding-top: 5px;
    }

    .question__toggle {
      margin-right: 15px;
    }
  }
}

.video {
  width: 70%;
  height: 70%;
  margin: auto;


  @media (max-width: 945px) {
    width: 40%;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.intro {
  margin: 0px 0 60px;

  &__container {
    //max-width: 640px;
    //
    //margin: 0 auto;
    //padding: 0 2.4rem;

    //text-align: center;
  }

  &__title {
    margin-top: 70px;
    font-size: 28px;
    font-family: Spartan-Bold, serif;
  }

  &__description:not(:first-child) {
    margin-top: 1.6rem;
  }
}

.questions {
  &:last-of-type {
    margin-bottom: 90px;
  }

  &__container {
    max-width: 640px;

    margin: 0 auto;
    padding: 0 2.4rem;
  }
}

.mat-expansion-panel {
  box-shadow: none;
  border-top: 2px solid map-get($colors, 'faq-border');
  border-radius: 0 !important;

  &:last-of-type {
    border-bottom: 2px solid map-get($colors, 'faq-border');
  }

  &-header {
    height: auto !important;
    padding: 10px;
  }
}

.question {
  &__header {
    display: flex;
    align-items: center;
  }

  &__toggle {
    display: flex;

    margin-right: 2.4rem;

    background: transparent;
    border: none;

    cursor: pointer;

    .mat-icon {
      width: 3.6rem;
      height: 3.6rem;

      font-size: 3.6rem;

      transition: transform 0.3s ease;
    }

    &--open {
      .mat-icon {
        transform: rotate(45deg);
      }
    }
  }

  &__name {
    font-family: 'Spartan-Semibold', sans-serif;
    line-height: 24px;
  }

  &__answer {
    font-size: 18px;
    line-height: 1.5;
    padding-left: 112px;
    @include media-sm {
      padding-left: 70px;
    }

    &::before {
      content: '';

      display: block;

      position: relative;
      top: 12px;
      left: -24px;

      width: 3px;
      height: 3px;

      background: currentColor;
      border-radius: 1.5px;
    }

    & + & {
      margin-top: 20px;
    }

    ul {
      margin-top: 20px;

      li {
        margin-top: 20px;
      }
    }
  }

  ::ng-deep {
    ul li {
      list-style: disc;
      margin-bottom: 15px;
    }
  }
}

ul {
  margin-top: 20px;

  li {
    margin-top: 20px;
    list-style: disc;
  }
}

.about {
  display: flex;
  @include media-sm {
    flex-direction: column;
  }

  &-left {
    width: 53%;
    @include media-sm {
      width: unset;
    }
  }

  &-right {
    width: 47%;
    padding-left: 80px;
    @include media-sm {
      width: unset;
      padding-left: unset;
      margin-top: 20px;
    }

    img {
      width: 100%;
    }
  }

  &-image__description {
    font-size: 14px;
    margin-top: 20px;
  }
}
