<section class="intro">
  <div class="intro__container">
    <section>
      <div class="video">
        <div style="padding:56.25% 0 0 0;position:relative;">
          <iframe src="https://player.vimeo.com/video/718760352?h=c782900633&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Project Singular Overview"></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script> 
        <div class="header-photo-description">Learn about Project Singular by watching this short video overview.</div>
      </div>
    </section>
    <!--    <h2 class="intro__title" [innerHTML]="'FAQ.Title' | translate"></h2>-->
    <!--    <p class="intro__description" [innerHTML]="'FAQ.P1' | translate"></p>-->
    <!--    <p class="intro__description" [innerHTML]="'FAQ.P2' | translate"></p>-->

    <!--    <h2 class="intro__title" [innerHTML]="'FAQ.Title2' | translate"></h2>-->
    <!--    <p class="intro__description" [innerHTML]="'FAQ.P3' | translate"></p>-->
    <!--    <p class="intro__description" [innerHTML]="'FAQ.P4' | translate"></p>-->
    <!--    <p class="intro__description" [innerHTML]="'FAQ.P5' | translate"></p>-->
  </div>
</section>

<section class="questions">
  <div class="container">
    <h1>Frequently Asked Questions</h1>
    <div class="wrapper">
      <ng-container
        [ngTemplateOutlet]="questionsTmpl"
        [ngTemplateOutletContext]="{
          questions: 'FAQ.Questions' | translate
        }"
      ></ng-container>
    </div>
  </div>
</section>

<section class="intro">
  <div class="container">
    <h2 class="intro__title" [innerHTML]="'FAQ.VentricleHeartDefects.Title' | translate"></h2>
    <div class="about">
      <div class="about-left">
        <p class="intro__description" [innerHTML]="'FAQ.VentricleHeartDefects.P1' | translate"></p>
        <p class="intro__description">
          <a [ngClass]="IGNORE_ANALYTICS_CLASS" (click)="videoClick($event)" target="_blank" [href]="VIDEO_URL">{{ 'FAQ.VentricleHeartDefects.Link' | translate }}</a>
        </p>
        <p class="intro__description" [innerHTML]="'FAQ.VentricleHeartDefects.P2' | translate"></p>
        <p class="intro__description" [innerHTML]="'FAQ.VentricleHeartDefects.P3' | translate"></p>
        <p class="intro__description" [innerHTML]="'FAQ.VentricleHeartDefects.P4' | translate"></p>
        <p class="intro__description" [innerHTML]="'FAQ.VentricleHeartDefects.P5' | translate"></p>
        <p class="intro__description" [innerHTML]="'FAQ.VentricleHeartDefects.P6' | translate"></p>
      </div>
      <div class="about-right">
        <img src="assets/images/faq_jake.png" alt="">
        <div class="about-image__description">Jake, 27 years old, Hypoplastic Left Heart Syndrome</div>
      </div>
    </div>
    </div>
</section>

<ng-template #questionsTmpl let-questions="questions">
  <ng-container *ngFor="let questionGroup of questions">
    <section class="intro">
      <div class="intro__container">
        <h2 class="intro__title" [innerHTML]="questionGroup.Title | translate"></h2>
      </div>
    </section>
    <mat-accordion multi hideToggle displayMode="flat">
      <mat-expansion-panel #panel *ngFor="let item of questionGroup.Items">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="question__header">
              <button
                      type="button"
                      class="question__toggle"
                      tabindex="-1"
                      [class.question__toggle--open]="panel.expanded"
              >
                <mat-icon>add</mat-icon>
              </button>
              <span class="question__name">
            {{ item.Name }}
          </span>
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let Answer of item.Answers" class="question__answer" [innerHTML]="Answer"></p>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</ng-template>


