<header class="header">
  <div class="container">
    <h1 class="header-title">Discoveries in single ventricle heart defects are on the horizon.<br/>But we need your help.</h1>
    <div class="header-wrapper">
      <div class="header-description">
        <p>We are on a mission to find out what causes single ventricle heart disease and find better ways to treat it.</p>
        <p>By sharing your health information,<br>you can help us make it happen.</p>
        <p>Join our community of patients and families<br>who are committed to making discoveries!</p>
        <button (click)="clickPreScreening()" class="button button--primary button--lg" [routerLink]="Route.PreScreening">{{ PRESCREEN_BUTTON_LABEL }}</button>
      </div>
      <div class="header-photo">
        <img src="assets/images/about-header.png" alt="">
        <div class="header-photo-description">Kiona Y. Allen, MD, Michelle Steltzer, CPNP/AC-PC, and Winston, 10 months. Hypoplastic Left Heart Syndrome.</div>
      </div>
    </div>
  </div>
</header>

<section class="about">
  <div class="container">
    <div class="about-left">
      <h2 class="about-title">Here’s what we know:</h2>
      <div class="about-items">
        <div class="about-items-item">
          <div class="about-items-item-img"></div>
          <div class="about-items-item-text"><b>5 of every 100,000 babies</b><br />are born with a single ventricle heart defect.</div>
        </div>
        <div class="about-items-item">
          <div class="about-items-item-img"></div>
          <div class="about-items-item-text"><b>4 genes</b> have been linked to<br>single ventricle heart defects.</div>
        </div>
        <div class="about-items-item">
          <div class="about-items-item-img"></div>
          <div class="about-items-item-text">Right now, there is <b>NO cure</b><br>for single ventricle heart defects.</div>
        </div>
      </div>
    </div>
    <div class="about-right">
      <h2 class="about-title">What is Project Singular?</h2>
      <p>Project Singular is a research study to learn more about single ventricle heart disease.</p>
      <p>We don't know what causes single ventricle heart defects<br>or many of the associated health problems. If we understand the causes, researchers may be able to develop new and better treatments.</p>
      <p>We hope that by looking at the genes of at least 5,000 patients and their immediate family members, we can make life-saving discoveries.</p>
      <p>In order to reach our goal, <b>we need your help.</b></p>
      <button (click)="clickPreScreening()" class="button button--primary button--lg" [routerLink]="Route.PreScreening">{{ PRESCREEN_BUTTON_LABEL }}</button>
    </div>
  </div>
</section>
<section>
    <div class="container">
        <app-video-intro pageRendered="HOME">></app-video-intro>
    </div>
</section>
<section class="join">
  <div class="container">
    <div class="join-wrapper">
      <div class="join-left">
        <h1 class="join-left-heading">Who can join?</h1>
        <ul class="join-list">
          <li>People who have been diagnosed with a single ventricle heart defect, including transplant recipients.</li>
          <li>Biological parents, siblings, or children of a person with a single ventricle heart defect.</li>
          <li>Must live in the United States or Canada.</li>
          <li>We welcome people of all ages, genders, races, ethnicities, and abilities</li>
        </ul>
      </div>
      <div class="join-right">
        <img src="assets/images/about-join.png" alt="">
      </div>
    </div>
    <div class="join-sign_up">
      <div class="join-sign_up-text">Living with single ventricle heart disease can feel powerless—but you have the power to fuel research and a brighter tomorrow. <span class="text-semibold">Let’s get started today.</span></div>
      <button (click)="clickPreScreening()"  class="button button--primary button--lg" [routerLink]="Route.PreScreening">{{ PRESCREEN_BUTTON_LABEL }}</button>
    </div>
  </div>
</section>

<section class="participating">
  <div class="container">
    <h1>Participating is Easy</h1>
    <div class="participating-steps">
      <div class="participating-steps-step">
        <img src="assets/images/step-1.png" alt="participating steps image" class="participating-steps-step-img">
        <div class="participating-steps-step-title">STEP 1</div>
        <div class="participating-steps-step-name">Enroll Participant(s)</div>
        <div class="participating-steps-step-text">
          <p>To enroll, each participant will need to agree to a research consent form that explains the study.</p>
          <a [ngClass]="IGNORE_ANALYTICS_CLASS" (click)="clickDownload(CONSENT_PDF_NAME, CONSENT_PDF_URL)" [href]="CONSENT_PDF_URL" target="_blank">{{ CONSENT_PDF_NAME }}</a>
        </div>
      </div>
      <div class="participating-steps-step">
        <img src="assets/images/step-2.png" alt="participating steps image" class="participating-steps-step-img">
        <div class="participating-steps-step-title">STEP 2</div>
        <div class="participating-steps-step-name">Answer Short Surveys</div>
        <div class="participating-steps-step-text">
          <p>Participants will be asked to answer surveys about their health and share related medical records.</p>
        </div>
      </div>
      <div class="participating-steps-step">
        <img src="assets/images/step-3.png" alt="participating steps image" class="participating-steps-step-img">
        <div class="participating-steps-step-title">STEP 3</div>
        <div class="participating-steps-step-name">Provide Spit Sample(s)</div>
        <div class="participating-steps-step-text">
          <p>Once enrolled, we will send each participant a returnable spit kit to learn about their DNA.</p>
        </div>
        <div class="participating-steps-step-link">
          <a [ngClass]="IGNORE_ANALYTICS_CLASS" (click)="clickDownload(SALIVA_KIT_PDF_NAME, SALIVA_KIT_PDF_URL)" [href]="SALIVA_KIT_PDF_URL" target="_blank">{{ SALIVA_KIT_PDF_NAME }}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="privacy">
    <div class="container">
        <div class="title">
            <img src="assets/images/privacy-lock.png" alt="lock image">
            <h1>Privacy Note</h1>
        </div>
        <div class="text">
            <p>We are committed to protecting your privacy. Learn about how we are keeping your information safe, why we are asking for medical records, and more in
                <a [routerLink]="Route.FAQ">our FAQs</a>.</p>
        </div>
    </div>
</section>


<section class="partners">
  <div class="container">
    <h1>Our Partners</h1>
    <div class="partners-list">
      <div class="partners-list-item">
        <a target="_blank" [href]="ADDITIONAL_VENTURES_URL">
          <img src="assets/images/partner-1.png" alt="Additional Ventures" />
        </a>
      </div>
      <div class="partners-list-item">
        <a target="_blank" [href]="BROAD_INSTITUTE_URL">
          <img src="assets/images/partner-2.png" alt="Broad Institute of MIT and Harvard" />
        </a>
      </div>
      <div class="partners-list-item">
        <a target="_blank" [href]="BOSTON_HOSPITAL_URL">
          <img src="assets/images/partner-3.png" alt="Boston Children's Hospital" />
        </a>
      </div>
      <div class="partners-list-item">
        <a target="_blank" [href]="GENOME_MEDICAL_URL">
          <img src="assets/images/partner-4.png" alt="Genome Medical" />
        </a>
      </div>
    </div>
  </div>
</section>
