@import '../../../../styles/colors';
@import "../../../../styles/breakpoints";

:host {
  color: $__font;

  h1, h2 {
    font-family: Spartan-Bold, serif;
    line-height: 57px;
  }
  p {
    line-height: 30px;
  }
  h1 {
    @include media-sm {
      font-size: 30px;
      line-height: 46px;
    }
  }

  .header {
    h1 {
      margin-bottom: 40px;
    }
    &-wrapper {
      display: flex;
      @include media-sm {
        flex-direction: column-reverse;
      }
    }
    &-description {
      padding-right: 60px;
      @include media-sm {
        padding-right: 0;
      }
      & p {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 40px;
      }
      & button {
        margin-top: 10px;
      }
    }
    &-photo {
      & img {
        width: 100%;
      }
      &-description {
        font-size: 14px;
        width: 80%;
        margin-bottom: 20px;
        margin-top: 15px;
      }
    }
  }

  .about {
    margin-top: 100px;
    display: flex;
    position: relative;
    @include media-sm {
      margin-top: 50px;
      flex-direction: column-reverse;
    }
    &-left {
      width: 100%;
      @include media-sm {
        padding: 20px;
      }
      &:before {
        position: absolute;
        content: '';
        background: $__light-blue;
        height: 100%;
        width: 52%;
        left: -49px;
        z-index: -1;
        opacity: 50%;
        @include media-sm {
          width: 100%;
          left: 0;
          height: 590px;
        }
      }
    }
    &-right {
      width: 100%;
      padding-left: 50px;
      @include media-sm {
        padding-left: 0px;
        margin-bottom: 50px;
      }
    }
    &-items {
      margin-top: 50px;
      &-item {
        margin-bottom: 50px;
        display: flex;
        margin-left: 30px;
        @include media-sm {
          margin-left: 0;
        }
        &:nth-child(1) {
          & .about-items-item-img {
            background: url('/assets/images/know-1.svg') center center no-repeat;
            background-size: contain;
          }
        }
        &:nth-child(2) {
          & .about-items-item-img {
            background: url('/assets/images/know-2.svg') center center no-repeat;
            background-size: contain;
          }
        }
        &:nth-child(3) {
          & .about-items-item-img {
            background: url('/assets/images/know-3.svg') center center no-repeat;
            background-size: contain;
          }
        }
        &-img {
          width: 60px;
          margin-right: 20px;
        }
        &-text {
          max-width: 400px;
          font-size: 20px;
          line-height: 28px;
          padding-right: 60px;
          @include media-sm {
            padding-right: unset;
          }
        }
      }
    }
    & p {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
}

.join {
  margin-top: 100px;
  h1 {
    margin-bottom: 35px;
  }
  h3 {
    margin-bottom: 40px;
  }
  @include media-sm {
    h1 {
      margin-top: 30px!important;
    }
    h3 {
      line-height: 40px;
    }
  }
  &-wrapper {
    display: flex;
    @include media-sm {
      flex-direction: column-reverse;
    }
  }
  &-left {
    padding-right: 40px;
    @include media-md {
      padding-right: 0px;
    }
  }
  &-right {
    margin-top: 90px;
    @include media-md {
      margin-top: unset;
    }
    & img {
      width: 100%;
    }
  }
  &-list {
    font-size: 18px;
    line-height: 30px;
    padding-left: 70px;
    &-item {
      position: relative;
      margin-bottom: 40px;
      padding-right: 60px;
      @include media-md {
        padding-right: unset;
      }
      &:before {
        position: absolute;
        content: '';
        width: 40px;
        height: 40px;
        border-radius: 8px;
        top: 12%;
        left: -70px;
        flex-shrink: 0;
      }
      &__violette {
        &:before {
          top: 26%;
          background: $__purple;
        }
      }
      &__blue {
        &:before {
          background: #D8D8D8;
        }
      }
      &__green {
        &:before {
          background: #8FF6C0;
        }
      }
    }
  }
  &-sign_up {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    @include media-md {
      width: unset;
    }
    &-text {
      margin-top: 70px;
      margin-bottom: 50px;
      font-size: 24px;
      line-height: 34px;
    }
  }
}

.participating {
  margin-top: 100px;
  padding: 40px 40px;
  padding-bottom: 60px;
  background: $__light-blue;
  &-steps {
    display: flex;
    justify-content: space-between;
    @include media-sm {
      flex-direction: column;
    }
    &-step {
      width: 31%;
      @include media-sm {
        width: unset;
        margin-bottom: 30px;
      }
      padding: 30px 40px;
      text-align: center;
      background: $__white;
      border-radius: 8px;
      p {
        margin-bottom: 25px;
      }
      &-img {
        height: 100px;
        margin: 30px 0;
      }
      &-title {
        font-size: 24px;
        font-family: Spartan-Bold, serif;
        color: $__highlighted-font;
        margin-bottom: 20px;
      }
      &-text {

      }
    }
  }
  &-FAQ {
    width: 65%;
    @include media-sm {
      width: unset;
    }
    margin: 0 auto;
    text-align: center;
    &-text {
      padding: 60px 40px 40px;
      font-size: 24px;
      line-height: 34px;
      @include media-md {
        padding: 40px 0;
      }
    }
  }
}

.partners {
  h1 {
    margin-top: 70px!important;
    @include media-sm {
      text-align: center;
    }
  }
  &-more-information {
    width: 65%;
    margin: 80px auto 90px;
    text-align: center;
    @include media-sm {
      width: unset;
      margin-top: 0;
    }
  }
  &-list {
    display: flex;
    margin-bottom: 70px;
    align-items: center;
    @include media-sm {
      flex-direction: column;
      margin-bottom: 0;
    }
    &-item {
      padding: 0 40px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      @include media-sm {
        margin-bottom: 40px;
      }
      & img {
        width: 100%;
      }
    }
  }
}

.text-semibold {
  font-family: 'Spartan-Semibold', sans-serif;
}
