<header class="header">
  <div class="container">
    <h1 class="header-title">Discoveries in single ventricle heart defects are on the horizon.<br/>But we need your help.</h1>
    <div class="header-wrapper">
      <div class="header-description">
        <p>We are on a mission to find out what causes single ventricle heart disease and find better ways to treat it.</p>
        <p>By sharing your health information,<br>you can help us make it happen.</p>
        <p>Join our community of patients and families<br>who are committed to making discoveries!</p>
        <button class="button button--primary button--lg" [routerLink]="Route.PreScreening">Sign me up!</button>
      </div>
      <div class="header-photo">
        <img src="assets/images/about-header.png" alt="">
        <div class="header-photo-description">Kiona Y. Allen, MD, Michelle Steltzer, CPNP/AC-PC, and Winston, 10 months. Hypoplastic Left Heart Syndrome.</div>
      </div>
    </div>
  </div>
</header>

<section class="about">
  <div class="container">
    <div class="about-left">
      <h2 class="about-title">Here’s what we know:</h2>
      <div class="about-items">
        <div class="about-items-item">
          <div class="about-items-item-img"></div>
          <div class="about-items-item-text"><b>5 of every 100,000 babies</b><br />are born with a single ventricle heart defect.</div>
        </div>
        <div class="about-items-item">
          <div class="about-items-item-img"></div>
          <div class="about-items-item-text"><b>4 genes</b> have been linked to<br>single ventricle heart defects.</div>
        </div>
        <div class="about-items-item">
          <div class="about-items-item-img"></div>
          <div class="about-items-item-text">Right now, there is <b>NO cure</b><br>for single ventricle heart defects.</div>
        </div>
      </div>
    </div>
    <div class="about-right">
      <h2 class="about-title">What is Project Singular?</h2>
      <p>Project Singular is a research study to learn more about single ventricle heart disease.</p>
      <p>We don't know what causes single ventricle heart defects<br>or many of the associated health problems. If we understand the causes, researchers may be able to develop new and better treatments.</p>
      <p>We hope that by looking at the genes of at least 5,000 patients and their immediate family members, we can make life-saving discoveries.</p>
      <p>In order to reach our goal, <b>we need your help.</b></p>
      <button class="button button--primary button--lg" [routerLink]="Route.PreScreening">Sign me up!</button>
    </div>
  </div>
</section>

<section class="join">
  <div class="container">
    <div class="join-wrapper">
      <div class="join-left">
        <h1>Who can join?</h1>
        <h3>For those who live in the USA or Canada:</h3>
        <div class="join-list">
          <div class="join-list-item join-list-item__violette">Anyone who has ever been diagnosed with a<br>single ventricle heart defect, including transplant recipients, can participate.</div>
          <div class="join-list-item join-list-item__blue">Biological parents, siblings, or children of a person<br>with a single ventricle heart defect can participate.</div>
          <div class="join-list-item join-list-item__green">We welcome people of all ages, genders, races, ethnicities, and abilities.</div>
        </div>
      </div>
      <div class="join-right">
        <img src="assets/images/about-join.png" alt="">
      </div>
    </div>
    <div class="join-sign_up">
      <div class="join-sign_up-text">Living with single ventricle heart disease can feel powerless—but you have the power to fuel research and a brighter tomorrow. <span class="text-semibold">Let’s get started today.</span></div>
      <button class="button button--primary button--lg" [routerLink]="Route.PreScreening">Sign me up!</button>
    </div>
  </div>
</section>

<section class="participating">
  <div class="container">
    <h1>Participating is Easy</h1>
    <div class="participating-steps">
      <div class="participating-steps-step">
        <img src="assets/images/step-1.svg" alt="" class="participating-steps-step-img">
        <div class="participating-steps-step-title">Step 1</div>
        <div class="participating-steps-step-text">
          <p>To enroll, set up an account on this website.</p>
          <p>Complete a short survey and sign a consent.</p>
        </div>
      </div>
      <div class="participating-steps-step">
        <img src="assets/images/step-2.svg" alt="" class="participating-steps-step-img">
        <div class="participating-steps-step-title">Step 2</div>
        <div class="participating-steps-step-text">
          <p>Provide your spit sample (we’ll send a returnable kit).</p>
          <p>Patients will be asked to share their medical records.</p>
        </div>
      </div>
      <div class="participating-steps-step">
        <img src="assets/images/step-3.svg" alt="" class="participating-steps-step-img">
        <div class="participating-steps-step-title">Step 3</div>
        <div class="participating-steps-step-text">
          <p>Check back here and on our social media pages to learn about progress and when there are more ways to help.</p>
        </div>
      </div>
    </div>
    <div class="participating-FAQ">
      <div class="participating-FAQ-text">
        <p>We are committed to protecting your privacy. Learn about how we are keeping your information safe, why we are asking for medical records, and more in our FAQs.</p>
      </div>
      <button class="button button--primary button--lg" [routerLink]="Route.FAQ">Visit FAQs</button>
    </div>
  </div>
</section>

<section class="partners">
  <div class="container">
    <h1>Our Partners</h1>
    <div class="partners-list">
      <div class="partners-list-item">
        <a href="https://www.additionalventures.org/" target="_blank">
          <img src="assets/images/partner-1.png" alt="">
        </a>
      </div>
      <div class="partners-list-item">
        <a href="https://www.broadinstitute.org/" target="_blank">
          <img src="assets/images/partner-2.png" alt="">
        </a>
      </div>
      <div class="partners-list-item">
        <a href="https://www.childrenshospital.org/" target="_blank">
          <img src="assets/images/partner-3.png" alt="">
        </a>
      </div>
      <div class="partners-list-item">
        <a href="https://www.genomemedical.com/" target="_blank">
          <img src="assets/images/partner-4.png" alt="">
        </a>
      </div>
    </div>
    <div class="partners-more-information">For more information on how to become a Project Singular partner, contact the team at <a href="mailto:contact@projectsingular.org">contact@projectsingular.org.</a>
    </div>
  </div>
</section>
