@use '@angular/material' as mat;
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';
@import '../../../../../ddp-pancan/src/styles/variables.scss';

* {
  padding: 0;
  margin: 0;
}

.participation {
  padding-bottom: 0 !important;
  text-align: left;

  .static-page-title {
    margin: 0 auto 2rem;
    text-align: center;
    padding: 3.2rem 0;
    background-color: $accent-lms-color;
    cursor: default;
  }

  .count-me-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;

    .img {
      height: 4.1875rem;
      width: 9.4375rem;
      margin: 0 19.8125rem;
    }

    .text {
      color: #1d1b25;
      font-family: Untitled-Sans, sans-serif;
      font-size: 1.25rem;
      letter-spacing: 0;
      line-height: 1.875rem;
      text-align: left;
      margin: 2.8125rem 2.0625rem 0;
      padding-bottom: 2.5rem;
    }

    .cmi-visit-button {
      background-color: #9953ce;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      padding: 0.9072rem 1.75rem;
      color: #ffffff;
      font-size: 1.375rem;
      font-family: Untitled-Sans-Light, sans-serif;

      .mat-icon {
        height: 1.5rem;
        width: 1.375rem;
      }
    }

    @media (max-width: 992px) {
      width: 60%;
    }

    @media (max-width: 776px) {
      width: 70%;
    }

    @media (max-width: 576px) {
      width: 90%;
    }
  }

  &:nth-of-type(odd) {
    padding-bottom: 7.94rem;
    flex-direction: row;
  }
}

.advisory {
  background-color: #f1e4fb;
  padding: 3rem 0;

  &-headLine {
    text-align: center;
    margin-bottom: 2.3125rem;

    p,
    a {
      color: #000000;
      font-family: Untitled-Sans-Light, sans-serif;
      font-size: 3rem;
      font-weight: 100;
      margin: 0;
      padding: 0;
    }
  }

  &-summary {
    padding: 0 5.0625rem 3.75rem;
    font-size: 1.25rem;
    display: flex;
    font-family: Untitled-Sans, sans-serif;
    justify-content: center;
    letter-spacing: 0;
    line-height: 1.875rem;
    width: 50%;
    margin: auto;

    @media (max-width: 776px) {
      width: 70%;
    }
  }

  &-advisorsInfo {
    display: flex;
    justify-content: space-between;
    margin: 5rem auto;
    width: 70%;

    &-image {
      height: 16.818125rem;
      width: 12.5rem;
      margin-right: 3rem;
    }

    &-about {
      &-name {
        font-size: 1.875rem;
        font-weight: 500;
        margin-bottom: 0.625rem;
        font-family: Untitled-Sans-Medium, sans-serif;
      }
      &-bio {
        font-size: 1.25rem;
        letter-spacing: 0;
        line-height: 1.875rem;
        font-family: Untitled-Sans, sans-serif;
      }
    }

    @media (max-width: 992px) {
      width: 80%;
    }
    @media (max-width: 776px) {
      flex-wrap: wrap;
    }
  }
}

.champions {
  padding: 5rem 18% 5.3125rem;

  h1 {
    margin-bottom: 5rem;
    font-size: 3rem;
    letter-spacing: 0;
    line-height: 3.625rem;
  }

  &-headline {
    text-align: center;
    font-family: Untitled-Sans-Light, sans-serif;
  }

  &-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &-item {
      display: flex;
      width: 28.75rem;
      height: 10.931875rem;
      margin-bottom: 3.755625rem;

      img {
        height: 10.931875rem;
        width: 8.125rem;
        margin-right: 1.875rem;
      }

      aside {
        h2 {
          margin-bottom: 1rem;
          font-size: 1.25rem;
          letter-spacing: 0;
          line-height: 1.5rem;
        }
        p,
        a {
          font-size: 1rem;
          line-height: 1.5rem;
          letter-spacing: 0;
        }
      }
    }
  }
}

.chemptext {
  color: #f1e4fb;
  background: #f1e4fb;
}

.champions-list-item {
  h2 {
    font-family: Untitled-Sans-Medium, sans-serif;
  }
}

.learnMoreBlank {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5.125rem 7.5625rem;
  background-color: #9953ce;
}

.learnMoreHeadline {
  color: #ffffff;
  font-family: Untitled-Sans-Light, sans-serif;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 3.625rem;
  margin-bottom: 3.1875rem;
}

.learnMore {
  height: 4.375rem;
  width: 18.0625rem;
  border: none;
  background-color: #ffffff;
  border-radius: 0.25rem;
  &:hover {
    cursor: pointer;
  }
}

.visitFaq {
  color: #000000;
  font-family: Untitled-Sans, sans-serif;
  font-size: 1.5rem;
  letter-spacing: -6.25e-4rem;
  line-height: 1.625rem;
  text-align: center;
  cursor: pointer;
}
