@use '@angular/material' as mat;
@import "../../../styles/variables.scss";
@import "../../../styles/fonts.scss";
@import '../../../../../ddp-pancan/src/styles/variables.scss';

* {
  padding: 0;
  margin: 0;
}



.about-block {
  background-color: $primary-lms-backGround-color;
  width: 100%;
  height: 336px;
  display: flex;
  justify-content: center;

  h1 {
    margin-top: 66px;
    font-family: Untitled-Sans-Light, sans-serif;
    height: 58px;
    width: 205px;
    color: #FFFFFF;
    font-size: 48px;
    letter-spacing: 0;
    font-weight: 100;
    line-height: 58px;
  }
}

.page-name {
  margin-top: 50px;
  color: #FFFFFF;
  font-family: Untitled-Sans-Light, sans-serif;
  width: 205px;
  height: 58px;
  font-size: 40px;
  cursor: default;
}

.cmiBlock {
  background-color: #F1E4FB;
  width: 55%;
  height: 249px;
  position: absolute;
  top: 285px;
  left: 22.5%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);

  &-text {
    padding: 10px 45px 20px 45px;

    p {
      margin: 0;
      padding: 0;
      font-family: Untitled-Sans, sans-serif;
      text-align: center;
      font-size: 24px;
    }
  }

  &-visit-button {
    width: 334px;
    height: 56px;
    background-color: #9953CE;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;

    &-text {
      height: 30px;
      width: 269px;
      color: #FFFFFF;
      font-family: Untitled-Sans-Light, sans-serif;
      font-size: 22px;
      letter-spacing: -0.01px;
      line-height: 24px;
      margin-top: 15px;
    }

    .mat-icon {
      height: 24px;
      width: 22px;
      color: #FFFFFF;
      font-size: 22px;
      margin-top: 15px;
    }
  }
}


.countMeIn {
  margin-top: -50px;
  padding: 0 22.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-img {
    height: 67px;
    width: 151px;
    margin: 0 317px;
  }

  &-text {
    color: #1D1B25;
    font-family: Untitled-Sans, sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: left;
    margin: 45px 33px 0;
    padding-bottom: 40px;
  }
}

.advisory {
  padding: 60px 20%;
  background-color: #F1E4FB;

  &-headLine {
    text-align: center;
    margin-bottom: 37px;

    p,a {
      color: #000000;
      font-family: Untitled-Sans-Light, sans-serif;
      font-size: 48px;
      font-weight: 100;
      margin: 0;
      padding: 0;
    }
  }

  &-summary {
    padding: 0 81px 60px;
    font-size: 20px;
    display: flex;
    font-family: Untitled-Sans, sans-serif;
    justify-content: center;
    letter-spacing: 0;
    line-height: 30px;
  }

  &-advisorsInfo {

    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    &-image {
      height: 269.09px;
      width: 200px;
      margin-right: 48px;
    }

    &-about {

      &-name {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
        font-family: Untitled-Sans-Medium, sans-serif;
      }
      &-bio {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 30px;
        font-family: Untitled-Sans, sans-serif;
      }
    }
  }
}

.champions {
  padding: 80px 18% 85px;

  h1 {
    margin-bottom: 80px;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 58px;
  }

  &-headline {
    text-align: center;
    font-family: Untitled-Sans-Light, sans-serif;
  }

  &-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

      &-item {
        display: flex;
        width: 460px;
        height: 174.91px;
        margin-bottom: 60.09px;

        img {
          height: 174.91px;
          width: 130px;
          margin-right: 30px;
        }

        aside {
          h2 {
            margin-bottom: 16px;
            font-size: 20px;
            letter-spacing: 0;
            line-height: 24px;
          }
          p, a {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0;
          }
        }


      }
  }
}


.learnMoreBlank {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 82px 121px;
  height: 352px;
  background-color: #9953CE;
}

.learnMoreHeadline {
  height: 58px;
  color: #FFFFFF;
  font-family: Untitled-Sans-Light, sans-serif;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 58px;
  margin-bottom: 51px;
}

.learnMore {
  height: 70px;
  width: 289px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
  }
}

.visitFaq {
  color: #000000;
  font-family: Untitled-Sans, sans-serif;
  font-size: 24px;
  letter-spacing: -0.01px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}

.participation {
  text-align: left;

  .button_secondary:hover:enabled {
    background: #fbfbfb!important;
    color: inherit!important;

  }
  .step__btn {
    background: #fbfbfb!important;
    color: inherit!important;
  }

  .title {
    margin: 0 auto 5.625rem;
    text-align: center;
    padding: 3.2rem 0;
    background-color: $accent-lms-color;
  }

  .step__title {
    font-weight: bold;
    font-family: "Source Serif Pro", serif;
    font-size: 2.625rem;
  }

  .static-page-title {
    margin: 0 auto 5.625rem;
    text-align: center;
    padding: 3.2rem 0;
    background-color: $accent-lms-color;
  }

  &:nth-of-type(odd) {
    padding-bottom: 7.94rem;
    flex-direction: row;
  }
}

.step {
  padding: 0 1.5rem 9.94rem 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 8rem;

  &:nth-of-type(odd) {
    padding-bottom: 7.94rem;
    flex-direction: row;
  }

  &__data {
    max-width: 700px;
  }

  &__label {
    font-size: 1.13rem;
    margin-right: 1rem;
  }

  &__time {
    mat-icon {
      vertical-align: top;
      margin-right: 8px;
    }
  }

  &__title {
    margin: 1rem 0 1.13rem 0;
    font-family: $primary-font-medium;
    font-size: 2rem;
    line-height: 3.625rem;
    font-weight: normal;
  }

  &__text {
    margin: 0.5rem 0 2.13rem;
    font-size: 1.5rem;
    line-height: 2.125rem;
  }

  &__btn {
    font-size: 1.13rem;
    padding: 1rem 2rem;
    line-height: 22px;
    // font-family: $primary-font-medium;
    font-family: $primary-font-medium;
    white-space: normal;
    border: 2px solid #000000!important;
  }

  &__image {
    display: flex;
    align-items: center;

    .image {
      width: 21.25rem;
      height: 18.75rem;
    }
  }
}



@media screen and (max-width: $tablet-breakpoint) {
  .participation {
    .step {
      align-items: center;
      gap: 3rem;

      &:nth-of-type(n) {
        flex-direction: column-reverse;
      }
    }
  }
}



