# Ensure environment variable names are unique across different apps

SITE_PASSWORD=

# PEPPER 
API_BASE_URL=https://pepper-dev.datadonationplatform.org
MERCURY_PUBSUB_TOPIC_NAME=
MERCURY_PUBSUB_PROJECT_ID=

# ATCP
ATCP_BASE_URL=https://atcp.dev.datadonationplatform.org
ATCP_USER_EMAIL=
ATCP_USER_PASSWORD=

# ATCP Auth0 settings required to set email validated = true
ATCP_AUTH0_DOMAIN=
ATCP_AUTH0_AUDIENCE=
ATCP_AUTH0_CLIENT_ID=
ATCP_AUTH0_CLIENT_SECRET=

# DSM
DSM_BASE_URL=https://dsm-dev.datadonationplatform.org
DSM_USER1_EMAIL=
DSM_USER1_PASSWORD=
# second user for the permission tests
DSM_USER2_EMAIL=
DSM_USER2_PASSWORD=
# third user
DSM_USER3_EMAIL=
DSM_USER3_PASSWORD=
# fourth user with very limited kit_shipping permissions
DSM_USER4_EMAIL=
DSM_USER4_PASSWORD=
# fifth user for mr-view-permission.spec
DSM_USER5_EMAIL=
DSM_USER5_PASSWORD=
# sixth user: dss-view-permission.spec
DSM_USER6_EMAIL=
DSM_USER6_PASSWORD=
# seventh user: pt-list-view-permission.spec
DSM_USER7_EMAIL=
DSM_USER7_PASSWORD=


BSP_TOKEN=

# Pancan
PANCAN_BASE_URL=https://pancan.dev.datadonationplatform.org
PANCAN_USER_EMAIL=
PANCAN_USER_PASSWORD=

# Angiosarcoma Project (Angio)
ANGIO_BASE_URL=https://angio.dev.datadonationplatform.org
ANGIO_USER_EMAIL=
ANGIO_USER_PASSWORD=

# Rare Genomic Project (RGP)
RGP_BASE_URL=https://rgp.dev.datadonationplatform.org
RGP_USER_EMAIL=
RGP_USER_PASSWORD=
RGP_AUTH0_DOMAIN=
RGP_AUTH0_AUDIENCE=
RGP_AUTH0_CLIENT_ID=
RGP_AUTH0_CLIENT_SECRET=


# ATFAMILIES
AT_BASE_URL=
AT_USER_EMAIL=
AT_USER_PASSWORD=
# auth0 settings required to set email validated = true
AT_AUTH0_DOMAIN=
AT_AUTH0_AUDIENCE=
AT_AUTH0_CLIENT_ID=
AT_AUTH0_CLIENT_SECRET=

# OSTEO
OSTEO_USER_EMAIL=
OSTEO_USER_PASSWORD=
OSTEO_BASE_URL=

# BRAIN
BRAIN_BASE_URL=
BRAIN_USER_EMAIL=
BRAIN_USER_PASSWORD=


# email keys needed to run email delivery assertions
MIN_EMAIL_WAIT_TIME=40000 # minimum time between start of a test and a check for emails
EMAIL_REFRESH_TOKEN=
EMAIL_CLIENT_ID=
EMAIL_CLIENT_SECRET=
EMAIL_REDIRECT_URI=https://developers.google.com/oauthplayground
