<form class="mailing-list" [formGroup]="mailingListForm" (ngSubmit)="onSubmit()">
    <p class="mailing-list__question">1. Are you 18 years old or older?</p>
    <mat-radio-group class="mailing-list__group" formControlName="adult">
        <mat-radio-button class="mailing-list__item" value="true">Yes</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
        <mat-error class="mailing-list__error" *ngIf="fieldHasError('adult', 'required')">
            Please select an option
        </mat-error>
    </mat-radio-group>
    <p class="mailing-list__question">2. Are you a Brigham & Women’s patient?</p>
    <mat-radio-group class="mailing-list__group" formControlName="bwhPatient">
        <mat-radio-button class="mailing-list__item" value="true">Yes</mat-radio-button>
        <mat-radio-button class="mailing-list__item" value="false">No</mat-radio-button>
        <mat-radio-button value="null">Prefer not to answer</mat-radio-button>
        <mat-error class="mailing-list__error" *ngIf="fieldHasError('bwhPatient', 'required')">
            Please select an option
        </mat-error>
    </mat-radio-group>
    <p class="mailing-list__question mailing-list__question_last">3. What email address is best for you?</p>
    <mat-form-field class="mailing-list__input">
        <mat-label>Enter email address</mat-label>
        <input matInput placeholder="example@example.com" formControlName="email" type="email">
        <mat-error *ngIf="fieldHasError('email', 'pattern') && !fieldHasError('email', 'required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="fieldHasError('email', 'required')">
            Please enter your email address
        </mat-error>
    </mat-form-field>
    <button class="mailing-list__button" type="submit">Submit</button>
</form>