@import '../../../app-theme.scss';

.mailing-list {
    background-color: mat-color($app-theme, 100);
    color: mat-color($app-theme, 400);
    border-radius: 1.25rem;
    padding: 2rem 8rem;
    display: flex;
    flex-direction: column;

    &__group {
        height: 2.5rem;
        margin-left: 1rem;
    }

    &__item {
        margin: 0 1.5rem 0 0;
    }

    &__error {
        margin-top: 0.3125rem;
    }

    &__question {
        color: #3F4750;
        font-weight: 600;

        &_last {
            margin-bottom: 0.3rem;
        }
    }

    &__input {
        width: 25rem;
        margin-left: 1rem;
    }

    &__button {
        height: 3.75rem;
        width: 13.4375rem;
        border-radius: 0.625rem;
        background-color: #9399AC;
        font-size: 1.375rem;
        line-height: 2.125rem;
        color: mat-color($app-theme, 100);
        outline: none;
        border: none;
        align-self: center;
        font-family: inherit;
        margin-top: 1.5rem;
    }
}