ddp-user-preferences {
    .form-subgroup-title {
        font-size: 1.2rem;
    }

    .form-subgroup {
        margin-bottom: 30px;

        &--birthday {
            .form-subgroup-title {
                margin-bottom: 0;
            }
        }
    }

    .ddp-date-field-margin {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}
