@import '~@angular/material/theming';
@include mat-core();

$mat-primary: (
    50: transparent,
    100: #FFFFFF,
    200: #1D1B25,
    250: #7154FF,
    300: #3E24BE,
    350: #FFE84E,
    400: #CCF6EB,
    450: #F89D73,
    500: #F57437,
    550: #FCD7C7,
    600: #C5BDEC,
    650: #BBBBBE,
    700: #59585F,
    750: #ACABB0,
    800: #E7E6E9,
    850: #F4F4F4,
    900: #F5F5F5,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        250: #000000,
        300: #000000,
        350: #000000,
        400: #000000,
        450: #000000,
        500: #000000,
        550: #000000,
        600: #000000,
        650: #000000,
        700: #000000,
        750: #000000,
        800: #000000,
        850: #000000,
        900: #000000
    ));

$app-theme: mat-palette($mat-primary);