@import '../../styles/buttons';
@import '../../styles/common';

.activity {
  @include common-footer-down;

  ::ng-deep {
    .ddp-required-question-prompt {
      white-space: normal;
    }

    ol.ddp-list, .inner-ul-flat-list {
      padding-left: 15px;
    }

    mat-list-item {
      height: unset;

      .mat-checkbox-inner-container {
        margin-top: 0;
      }

      .mat-checkbox-label {
        margin-top: -5px;
      }
    }

    .activity-buttons {
      display: flex;
      justify-content: space-between;
      margin: 30px 0;

      button.button_primary, button.button_secondary {
        @include btn-green;
      }
    }

    .activity-steps {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin: 50px 0 30px;

      &:after {
        position: absolute;
        top: 50%;
        left: 15px;
        right: 15px;
        height: 4px;
        background-color: #cccccc;
        z-index: 1;
        content: '';
        display: block;
      }

      .activity-step {
        width: 26px;
        height: 26px;
        border-radius: 13px !important;
        border: 3px solid #cccccc;
        background: #eeeeee;
        z-index: 2;
        padding: 0 !important;
        transition: background 0.3s ease;
        font-size: 0;
        margin: 0;

        &:hover {
          background-color: #559BE0;
        }

        &.completed {
          background-color: #7BA946;
        }

        &.active {
          background-color: #337ab7;
        }
      }
    }
  }

  .content {
    width: 100%;
    @media (min-width: 768px) {
      width: 83.33333333%;
    }
    @media (min-width: 992px) {
      width: 58.33333333%;
    }
  }
}
