@use '~@angular/material' as mat;
@import '../../../app-theme';

.workflow-progress {
  width: 20rem;

  margin-top: 11px;
  margin-right: 2em;

  list-style: none;
  position: sticky;
  top: 2.4rem;

  @media only screen and (max-width: 1400px) {
    display: flex;
    flex-flow: row wrap;

    width: 100%;
  }

  &__item {
    margin: 0;

    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }

    @media only screen and (max-width: 1400px) {
      width: calc(100% / 3);

      margin-bottom: 1rem;
      padding: 0 2px;
    }

    @media only screen and (max-width: 420px) {
      width: 50%;
    }

    &--active {
      cursor: default;
    }
  }

  &__divider {
    width: 2px;
    height: 1.6rem;

    margin: 0 0 0 17px;

    background-color: rgba(0, 0, 0, 0.3);

    @media only screen and (max-width: 1400px) {
      display: none;
    }

    &--blue {
      background-color: mat.get-color-from-palette($app-theme, 300);
    }

    &--teal {
      background-color: mat.get-color-from-palette($app-theme, 350);
    }
  }
}

.workflow-progress-step {
  display: flex;
  align-items: center;

  position: relative;

  @media only screen and (max-width: 1400px) {
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  &__circle {
    flex-shrink: 0;
    width: 36px;
    height: 36px;

    margin-right: 1.2rem;

    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 18px;

    @media only screen and (max-width: 1400px) {
      width: 100%;
      height: 3px;

      border-radius: 0;
    }

    &--complete {
      border-color: mat.get-color-from-palette($app-theme, 300);
      background-color: mat.get-color-from-palette($app-theme, 300);
    }

    &--active {
      border-color: mat.get-color-from-palette($app-theme, 350);
      background-color: mat.get-color-from-palette($app-theme, 350);
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;

    opacity: 0.5;

    @media only screen and (max-width: 1400px) {
      margin-top: 0.6rem;
      padding: 0 0.6rem;
    }

    &--text-black {
      opacity: 1;
    }
  }

  &__step-count {
    position: absolute;
    top: 100%;

    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    color: black;

    @media only screen and (max-width: 1400px) {
      position: static;
    }
  }

  &__step-name {
    margin: 0;

    font-size: 1.0625rem;
    line-height: 1;
    color: black;

    @media only screen and (max-width: 1400px) {
      font-size: 1rem;
      line-height: 1.3;
    }
  }
}
