@import '../../../app-theme';

.workflow-progress {
  list-style: none;
  position: sticky;
  top: 2.4rem;

  &__item {
    margin: 0;
  }

  &__divider {
    width: 2px;
    height: 1.6rem;

    margin: 0.5rem 0 0.5rem 20px;

    background-color: rgba(0, 0, 0, 0.3);

    &--active {
      background-color: mat-color($app-theme, 350);
    }

    &--complete {
      background-color: mat-color($app-theme, 250);
    }
  }
}

.workflow-progress-step {
  display: flex;
  align-items: center;

  &__circle {
    width: 42px;
    height: 42px;

    margin-right: 1.6rem;

    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 21px;

    &--complete {
      border-color: mat-color($app-theme, 250);
      background-color: mat-color($app-theme, 250);
    }

    &--active {
      border-color: mat-color($app-theme, 350);
      background-color: mat-color($app-theme, 350);
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;

    opacity: 0.5;

    &--text-black {
      opacity: 1;
    }
  }

  &__step-count {
    font-size: 0.8rem;
    line-height: 1;
    color: black;
    text-transform: uppercase;
  }

  &__step-name {
    margin: 0;

    font-size: 1.2rem;
    color: black;
  }
}
