<ul class="workflow-progress">
  <ng-container *ngFor="let activity of activityList; let i = index; let isLast = last">
    <li
      class="workflow-progress__item"
      (click)="onWorkflowItemClick(activity)"
      [class.workflow-progress__item--active]="activity.instanceGuid === instanceGuid"
    >
      <div class="workflow-progress-step">
        <div
          class="workflow-progress-step__circle"
          [class.workflow-progress-step__circle--active]="activity.instanceGuid === instanceGuid"
          [class.workflow-progress-step__circle--complete]="activity.statusCode === CompleteStatusCode"
        ></div>

        <div
          class="workflow-progress-step__text-container"
          [class.workflow-progress-step__text-container--text-black]="
            activity.statusCode === CompleteStatusCode || activity.instanceGuid === instanceGuid
          "
        >
        <span class="workflow-progress-step__step-count" translate>
          {{ 'Activities.StatusCodes.' + activity.statusCode }}
        </span>
          <p class="workflow-progress-step__step-name">
            {{ activity.activityName }}
          </p>
        </div>
      </div>
    </li>
    <li
      *ngIf="!isLast"
      class="workflow-progress__divider"
      [class.workflow-progress__divider--teal]="
        activityList[i].statusCode === CompleteStatusCode && activityList[i + 1].instanceGuid === instanceGuid &&
        activityList[i + 1].statusCode !== CompleteStatusCode
      "
      [class.workflow-progress__divider--blue]="
        activityList[i].statusCode === CompleteStatusCode && activityList[i + 1].statusCode === CompleteStatusCode
      "
    ></li>
  </ng-container>
</ul>
