* {
  margin: 0;
  padding: 0;
}

.links-list {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.2rem;

  &__item {
    font-family: Untitled-Sans, sans-serif;
  }
}

.link {
  display: inline-block;
  background: transparent;
  border: none;
  font: inherit;
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: -0.23px;
  line-height: 17px;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.link--active {
  text-decoration: underline;
  font-weight: bold;
}
