.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin-top: 3.2rem;

  @media (max-width: 860px) {
    margin-top: 2.4rem;
  }
}

.spinner {
  margin-bottom: 1.2rem;
}
