<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
      <h2 class="title">{{ 'AboutUsPage.Title' | translate }}</h2>
      <p [innerHTML]="'AboutUsPage.Paragraph1' | translate"></p>
      <p [innerHTML]="'AboutUsPage.Paragraph2' | translate"></p>
      <p [innerHTML]="'AboutUsPage.Paragraph3' | translate"></p>
      <p [innerHTML]="'AboutUsPage.Paragraph4' | translate"></p>

      <p>{{ 'AboutUsPage.List.Paragraph1' | translate }}</p>
      <ul>
        <li class="list-item" [innerHTML]="'AboutUsPage.List.Item1' | translate"></li>
        <li class="list-item" [innerHTML]="'AboutUsPage.List.Item2' | translate"></li>
        <li class="list-item" [innerHTML]="'AboutUsPage.List.Item3' | translate"></li>
        <li class="list-item" [innerHTML]="'AboutUsPage.List.Item4' | translate"></li>
      </ul>

      <p [innerHTML]="'AboutUsPage.Paragraph5' | translate"></p>
      <p [innerHTML]="'AboutUsPage.Paragraph6' | translate"></p>
      <p [innerHTML]="'AboutUsPage.Paragraph7' | translate"></p>
      <p [innerHTML]="'AboutUsPage.Paragraph8' | translate"></p>
      <p [innerHTML]="'AboutUsPage.Paragraph9' | translate"></p>

      <div class="box background-light__blue">
        <p class="box-text" [innerHTML]="'AboutUsPage.Box' | translate"></p>
      </div>
  </div>
</div>
