<table class="dashboard-table" mat-table [dataSource]="activities">
  <!-- Activity Name Column -->
  <ng-container matColumnDef="activityName">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'SDK.UserActivities.ActivityName' | translate }}
    </th>
    <td
      mat-cell
      class="activity-name"
      *matCellDef="let activity"
      [attr.data-label]="'SDK.UserActivities.ActivityName' | translate"
    >
      {{ activity.activityName }}
    </td>
  </ng-container>

  <!-- Activity Summary Column -->
  <ng-container matColumnDef="activitySummary">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'SDK.UserActivities.Summary' | translate }}
    </th>
    <td mat-cell *matCellDef="let activity" [attr.data-label]="'SDK.UserActivities.Summary' | translate">
      {{ activity.activitySummary }}
    </td>
  </ng-container>

  <!-- Activity Created At Column -->
  <ng-container matColumnDef="activityCreatedAt">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'SDK.UserActivities.ActivityDate' | translate }}
    </th>
    <td mat-cell *matCellDef="let activity" [attr.data-label]="'SDK.UserActivities.ActivityDate' | translate">
      {{ activity.createdAt | date: 'MM/dd/yyyy' }}
    </td>
  </ng-container>

  <!-- Activity Status Column -->
  <ng-container matColumnDef="activityStatus">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'SDK.UserActivities.ActivityStatus' | translate }}
    </th>
    <td mat-cell *matCellDef="let activity" [attr.data-label]="'SDK.UserActivities.ActivityStatus' | translate">
        <ng-container *ngTemplateOutlet="statusIconTemplate; context: {statusIcon: getStatusIcon(activity)}" ></ng-container>
        {{'Activities.StatusCodes.' + getActivityStatusCode(activity) | translate}}
    </td>
  </ng-container>

  <!-- Activity Actions Column -->
  <ng-container matColumnDef="activityActions">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'SDK.UserActivities.ActivityActions' | translate }}
    </th>
    <td mat-cell *matCellDef="let activity" [attr.data-label]="'SDK.UserActivities.ActivityActions' | translate">
      <ng-container [ngSwitch]="activity.statusCode">
        <ng-container *ngSwitchCase="ActivityStatusCodes.CREATED">
          <ng-container *ngTemplateOutlet="hasPreviousInstance(activity) ? continue : start"></ng-container>

          <ng-template #start>
            <button type="button" class="button button--primary button--sm" (click)="onStartClick(activity)" [disabled]="disableButtons">
              {{ (isMedicalRecordFileUpload(activity) ? 'SDK.UploadButton' : 'SDK.StartButton') | translate }}
            </button>
          </ng-template>

          <ng-template #continue>
            <button type="button" class="button button--primary button--sm" (click)="onContinueClick(activity)"  [disabled]="disableButtons">
              {{ (isMedicalRecordFileUpload(activity) ? 'SDK.UploadButton' : 'SDK.ContinueButton') | translate }}
            </button>
          </ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="ActivityStatusCodes.IN_PROGRESS">
          <button type="button" class="button button--primary button--sm" (click)="onContinueClick(activity)"  [disabled]="disableButtons">
            {{ (isMedicalRecordFileUpload(activity) ? 'SDK.UploadButton' : 'SDK.ContinueButton') | translate }}
          </button>
        </ng-container>

        <ng-container *ngSwitchCase="ActivityStatusCodes.COMPLETE">
          <ng-container *ngTemplateOutlet="isActivityEditable(activity) ? update : view"></ng-container>

          <ng-template #update>
            <button type="button" class="button button--outline button--sm fixed-button" (click)="onEditClick(activity)"  [disabled]="disableButtons">
              {{ (isMedicalRecordFileUpload(activity) ? 'SDK.UploadButton' : 'SDK.EditButton') | translate }}
            </button>
          </ng-template>

          <ng-template #view>
            <button type="button" class="button button--outline button--sm fixed-button" (click)="onViewClick(activity)"  [disabled]="disableButtons">
              {{ 'SDK.ReviewButton' | translate }}
            </button>
          </ng-template>
        </ng-container>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!--status icon template-->
<ng-template #statusIconTemplate let-statusIconVar="statusIcon">
    <img *ngIf="statusIconVar" [src]="statusIconVar" [alt]="statusIconVar"/>
</ng-template>
