@import '../../../styles/breakpoints';


.dashboard-table {
  margin: 0 auto;
  width: 97%;
}

span{
  display: block;
  margin-right: auto;
}


.mat-cell,
.mat-header-cell {
  padding: 20px;
  font-size: 0.8rem;
}

.mat-column-activityStatus {
  margin-left: 20px;

  img {
    width: 10%;
    margin-bottom: 2px;
  }
}




.fixed-button {
  width: 90px;
  height: 43px;
}

.dashboard-mobile-label {
  font-size: 0.9rem;
  display: none;
}



@media (max-width: 650px) {
  .dashboard-mobile-label {
    min-width: 75px;
    display: inline-block;
    
  }
  .mat-header-row {
    display: none;
  }
  .mat-cell {
    display: table-column;
    flex-direction: column;
    margin-left: 0;
    padding-bottom: 0px !important;
    font-size: initial;
  }
  .button {
    width: 204px;
    height: 43px;
  }
  span {
    font-weight: bold;
    font-size: initial;
  }

}



@include media-sm {
  .dashboard-table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .dashboard-table>*:not(:last-child) {
    margin-bottom: 32px;
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .mobile-label {
    display: none;
  }

  .mat-cell,
  .mat-header-cell {
    padding: 20px;
    flex: 0 1 calc(33.3% - 32px);
  }

  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row,
  .mat-header-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}

.actions-wrapper {
  display: flex;

  & button:not(:last-child) {
    margin-right: 5px;
  }
}

.mat-row {
  &:last-of-type {
    .mat-cell {
      border: none;
    }
  }
}