<table class="dashboard-table" mat-table [dataSource]="activities">
  <!-- Activity Name Column -->
  <ng-container matColumnDef="activityName">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'SDK.UserActivities.ActivityName' | translate }}
    </th>
    <td
      mat-cell
      class="activity-name"
      *matCellDef="let activity"
      [attr.data-label]="'SDK.UserActivities.ActivityName' | translate"
    >
      {{ activity.activityName }}
    </td>
  </ng-container>

  <!-- Activity Summary Column -->
  <ng-container matColumnDef="activitySummary">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'SDK.UserActivities.Summary' | translate }}
    </th>
    <td
      mat-cell
      *matCellDef="let activity"
      [attr.data-label]="'SDK.UserActivities.Summary' | translate"
    >
      {{ activity.activitySummary }}
    </td>
  </ng-container>

  <!-- Activity Created At Column -->
  <ng-container matColumnDef="activityCreatedAt">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'SDK.UserActivities.ActivityDate' | translate }}
    </th>
    <td
      mat-cell
      *matCellDef="let activity"
      [attr.data-label]="'SDK.UserActivities.ActivityDate' | translate"
    >
      {{ activity.createdAt | date: 'MM/dd/yyyy' }}
    </td>
  </ng-container>

  <!-- Activity Status Column -->
  <ng-container matColumnDef="activityStatus">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'SDK.UserActivities.ActivityStatus' | translate }}
    </th>
    <td
      mat-cell
      *matCellDef="let activity"
      [attr.data-label]="'SDK.UserActivities.ActivityStatus' | translate"
    >
      {{
        'Activities.StatusCodes.' + getActivityStatusCode(activity) | translate
      }}
    </td>
  </ng-container>

  <!-- Activity Actions Column -->
  <ng-container matColumnDef="activityActions">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'SDK.UserActivities.ActivityActions' | translate }}
    </th>
    <td
      mat-cell
      *matCellDef="let activity"
      [attr.data-label]="'SDK.UserActivities.ActivityActions' | translate"
    >
      <div class="actions-wrapper">
        <button
          *ngIf="activity.statusCode === ActivityStatusCodes.CREATED && !hasPreviousInstance(activity)"
          class="button button--primary button--sm"
          (click)="onStartClick(activity)"
        >
          {{ 'SDK.StartButton' | translate }}
        </button>

        <button
          *ngIf="
            ((activity.statusCode === ActivityStatusCodes.CREATED ||
              activity.statusCode === ActivityStatusCodes.IN_PROGRESS) &&
              hasPreviousInstance(activity)) ||
            (activity.statusCode === ActivityStatusCodes.IN_PROGRESS &&
              !hasPreviousInstance(activity))
          "
          class="button button--primary button--sm"
          (click)="onContinueClick(activity)"
        >
          {{ 'SDK.ContinueButton' | translate }}
        </button>

        <ng-container *ngIf="activity.statusCode === ActivityStatusCodes.COMPLETE">
          <ng-container *ngIf="canCopyActivity(activity); else viewAction">
            <button class="button button--primary button--sm" (click)="onEditClick(activity)">
              {{ 'SDK.EditButton' | translate }}
            </button>
          </ng-container>

          <ng-template #viewAction>
            <ng-container *ngIf="activity.activityCode === ActivityCode.MedicalRecordFileUpload; else viewActionButton">
              <button class="button button--primary button--sm" (click)="onViewClick(activity)">
                {{ 'SDK.UploadButton' | translate }}
              </button>
            </ng-container>
            <ng-template #viewActionButton>
              <button class="button button--outline button--sm" (click)="onViewClick(activity)">
                {{ 'SDK.ReviewButton' | translate }}
              </button>
            </ng-template>
          </ng-template>
        </ng-container>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
