<ng-container *ngIf="section1 | async as section">
    <ng-container *ngIf="section.blocks.length > 0; then hasBlocks else noBlocks">
    </ng-container>

    <ng-template #hasBlocks>
        <div>I got {{section.blocks.length}} blocks</div>
        <ng-container *ngFor="let blockSubject of section.blocksSubjects; index as i">
            <div *ngIf="blockSubject | async as block" [ngClass]="{'selection-highlight': block === (selectedBlock$ | async)}" (click)="blockSubjectSelected(blockSubject)">
                <app-content-block *ngIf="block.blockType === 'CONTENT'" [block]="block"></app-content-block>
                <app-text-question-block *ngIf="block.blockType === 'QUESTION' && block.question.questionType === 'TEXT'"
                                         [definitionBlock]="blockSubject"></app-text-question-block>
            </div>
        </ng-container>

    </ng-template>

    <ng-template #noBlocks>
        <div class="no-blocks">
            <div class="mid">no blocks</div>
        </div>
    </ng-template>
</ng-container>

