.no-blocks {
    height: 300px;
    border: 2px dashed black;

    .mid {
        padding: 100px;
        align: middle;
    }
}

.selection-highlight {
    border: 2px dotted #db4d4d;
}

.section-block {
    min-height: 25px;
}
