.no-blocks {
    height: 300px;
    border: 2px dashed black;

    .mid {
        padding: 100px;
        align: middle;
    }
}

.selection-highlight {
    border: 2px dotted #db4d4d;
}

.section-block {
    min-height: 25px;
    display: flex;
}

.drag-indicator {
    cursor: move;
    opacity: .3;
    padding: 0 15px 0 5px;
    align-items: center;
    display: flex;
}
