@import "../core";

.btn_primary {
  @include flexContainer(center, space-evenly, row);
  flex-wrap: wrap;

  font-size: getFontSize('bmd');
  color: $__White;
  background-color: $__Marble_blue;
  word-break: break-word;
  overflow: auto;
  font-family: Montserrat-Medium, sans-serif;
  border: none;
  border-radius: 2px;
  height: 40px;
  width: 140px;
  padding: 5px 10px;
  &:disabled {
    filter: grayscale(100%);
  }
  &:not(:disabled):hover, :active {
    background-color: $__Bluish_grey;
    cursor: pointer;
  }
}

.btn_secondary {
  @extend .btn_primary;
  background-color: $__transparent;
  width: 136px;
  border: 1px solid $__Marble_blue;
  color: $__Marble_blue;
  &:not(:disabled):hover, :active {
    background-color: $__transparent;
    border-color: $__Marble_blue_transparent;
    color: $__Marble_blue_transparent;
    cursor: pointer;
  }
}
