:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.group-header {
  display: flex;
  justify-content: space-between;
  border: .2px solid gray;
  border-radius: 4.5px;
  
}

.group-body {
  max-height: 650px;
  overflow-y: scroll;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  span {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
  }

}
