<footer class="footer">
    <div class="footer-content">
        <div>
            <a class="project-logo" routerLink="/">
                <img class="project-logo__img" src="assets/images/logo-testboston.png"
                    [alt]="'Header.Logo.ImageAlt' | translate">
            </a>
            <div class="contacts">
                <div class="separator"></div>
                <a class="Link" [href]="phoneHref">{{phone}}</a>
                <a class="Link" [href]="emailHref">{{email}}</a>
            </div>
        </div>
        <nav class="nav">
            <ul class="navigation">
                <li class="navigation__item">
                    <button class="button_simple" (click)="scrollTo('#about-the-study')">
                        About the Study
                    </button>
                </li>
                <li class="navigation__item">
                    <button class="button_simple" (click)="scrollTo('#faq')">
                        FAQ
                    </button>
                </li>
                <li class="navigation__item">
                    <button class="button_simple" (click)="scrollTo('#mailing-list')">
                        Mailing List
                    </button>
                </li>
                <li class="navigation__item">
                    <a class="footer-link" routerLink="/privacy" routerLinkActive="footer-link_active"
                        translate>
                        Privacy
                    </a>
                </li>
                <li class="navigation__item">
                    <ddp-sign-in-out></ddp-sign-in-out>
                </li>
            </ul>
        </nav>
    </div>
</footer>