@import '../../../app-theme.scss';

.footer {
    background-color: mat-color($app-theme, 100);
    min-height: 12rem;
}

.footer-content {
    display: flex;
    max-width: 1350px;
    margin: auto;
    padding: 0 1.5625rem;
    margin-top: 4rem;
}

.project-logo {
    display: flex;
    align-items: center;

    &__img {
        height: 2.1875rem;
    }
}

.contacts {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;

    &__separator {
        height: 5px;
        width: 30px;
        background-color: mat-color($app-theme, 1200);
        margin-bottom: 1rem;
    }

    .Link {
        font-size: 16px;
        line-height: 26px;
        color: mat-color($app-theme, 1200);
        font-weight: 600 !important;
    }
}

.nav {
    width: 100%;
    margin-left: 4.7rem;
}

.navigation {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;

    &__item {
        margin-right: 2.8125rem;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 2.0625rem;
    }
}

.footer-link {
    display: flex;
    align-items: center;

    &_active {
        text-decoration: underline;
    }

    &:link,
    &:visited {
        color: mat-color($app-theme, 1300);
    }

    &:hover {
        color: mat-color($app-theme, 1300);
        text-decoration: underline;
    }

    &:active {
        color: mat-color($app-theme, 1300);
        text-decoration: underline;
    }
}

@media only screen and (max-width: 1050px) {

    .navigation__item {
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 885px) {

    .nav,
    .auth {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .footer-content {
        padding: 0 1rem;
    }

    .project-logo {
        &__img {
            height: 1.8rem;
        }
    }
}