<div class="container">
  <div class="row" style="padding-top: 20px">
    <div
            class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12"
    >
      <form [formGroup]="passwordForm" (ngSubmit)="submitForm()">
        <mat-form-field style="width: 100%">
          <mat-label>{{
              'PasswordPage.Form.Password.Label' | translate
            }}</mat-label>

          <input type="password" matInput formControlName="password" />

          <mat-error>{{
              'PasswordPage.Form.Password.Required' | translate
            }}</mat-error>
        </mat-form-field>

        <mat-error *ngIf="isPasswordWrong">
          {{ 'PasswordPage.Form.Password.Invalid' | translate }}
        </mat-error>

        <div class="btn-container">
          <button type="submit" class="button button--primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
