@import '../../../app-theme';

.top-bar {
  display: flex;
  align-items: center;

  padding: 0.6rem 1.2rem;

  background-color: mat-color($app-theme, 300);

  @media only screen and (max-width: 480px) {
    align-items: flex-start;
    flex-direction: column;
  }

  &__nav {
    margin-left: auto;

    @media (max-width: 480px) {
      margin-left: 0;
    }
  }
}

.nav-list {
  display: flex;
  align-items: center;

  list-style: none;

  @media only screen and (max-width: 480px) {
    align-items: flex-start;
    flex-direction: column;
  }

  &__item {
    margin: 0;

    &:not(:last-child) {
      margin-right: 2.4rem;

      @media only screen and (max-width: 480px) {
        margin-right: 0;
      }
    }
  }
}

.username {
  padding: 5px;

  font-size: 1.0625rem;
  color: white;

  @media (max-width: 480px) {
    &:last-of-type {
      margin-bottom: 12px;
    }
  }

  &--participant {
    padding-left: 12px;

    opacity: 85%;

    @media (max-width: 480px) {
      padding-left: 5px;
    }
  }
}

.SimpleButton {
  padding: 5px;
}
