@use '@angular/material' as mat;
@import '../../../app-theme';

.top-bar {
  display: flex;
  align-items: center;

  padding: 0.6rem 1.2rem;

  background-color: mat.get-color-from-palette($app-theme, 300);

  @media only screen and (max-width: 480px) {
    align-items: flex-start;
    flex-direction: column;
  }

  &__nav {
    margin-left: auto;
  }
}

.nav-list {
  display: flex;
  align-items: center;

  list-style: none;

  @media only screen and (max-width: 480px) {
    align-items: flex-start;
    flex-direction: column;
  }

  &__item {
    margin: 0;

    &:not(:last-child) {
      margin-right: 2.4rem;

      @media only screen and (max-width: 480px) {
        margin-right: 0;
      }
    }
  }
}

.username {
  padding: 5px;

  font-size: 1.0625rem;
  color: white;
}

.SimpleButton {
  padding: 5px;
}
