<form [formGroup]="formGroup" class="container">
    <p>Picklist question editor</p>
    <div>
        <mat-form-field>
            <mat-label>Stable Id</mat-label>
            <input matInput formControlName="stableId" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Question Prompt</mat-label>
            <textarea matInput matTextareaAutosize matAutosizeMinRows="3" formControlName="prompt" required></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Question Label</mat-label>
            <input matInput formControlName="label"/>
        </mat-form-field>
    </div>
    <div>
        <label>Select Mode</label>
        <mat-radio-group formControlName="selectMode" class="radio-group">
            <mat-radio-button *ngFor="let item of selectModes | keyvalue: originalOrder"
                              [value]="item.key"
                              [disabled]="!selectedRenderModeCompatibleWithSelectMode(item.key)">
                {{item.value}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div>
        <label class="form-label">Render Mode</label>
        <mat-radio-group formControlName="renderMode" class="radio-group">

            <mat-radio-button *ngFor="let item of renderModes | keyvalue: originalOrder"
                              [value]="item.key"
                              [disabled]="!selectedSelectModeCompatibleWithRenderMode(item.key)">
                {{item.value}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="validations">
        <label class="form-label">Validations</label>
        <mat-checkbox formControlName="required">Required</mat-checkbox>
    </div>
    <app-manage-list class="options-editor"
                     formControlName="optionsData"
                     [groupsAllowed]="allowCreateOptionsGroups()">
    </app-manage-list>
</form>
