.container {
  display: flex;
  flex-direction: column;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.validations {
  display: flex;
  flex-direction: column;
}

.options-editor {
    margin-top: 15px;
}
