<p class="title">Patients</p>

<div class="search-row">
  <p class="patients-count">Patients ({{ "249" }})</p>
  <div class="search-bar">
    <input placeholder="Search by FON ID#, name, or birth date" />
  </div>
  <div class="buttons-row">
    <p class="button" (click)="openAddPatientsModal()">Add Patients</p>
    <p class="button">Upload</p>
  </div>
</div>

<div class="patients-table">
  <div class="header-row">
      <div>FON ID#</div>
      <div>FIRST NAME</div>
      <div>LAST NAME</div>
      <div>DOB</div>
      <div>LAST UPDATED</div>
      <div>ENROLLMENT STATUS</div>

  </div>
  <div class="body">
    <div>test 1</div>
    <div>test 1</div>
    <div>test 1</div>
    <div>test 1</div>
    <div>test 1</div>
  </div>
</div>
