$green: #7BA946;
$light-green: #93C453;
$dark-green: #5C7A36;
$blue: #4274BC;
$blue-light: #559BE0;
$neutral-gray: #7f7f7f;
$red: #DB2C2C;
$light-red: #E08585;
$purple: #945CC6;
$black: #333;
$orange: #D8963F;
$pink: #DD57B7;
$yellow: #E0C62D;
$grey: #eee;
$dark: #000;
