@import 'theme';
@import './variables';
@import './brushes';

.BtnBordered {
  padding: 7px 20px 9px 20px;
  border-radius: 2px;
  border: 1px solid !important;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  transition: border 0.3s ease, color 0.3s ease;
  cursor: pointer !important;

  &:visited, &:active {
    background-color: #ffffff !important;
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  &.blue {
    &:focus, &:active {
      margin-top: 15px;
      @include brc-blue($important: '!important');
      @include c-blue($important: '!important');
    }

    &:hover {
      @include brc-blue($important: '!important');
      @include c-blue($important: '!important');
      background-color: transparent !important;
    }
  }

  &.green, &.green:focus, &.green:active {
    margin-top: 15px;
    border-color: #7BA946 !important;
    color: #7BA946 !important;
    &:hover {
      @include c-blue($important: '!important');
      @include brc-blue($important: '!important');
      background-color: transparent !important;
    }
  }

  &.black {
    &:focus, &:active {
      margin-top: 25px;
      border-color: #333333 !important;
      color: #333333 !important;
    }

    &:hover {
      border-color: #ffffff !important;
      color: #ffffff !important;
      background-color: transparent !important;
    }
  }

  &.white, &.white:focus, &.white:active {
    color: #FFFFFF !important;
    margin-top: 25px;
    border-color: #FFFFFF !important;

    &:hover {
      border-color: #93C453 !important;
      color: #93C453 !important;
      background-color: transparent !important;
    }
  }
}

.button {
  min-width: 8.5rem;
  padding: 0.625rem 1.25rem;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.button,
.button:active,
.button:hover,
.button:focus {
  text-decoration: none;
}

.button_small {
  font-size: 1.0625rem;
  line-height: 1.375rem;
}

.button_medium {
  padding: 0.625rem 1.25rem;
  font-size: 1.5rem;
  line-height: 1.9375rem;
}

.button_big {
  padding: 1.25rem 2.5rem;
  font-size: 1.625rem;
  line-height: 2.0625rem;
}

.button_primary {
  background-color: mat-color($app-theme, 250);
  border: 2px solid mat-color($app-theme, 50);
  color: mat-color($app-theme, 100);
}

.button_primary:disabled {
  background-color: mat-color($app-theme, 600);
}

.button_secondary {
  background-color: mat-color($app-theme, 50);
  color: mat-color($app-theme, 200);
  border: 2px solid mat-color($app-theme, 200);
}

.button_secondary:disabled {
  background-color: mat-color($app-theme, 50);
  color: mat-color($app-theme, 650);
  border: 2px solid mat-color($app-theme, 650);
}

.button_primary:hover:not([disabled]),
.button_primary:hover:enabled {
  background-color: mat-color($app-theme, 300);
}

.button_secondary:hover:not([disabled]),
.button_secondary:hover:enabled {
  background-color: mat-color($app-theme, 200);
  color: mat-color($app-theme, 100);
}

.button_new-item {
  font-size: 1.25rem;
}

.simple-button,
.SimpleButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: mat-color($app-theme, 200);
  text-decoration: none;
  font-size: 1.0625rem;
  line-height: 1.375rem;
  font-family: inherit;
  white-space: nowrap;
}

.simple-button:hover,
.SimpleButton:hover {
  color: mat-color($app-theme, 650);
  text-decoration: underline;
}

.simple-button:focus,
.SimpleButton:focus {
  text-decoration: underline;
}

.panel-opened {

  .simple-button,
  .SimpleButton {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
