hr {
  border-color: #cccccc;
}
.page-padding {
  padding: 0 25px;
  @media (min-width: 801px) {
    padding: 0 40px;
  }
  @media (min-width: 1280px) {
    padding: 0 50px;
  }
}
@mixin common-footer-down {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  app-footer {
    margin-top: auto;
  }
}
@mixin common-static-page {
  ::ng-deep .Header {
    margin-bottom: 0;
  }

  ::ng-deep .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;

    .static-page-title-section {
      padding: 0 25px;
      width: 100%;

      @media (min-width: 801px) {
        padding: 0 40px;
      }
      @media (min-width: 1280px) {
        padding: 0 50px;
      }

      .content_tight {
        max-width: 700px;
        @media (min-width: 740px) {
          margin: 0;
        }
      }

      h1 {
        font-size: 26px;
        font-weight: 700;
        color: #7F7F7F;
        margin: 40px 0 20px 0 !important;
      }
    }

    .static-page-content-section {
      padding: 0 25px;
      width: 100%;
      @media (min-width: 801px) {
        padding: 0 40px;
      }
      @media (min-width: 1280px) {
        padding: 0 50px;
      }
      .content {
        &_tight {
          max-width: 700px;
          @media (min-width: 740px) {
            margin: 0;
          }
        }

        .password-section {
          margin: 4rem 0;

          &__question {
            font-family: "Source Serif Pro", serif;
            font-size: 1.5rem;
            line-height: 2.875rem;
            margin: 1.5rem 0 0.5rem 0;
          }

          &__button {
            text-align: right;
          }
        }
      }
    }
  }
}

.server-modal-box {
  max-width: none !important;
  .mat-dialog-container {
    border-radius: 0px;
    color: #666666;
    font-weight: bold;
    background: #eaf6ea;
    border-left: 10px solid #5cb85c;

    .server-message-popup {
      .server-message-popup-header {
        .close {
          position: absolute;
          right: 15px;
          top: 10px;
          padding: 0;
          cursor: pointer;
          background: transparent;
          border: 0;
        }
      }
      .server-message-popup-content {

      }
    }
  }
}

.server-error-modal-box {
  max-width: none !important;
  .mat-dialog-container {
    border-radius: 0px;
    color: #666666;
    font-weight: bold;
    background: #f6eaeb;
    border-left: 10px solid #b85c5c;

    .server-message-popup {
      .server-message-popup-header {
        .close {
          position: absolute;
          right: 15px;
          top: 10px;
          padding: 0;
          cursor: pointer;
          background: transparent;
          border: 0;
        }
      }
      .server-message-popup-content {

      }
    }
  }
}

