@mixin flexer($display: flex, $direction: row, $content: flex-start, $items: stretch) {
    display: $display;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}