<div *ngIf="!isLoaded" class="activity-spinner">
  <mat-spinner></mat-spinner>
</div>

<!-- article content -->
<article
  *ngIf="isLoaded"
  class="rarex-activity"
  [ngClass]="{ PageContent: isLoaded }"
  [class.is-consent]="isConsent"
>
  <div class="PageLayout">
    <div
      *ngIf="shouldShowReadonlyHint"
      class="PageContent-infobox topMarginMedium"
      [innerHTML]="model.readonlyHint"
    ></div>

    <div class="row NoMargin">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- introduction section -->
        <!-- Check model not null and not undefined. Open to race condition -->
        <ng-container *ngIf="model && model.introduction">
          <ddp-activity-section
            [section]="model.introduction"
            [readonly]="isReadonly()"
            [validationRequested]="validationRequested"
            [studyGuid]="studyGuid"
            [activityGuid]="activityGuid"
            (embeddedComponentsValidationStatus)="
              updateEmbeddedComponentValidationStatus(0, $event)
            "
            (componentBusy)="embeddedComponentBusy$[0].next($event)"
          ></ddp-activity-section>
        </ng-container>
      </div>
    </div>

    <div *ngIf="isStepped && showStepper" class="activity-stepper">
      <ol class="activity-stepper__stepper-list stepper-list">
        <ng-container *ngFor="let section of model.sections; let i = index">
          <ng-container *ngIf="section.visible">
            <li
              class="stepper-list__item"
              (click)="jumpStep(i)"
              [class.stepper-list__item--active]="isActive(i)"
              [class.stepper-list__item--completed]="isCompleted(i)"
              [class.stepper-list__item--incomplete]="!isCompleted(i)"
            >
              {{ section.name }}
            </li>
          </ng-container>
        </ng-container>
      </ol>
    </div>

    <div class="PageContent-infobox page-count" *ngIf="isConsent">
      {{
        'Activities.PageCount'
          | translate
            : { current: currentSectionIndex + 1, total: model.sections.length }
      }}
    </div>

    <ng-container *ngIf="model">
      <div class="row NoMargin">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ddp-activity-section
            [section]="currentSection"
            [readonly]="isReadonly()"
            [validationRequested]="validationRequested"
            [studyGuid]="studyGuid"
            [activityGuid]="activityGuid"
            (embeddedComponentsValidationStatus)="
              updateEmbeddedComponentValidationStatus(1, $event)
            "
            (componentBusy)="embeddedComponentBusy$[1].next($event)"
          ></ddp-activity-section>
        </div>
      </div>

      <div class="row NoMargin">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!-- closing section -->
          <ng-container *ngIf="model.closing">
            <ddp-activity-section
              [section]="model.closing"
              [readonly]="isReadonly()"
              [validationRequested]="validationRequested"
              [studyGuid]="studyGuid"
              [activityGuid]="activityGuid"
              (embeddedComponentsValidationStatus)="
                updateEmbeddedComponentValidationStatus(2, $event)
              "
              (componentBusy)="embeddedComponentBusy$[2].next($event)"
            ></ddp-activity-section>
          </ng-container>

          <div *ngIf="model.lastUpdatedText" class="LastUpdatedText">
            <span>{{ model.lastUpdatedText }}</span>
          </div>

          <div *ngIf="model" class="activity__btn-section">
            <div
              *ngIf="isStepped && !isFirstStep"
              class="activity__btn-section__left"
            >
              <button
                class="button button_medium button_primary"
                [disabled]="isPageBusy | async"
                (click)="decrementStep()"
                [innerHTML]="'SDK.PreviousButton' | translate"
              ></button>
            </div>

            <div class="activity__btn-section__right">
              <button
                *ngIf="!isLastStep && (!isConsent || isReadonly())"
                class="button button_medium button_primary"
                [disabled]="isPageBusy | async"
                (click)="incrementStep()"
                [innerHTML]="
                  (isPageBusy | async)
                    ? ('SDK.SavingButton' | translate)
                    : ('SDK.NextButton' | translate)
                "
              ></button>

              <button
                *ngIf="!isLastStep && isConsent && !isReadonly()"
                class="button button_medium button_primary"
                [disabled]="isPageBusy | async"
                (click)="incrementStep()"
                [innerHTML]="
                  (isPageBusy | async)
                    ? ('SDK.SavingButton' | translate)
                    : ('SDK.IUnderstandButton' | translate)
                "
              ></button>

              <ng-container *ngIf="isLastStep">
                <button
                  *ngIf="isReadonly()"
                  class="button button_medium button_primary"
                  (click)="close()"
                  [innerHTML]="'SDK.CloseButton' | translate"
                ></button>

                <button
                  *ngIf="!isReadonly()"
                  class="button button_medium button_primary"
                  #submitButton
                  [disabled]="(isPageBusy | async) || dataEntryDisabled"
                  (click)="flush()"
                  (mouseenter)="mouseEnterOnSubmit()"
                  [innerHTML]="
                    (isPageBusy | async)
                      ? ('SDK.SavingButton' | translate)
                      : ('SDK.SubmitButton' | translate)
                  "
                ></button>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div *ngIf="displayGlobalError$ | async" class="ErrorMessage">
            <span translate>SDK.ValidateError</span>
          </div>

          <div *ngIf="communicationErrorOccurred" class="ErrorMessage">
            <span translate>SDK.CommunicationError</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</article>
