<div class="mat-body-1">
    <p>
        Are you interested in joining a research study to help scientists understand the causes of ovarian cancer? If you are at
        least 21 years of age and reside in the United States, you are eligible to join the Basil Project.
    </p>
    <p>
        To enroll, please
        click Get Started below. You will be prompted to sign up, answer 3 very short questions, and view simple information
        about the Basil study.
    </p>
</div>
<ddp-login [auth0Mode]="auth0Mode" loginCaption="GET STARTED!"></ddp-login>
