@import 'variables';

.button {
  display: inline-block;

  padding: 1.65rem 2.8rem;

  border-radius: 12px;
  border: none;
  box-shadow: none;

  font-family: inherit;
  font-size: 1.8rem;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;

  transition: background 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
  cursor: pointer;

  &:disabled {
    opacity: 0.8;

    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover,
    &:focus {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  &--sm {
    padding: 1.4rem 2.6rem;

    border-radius: 10px;

    font-size: 1.6rem;
  }

  &--yellow {
    background: $color-yellow-1;

    color: #000000;

    &:not(:disabled) {
      &:hover,
      &:focus {
        background: darken($color-yellow-1, 5%);
      }

      &:active {
        background: darken($color-yellow-1, 10%);
      }
    }
  }

  &--blue {
    background: $color-blue-2;

    color: #ffffff;

    &:not(:disabled) {
      &:hover,
      &:focus {
        background: lighten($color-blue-2, 5%);
      }

      &:active {
        background: lighten($color-blue-2, 10%);
      }
    }
  }

  &--opaque {
    background: #efefef;

    color: #000000;

    &:not(:disabled) {
      &:hover,
      &:focus {
        background: darken(#efefef, 5%);
        box-shadow: none;
      }

      &:active {
        background: darken(#efefef, 10%);
        box-shadow: none;
      }
    }
  }
}

.SimpleButton {
  background: none;
  border: none;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: inherit;
  line-height: inherit;
  color: inherit;

  cursor: pointer;
}
