app-home {
  .mat-accordion {
    .mat-expansion-panel {
      .mat-expansion-panel-header {
        .mat-content {
          align-items: center;

          font-size: 1.8rem;
          font-weight: 300;
        }
      }

      .mat-expansion-panel-body {
        padding: 0 1.2rem 2rem 6.1rem;

        font-size: 1.8rem;
        font-weight: 300;
      }
    }
  }
}

.container {
  max-width: 72.8rem;

  margin: 0 auto;
  padding: 0 2.4rem;

  &--wide {
    max-width: 115.2rem;
  }
}

.content-container {
  max-width: 728px;

  margin: 0 auto;
  padding: 9rem 2.4rem;
}

.mat-dialog-container {
  border-radius: 12px !important;
}
