
<div *ngIf="errorMessage != null">
  <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  <br/>
</div>


<div *ngIf="additionalMessage != null">
  <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
  <br/>
</div>

<span [hidden]="!loading" class="Width--100">
    <div align="center" class="Width--100 Height--100">
      <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
      <br/>
      <br/>
    </div>
  </span>

<div *ngIf="allowedToSeeInformation">
  <br/>
  <br/>
  <div *ngIf="allOptionsSelected()" class="Width--80">
    <app-filepicker [id]="'kitUploadFile'" [fileFormat]="'txt'" (fileSelected)="fileSelected($event)"></app-filepicker>
    <button type="button" mat-raised-button color="primary"
            (click)="upload()"
            [disabled]="!(uploadPossible && file != null) || loading">Upload Stool Samples
    </button>
  </div>
  <div>

  </div>


  <div class="Float--left Width--80">
    <b>
      <br/>
      <br/>
      <br/>
      Upload instructions:
      <ul>
        <li>Tab delimited ".txt" file</li>
        <li>Following columns are required
          <table class="table table-bordered">
            <tr>
              <td>participantId</td>
              <td>receiveDate</td>
              <td>mfBarcode</td>
            </tr>
          </table>
        </li>
        <li>Afterwards kits can be found under <u>'Kits without Labels'</u>. GP will trigger label creation.</li>
      </ul>
    </b>
  </div>


  <app-modal>
    <div class="app-modal-header">
      Please select the participant for which you want to upload a new one.<br>
    </div>
    <div class="app-modal-body">
      <div *ngFor="let duplicateParticipant of duplicateParticipants">
        Participant already has a kit.
        <mat-checkbox color="primary" [checked]="duplicateParticipant.selected"
                      (change)="duplicateParticipant.selected = $event.checked" disableRipple>
          {{duplicateParticipant.participantId}} {{duplicateParticipant.mfBarcode}} {{duplicateParticipant.receiveDate}}
        </mat-checkbox>
      </div>
      <div *ngFor="let duplicateParticipant of specialKits">
        {{specialMessage}}
        <mat-checkbox color="primary" [checked]="duplicateParticipant.selected"
                      (change)="duplicateParticipant.selected = $event.checked" disableRipple>
          {{duplicateParticipant.participantId}} {{duplicateParticipant.mfBarcode}} {{duplicateParticipant.receiveDate}}
        </mat-checkbox>
      </div>
    </div>
  </app-modal>
</div>
