@import "../../../../styles/FON/core";

$hoverColor: #7154FF;

:host-context(app-navigation) {
  grid-area: asideNavigation
}

aside {
  height: 100%;
  background-color: #333F52;

  .titles {
    height: 145px;

    .topTitle {
      width: 100%;
      margin-bottom: 16px;
      padding: 16px 8px;
      display: flex;
      justify-content: space-between;

      mat-icon {
        color: #BCC3C9;
        transform: rotate(0.5turn);
      }

      p {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 20px;
      }
    }

    .topSubTitle {
      width: 100%;
      padding-left: 16px;

      p {
        color: #FFFFFF;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 18px;
      }
    }
  }

  .navigation {
    @include flexContainer(normal, space-between, column);
    height: 77%;
    width: 100%;
    color: #D0D3D9;
    font-size: 15px;

    .botNavigation {
      border-top: 1px solid #878A9F;
       li:first-of-type {
         margin-top: 16px;
       }
    }

    .topNavigation, .botNavigation {
      margin: 0;
      padding: 0;
      font-family: Montserrat-Regular, sans-serif;

      .activeNav {
        color: white!important;
        background-color: $__Dark_pastel_blue !important;
        cursor: pointer;
        outline: none;
        mat-icon {
          color: white!important;
        }
      }

      li {
        list-style-type: none;
        font-size: inherit;
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;
        padding: 0 10px;

        &:hover {
          background-color: $__nav_item_background_hover;
          cursor: pointer;
          outline: none;
        }

        > mat-icon {
          margin-right: 10px;
          color: #D0D3D9;
        }
      }
    }
  }

}



