$hoverColor: #7154FF;

.sidebar {
  height: 100vh; // 100px - main header height
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  padding: 20px 0;
}
.botNavigation,
.topNavigation {
  padding: 0px;
}

.topNavigation, .botNavigation {
  margin: 0;
  
  .activeNav {
    color: $hoverColor;
    border-bottom-color: $hoverColor!important;
    cursor: pointer;
    outline: none;
  }

  li {
    list-style-type: none;
    font-size: 18px;
    padding: 10px;
    border-bottom: 2px solid transparent;
    display: flex;

    &:hover, &:focus {
      color: $hoverColor;
      border-bottom-color: $hoverColor;
      cursor: pointer;
      outline: none;

      > mat-icon {
        color: $hoverColor;
      }
    }

    > mat-icon {
      margin-right: 10px;
      color: #333333;
    }
  }
}
