<!-- <div class="row NoMargin">
    <md-icon md-dialog-close class="fa fa-times Dialog-headerClose" aria-hidden="true" (click)="dialogRef.close()">
    </md-icon>

    <div *ngIf="imageUrl" class="col-lg-3 col-md-3 col-sm-4 col-xs-4 Dialog-container">
        <img [src]="imageUrl" class="Dialog-photo" alt="{{ name }}">
    </div>

    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 Dialog-container">
        <div md-dialog-title class="Dialog-header">
            <h2 md-dialog-title class="Title Color--blue">{{ name }}</h2>
            <p class="Dialog-headerRole">{{ role }}</p>
        </div>

        <md-dialog-content>
            <p class="Paragraph">{{bio}}</p>
        </md-dialog-content>
    </div>
</div> -->