<header class="header">
  <div class="container">
    <a class="header__logo" [routerLink]="Route.Home">
      <img
              class="header__logo-img"
              src="assets/images/logo-horizontal-black.png"
              [alt]="'Header.LogoAlt' | translate"
      />
    </a>

    <button class="toggle" [class.toggle--shown]="isNavigationShown" (click)="onToggleClick()">
      <span class="toggle__bar"></span>
      <span class="toggle__bar"></span>
      <span class="toggle__bar"></span>
    </button>

    <nav class="header__nav" [class.header__nav--shown]="isNavigationShown" (click)="onNavClick($event)">
      <ul class="link-list">
        <li class="link-list__item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="link-list__item_active">
          <a class="link" [routerLink]="Route.About">
            {{ 'Header.Links.AboutUs' | translate }}
          </a>
        </li>
        <li class="link-list__item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="link-list__item_active">
          <a class="link" href="https://www.additionalventures.org/project-singular-study-updates" target="_blank">
            {{ 'Header.Links.StudyProgress' | translate }}
          </a>
        </li>
        <li class="link-list__item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="link-list__item_active">
          <a class="link" [routerLink]="Route.FAQ">
            {{ 'Header.Links.FAQs' | translate }}
          </a>
        </li>
        <li class="link-list__item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="link-list__item_active">
          <a class="link" [routerLink]="Route.ForResearchers">
            {{ 'Header.Links.ForResearchers' | translate }}
          </a>
        </li>
        <li class="link-list__item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="link-list__item_active" *ngIf="isAuthenticated">
          <a class="button button--outline" [routerLink]="Route.ParticipantList">
            {{ 'Header.Links.Dashboard' | translate }}
          </a>
        </li>
        <li class="link-list__item auth-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="link-list__item_active">
          <ddp-sign-in-out [signOutReturnToUrl]="Route.Home"></ddp-sign-in-out>
        </li>
        <li class="link-list__item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="link-list__item_active" *ngIf="!isAuthenticated">
          <a class="button button--primary button--wide" [routerLink]="Route.PreScreening">
            {{ 'Header.Links.SignMeUp' | translate }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
