@import '../../../styles/breakpoints';
@import '../../../styles/link-list';
@import '../../../styles/colors';

$headerHeight: (
  'default': 110px,
  'sm': 74px,
  'xs': 68px,
);

a:not(.button) {
  border-bottom: none;
}

:host-context(app-header) {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 20;

    .header {
        padding-top: 20px;
        background-color: white;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

    }
}

.header {
  font-family: Spartan-Bold, sans-serif;
  color: map-get($colors, 'header-color');
  ::ng-deep {
    button {
      font-family: Spartan-Bold, sans-serif;
      color: map-get($colors, 'header-color');
    }
  }

  .link {
    color: $__purple;
    text-align: center;
    display: inline-block;

    &:hover {
      color: #4d198b;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1400px;
    height: 100%;

    @include media-md {
      position: relative;
    }
  }

  &__logo {
    height: 100px;
    margin-bottom: 13px;
      display: flex;
      align-items: start;
    @media (max-width: 1280px) {
      height: 80px;
    }

    @include media-md {
      margin-right: auto;
    }

    @include media-sm {
      height: 56px;
        @supports (-webkit-appearance:none) {
            width: 181.68px;
        }
    }

    @include media-xs {
      height: 2.8rem;
        @supports (-webkit-appearance:none) {
            width: 126.18px;
        }
    }
  }

  &__logo-img {
    height: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;
    font-size: 16px;
    @include media-md {
      flex-flow: column nowrap;

      position: absolute;
      top: 100%;
      left: 0;

      height: calc(100vh - #{map-get($headerHeight, 'default')});

      padding: 2.4rem;

      background: #ffffff;
      box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.05);

      transform: translate3d(-120%, 0, 0);
      transition: transform 0.3s ease;
      z-index: 10;

      @include media-sm {
        height: calc(100vh - #{map-get($headerHeight, 'sm')});
      }

      @include media-xs {
        height: calc(100vh - #{map-get($headerHeight, 'xs')});
      }

      &--shown {
        width: 100%;
        background: #fff;
        padding-left: 0;
        transform: translate3d(0, 0, 0);
        & ul {
          //padding-left: 0;
        }
      }

      .link-list {
        height: 100%;

        .auth-item {
          margin-top: auto;
        }
      }
    }
  }
}

.pull-right {
  margin-left: auto;

  @include media-md {
    margin-top: auto;
    margin-left: 0;
  }
}

.toggle {
  display: none;
  position: relative;
  width: 32px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;

  @include media-md {
    display: block;
  }

  &--shown &__bar {
    &:nth-of-type(1) {
      transform: rotate(45deg) translate3d(0rem, -3px, 0);
    }

    &:nth-of-type(2) {
      opacity: 0;
    }

    &:nth-of-type(3) {
      transform: rotate(-45deg) translate3d(0rem, 3px, 0);
    }
  }

  &__bar {
    display: block;

    position: absolute;
    left: 0;

    width: 100%;
    height: 2px;

    background: map-get($colors, 'header-bar-bg');

    transform-origin: left;
    transition: transform 0.3s ease, opacity 0.3s ease;
    backface-visibility: hidden;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 50%;

      margin-top: -1px;
    }

    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}

.button--wide {
  width: 160px;

  @media (max-width: 1200px) {
    width: auto;
  }
}
