@import '../../../../styles/variables';

.section {
  &--cta {
    background: linear-gradient(to bottom, $color-blue-2, $color-blue-4);
  }

  &--grey {
    background: #f8f8f8;
  }
}

.cta {
  max-width: 768px;

  margin: 0 auto;
  padding: 12rem 2.4rem;

  color: #ffffff;

  @media (max-width: 860px) {
    padding: 11.2rem 2.4rem;
  }

  &__title {
    margin-bottom: 4rem;

    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
  }

  &__description {
    margin-bottom: 4rem;

    font-size: 2rem;
    font-weight: 300;
    text-align: center;
  }

  &__btn-container {
    display: flex;
    justify-content: center;
  }
}

h2 {
  margin-bottom: 3.2rem;

  font-size: 2.6rem;
  font-weight: 400;

  &:not(:first-of-type) {
    margin-top: 4.8rem;
  }
}

h3 {
  margin-bottom: 2rem;

  font-size: 2.2rem;
  font-weight: 400;
}

.paragraph {
  margin: 1.25rem 0;

  font-size: 1.8rem;
  font-weight: 300;
}

.bullet-list {
  padding-left: 2.5rem;

  font-size: 1.8rem;

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}

.mat-expansion-panel {
  border-radius: 0 !important;
  border-top: 2px solid #d6d9e8;

  &:last-of-type {
    border-bottom: 2px solid #d6d9e8;
  }
}

.mat-expansion-panel-header {
  height: auto;

  padding: 2rem 1.2rem;

  mat-icon {
    margin-right: 2.4rem;
  }
}

.mat-icon {
  transition: transform 0.2s ease;

  &--rotate {
    transform: rotate(45deg) scale(1.1);
  }
}

.member {
  display: flex;

  margin-bottom: 3rem;

  @media (max-width: 480px) {
    flex-flow: column nowrap;
  }

  &__img-container {
    flex: 0 0 24rem;
    height: 31rem;

    margin-right: 3rem;

    border: 1px solid #959595;
    background: #ffffff;

    @media (max-width: 480px) {
      flex: 1;

      margin-right: 0;
      margin-bottom: 1.2rem;
    }
  }

  &__img {
    display: block;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__bio {
    font-size: 1.8rem;
    font-weight: 300;
  }
}

.yt-video {
  position: relative;

  height: 0;

  padding-bottom: 56.25%;

  &__iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}
