@use '@angular/material' as mat;
@import './../../../app-theme.scss';

@mixin block-margin {
    margin: 5rem auto;
}

@mixin small-font {
    font-size: 14px;
    line-height: 32px;
}

.introduction-block {
    margin: 2rem auto 5rem auto;
}

.introduction {
    display: flex;

    &__info,
    &__image {
        width: 50%;
    }

    &__image {
        display: flex;
        align-items: center;
        padding-left: 3rem;
    }

    &__text {
        margin-right: 5rem;
    }

    &__cmi {
        margin-right: 1rem;
    }

    &__buttons {
        display: flex;
        margin: 1.5rem 0;
    }

    &__examples {
        margin: 1.5rem 3rem 1.5rem 0;
        font-size: 16px;
        line-height: 22px;
        color: mat.get-color-from-palette($app-theme, 450);
    }
}

.image {
    height: auto;
    max-width: 100%;
}

.logos {
    display: flex;
    align-items: center;

    &__wide {
        height: 30px;
        margin-right: 3rem;
    }

    &__square {
        height: 60px;
    }
}

.about-section {
    background-color: mat.get-color-from-palette($app-theme, 500);
}

.about-block {
    @include block-margin;
}

.about {
    display: flex;

    &__info,
    &__image {
        width: 50%;
    }

    &__image {
        display: flex;
        align-items: center;
        padding-right: 3rem;
    }

    &__cmi {
        display: inline-flex;
        margin: 1rem 0;
    }
}

.participation-block {
    @include block-margin;
}

.line {
    display: flex;

    &:first-child {
        padding: 0 0 3rem 0;
    }

    &:last-child {
        padding: 3rem 0 0 0;
    }

    &_underlined {
        border-bottom: 1px solid mat.get-color-from-palette($app-theme, 600);
    }
}

.participation {
    width: 50%;
    padding: 0 7rem 0 0;

    &__title {
        font-size: 1.625rem;
        line-height: 2rem;
    }

    &__links {
        display: inline;
        color: mat.get-color-from-palette($app-theme, 250);
    }
}

.step {
    display: flex;
    align-items: center;

    &__indicator {
        display: block;
        height: 12px;
        width: 12px;
        border-radius: 6px;
        background-color: mat.get-color-from-palette($app-theme, 550);
    }

    &__index {
        font-family: 'Untitled-Sans-Medium', sans-serif;
        margin: 0 6px;
        @include small-font;
    }

    &__time {
        margin: 0;
        @include small-font;
    }
}

.learn-more-section {
    background-color: mat.get-color-from-palette($app-theme, 650);
}

.partners-section {
    background-color: mat.get-color-from-palette($app-theme, 500);
}

.partners-block {
    @include block-margin;
}

.partners {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 0;

    &__link {
        margin: 0 1rem;
    }

    &__logo {
        max-width: 300px;
        width: 95%;
    }
}

.stay-informed-block {
    @include block-margin;
}

.stay-informed {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socials {
    margin: 0 3rem 10rem 0;

    &__text {
        margin: 3rem 0 0 0;
    }

    &__facebook {
        margin-right: 1rem;
    }
}

.twitter {
    &__title {
        display: flex;
        align-items: center;
    }

    &__logo {
        height: 30px;
        margin-right: 10px;
    }

    &__text {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    &__link {
        font-size: 1.125rem;
        line-height: 2rem;
    }

    &__feed {
        overflow: hidden;
        width: 450px;
    }
}

.join-section {
    background-color: mat.get-color-from-palette($app-theme, 500);
}

.join-block {
    margin: 3rem auto 7rem auto;
}

.join {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
        height: auto;
        width: 100%;
        max-width: 550px;
    }

    &__title {
        margin: 1rem 0;
    }

    &__text {
        font-size: 1.5rem;
        line-height: 2.625rem;
        max-width: 700px;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .introduction {
        flex-direction: column;

        &__info,
        &__image {
            width: 100%;
        }

        &__image {
            padding-left: 0;
            padding-top: 3rem;
        }

        &__text,
        &__examples {
            margin-right: 0;
        }
    }

    .about {
        flex-direction: column-reverse;

        &__info,
        &__image {
            width: 100%;
        }

        &__image {
            padding-right: 0;
            padding-top: 3rem;
        }
    }

    .participation-title {
        margin-bottom: 0;
    }

    .line {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0;

        &:first-child,
        &:last-child {
            padding: 0;
        }
    }

    .participation {
        width: 100%;
        padding: 0;
        margin: 2rem 0 0 0;
    }

    .partners {
        flex-direction: column;
        margin: 0;

        &__link {
            margin: 1rem 0;
        }
    }

    .stay-informed {
        flex-direction: column;
    }

    .socials {
        margin: 0 0 2.5rem 0;
    }
}

@media screen and (max-width: 530px) {
    .twitter {
        &__feed {
            width: auto;
            height: 300px;
        }
    }
}

@media screen and (max-width: 480px) {
    .logos {
        &__wide {
            height: 25px;
            margin-right: 1rem;
        }

        &__square {
            height: 50px;
        }
    }
}

@media screen and (max-width: 380px) {
    .introduction {
        &__buttons {
            flex-direction: column;
        }

        &__cmi {
            margin: 0 0 1.5rem 0;
        }
    }

    .logos {
        &__wide {
            margin-right: 15px;
        }
    }
}

@media screen and (max-width: 320px) {
    .logos {
        display: flex;
        flex-direction: column;

        &__wide {
            height: 25px;
            margin: 0 0 1.5rem 0;
        }

        &__square {
            height: 50px;
        }
    }
}


.cmi-link {
    color: #1862AB;
    font-weight: bold;
    text-decoration: underline;
}

.WrapperTL {
    position: relative;
    min-height: 100%;
    margin: 0 45px 0 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #f5f3f0;
    z-index: 1;
}

.margin-top-0 {
    margin-top: -10px;
}

.margin-top-120 {
    margin-top: 120px;
}

.margin-top-100 {
    margin-top: 100px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-left-80 {
    margin-left: 80px;
}
.margin-right-50 {
    margin-right: 50px;
}

.margin-left-200 {
    margin-left: 200px;
}
.margin-right-200 {
    margin-right: 200px;
}
.margin-enroll-end-text {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.main-timeline-title {
    background-image: linear-gradient(0deg, #E46ACF, #7B6EE3);
}

.main-timeline {
    position: relative;
    /*background-image: linear-gradient(0deg, #1862AB, #BAD6EA);*/
    margin-left: -5px;
    border: #d6ecf2;
}

/* The actual timeline (the vertical ruler) */
.main-timeline::after {
    content: "";
    position: absolute;
    width: 5px;
    background-color: #f5f3f0;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 0px;
}

/* Container around content */
.timeline {
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: 20px;
    background-color: #A366E1;
    border: 5px solid #f5f3f0;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    padding: 0px 40px 20px 0px;
    left: 0;
}

/* Place the container to the right */
.right {
    padding: 0px 0px 20px 40px;
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 60px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -12px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .main-timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 18px;
    }

    .left::before {
        right: auto;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}
