@import '../../../styles/variables';

.page-banner {
  padding: 21px 1rem;

  background-color: $color-teal;

  &__text {
    margin: 0;

    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }

  &__link {
    transition: 0.3s color ease-in-out;

    &,
    &:visited {
      color: $color-blue-dark;
    }

    &:hover {
      color: $color-orange;
    }
  }
}
