@import '../app-theme.scss';

// common activity styles
.section-spinner {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.static-spinner {
    padding-bottom: 8rem;
}

// required question
.ddp-required-question-prompt:after {
    content: ' *';
}

// buttons layout
.activity-buttons {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0 0 0;
}

.button_right {
    margin-left: auto;
}