<table class="table table-striped Width--100">
  <thead>
  <tr>
    <th>
      File Name
    </th>
    <th>
      Upload Time
    </th>
    <th>
      Scan Time
    </th>
    <th colspan="2">
      Scan Result
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let file of participant?.data?.files">
    <td>{{file.fileName}}</td>
    <td>{{Utils.getNiceDateFormat(file.uploadedAt)}}</td>
    <td>{{Utils.getNiceDateFormat(file.scannedAt)}}</td>
    <td>{{file.scanResult}}</td>
    <td>
      <button (click)="downloadParticipantFile($event, file)" [disabled]="file.scanResult !== CLEAN"
              color="primary" mat-raised-button>Download File
      </button>
    </td>
  </tr>
  </tbody>
</table>
