@import "../../../../styles/FON/core";

$hoverColor: #7154FF;

:host-context(app-activities) {
  grid-area: otherPage
}

// @TODO remove it after fixing this issue about overflowing HTML from activity section
::ng-deep html {
  overflow: hidden;
}

.activities-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "patientInfo"
    "activities"
  ;
  header {
    @include flexContainer(center, space-between);
    grid-area: patientInfo;
    padding: 32px 32px 19px 32px;
    border-bottom: 2px solid $__Mercury;

    .patient {
      @include flexContainer(center, center);

      &-route {
        @include flexContainer(center, center);
        height: 100%;
        color: $__Celestial_blue;
        font-family: Montserrat-Medium, sans-serif;
        font-size: getFontSize('xxlg');

        &-name {
          text-decoration: underline;

          &:hover {
            cursor: pointer;
          }
        }

        &-arrow {
          @include flexContainer(center, center);
          font-size: 30px;
        }
      }

      &-name {
        @extend .patient-route;
        color: $__Charcoal;
        margin-left: 12px;
      }

      &-credentials {
        @extend .patient-route;
        color: $__Charcoal;
        font-size: getFontSize('md');
        margin-left: 22px;

        :last-child {
          margin-left: 8px;
        }
      }
    }

    .information {
      @extend .patient;

      p > span:not(:first-of-type) {
        margin-left: 7px;
      }

      a {
        margin-left: 23px;
        text-decoration: underline;
        color: $__Celestial_blue;
      }
    }
  }

  main {
    grid-area: activities;
    height: 100%;
    @include flexContainer(normal, space-between);

    .activities-nav {
      width: 25%;
      height: 100%;
      overflow: auto;
      ::ng-deep.ng-trigger-bodyExpansion {
        height: 100% !important;
      }
      mat-list-item {
        h4 {
          &:hover, &:focus {
            color: $__Mulled_wine_transparent;
            border: 0;
            outline: none;
            border-bottom: 2px solid $__Mulled_wine_transparent;
            cursor: pointer;
            font-weight: bolder;
          }
        }
      }
    }
    .activity {
      width: 75%;
      height: 100%;
      margin-left: 20px;
      overflow: auto;
    }
  }
}

//.activities {
//
//  &-container {
//    display: flex;
//    justify-content: space-between;
//    gap: 50px;
//    height: 100%;
//  }
//
//  &-names {
//    width: 20%;
//    max-width: 300px;
//  }
//}
//
//.activity {
//  padding: 20px;
//  flex-grow: 1;
//}
//
//.selected-participant {
//  padding: 12px;
//  margin: 12px auto;
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  text-align: center;
//  font-size: 16px;
//  color: dimgray;
//  box-shadow: 0.5px 0.5px 2px 0.5px lightgrey;
//
//  > span {
//    font-size: larger;
//  }
//}
//
//mat-panel-title {
//  justify-content: center;
//  padding: 8px 0;
//  color: dimgray;
//  font-size: larger;
//
//  .mat-expanded & {
//    border-bottom: 1px solid grey;
//  }
//}
//
//::ng-deep.ng-trigger-bodyExpansion {
//  height: 400px !important;
//  overflow: auto !important;
//}
//
//mat-list-item {
//  h4 {
//    &:hover, &:focus {
//      color: $hoverColor;
//      border: 0;
//      outline: none;
//      border-bottom: 2px solid $hoverColor;
//      cursor: pointer;
//      font-weight: bolder;
//    }
//  }
//}
//

