:host-context(app-activities) {
  grid-area: otherPage
}


.activitiesContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.activityNames {
  width: 20%;
  height: 100%;
  top: 0;
}

li {
  list-style-type: none;
}

li:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.activities {
  height: 100%;
  width: 70%;
  overflow: auto;
  padding-right: 10px;
}
mat-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

mat-list-item h4 {
  text-align: center;
}
mat-list-item:hover h4 {
  color: #b2f7ff!important;
}

