<div class="activities-container">
  <div class="activities-names">
    <div *ngIf="currentParticipant" class="selected-participant">
        Selected patient:
      <span>{{currentParticipant.firstName}} {{currentParticipant.lastName}}
      </span>
    </div>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false"
                           [expanded]="panelOpenState">
        <mat-expansion-panel-header>
          <mat-panel-title>
            ENROLLMENT FORMS
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let actGuid of activityGuides | async">
            <h4 mat-line routerLink="{{actGuid.guid}}">{{ actGuid.name }}</h4>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="activity">
    <router-outlet></router-outlet>
  </div>
</div>

