<div class="activities-container" *ngIf="(patientWithActivities | async) as Patient; else loadingSpinner">
  <header>
    <section class="patient">
      <p class="patient-route">
        <span class="patient-route-name" [routerLink]="'../'">{{activeRoute | titlecase}}</span>
        <span class="patient-route-arrow"><mat-icon>keyboard_arrow_right</mat-icon></span>
      </p>
      <p class="patient-name">{{Patient.firstName}} {{Patient.lastName}}</p>
      <p class="patient-credentials">FON ID#: 0100011 <span>Status: Active</span></p>
    </section>
    <section class="information">
      <p>
        <span>Last saved</span>
        <span>01/02/2022</span>
        <span>3:04:50</span>
      </p>
      <a href="#">Audit Trail</a>
    </section>
  </header>

  <main>
    <section class="activities-nav">

      <mat-accordion>
        <mat-expansion-panel *ngFor="let section of sectionsArray; let i = index"
                             [expanded]="i===0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{Patient.activities[section].name}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item  *ngFor="let activity of Patient.activities[section].activities">
              <p mat-line [routerLinkActive]="'activeActivity'" routerLink="{{activity.activityGuid}}">{{ activity.name }}</p>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>


    </section>

    <section class="activity">
      <router-outlet></router-outlet>
    </section>
  </main>

</div>

<ng-template #loadingSpinner>
  <mat-spinner></mat-spinner>
</ng-template>
