$hoverColor: #7154FF;
$activity-background-color: #F8F8F8;
$border-color: #979797;

:host-context(app-activities) {
  grid-area: otherPage
}

.activities {

  &-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    height: 100%;
    border-top: 1px solid $border-color;
  }

  &-names {
    width: 20%;
    max-width: 300px;
    padding: 0 16px;
  }
}

.activity {
  padding: 32px 40px 0;
  flex-grow: 1;
  background-color: $activity-background-color;
  border-left: 1px solid $border-color;
}

.selected-participant {
  padding: 12px;
  margin: 12px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: dimgray;
  box-shadow: 0.5px 0.5px 2px 0.5px lightgrey;

  > span {
    font-size: larger;
  }
}

mat-panel-title {
  justify-content: center;
  padding: 8px 0;
  color: dimgray;
  font-size: larger;

  .mat-expanded & {
    border-bottom: 1px solid grey;
  }
}

mat-list-item {
  h4 {
    &:hover, &:focus {
      color: $hoverColor;
      border: 0;
      outline: none;
      border-bottom: 2px solid $hoverColor;
      cursor: pointer;
      font-weight: bolder;
    }
  }
}


