<app-header></app-header>
<section class="statistics page-padding">
  <h1 translate>Statistics.Title</h1>
  <h2 translate>Statistics.CountersFirst.Title</h2>
  <ul class="counters">
    <li *ngFor="let data of Statistics.CountersFirst.List">
      <div>{{ data.Number }}</div>
      <span class="pre-line">{{ data.Text }}</span>
    </li>
  </ul>
  <ul class="counters">
    <li *ngFor="let data of Statistics.CountersSecond">
      <div>{{ data.Number }}</div>
      <span class="pre-line">{{ data.Text }}</span>
    </li>
  </ul>
  <p translate>Statistics.CountersThird.Title</p>
  <ul class="countries">
    <li *ngFor="let data of Statistics.CountersThird.List">
      <hr class="hor-bar" [style.width]="data.width ? data.width : '1px'">
      <p><span class="emoji">{{ data.emoji }}</span> <span class="pre-line">{{ data.name }}</span></p>
    </li>
  </ul>
</section>
<app-footer></app-footer>
