<app-header></app-header>
<section class="statistics page-padding">
  <h1>The A-T Family Data Platfom by the Numbers</h1>
  <h2>Enrollment statistics as of December 2019:</h2>
  <ul class="counters">
    <li>
      <div>1958</div>
      Total number of participants
    </li>
    <li>
      <div>23</div>
      Countries represented
    </li>
    <li>
      <div>913</div>
      People participating <br> in the genome study
    </li>
    <li>
      <div>820</div>
      Sample collection kits sent out <br> in total
    </li>
  </ul>
  <ul class="counters">
    <li>
      <div>425</div>
      Children enrolled <br> by their parents
    </li>
    <li>
      <div>389</div>
      Sign-ups to stay informed <br> about the initiative
    </li>
    <li>
      <div>258</div>
      Self-enrolled participants
    </li>
  </ul>
  <p>Countries represented</p>
  <ul class="countries">
    <li>
      <hr class="hor-bar" style="width: 50px;">
      <p><span class="emoji">🇺🇸</span> United States</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 30px; ">
      <p><span class="emoji">🇨🇦</span> Canada</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 7px; ">
      <p><span class="emoji">🇦🇩</span> Andorra</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇪</span> United Arab Emirates</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇫</span> Afghanistan</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇬</span> Antigua &amp; Barbuda</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇮</span> Anguilla</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇱</span> Albania</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇲</span> Armenia</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇴</span> Angola</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇷</span> Argentina</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇸</span> American Samoa</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇹</span> Austria</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇺</span> Australia</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇼</span> Aruba</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇽</span> Åland Islands</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇦🇿</span> Azerbaijan</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇧🇦</span> Bosnia &amp; Herzegovina</p>
    </li>
    <li>
      <hr class="hor-bar" style=" width: 1px; ">
      <p><span class="emoji">🇧🇧</span> Barbados</p>
    </li>
  </ul>
</section>
<app-footer></app-footer>
