@import '../../styles/variables';

.statistics {
  max-width: 1200px;

  h1 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 40px;
    display: block;
    color: $neutral-gray;
  }
}

.statistics-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 3rem;

  margin: 5rem 0;
  padding: 0;

  list-style: none;

  @media only screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 576px) {
    grid-template-columns: 1fr;

    margin: 2rem 0;
  }

  &__item {
    @media only screen and (max-width: 576px) {
      text-align: center;
    }
  }
}

.statistic {
  &__count {
    font-size: 60px;
    line-height: 1.2;
    color: $green;
  }

  &__description {
    margin: 0;

    color: $neutral-gray;
  }
}

.countries-distribution {
  margin: 0 0 2rem 0;
  padding: 0;

  list-style: none;
}

.distribution {
  display: flex;
  align-items: center;

  &__bar {
    height: 10px;

    margin-right: 1rem;

    background-color: $blue;
  }
}
