@import "../../styles/app-theme";

.statistics {
  @media (min-width: 687px) {
    width: 83.33333333%;
  }
  @media (min-width: 992px) {
    width: 75%;
  }
  @media (min-width: 1200px) {
    width: 66.66666667%;
  }
  @media (min-width: 1456px) {
    width: 100%;
  }

  .pre-line {
    white-space: pre-line;
  }

  h1 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 40px;
    display: block;
    color: #7F7F7F;
  }

  h2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  ul.counters {
    list-style: none;
    padding: 0;
    margin-top: 25px;

    li {
      color: #7f7f7f;
      font-size: 14px;
      vertical-align: top;
      @media (min-width: 502px) {
        width: 210px;
        display: inline-block;
      }

      div {
        color: #7BA946;
        font-size: 55px;
        font-weight: 700;
        height: 70px;
      }
    }
  }

  > p {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 5px;
    margin: 56px 0 0 0;
  }

  hr.hor-bar {
    border: 4px #3373c2 solid;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 15px;
    float: left;
  }

  ul.countries {
    margin: 10px 0;
    color: #636363;

    p {
      font-size: 16px;
    }
  }
}
