@import '../../../styles/variables.scss';

$container-width: 1200px;

.main > * {
    width: 100%;
}

section {
    box-sizing: border-box;
    text-align: center;

    &:nth-of-type(even) {
        background-color: #F6F7FA;
    }

    &.introduction {
        max-width: 1440px;
        padding-top: 6.75rem;
        padding-bottom: 1.125rem;
        background-image: url(/assets/images/hero.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom -2.4rem center;

        .title {
            margin-bottom: 1rem;
        }

        .logos {
            img:first-child {
                margin-right: 5rem;
            }
        }
    }

    &.learn-more {
        padding: 5rem 0 4.06rem;

        .title {
            margin-bottom: 2rem;
        }
    }

    &.join {
        height: 470px;
        padding: 2.25rem 2.5rem 3.44rem 6.25rem;
        display: flex;
        box-sizing: border-box;

        .image {
            flex: 0 1 400px;
            margin-right: 6.25rem;
            background-image: url(/assets/images/map.png);
            background-repeat: no-repeat;
            background-position: top;
            background-size: contain;
        }

        .description {
            flex: 1 2 auto;
            padding-top: 4.38rem;
        }

        .title {
            margin-bottom: 2.12rem;
        }
        .text {
            text-align: left;

            &:first-of-type {
                margin-bottom: 2rem;
            }
        }
    }

    &.participate {
        padding: 7rem 1.25rem;
        text-align: left;

        .title {
            margin-bottom: 4.88rem;
        }

        .container {
            max-width: $container-width;
            margin: 0 auto;

            &.steps {
                display: flex;
                justify-content: space-between;
            }
        }

        .step {
            margin: 0 1.5rem 0 0;
            font-size: 1rem;

            &:last-child {
                margin-right: 0;
            }

            &__image {
                display: block;
                margin: 0 auto 1.63rem;
                position: relative;
                left: -10%;
            }

            &__title {
                display: inline;
                font-family: Untitled-Sans-Medium;
                letter-spacing: -0.07px;
                line-height: 24px;
                margin-right: 8px;
            }

            &__time {
                letter-spacing: -0.07px;
                line-height: 24px;
            }

            &__description {
                font-size: 1.5rem;
                letter-spacing: -0.1px;
                line-height: 28px;
                margin-top: 1rem;
                max-width: 240px;
            }
        }
    }

    &.faq {
        padding: 6.88rem 0 3.75rem 0;

        .container {
            box-sizing: border-box;
            max-width: 900px;
            padding: 0 3.75rem;
            margin: 3.5rem auto;
            text-align: left;
        }
    }

    &.stay-informed {
        padding: 5.38rem 1.25rem 4.5rem 1.25rem;

        .container {
            max-width: $container-width;
            margin: 0 auto;
            text-align: left;
        }

        .social-media {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2.5rem;

            .text {
                text-align: left;
                margin: 0 2.5rem 0 0;
                flex: 2 1 auto;
                max-width: unset;
            }

            &__links {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex: 0 1 260px;
            }

            &__link {
                flex: 0 1 50px;
                text-align: center;
            }
        }

        .title {
            margin: 0;
            padding-bottom: 1.13rem;
            text-align: left;
        }
    }

    &.join-cmi {
        padding: 4.75rem 0 6.19rem 0;

        .join-cmi-logo {
            max-width: 500px;
        }

        .title {
            margin-top: 2.5rem;
            margin-bottom: 2.13rem;
        }

        .text {
            margin-bottom: 1.56rem;
        }

        .join-cmi-btn {
            margin: 0;
        }
    }
}

.title, .text {
    max-width: 728px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-family: Source Serif Pro;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.08px;
    line-height: 50px;
}

.text {
    opacity: 0.8;
    font-size: 1.5rem;
    letter-spacing: -0.1px;
    line-height: 34px;
}

.btn {
    font-family: Untitled-Sans-Medium;
    font-size: 1.13rem;
    letter-spacing: -0.26px;
    padding: 1rem 2rem;
    color: #000000;
    line-height: 22px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 4px;
    text-decoration: none;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
    }
}

.join-cmi-btn {
    background-color: #7154FF;
    color: #ffffff;
    font-size: 1.25rem;
    letter-spacing: 0;
    margin: 1.56rem 0 7.5rem;
    border: none;
}

.learn-more-btn {
    margin-top: 2.81rem;
}

.center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: $desktop-breakpoint) {
    section {
        &:nth-child(n) {
            padding-left: 5rem;
            padding-right: 5rem;
            height: auto;
        }

        &.introduction {
            background-size: 90%;
        }
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    section {
        &:nth-child(n) {
            padding-left: 3rem;
            padding-right: 3rem;
        }

        &.introduction {
            .logos {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                > img:first-child {
                    margin: 0;
                }
            }
        }

        &.join {
            flex-direction: column;

            .image {
                margin-right: 0;
            }
        }

        &.participate {
            .steps {
                flex-wrap: wrap;
                gap: 3rem;
            }

            .step {
                flex: 1 1 200px;
                margin-right: 0;

                &__image {
                    width: 250px;
                    height: 250px;
                    left: unset;
                }

                &__description {
                    max-width: unset;
                }
            }
        }

        &.faq {
            .container {
                padding: 0;
            }
        }

        &.stay-informed {
            .social-media {
                flex-direction: column;
                gap: 3rem;
                align-items: start;

                &__links {
                    flex-basis: 50px;
                    gap: 3rem;
                }
            }
        }

        .join-cmi-logo {
            width: 95%;
        }
   }
}

@media screen and (max-width: $mobile-breakpoint) {
    section {
        &:nth-child(n) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        &:not(.join) {
            padding-top: 5rem;
        }

        &.participate,
        &.join-cmi {
            padding-bottom: 5rem;
        }

        &.join {
            .image {
                flex-basis: 300px;
            }
        }
    }
}
