<mat-accordion>
  <mat-expansion-panel hideToggle style="margin-bottom: 10px;"
                       id="{{ activityDefinition.activityCode }}"
                       [expanded]="activityDefinition.activityCode === openActivity"
                       (opened)="generateActivity()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>{{ activityDefinition.activityName }}</b>
      </mat-panel-title>
      <mat-panel-description class="align-header">
        Survey Version: {{activity.activityVersion}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="Router--Outlet">
      <p class="grey-color"><b>Activity information</b></p>
      <div>Created: {{activity.createdAt | date:'medium'}}</div>
      <div>Completed: <ng-container *ngIf="activity.completedAt !== 0">{{activity.completedAt | date:'medium'}}</ng-container></div>
      <div>Last Updated: {{activity.lastUpdatedAt | date:'medium'}}</div>
    </div>
    <hr/>
    <div *ngFor="let item of questionsAndAnswers;">
      <ng-container *ngTemplateOutlet="questionUI;
      context: {
      type: item.type,
      stableId: item.stableId,
      question: item.question,
      questionTypes: { answer: item.answer, picklist: item.picklistAnswer, composite: item.compositeAnswer, matrix: item.matrixAnswer }
      }">
      </ng-container>
      <hr/>
    </div>

  </mat-expansion-panel>
</mat-accordion>




<!--Different templates for different question types-->
<ng-template #questionUI
             let-type="type"
             let-stableId="stableId"
             let-question="question"
             let-answer="questionTypes.answer"
             let-composite="questionTypes.composite"
             let-picklist="questionTypes.picklist"
             let-matrix="questionTypes.matrix"
>
  <h5 class="grey-color" innerHTML="{{question}} <b>({{stableId}})</b>"></h5>

  <ng-container *ngIf="type === 'TEXT'">
    <div *ngIf="answer">
      <p><b>{{ answer }}</b></p>
    </div>
  </ng-container>

  <ng-container *ngIf="type === 'NUMERIC' || type === 'DECIMAL'">
    <div *ngIf="answer">
      <p><b>{{ answer }}</b></p>
    </div>
  </ng-container>

  <ng-container *ngIf="type === 'PICKLIST'">

    <div *ngIf="picklist.multiple">

     <ul *ngFor="let option of picklist.multiple.options">
       <li *ngIf="option.text"><b>{{ option.text }}</b></li>
       <p *ngIf="option.details">{{ option.details }}</p>
       <ul>
          <li *ngFor="let nt of option.nText"><b>{{ nt }}</b></li>
       </ul>
     </ul>


      <ul>
        <li *ngFor="let group of picklist.multiple.groups">
          <p *ngIf="group.text"><b>{{ group.text }}</b></p>
          <ul>
            <li *ngFor="let gd of group.details"><b>{{ gd.optionText }}</b></li>
            <p *ngIf="group.optionText">{{ group.optionText.details }}</p>
          </ul>
        </li>
      </ul>
    </div>

    <div *ngIf="picklist.single">

      <ul>
        <ul *ngFor="let single of picklist.single">
          <li *ngIf="single.text"><b>{{ single.text }}</b> </li>
          <p *ngIf="single.details"><b>{{ single.details.details }}</b> </p>
        </ul>
      </ul>

    </div>

  </ng-container>

  <ng-container *ngIf="type === 'COMPOSITE'">
      <div *ngFor="let compose of composite">
        <p *ngIf="compose.answer"><b>{{compose.answer}}</b>  (<span *ngIf="compose.question">{{compose.question}}</span>)</p>
      </div>
  </ng-container>

  <ng-container *ngIf="type === 'BOOLEAN'">
    <p><b>{{ answer }}</b></p>
  </ng-container>

  <ng-container *ngIf="type === 'AGREEMENT'">
    <p><b>{{ answer }}</b></p>
  </ng-container>

  <ng-container *ngIf="type === 'MATRIX'">
    <ul>
      <li *ngFor="let mat of matrix"><b>{{mat.answer}}</b> ({{mat.question}})</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="type === 'DATE'">
    <p><b>{{ answer }}</b></p>
  </ng-container>

</ng-template>
