<footer _ngcontent-c2="" class="footer row">
  <div _ngcontent-c2="" class="col-lg-6 col-md-4 col-sm-12 col-xs-12 footer-logo">
      <a _ngcontent-c2="" routerLink="/home">
          <img _ngcontent-c2="" alt="Cancer Collective Logo" src="/assets/images/logo-footer.svg">
      </a>
  </div>
  <div _ngcontent-c2="" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt10">
      <p _ngcontent-c2="" class="footer-text">
          <span _ngcontent-c2="" class="medium">{{ 'Footer.Titles.ContactUs' | translate }}</span><br _ngcontent-c2="">
          <span _ngcontent-c2="" class="light">hello@cancercollective.org<br>651-229-5806</span>
      </p>
  </div>
  <div _ngcontent-c2="" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt10">
      <p _ngcontent-c2="" class="footer-text float--right">
          <a _ngcontent-c2="" class="footer-link" [routerLink]="Route.Home">
            {{ 'Footer.Links.Home' | translate }}
          </a>
          <a _ngcontent-c2="" class="footer-link" [routerLink]="Route.AboutUs">
            {{ 'Footer.Links.AboutUs' | translate }}
          </a>
          <a _ngcontent-c2="" class="footer-link" [routerLink]="Route.LearnMore">
            {{ 'Footer.Links.LearnMore' | translate }}
          </a>
          <button _ngcontent-c2="" class="footer-link">
              <i class="fa fa-arrow-up footer-arrow"></i>
              {{ 'Footer.Links.BackToTop' | translate }}
          </button>
      </p>
  </div>
</footer>