@use "projects/ddp-dsm-ui/src/styles/FON/classes/buttons";
@import "projects/ddp-dsm-ui/src/styles/FON/core/index";

.search-panel {
  background-color: $__Dawn_pink;
  border-radius: 2px;
  padding: 16px;

  &-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    row-gap: 12px;

    app-input-field {
      margin-right: 16px;

      &:last-of-type {
        margin-right: 32px;
      }
    }

    .btn {
      height: 39px;

      &:focus {
        outline-offset: 1px;
      }

      &_search {
        width: 104px;
        margin-right: 8px;
      }

      &_clear {
        width: 88px;
      }
    }
  }
}

::ng-deep {

  .input_field_primary {
    height: 59px;
    font-size: getFontSize('sm');

    mat-label {
      color: $__Gunmetal !important;
      margin-bottom: 0 !important;
    }

    .mat-form-field {
      color: $__Gunmetal !important;
      font-family: Montserrat-Regular, sans-serif !important;
      line-height: 14px;
    }

    .mat-form-field {
      &-outline {
        background-color: #FFFFFF;
        color: $__Heather !important;
        border: 1px solid $__Heather;
        border-radius: 2px;
      }

      &.mat-focused {
        .mat-form-field-outline {
          border-color: $__Slate_grey;
        }
      }
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-start,
    .mat-form-field-appearance-outline .mat-form-field-outline-end {
      border: none !important;
    }
  }
}
