<div id="uploadFile" class="upload">
  <button (click)="browse()" class="upload-selectBtn">Select a PDF</button>
  <input type="file" accept=".pdf" #hiddenInput (change)="onFileSelection($event)" class="upload-hiddenInput">
  <span class="upload-selectedFileName">{{selectedFileName}}</span>
  <button (mouseleave)="retryOrNot(false)" (mouseover)="retryOrNot(true)"
          #uploadButton class="upload-uploadBtn" (click)="upload()" [disabled]="!isFileSelected || uploadStatus === 1"
          [ngClass]="
          uploadStatus === 1 ? 'uploadSuccess'
          : uploadStatus === 2 ? 'uploadFail'
          : uploadStatus === 4 ? 'uploadRetry'
          : ''"
  >{{uploadButtonText}}</button>
</div>
