@import '../../../styles/variables.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: $header-height;
    transition: all 200ms linear;
    background-color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 1.5625rem;
    height: $header-height;
}

.navigation {
    list-style: none;
    display: flex;
}

.auth {
    display: flex;
    align-items: center;
}

.navigation__item {
    margin-right: 2.8125rem;
    display: flex;
}

.hamburger {
    padding: 2rem;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    background-color: transparent;
    border: 0;
    display: none;
}

.panel-opened {
    height: 100vh;
    z-index: 3;

    .panel-controls {
        display: flex;
        flex-direction: column;
        margin: 1.5625rem 2.5rem;
        transition: opacity 100ms 200ms ease;
        opacity: 1;
        visibility: visible;
        height: 100%;

        .nav,
        .auth {
            display: flex;
        }

        .auth {
            flex-direction: column;
            align-items: start;
        }

        .navigation {
            flex-direction: column;
            padding: 0;
        }
    }
}

.panel-controls {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.hamburger-box {
    width: 1.875rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 1.875rem;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger--slider {
    .hamburger-inner {
        top: 2px;
    }

    .hamburger-inner::before {
        top: 8px;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 0.15s;
    }

    .hamburger-inner::after {
        top: 16px;
    }

    &.is-active {
        .hamburger-inner {
            transform: translate3d(0, 8px, 0) rotate(45deg);
        }

        .hamburger-inner::before {
            transform: rotate(-45deg) translate3d(0, -6px, 0);
            opacity: 0;
        }

        .hamburger-inner::after {
            transform: translate3d(0, -16px, 0) rotate(-90deg);
        }

    }
}

.project-logo > * {
    display: inline-block;
}

@media screen and (max-width: 945px) {
    .hamburger {
        display: flex;
    }

    .nav,
    .auth {
        display: none;
    }
}
