@import '../../../styles/variables';
@import '../../../styles/common';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    transition: all 200ms linear;
    background-color: white;
    z-index: 1;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 1.5625rem;
    height: $header-height;
}

.header_shadow {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.navigation {
    list-style: none;
    display: flex;
}

.auth {
    display: flex;
    align-items: center;
    min-width: 160px;
}

.navigation__item {
    margin-right: 2rem;
    display: flex;
}

.hamburger {
    padding: 2rem;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    background-color: transparent;
    border: 0;
    display: flex;
}

.header-content .nav {
    width: 100%;
    display: none;
}

.panel-opened {
    height: 100vh;
    z-index: 3;

    .panel-controls {
        display: flex;
        flex-direction: column;
        margin: 1.5625rem 2.5rem;
        transition: opacity 100ms 200ms ease;
        opacity: 1;
        visibility: visible;
        height: 100%;

        .nav,
        .auth {
            display: flex;
        }

        .auth {
            flex-direction: column;
            align-items: start;
        }

        .navigation {
            flex-direction: column;
            padding: 0;
        }
    }
}

.panel-controls {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.hamburger-box {
    width: 1.875rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 1.875rem;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger--slider {
    .hamburger-inner {
        top: 2px;
    }

    .hamburger-inner::before {
        top: 8px;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 0.15s;
    }

    .hamburger-inner::after {
        top: 16px;
    }

    &.is-active {
        .hamburger-inner {
            transform: translate3d(0, 8px, 0) rotate(45deg);
        }

        .hamburger-inner::before {
            transform: rotate(-45deg) translate3d(0, -6px, 0);
            opacity: 0;
        }

        .hamburger-inner::after {
            transform: translate3d(0, -16px, 0) rotate(-90deg);
        }

    }
}

.project-logo {
    width: 160px;
    display: flex;
    margin-right: 15px;

    &__text {
        color: $text-color;
        line-height: 18px;
        padding-left: 7px;
        letter-spacing: -0.5px;
    }
}

.header-link {
    color: $text-color;
    font-family: $primary-font-medium;
    letter-spacing: -0.015rem;
    font-size: 1.5rem;
    line-height: 3rem;
}

.join-button {
    @extend .btn-common;
    @extend .btn-header;
    margin-left: 15px;
}

@media screen and (min-width: $desktop-breakpoint) {
    .hamburger {
        display: none;
    }

    .panel-controls,
    .panel-opened .panel-controls {
        display: none;
    }

    .header-content .nav {
        display: flex;
    }

    .header {
        z-index: 1;
        height: $header-height;
    }

    .header-link {
        font-size: 1rem;
        line-height: normal;
    }

    .auth {
        min-width: 200px;
    }
}
