@import '../../../styles/variables';

.mat-table {
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  font-size: 1.6rem;

  padding-top: 1.6rem !important;
  padding-bottom: 1.6rem !important;
  padding-left: 2.4rem !important;

  &:last-of-type {
    padding-right: 2.4rem !important;
  }
}

.mat-column-name {
  width: 20%;
}

.mat-column-summary {
  width: 40%;
}

.mat-column-status {
  width: 20%;
}

.mat-column-actions {
  width: 20%;
}

.activity-status {
  display: flex;
  align-items: center;
}

.status-icon {
  margin-top: -0.1em;
  margin-right: 0.3em;

  &--created {
    color: $color-yellow-1;
  }

  &--in-progress {
    color: $color-blue-4;
  }

  &--complete {
    color: $color-success;
  }
}
