<table mat-table [dataSource]="activities">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'UserActivities.Header.Name' | translate }}
    </th>

    <td mat-cell *matCellDef="let activity">
      {{ activity.activityName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'UserActivities.Header.Status' | translate }}
    </th>

    <td mat-cell *matCellDef="let activity">
      <div class="activity-status">
        <ng-container
          *ngIf="activity.statusCode === ActivityStatusCode.CREATED"
        >
          <mat-icon class="status-icon status-icon--created">info</mat-icon
          >{{ 'UserActivities.Statuses.Created' | translate }}
        </ng-container>

        <ng-container
          *ngIf="activity.statusCode === ActivityStatusCode.IN_PROGRESS"
        >
          <mat-icon class="status-icon status-icon--in-progress"
            >pending</mat-icon
          >{{ 'UserActivities.Statuses.InProgress' | translate }}
        </ng-container>

        <ng-container
          *ngIf="activity.statusCode === ActivityStatusCode.COMPLETE"
        >
          <mat-icon class="status-icon status-icon--complete"
            >check_circle</mat-icon
          >{{ 'UserActivities.Statuses.Complete' | translate }}
        </ng-container>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'UserActivities.Header.Actions' | translate }}
    </th>

    <td mat-cell *matCellDef="let activity">
      <button
        *ngIf="activity.statusCode === ActivityStatusCode.CREATED"
        class="button button--sm button--yellow"
        (click)="onStartClick(activity)"
      >
        {{ 'UserActivities.Actions.Start' | translate }}
      </button>

      <button
        *ngIf="activity.statusCode === ActivityStatusCode.IN_PROGRESS"
        class="button button--sm button--yellow"
        (click)="onContinueClick(activity)"
      >
        {{ 'UserActivities.Actions.Continue' | translate }}
      </button>

      <button
        *ngIf="activity.statusCode === ActivityStatusCode.COMPLETE"
        class="button button--sm button--blue"
        (click)="onViewClick(activity)"
      >
        {{ 'UserActivities.Actions.View' | translate }}
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
