<main class="main">
    <section class="section">
        <div class="content content_wide introduction-block">
            <div class="introduction">
                <div class="introduction__info">
                    <h1>Help transform our understanding of Brain Cancer</h1>
                    <p>
                        If you or your child have been diagnosed with a primary brain cancer, you can join a nationwide
                        movement of patients and their families, doctors, and scientists by sharing your information and
                        your voice.
                    </p>
                    <div class="introduction__buttons">
                        <a [routerLink]="'/' + appRoutes.CountMeIn"
                            class="button button_medium button_primary introduction__cmi">
                            Count Me In
                        </a>
                        <a [routerLink]="'/' + appRoutes.MoreDetails" class="button button_medium button_secondary">
                            Learn More
                        </a>
                    </div>
                    <p class="introduction__examples">
                        Examples of primary brain cancers: glioblastoma, astrocytoma, oligodendroglioma, and
                        medulloblastoma.
                    </p>
                    <div class="logos">
                        <img class="logos__wide" src="assets/images/logo-broad-institute.png" alt="">
                        <img class="logos__wide" src="assets/images/logo-dana-farber-cancer-institute.png" alt="">
                        <img class="logos__square" src="assets/images/logo-minderoo.png" alt="">
                    </div>
                </div>
                <div class="introduction__image">
                    <img class="image" src="assets/images/brain.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section about-section">
        <div class="content content_wide about-block">
            <div class="about">
                <div class="about__image">
                    <img class="image" src="assets/images/people.png" alt="">
                </div>
                <div class="about__info">
                    <h2>
                        What’s this project about?
                    </h2>
                    <p>
                        The Brain Cancer Project is part of Count Me In, a nonprofit organization that’s pursuing a new
                        approach to cancer research - bringing patients and researchers together as partners to
                        accelerate discoveries.
                    </p>
                    <p>
                        Patients with brain cancer are empowered to contribute to breakthroughs and increase the pace of
                        biomedical research, no matter where they live. By discovering the genes and the variants that
                        drive this disease and sharing this data, we hope insights can be gained to develop more
                        effective therapies.
                    </p>
                    <a [href]="cmiUrl" target="_blank">
                        <img src="assets/images/logo-count-me-in.svg" alt="">
                    </a>
                    <p>
                        To learn more about Count Me In, our mission, and other projects and published research,
                        <a class="Link" [href]="cmiUrl" target="_blank">visit our site</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="content content_wide">
            <div>
                <h2>What does participation look like?</h2>
                <div>
                    <div>
                        <p>
                            <span>&#8226;</span>
                            <span>STEP 1</span>
                            <span> 10-15 minutes</span>
                        </p>
                        <p>
                            Provide Consent
                        </p>
                        <p>
                            This document is several pages, but take your time. Your progress will be automatically
                            saved so you can come back to it later.
                        </p>
                        <a href="#">Preview the consent form</a>
                    </div>
                    <div>
                        <p>
                            <span>&#8226;</span>
                            <span>STEP 2</span>
                            <span> 5 minutes</span>
                        </p>
                        <p>
                            Tell us where you’ve been treated
                        </p>
                        <p>
                            We ask where patients have been treated, so that we can request medical records, and if
                            applicable, archived tumor tissue.
                        </p>
                        <a href="#">Preview the medical release</a>
                    </div>
                </div>
                <div>
                    <div>
                        <p>
                            <span>&#8226;</span>
                            <span>STEP 3</span>
                            <span> 10 minutes</span>
                        </p>
                        <p>
                            Respond to simple surveys
                        </p>
                        <p>
                            In these surveys, we ask questions about your experience with brain cancer, like your brain
                            tumor type, when you were diagnosed, and the types of treatments you’ve had.
                        </p>
                        <a href="#">Preview the surveys</a>
                    </div>
                    <div>
                        <p>
                            <span>&#8226;</span>
                            <span>STEP 4</span>
                            <span> 10 minutes</span>
                        </p>
                        <p>
                            Provide a saliva and/or blood sample
                        </p>
                        <p>
                            We will send you a kit to collect a sample of your saliva and/or blood. We will compare the
                            normal DNA in your saliva or blood to your tumor DNA.
                        </p>
                        <a href="#">See the kits</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="content content_wide">
            <div>
                <p>To learn more about participation, eligibility criteria and more</p>
                <a href="#">View FAQ page</a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="content content_wide">
            <div>
                <h2>Partners</h2>
                <div>
                    <img src="https://dummyimage.com/330x125/aaa/fff" alt="">
                    <img src="https://dummyimage.com/330x125/aaa/fff" alt="">
                    <img src="https://dummyimage.com/330x125/aaa/fff" alt="">
                    <img src="https://dummyimage.com/330x125/aaa/fff" alt="">
                    <img src="https://dummyimage.com/330x125/aaa/fff" alt="">
                    <img src="https://dummyimage.com/330x125/aaa/fff" alt="">
                </div>
                <p>
                    For more information on how to become a partner for the Brain Cancer Project,
                    contact the team at info@braincancerproject.org.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="content content_wide">
            <div>
                <div>
                    <h2>Stay informed</h2>
                    <p>Sign up for our mailing list or follow us on social media.</p>
                    <button>Join Mailing List</button>
                    <div>
                        <p>
                            Social
                        </p>
                        <div>
                            <a href="#">Facebook</a>
                            <a href="#">Twitter</a>
                        </div>
                    </div>
                </div>
                <div>
                    Twitter feed
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="content content_wide">
            <div>
                <h2>Please join us in saying “Count Me In!”</h2>
                <p>With your help, patients and their families can be the driving force behind transformative brain
                    cancer research.</p>
                <a href="#">Count Me In</a>
            </div>
        </div>
    </section>
</main>