<main class="main">
    <section class="section">
        <div class="content content_wide">
            <div>
                <div>
                    <h1>Help transform our understanding of Brain Cancer</h1>
                    <p>
                        If you or your child have been diagnosed with a primary brain cancer, you can join a nationwide
                        movement of patients and their families, doctors, and scientists by sharing your information and
                        your voice.
                    </p>
                    <div>
                        <a href="#">Count Me In</a>
                        <a href="#">Learn More</a>
                    </div>
                    <p>
                        Examples of primary brain cancers: glioblastoma, astrocytoma, oligodendroglioma, and
                        medulloblastoma.
                    </p>
                    <div>
                        <img src="assets/images/logo-broad-institute.png" alt="">
                        <img src="assets/images/logo-dana-farber-cancer-institute.png" alt="">
                        <img src="assets/images/logo-minderoo.png" alt="">
                    </div>
                </div>
                <div>
                    <img src="https://dummyimage.com/560x480/aaa/fff" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="content content_wide">
            <div>
                <div>
                    <img src="https://dummyimage.com/440x610/aaa/fff" alt="">
                </div>
                <div>
                    <h2>
                        What’s this project about?
                    </h2>
                    <p>
                        The Brain Cancer Project is part of Count Me In, a nonprofit organization that’s pursuing a new
                        approach to cancer research - bringing patients and researchers together as partners to
                        accelerate discoveries.
                    </p>
                    <p>
                        Patients with brain cancer are empowered to contribute to breakthroughs and increase the pace of
                        biomedical research, no matter where they live. By discovering the genes and the variants that
                        drive this disease and sharing this data, we hope insights can be gained to develop more
                        effective therapies.
                    </p>
                    <a href="#">
                        <img src="assets/images/logo-count-me-in.svg" alt="">
                    </a>
                    <p>
                        To learn more about Count Me In, our mission, and other projects and published research, visit
                        our site.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="content content_wide">
            <div>
                <h2>What does participation look like?</h2>
                <div>
                    <div>
                        <p>
                            <span>&#8226;</span>
                            <span>STEP 1</span>
                            <span> 10-15 minutes</span>
                        </p>
                        <p>
                            Provide Consent
                        </p>
                        <p>
                            This document is several pages, but take your time. Your progress will be automatically
                            saved so you can come back to it later.
                        </p>
                        <a href="#">Preview the consent form</a>
                    </div>
                    <div>
                        <p>
                            <span>&#8226;</span>
                            <span>STEP 2</span>
                            <span> 5 minutes</span>
                        </p>
                        <p>
                            Tell us where you’ve been treated
                        </p>
                        <p>
                            We ask where patients have been treated, so that we can request medical records, and if
                            applicable, archived tumor tissue.
                        </p>
                        <a href="#">Preview the medical release</a>
                    </div>
                </div>
                <div>
                    <div>

                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>