<main class="main">
    <section class="section">
        <div class="content content_wide introduction-block">
            <div class="introduction">
                <div class="introduction__info">
                    <h1>Help transform our understanding of Brain Cancer</h1>
                    <p class="introduction__text">
                        If you or your child have been diagnosed with a primary brain cancer, you can join a nationwide
                        movement of patients and their families, doctors, and scientists by sharing your information and
                        your voice.
                    </p>
                    <div class="introduction__buttons">
                        <a [routerLink]="'/' + appRoutes.CountMeIn"
                            class="button button_medium button_primary introduction__cmi">
                            Count Me In
                        </a>
                        <a [routerLink]="'/' + appRoutes.MoreDetails" class="button button_medium button_secondary">
                            Learn More
                        </a>
                    </div>
                    <p class="introduction__examples">
                        Examples of primary brain cancers: glioblastoma, astrocytoma, oligodendroglioma, and
                        medulloblastoma.
                    </p>
                    <div class="logos">
                        <img class="logos__wide" src="assets/images/logo-broad-institute.png"
                            alt="Broad Institute logo">
                        <img class="logos__wide" src="assets/images/logo-dana-farber-cancer-institute.png"
                            alt="Dana Farber logo">
                        <img class="logos__square" src="assets/images/logo-minderoo.png" alt="Minderoo Foundation logo">
                    </div>
                </div>
                <div class="introduction__image">
                    <img class="image" src="assets/images/brain.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section about-section">
        <div class="content content_wide about-block">
            <div class="about">
                <div class="about__image">
                    <img class="image" src="assets/images/people.png" alt="">
                </div>
                <div class="about__info">
                    <h2>
                        What’s this project about?
                    </h2>
                    <p>
                        The Brain Cancer Project is part of Count Me In, a nonprofit organization that’s pursuing a new
                        approach to cancer research - bringing patients and researchers together as partners to
                        accelerate discoveries.
                    </p>
                    <p>
                        Patients with brain cancer are empowered to contribute to breakthroughs and increase the pace of
                        biomedical research, no matter where they live. By discovering the genes and the variants that
                        drive this disease and sharing this data, we hope insights can be gained to develop more
                        effective therapies.
                    </p>
                    <a class="about__cmi" [href]="cmiUrl" target="_blank">
                        <img src="assets/images/logo-count-me-in.svg" alt="">
                    </a>
                    <p>
                        To learn more about Count Me In, our mission, and other projects and published research,
                        <a class="Link" [href]="cmiUrl" target="_blank">visit our site</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="content content_wide participation-block">
            <div>
                <h2>What does participation look like?</h2>
                <div>
                    <ng-container *ngFor="let steps of 'HomePage.Participation.Survey' | translate; last as isLast">
                        <div class="line" [ngClass]="{'line_underlined': !isLast}">
                            <div class="participation" *ngFor="let step of steps">
                                <p class="step">
                                    <span class="step__indicator"></span>
                                    <span class="step__index">{{step.Number}}</span>
                                    <span class="step__time">{{step.Time}}</span>
                                </p>
                                <p class="participation__title">{{step.Title}}</p>
                                <p>{{step.Text}}</p>
                                <a class="Link" [href]="step.Link" target="_blank">{{step.LinkText}}</a>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>
    <section class="section learn-more-section">
        <div class="content content_wide learn-more-block">
            <div class="learn-more">
                <p class="learn-more__text">To learn more about participation, eligibility criteria and more</p>
                <a [routerLink]="'/' + appRoutes.MoreDetails"
                    class="button button_medium button_secondary button_learn-more">
                    View FAQ page
                </a>
            </div>
        </div>
    </section>
    <section class="section partners-section">
        <div class="content content_wide partners-block">
            <div>
                <h2 class="h2-big">Partners</h2>
                <ng-container *ngFor="let row of 'HomePage.Partners.Organizations' | translate">
                    <div class="partners">
                        <ng-container *ngFor="let partner of row">
                            <a class="partners__link" [href]="partner.Website" target="_blank">
                                <img class="partners__logo" [src]="partner.Logo" [alt]="partner.Alt">
                            </a>
                        </ng-container>
                    </div>
                </ng-container>
                <p>
                    For more information on how to become a partner for the Brain Cancer Project,
                    contact the team at <a class="Link" [href]="'mailto:' + infoEmail">{{infoEmail}}</a>.
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="content content_wide stay-informed-block">
            <div class="stay-informed">
                <div class="socials">
                    <h2 class="h2-big">Stay informed</h2>
                    <p>Sign up for our mailing list or follow us on social media.</p>
                    <button class="button button_medium button_secondary" (click)="joinMailingList()">
                        Join Mailing List</button>
                    <div>
                        <p class="socials__text">
                            Social
                        </p>
                        <div>
                            <a class="Link medium socials__facebook"
                                [href]="'https://www.facebook.com/' + facebookAccount" target="_blank">Facebook</a>
                            <a class="Link" [href]="'https://twitter.com/' + twitterAccount" target="_blank">Twitter</a>
                        </div>
                    </div>
                </div>
                <div class="twitter">
                    <p>
                        <span class="twitter__title">Tweets by </span>
                        <a [href]="'https://twitter.com/' + twitterAccount" class="Link twitter__link"
                            target="_blank">@{{twitterAccount}}</a>
                    </p>
                    <div class="twitter__feed">
                        <toolkit-twitter-timeline-widget></toolkit-twitter-timeline-widget>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section join-section">
        <div class="content content_wide join-block">
            <div>
                <h2>Please join us in saying “Count Me In!”</h2>
                <p>With your help, patients and their families can be the driving force behind transformative brain
                    cancer research.</p>
                <a href="#">Count Me In</a>
            </div>
        </div>
    </section>
</main>