@use '@angular/material' as mat;
@import '@angular/material/theming';

@include mat.core();

$md-primary: (
  50: #e4eef6,
  100: #bbd4e9,
  200: #8db8db,
  300: #5f9ccd,
  400: #3d86c2,
  500: #1b71b7,
  600: #1869b0,
  700: #145ea7,
  800: #10549f,
  900: #084290,
  A100: #bed6ff,
  A200: #8bb6ff,
  A400: #5896ff,
  A700: #3e86ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$md-secondary: (
  50: #f0f6e9,
  100: #dae9c8,
  200: #c1daa3,
  300: #a8cb7e,
  400: #95c063,
  500: #82b547,
  600: #7aae40,
  700: #6fa537,
  800: #659d2f,
  900: #528d20,
  A100: #e1ffc9,
  A200: #c4ff96,
  A400: #a7ff63,
  A700: #98ff4a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warn: (
  50: #fee8e7,
  100: #fcc7c3,
  200: #faa19b,
  300: #f77b72,
  400: #f65f54,
  500: #f44336,
  600: #f33d30,
  700: #f13429,
  800: #ef2c22,
  900: #ec1e16,
  A100: #ffffff,
  A200: #ffe9e9,
  A400: #ffb8b6,
  A700: #ff9f9c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-primary: mat.define-palette($md-primary);
$app-secondary: mat.define-palette($md-secondary);
$app-warn: mat.define-palette($md-warn);

$app-theme: mat.define-light-theme($app-primary, $app-secondary, $app-warn);

$app-typography: mat.define-typography-config(
  $font-family: 'Catamaran, sans-serif',
);

@include mat.all-component-themes($app-theme);
@include mat.all-component-typographies($app-typography);
