<h1 *ngIf="shippingPage === QUEUE"> Kit Queue </h1>
<h1 *ngIf="shippingPage === SENT"> Kits Sent </h1>
<h1 *ngIf="shippingPage === RECEIVED"> Kits Received </h1>
<h1 *ngIf="shippingPage === ERROR"> Kits with Error </h1>
<h1 *ngIf="shippingPage === UPLOADED"> Kits without label </h1>
<h1 *ngIf="shippingPage === TRIGGERED"> Kits label was triggered </h1>
<h1 *ngIf="shippingPage === OVERVIEW"> All Kit Information </h1>
<h1 *ngIf="shippingPage === DEACTIVATED"> Deactivated Kits </h1>

<div *ngIf="errorMessage != null">
  <h3 class="Color--warn Line--Break">{{errorMessage}}</h3>
  <br/>
</div>
<div *ngIf="additionalMessage != null">
  <h3 class="Color--primary Line--Break">{{additionalMessage}}</h3>
  <br/>
</div>

<div *ngIf="allowedToSeeInformation">

  <div class="Float--left Width--25">
    <br/>
    <div *ngIf="kitTypes != null && kitTypes.length > 0">
      <div *ngFor="let type of kitTypes">
        <mat-checkbox color="primary" [checked]="type.selected" (change)="type.selected = $event.checked; typeChecked(type)" disableRipple>
          <ng-container *ngIf="type.displayName !== null">{{type.displayName}}</ng-container>
          <ng-container *ngIf="type.displayName == null">{{type.name}}</ng-container>
        </mat-checkbox>
      </div>
    </div>
    <br/>
  </div>

  <span [hidden]="!loading" class="Width--100">
  <div align="center" class="Width--100 Height--100">
    <i class="fas fa-spinner fa-spin fa-5x Color--primary"></i>
  </div>
</span>

  <div class="Float--left Width--100">

    <div *ngIf="kitType !== null && kitType.externalShipper && (shippingPage === UPLOADED || queueToPrint())">
      <h3>Kits will get sent externally</h3>
    </div>

    <div *ngIf="!loading && kitRequests.length === 0 && kitType !== null">
      <ng-container *ngIf="!(kitType.externalShipper && (shippingPage === UPLOADED || queueToPrint()))">
        <h4>There are no kit requests</h4>
      </ng-container>
    </div>

    <div class="Width--100" *ngIf="kitType !== null">
      <ng-container *ngIf="!(kitType.externalShipper && queueToPrint())">
        <button class="Float--right" mat-raised-button (click)="reload()" color="primary" [disabled]="loading">Reload Kit List</button>
      </ng-container>
    </div>

    <div *ngIf="kitRequests.length > 0">

      <table class="table table-striped Width--100" [mfData]="kitRequests | kitRequestSort:sortField:sortDir |
             kitRequestFilter:shortId:shippingId:reason:trackingTo:trackingReturn:mfCode:noReturn:externalOrderNumber:externalOrderStatus" #mf="mfDataTable"
             [mfRowsOnPage]="getRole().getUserSetting().getRowsPerPage()"
             [mfSortBy]="sortField" [(mfSortOrder)]="sortDir">
        <thead>
        <tr>
          <th *ngIf="getRole().allowedToHandleSamples() && (queueToPrint() || shippingPage === UPLOADED) && !kitType.externalShipper" class="Line--Break">
            <!--            checkbox to select for printing label -->
            Print Kit
<mat-checkbox color="primary" disableRipple [checked]="allSelected" (change)="allSelected = $event.checked; allChecked()"></mat-checkbox></th>
          <th>
            <!--            shortID-->
            <mfDefaultSorter by="collaboratorParticipantId">Short ID</mfDefaultSorter>
          </th>
          <th *ngIf="(shippingPage === UPLOADED || shippingPage === QUEUE || shippingPage === ERROR) && showPreferredLanguage()">
            <!--            preferred Language-->
            <mfDefaultSorter by="preferredLanguage">Preferred Language</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage !== DEACTIVATED && !kitType.externalShipper">
            <!--            shipping ID-->
            <mfDefaultSorter by="ddpLabel">Shipping ID</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage !== DEACTIVATED && kitType.externalShipper">
            <!--            external order number-->
            <mfDefaultSorter by="ddpLabel">External Shipping ID</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage !== DEACTIVATED && kitType.externalShipper">
            <!--            external order status-->
            <mfDefaultSorter by="ddpLabel">External Shipping Status</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === ERROR">
            <!--            error-->
            <mfDefaultSorter by="message">Error Reason</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === DEACTIVATED || shippingPage === OVERVIEW && !kitType.externalShipper">
            <!--            deactivation reason-->
            <mfDefaultSorter by="reason">Deactivation Reason</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === DEACTIVATED || shippingPage === OVERVIEW && !kitType.externalShipper">
            <!--            deactivation date-->
            <mfDefaultSorter by="deactivatedDate">Deactivated</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === SENT">
            <!--            tracking to number-->
            <mfDefaultSorter by="trackingToId">Tracking Number</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === SENT">
            <!--            tracking return number-->
            <mfDefaultSorter by="trackingReturnId">Tracking Return</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === SENT || shippingPage === OVERVIEW">
            <!--            sent date-->
            <mfDefaultSorter by="scanDate">Sent</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === RECEIVED || shippingPage === OVERVIEW">
            <!--            received date-->
            <mfDefaultSorter by="receiveDate">Received</mfDefaultSorter>
          </th>
          <th *ngIf="shippingPage === SENT || shippingPage === RECEIVED || shippingPage === OVERVIEW">
            <!--            mf qr-code-->
            MF code
          </th>
          <th>
            <!--            study-->
            DDP-Realm
          </th>
          <th>
            <!--            kit type-->
            Type
          </th>
          <th *ngIf="isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)">
            <!--            sample type-->
            Sample Type
          </th>
          <th
            *ngIf="getRole().allowedToDeactivateKits() && (shippingPage === DEACTIVATED || (shippingPage !== DEACTIVATED && (queueToPrint() || shippingPage === UPLOADED)))">
            <!--            deactivation/reactivation button-->
          </th>
          <th *ngIf="getRole().allowedToCreateExpressLabels() && shippingPage === QUEUE">
            <!--            express label button-->
          </th>
          <th *ngIf="kitsWithNoReturn">
            <!--            no Return y/n-->
            Return to Broad
          </th>
          <th *ngIf="queueToPrint() && kitType.manualSentTrack" class="Line--Break">
            <!--            setSent checkbox-->
            Kit Sent
            <mat-checkbox color="primary" [checked]="allSentSelected" (change)="allSentSelected = $event.checked; allSentChecked()" disableRipple></mat-checkbox>
          </th>
        </tr>
        <tr>
          <th *ngIf="getRole().allowedToHandleSamples() && (queueToPrint() || shippingPage === UPLOADED) && !kitType.externalShipper" class="Line--Break">
            <!--            checkbox to select for printing label -->
          </th>
          <th>
            <!--            shortID-->
            <input class="form-control" [(ngModel)]="shortId"/>
          </th>
          <th *ngIf="(shippingPage === UPLOADED || shippingPage === QUEUE || shippingPage === ERROR) && showPreferredLanguage()">
            <!--            preferred Language-->
          </th>
          <th *ngIf="shippingPage !== DEACTIVATED && !kitType.externalShipper">
            <!--            shipping ID-->
            <input class="form-control" [(ngModel)]="shippingId"/>
          </th>
          <th *ngIf="shippingPage !== DEACTIVATED && kitType.externalShipper">
            <!--            external order number-->
          </th>
          <th *ngIf="shippingPage !== DEACTIVATED && kitType.externalShipper">
            <!--            external order status-->
          </th>
          <th *ngIf="shippingPage === ERROR">
            <!--            error-->
          </th>
          <th *ngIf="shippingPage === DEACTIVATED || shippingPage === OVERVIEW && !kitType.externalShipper">
            <!--            deactivation reason-->
            <input class="form-control" [(ngModel)]="reason"/>
          </th>
          <th *ngIf="shippingPage === DEACTIVATED || shippingPage === OVERVIEW && !kitType.externalShipper">
            <!--            deactivation date-->
          </th>
          <th *ngIf="shippingPage === SENT">
            <!--            tracking to number-->
            <input class="form-control" [(ngModel)]="trackingTo"/>
          </th>
          <th *ngIf="shippingPage === SENT">
            <!--            tracking return number-->
            <input class="form-control" [(ngModel)]="trackingReturn"/>
          </th>
          <th *ngIf="shippingPage === SENT || shippingPage === OVERVIEW">
            <!--            sent date-->
          </th>
          <th *ngIf="shippingPage === RECEIVED || shippingPage === OVERVIEW">
            <!--            received date-->
          </th>
          <th *ngIf="shippingPage === SENT || shippingPage === RECEIVED || shippingPage === OVERVIEW">
            <!--            mf qr-code-->
            <input class="form-control" [(ngModel)]="mfCode"/>
          </th>
          <th>
            <!--            study-->
          </th>
          <th>
            <!--            kit type-->
          </th>
          <th *ngIf="isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)">
            <!--            sample type-->
          </th>
          <th
            *ngIf="getRole().allowedToDeactivateKits() && (shippingPage === DEACTIVATED || (shippingPage !== DEACTIVATED && (queueToPrint() || shippingPage === UPLOADED)))">
            <!--            deactivation/reactivation button-->
          </th>
          <th *ngIf="getRole().allowedToCreateExpressLabels() && shippingPage === QUEUE">
            <!--            express label button-->
          </th>
          <th *ngIf="kitsWithNoReturn">
            <!--            no Return y/n-->
            <input class="form-control" [(ngModel)]="noReturn"/>noReturn
          </th>
          <th *ngIf="getRole().allowedToHandleSamples() && queueToPrint() && kitType.manualSentTrack" class="Line--Break">
            <!--            setSent checkbox-->
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let kitRequest of mf.data; let i = index">
          <td *ngIf="getRole().allowedToHandleSamples() && (queueToPrint() || shippingPage === UPLOADED) && !kitType.externalShipper">
            <!--            checkbox to select for printing label -->
            <ng-container *ngIf="(shippingPage === UPLOADED && kitRequest.labelDate === undefined) || queueToPrint()">
              <mat-checkbox color="primary" disableRipple
                           [checked]="kitRequest.isSelected" (click)="shiftClick(i, $event)"
                           (change)="kitRequest.isSelected = $event.checked; checkboxChecked()"></mat-checkbox>
            </ng-container>
            <ng-container *ngIf="(shippingPage === UPLOADED && kitRequest.labelDate !== undefined)">
              <i class="fas fa-spin fa-cog fa-lg Color--primary"></i>
            </ng-container>
          </td>
          <td
            [ngClass]="{'highlight_sample': kitRequest.receivedBy === 'BSP' && isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)}">
            <!--            pt shortID-->
            {{kitRequest.getID()}}
            <div *ngIf="kitRequest.express && shippingPage === QUEUE" class="Float--right Router--Outlet">
              <div class="Image--Flag">
                <i class="fa-inverse fas fa-shipping-fast fa-lg" title="Kit with express label" data-fa-transform="down-8 right-4"></i>
              </div>
            </div>
          </td>
          <td *ngIf="(shippingPage === UPLOADED || shippingPage === QUEUE || shippingPage === ERROR) && showPreferredLanguage()">
            <!--            preferred Language-->
            <ng-container *ngIf="kitRequest.preferredLanguage != null && kitRequest.preferredLanguage !== ''">{{getLanguage().getLanguageName(kitRequest.preferredLanguage)}}</ng-container>
          </td>
          <td *ngIf="shippingPage !== DEACTIVATED && !kitType.externalShipper" [ngClass]="{'highlight_sample': kitRequest.receivedBy === 'BSP' && isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)}">
            <!--            shipping ID-->
            {{kitRequest.ddpLabel}}
          </td>
          <td *ngIf="shippingPage !== DEACTIVATED && kitType.externalShipper" class="Line--Break">
            <!--            external ordern number-->
            {{kitRequest.externalOrderNumber}}
          </td>
          <td *ngIf="shippingPage !== DEACTIVATED && kitType.externalShipper" class="Line--Break">
            <!--            external order status-->
            {{kitRequest.externalOrderStatus}}
          </td>
          <td *ngIf="shippingPage === ERROR" class="Line--Break">
            <!--            error-->
            {{kitRequest.getError()}}
          </td>
          <td *ngIf="shippingPage === DEACTIVATED || shippingPage === OVERVIEW && !kitType.externalShipper"
              [ngClass]="{'highlight_sample': kitRequest.receivedBy === 'BSP' && isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)}">
            <!--            deactivation reason-->
            {{kitRequest.deactivationReason}}
          </td>
          <td *ngIf="shippingPage === DEACTIVATED || shippingPage === OVERVIEW && !kitType.externalShipper"
              [ngClass]="{'highlight_sample': kitRequest.receivedBy === 'BSP' && isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)}">
            <!--            deactivation date-->
            <ng-container *ngIf="kitRequest.deactivatedDate === 0"> -</ng-container>
            <ng-container *ngIf="kitRequest.deactivatedDate !== 0">{{kitRequest.deactivatedDate | date:'medium'}}</ng-container>
          </td>
          <td *ngIf="shippingPage === SENT" [ngClass]="{'highlight_sample': kitRequest.receivedBy === 'BSP' && isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)}">
            <!--            tracking to number-->
            <ng-container *ngIf="kitRequest.easypostTrackingToUrl != null"><a href="{{kitRequest.easypostTrackingToUrl}}" target="_blank">{{kitRequest.trackingToId}}</a>
            </ng-container>
            <ng-container *ngIf="kitRequest.easypostTrackingToUrl == null">{{kitRequest.trackingToId}}</ng-container>
          </td>
          <td *ngIf="shippingPage === SENT" [ngClass]="{'highlight_sample': kitRequest.receivedBy === 'BSP' && isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)}">
            <!--            tracking return number-->
            <ng-container *ngIf="kitRequest.easypostTrackingReturnUrl != null"><a href="{{kitRequest.easypostTrackingReturnUrl}}" target="_blank">{{kitRequest.trackingReturnId}}</a>
            </ng-container>
            <ng-container *ngIf="kitRequest.easypostTrackingReturnUrl == null">{{kitRequest.trackingReturnId}}</ng-container>
          </td>
          <td *ngIf="shippingPage === SENT || shippingPage === OVERVIEW" [ngClass]="{'highlight_sample': kitRequest.receivedBy === 'BSP' && isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)}">
            <!--            sent date-->
            <ng-container *ngIf="kitRequest.scanDate === 0"> -</ng-container>
            <ng-container *ngIf="kitRequest.scanDate !== 0">{{kitRequest.scanDate | date:'medium'}}</ng-container>
          </td>
          <td *ngIf="shippingPage === RECEIVED || shippingPage === OVERVIEW" [ngClass]="{'highlight_sample': kitRequest.receivedBy === 'BSP' && isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)}">
            <!--            received date-->
            <ng-container *ngIf="kitRequest.receiveDate === 0"> -</ng-container>
            <ng-container *ngIf="kitRequest.receiveDate !== 0">{{kitRequest.receiveDate | date:'medium'}}</ng-container>
          </td>
          <td *ngIf="shippingPage === SENT || shippingPage === RECEIVED || shippingPage === OVERVIEW" [ngClass]="{'highlight_sample': kitRequest.receivedBy === 'BSP' && isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)}">
            <!--            mf qr-code-->
            {{kitRequest.kitLabel}}
          </td>
          <td [ngClass]="{'highlight_sample': kitRequest.receivedBy === 'BSP' && isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)}">
            <!--            study-->
            {{kitRequest.realm}}
          </td>
          <td [ngClass]="{'highlight_sample': kitRequest.receivedBy === 'BSP' && isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)}">
            <!--            kit type-->
            {{kitRequest.kitTypeName}}
          </td>
          <td *ngIf="isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)" [ngClass]="{'highlight_sample': kitRequest.receivedBy === 'BSP' && isClinicalStudy && (shippingPage === RECEIVED || shippingPage === OVERVIEW)}">
            <!--            sample type-->
            <ng-container *ngIf="kitRequest.receivedBy === 'MERCURY'">Clinical Sample</ng-container>
            <ng-container *ngIf="kitRequest.receivedBy === 'BSP'">Research Sample</ng-container>
          </td>
          <td
            *ngIf="getRole().allowedToDeactivateKits() && (shippingPage === DEACTIVATED || (shippingPage !== DEACTIVATED && (queueToPrint() || shippingPage === UPLOADED)))">
            <!--            deactivation/reactivation button-->
            <button *ngIf="shippingPage !== DEACTIVATED && (queueToPrint() || shippingPage === UPLOADED) && !kitType.externalShipper" type="button"
                    (click)="setKitRequest(kitRequest, DEACTIVATED); modal.show()" class="btn btn-xs Button--Background--Color">Deactivate
            </button>
            <button *ngIf="shippingPage === DEACTIVATED && !kitType.externalShipper" type="button" (click)="activateKitRequest(kitRequest, false)"
                    class="btn btn-xs Button--Background--Color">Reactivate
            </button>
          </td>
          <td *ngIf="getRole().allowedToCreateExpressLabels() && shippingPage === QUEUE">
            <!--            express label button-->
            <button *ngIf="!kitRequest.express" type="button" (click)="setKitRequest(kitRequest, EXPRESS)" class="btn btn-xs Button--Background--Color">Generate
              Express Label
            </button>
          </td>
          <td *ngIf="kitsWithNoReturn">
            <!--            no Return y/n-->
            {{getUtil().getYesNo(!kitRequest.noReturn)}}
          </td>
          <td *ngIf="getRole().allowedToHandleSamples() && queueToPrint() && kitType.manualSentTrack">
            <!--            setSent checkbox-->
            <mat-checkbox color="primary" [checked]="kitRequest.setSent" (change)="kitRequest.setSent = $event.checked; sentCheckboxChecked()"
                         disableRipple></mat-checkbox>
          </td>
        </tr>
        <tbody>
        <tfoot>
        <tr>
          <td colspan="8">
            <mfBootstrapPaginator
              [rowsOnPageSet]="[getRole().getUserSetting().getRowSet0(), getRole().getUserSetting().getRowSet1(), getRole().getUserSetting().getRowSet2()]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
      <div *ngIf="getRole().allowedToHandleSamples() && queueToPrint()">
        <div>
          <b>
            Print instructions:
            <ul>
              <li>Change printer margin to <b>none</b></li>
            </ul>
          </b>
        </div>
        <select [ngModel]="selectedLabel" class="SelectText"
                (ngModelChange)="selectSetting($event)">
          <option *ngFor="let label of labelNames" [value]="label">{{label}}</option>
        </select>

        <button mat-raised-button color="primary"
                (click)="onPrintLabelsClick()" [disabled]="isPrintButtonDisabled">Print Labels
        </button>

        <button (click)="onPrintPHIClick()" mat-raised-button color="primary" *ngIf="showPHIButton(selectedStudy$ | async)" [disabled]="isPrintButtonDisabled">PHI Label
        </button>

        <button mat-raised-button color="primary"
                *ngIf="kitType.manualSentTrack"
                (click)="setKitSent()" [disabled]="isSentButtonDisabled">Set Kit Sent
        </button>
      </div>

      <div *ngIf="getRole().allowedToHandleSamples() && shippingPage === UPLOADED && kitType != null && !kitType.externalShipper">
        <button mat-raised-button (click)="triggerLabelCreation()" color="primary" [disabled]="isPrintButtonDisabled">Create Labels</button>
      </div>
      <div *ngIf="getRole().allowedToHandleSamples() && (shippingPage === UPLOADED || queueToPrint())">
        <button mat-raised-button color="primary"
                *ngIf="needsNameLabels"
                (click)="showNameModal(); modal.show()" [disabled]="isPrintButtonDisabled">Names from Labels
        </button>
      </div>

      <div *ngIf="shippingPage === OVERVIEW">
        <button mat-raised-button (click)="downloadReceivedData()" color="primary">Download kit data</button>
      </div>
    </div>
  </div>


  <app-modal>
    <div class="app-modal-header">
      <ng-container *ngIf="modalType === DEACTIVATED">
        Please enter reason for deactivation
      </ng-container>
      <ng-container *ngIf="modalType === ACTIVATED">
        Activation of kit request
      </ng-container>
      <ng-container *ngIf="modalType === NAME_LABELS">
        List of Names from selected {{realm()}} Kits
      </ng-container>
      <ng-container *ngIf="modalType === EXPRESS">
        Express Label
      </ng-container>
    </div>
    <div class="app-modal-body">
      <ng-container *ngIf="modalType === DEACTIVATED">
        <table class="Width--100">
          <tr>
            <td>Reason:</td>
            <td>
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="deactivationReason" class="Width--100 Input--Bigger-WIDTH" maxlength="500">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </ng-container>
      <ng-container *ngIf="modalType === ACTIVATED">
        {{alertText }}
      </ng-container>
      <ng-container *ngIf="modalType === NAME_LABELS">
        <table class="Width--100">
          <tr *ngFor="let label of kitRequests">
            <ng-container *ngIf="label.isSelected">
              <td>
                {{label.nameLabel}}
              </td>
            </ng-container>
          </tr>
        </table>
      </ng-container>
      <ng-container *ngIf="modalType === EXPRESS && labelRate != null">
        <table class="Width--100">
          <tr>
            <td class="Line--Break">
              <b>Label will cost: ${{labelRate.express}}
                Previous cost was: ${{labelRate.normal}}</b>

              Do you really want to generate a FedEx overnight label?

              Please note that new label generation includes refunding the old label
              which may take a few seconds.
            </td>
          </tr>
        </table>
      </ng-container>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="closedNameModal(); modal.hide()">Close</button>
      <button *ngIf="modalType === DEACTIVATED" type="button" class="btn btn-primary" (click)="deactivateKitRequest()">Deactivate</button>
      <button *ngIf="modalType === ACTIVATED" type="button" class="btn btn-primary" (click)="activateKitRequest(null, true)">Activate</button>
      <button *ngIf="modalType === EXPRESS" type="button" class="btn btn-primary" (click)="generateExpressLabel()">Generate FedEx Overnight Label</button>
    </div>
  </app-modal>

  <!--DON'T REMOVE - START-->
  <!--Hidden, but needs to be here for the label printing-->
  <span [hidden]="true">
    <div id="labelNameDOBDiv">
        <ng-container *ngFor="let label of selectedKitRequests">
          <ng-container *ngIf="label.shortId">
            <div class="wrapper">
              <div class="nameDob">
                <p>{{label.firstName}}</p>
                <p>{{label.lastName}}</p>
                <p>{{label.dateOfBirth}}</p>
              </div>

              <div class="barcode">
                <app-qr-code [qrCodeValue]="label.shortId"></app-qr-code>
              </div>
            </div>


            <div class="pagebreak"></div>
          </ng-container>
        </ng-container>
    </div>

  <div class="app-modal-body Display--Inline-Block" id="labelDiv" style="width: 100%; height: 100%">
    <ng-container *ngFor="let label of selectedKitRequests; let e = even; let i = index;">
      <div *ngIf="e" [ngStyle]="{'height': getTopMargin()}" class="DIV--Without-Border"></div>
      <div [ngStyle]="{'height': getLabelHeight()}" class="DIV--Without-Border">
        <app-kit-label class="DIV--Without-Border Display--Inline-Block"
                       [urlTo]="label.labelUrlTo" [shippingId]="label.ddpLabel"
                       [urlReturn]="label.labelUrlReturn" [labelSetting]="selectedSetting"></app-kit-label>
      </div>
      <div *ngIf="e" [ngStyle]="{'height': getMarginBetweenTopBottom()}" class="DIV--Without-Border"></div>
      <div *ngIf="!e && selectedKitRequests.length-1 > i" [ngStyle]="{'height': getBottomMargin()}" class="DIV--Without-Border"></div>
    </ng-container>
  </div>

  <div class="app-modal-body Display--Inline-Block" id="errorLabelDiv" style="width: 100%; height: 100%">
    <ng-container *ngFor="let label of selectedKitRequests; let e = even; let i = index;">
      <div *ngIf="e" [ngStyle]="{'height': getTopMargin()}" class="DIV--Without-Border"></div>
      <div [ngStyle]="{'height': getLabelHeight()}" class="DIV--Without-Border">
        <app-error-label class="DIV--Without-Border Display--Inline-Block"
                         [address]="label.participant" [shippingId]="label.ddpLabel"
                         [labelSetting]="selectedSetting"></app-error-label>
      </div>
      <div *ngIf="e" [ngStyle]="{'height': getMarginBetweenTopBottom()}" class="DIV--Without-Border"></div>
      <div *ngIf="!e && selectedKitRequests.length-1 > i" [ngStyle]="{'height': getBottomMargin()}" class="DIV--Without-Border"></div>
    </ng-container>
  </div>
</span>
  <!--DON'T REMOVE - END-->
</div>
