.patient-form {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    justify-content: space-between;
    .field {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 50%;
      input {
        border: none;
        border: solid 1px #e1e3e6;
        border-radius: 5px;
        padding: 10px;
      }
    }
  }
}

.bottom-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.add-patient-row {
    margin-top: 10px;
}
.outlined-button {
  border: 1px solid #8593aa;
  padding: 8px;
  border-radius: 5px;
  color: #546989;
  font-weight: 700;
  cursor: pointer;
}

.filled-button {
  background-color: #344055;
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
