<p>Add Patient(s)</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque vel
  labore quasi numquam sapiente quidem a corporis, nobis inventore veritatis
  minus rem similique praesentium. Consequuntur, ab tenetur! Quis, ab.
</p>

<div class="patient-form">
  <div class="row">
    <div class="field">
      <label >First Name</label>
      <input placeholder="Please specify"/>
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Please specify"/>
    </div>
  </div>
  <div class="row">
    <div class="field">
      <label>Date of birth</label>
      <input placeholder="MM/DD/YY"/>
    </div>
    <div class="field">
      <label>Email</label>
      <input placeholder="name@email.com"/>
    </div>
  </div>
  <div class="row">
    <div class="field">
      <label>Informed consent date</label>
      <input placeholder="MM/DD/YY"/>
    </div>
    <div class="field">
      <label>Assent date (if applicable)</label>
      <input placeholder="MM/DD/YY"/>
    </div>
  </div>
</div>

<div class="add-patient-row">
    <span class="outlined-button "> + add another patient</span>
</div>


<div class="bottom-buttons">
  <span class="outlined-button">Cancel</span>
  <span class="filled-button">Add now</span>
</div>
