@use '~@angular/material' as mat;
@import './../../../app-theme.scss';

.learn-more-block {
    margin: 3rem auto;
}

.learn-more {
    display: flex;
    align-items: center;

    &__text {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-right: 7rem;
    }

    &__button {
        min-width: 13rem;

        &:hover {
            color: mat.get-color-from-palette($app-theme, 650);
        }
    }
}

@media screen and (max-width: 768px) {
    .learn-more {
        flex-direction: column;
        align-items: center;

        &__text {
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }
}