<ng-container *ngIf="fieldSetting.displayType === 'TEXTAREA'">
  <mat-form-field appearance="outline" [ngClass]="{'Width--100': true, 'Color--Field--Patched': isPatchedCurrently(fieldSetting.columnName)}">
            <textarea matInput [formControl]="conditionalTextareaField" [maxLength]="dynamicMaxLength"
                      placeholder="{{fieldSetting.columnDisplay}}"
                      [rows]="getTextAreaRows(fieldSetting)"
                      [value]="participantData"
                      [readonly]="fieldSetting.readonly"
                      (change)="valueChanged($event)"></textarea>
  </mat-form-field>
</ng-container>
