@import '../../../../styles/breakpoints';
@import '../../../../styles/mixins';
@import '../../../../styles/colors';


@include narrow-container;

.about {
  display: flex;
  justify-content: space-between;
  @include media-sm {
    flex-direction: column-reverse;
  }
  p {
    color: #011C48;
    font-size: 24px;
    line-height: 37px;
    margin-bottom: 40px;
  }
  h1 {
    margin-bottom: 40px;
  }
  &-left {
    width: 49%;
    @include media-sm {
      width: unset;
    }
  }
  &-right{
    width: 44%;
    margin-top: 122px;
    @include media-sm {
      width: unset;
      margin-top: 0;
    }
    & img {
      width: 100%;
    }
    .img-description {
      font-size: 16px;
      color: #011C48;
      margin-top: 20px;
      margin-bottom: 20px
    }
  }
}

h1 {
  font-family: 'Spartan-Bold', sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-card {
    flex: 0 0 48%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    @include media-xs {
      flex: 0 0 100%;
    }

    &:nth-child(2n) {
      margin-left: 4%;

      @include media-xs {
        margin-left: 0;
      }
    }

    @include media-sm {
      flex-direction: column;
      align-items: center;
      margin-right:0;
    }
    &-img {
      margin-right: 20px;
      @include media-sm {
        margin-right:0;
        margin-bottom: 20px;
      }
      & img {
        width: 150px;
        height: 150px;

        border-radius: 50%;
      }
    }
    &-description {
      color: #011C48;
      font-size: 20px;
      line-height: 28px;
      @include media-sm {
        text-align: center;
      }
      &-name {
        font-family: 'Spartan-Bold', sans-serif;
      }
      &-about {
        font-family: 'Spartan-Medium', sans-serif;
      }
    }
  }
}

.our-team {
  margin-top: 50px;
  margin-bottom: 70px;
  h1 {
    @include media-sm {
      text-align: center;
    }
  }
  @include media-sm {
    margin-bottom: 0;
  }
}

.advisors {
  padding: 50px 0 70px;
  background: rgba(162,244,233,0.2);

  h1 {
    @include media-sm {
      text-align: center;
    }
  }
}
