@import "../../../styles/fonts.scss";

* {
  margin: 0;
  padding: 0;
}
.header {
  height: 100px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__nav {
    height: 100%;
  }

  aside:not(.loginOutButtons) {
    display: flex;
    margin-right: 50px;

    img {
      margin-right: 14.86px;
    }

    p {
      line-height: 20px;
      margin-top: 5.72px;
    }
  }

  .loginOutButtons {
    display: flex;
    justify-content: flex-end;
  }
}






