:host {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.section-progress-bar {
  width: 100%;
  height: 10px;
  display: flex;
}

.block {
  height: 100%;
  background-color: #6fce24;
  opacity: 0.2;
  margin-right: 4px;

  &.last-block {
    margin-right: 0;
  }

  &.completed {
    opacity: 1;
  }
}
