<div class="datePicker-container">
  <mat-form-field appearance="outline">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input  [formGroup]="dateRangeForm" [rangePicker]="picker">
      <input matStartDate formControlName="startDate" placeholder="Start date">
      <input matEndDate formControlName="endDate" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngFor="let erroredFormControlEntry of erroredFormControlsEntries">
      <span *ngFor="let errorEntry of getEntries(erroredFormControlEntry[1].errors)">
        {{ errorEntry | dateError:  erroredFormControlEntry[0] }} <br/>
      </span>
    </mat-error>

  </mat-form-field>
</div>
